Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Fix MuiLink warnings (#719)
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Update copy citation tests (#719)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
Due: common

Correct isisInvestigationLanding test (#719)
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
Due: none

Change ICAT Ansible branch #641
  .github/workflows/ci-build.yml
Due: none

Actions activation #641
  .github/workflows/ci-build.yml
Due: none

Upload Cypress screenshots after failure #641
  .github/workflows/ci-build.yml
Due: none

Remove broken artifact steps #641
  .github/workflows/ci-build.yml
Due: none

Another Actions activation commit #641
  .github/workflows/ci-build.yml
Due: none

Fix DLS proposals e2e test originally missed #712
  packages/datagateway-dataview/cypress/integration/table/dls/proposals.spec.ts
Due: none

Change e2e URLs to localhost #641
  packages/datagateway-search/server/e2e-settings.json
Due: none

Import settings file in a different way #712
  packages/datagateway-download/src/index.tsx
Due: download

Edit rootUserNames to add anon user #641
  .github/workflows/ci-build.yml
Due: none

Add other e2e jobs #641
  .github/workflows/ci-build.yml
Due: none

Disable Globus for e2e tests #641
  .github/workflows/ci-build.yml
Due: none

Add anon user to rootUserNames #641
  .github/workflows/ci-build.yml
Due: none

Disable two level storage on IDS for CI #641
  .github/workflows/ci-build.yml
Due: none

Reinstall ICAT components where further changes have been made #641
  .github/workflows/ci-build.yml
Due: none

Force Python 2 for IDS Server setup on CI #641
  .github/workflows/ci-build.yml
Due: none

Add steps to recreate Lucene indexes #641
  .github/workflows/ci-build.yml
Due: none

Remove commented out/unnecessary steps #641
  .github/workflows/ci-build.yml
Due: none

Refactor pageContainer to support react-query changes and some fixes to investigationTableQuery
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTableQuery.component.tsx
Due: none

Add prototype for investigation card view using react-query
  packages/datagateway-common/src/card/cardViewQuery.component.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardViewQuery.component.tsx
Due: common

Refactoring study landing component, adding basic check for null investigation #711
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Refactoring and adding unit test #711
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Adding e2e test #711
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
Due: none

Fix instruments filter on ISIS/DLS card views (#731)
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
Due: common

Add noTooltip test for card information (#731)
  packages/datagateway-common/src/card/cardView.component.test.tsx
Due: common

Make cart functionality use react-query - plus some changes needed for optimisations next commit
  packages/datagateway-common/src/state/actions/cart.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardViewQuery.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTableQuery.component.tsx
Due: common

Optimise table & card views using memoisation to decrease costly rerenders when adding/removing from cart
  packages/datagateway-common/src/card/advancedFilter.component.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/card/cardViewQuery.component.tsx
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-common/src/table/cellRenderers/actionCell.component.tsx
  packages/datagateway-common/src/table/cellRenderers/dataCell.component.tsx
  packages/datagateway-common/src/table/cellRenderers/expandCell.component.tsx
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/views/addToCartButton.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardViewQuery.component.tsx
Due: common

Get workflow back to similar state to when it passed #641
  .github/workflows/ci-build.yml
Due: none

Add skip to e2e test #641
  packages/datagateway-dataview/cypress/integration/table/dls/datafiles.spec.ts
Due: none

Remove commented out steps #641
  .github/workflows/ci-build.yml
Due: none

Add unit test dependency #641
  .github/workflows/ci-build.yml
Due: none

Start clean up of CI workflow by commenting out things #641
  .github/workflows/ci-build.yml
Due: none

Remove "rbNumber" references from code (#731)
  packages/datagateway-common/src/state/actions/investigations.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisInvestigationLanding.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

Change admin download e2e tests to have fewer UUID assertions #712
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
Due: none

Remove CI job dependency #641
  .github/workflows/ci-build.yml
Due: none

Fix download status sorting test #712
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Remove unused Ansible file #641
  ci/icat-hosts.yml
Due: none

Remove relative datagateway-common imports
  packages/datagateway-dataview/src/page/pageSearch.component.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
Due: none
