Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Address issues with date tests
  packages/datagateway-dataview/cypress/e2e/card/dls/visits.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/studies.cy.ts
Due: none

Changes: - add fileSize and fileCount props to Investigation interface - migrate investigation sizes in isisInvestigationsCardView.component.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
Due: common

Update download and search tests
  packages/datagateway-download/cypress/e2e/downloadConfirmation.cy.ts
  packages/datagateway-search/cypress/e2e/search/datafileSearch.cy.ts
  packages/datagateway-search/cypress/e2e/search/investigationSearch.cy.ts
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
Due: none

migrate file size in isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

migrate file size in isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
Due: none

migrate file size in isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: none

changes: - migrate file size in investigationSearchTable.component.tsx - add TODO comment in cellContentRenderers.tsx formatCountOrSize() function
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

migrate file size in investigationSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
Due: search

remove useInvestigationSizes method
  packages/datagateway-common/src/api/investigations.tsx
Due: common

Small updates and change to see what happens with myData
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/dataset.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/study.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/support/commands.js
Due: none

Change user for login
  packages/datagateway-dataview/cypress/support/commands.js
Due: none

Add TODO in visitDetailsPanel.component.tsx to migrate investigation size as dls hasn't upgraded to ICAT v5 yet
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
Due: common

migrate file size in isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
Due: none

migrate Dataset file size in isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
Due: none

migrate Dataset file size in isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
Due: none

migrate Dataset file size and file count in datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
Due: search

migrate Dataset file size and file count in datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
Due: search

remove useDatasetSizes function from datasets.tsx
  packages/datagateway-common/src/api/datasets.tsx
Due: common

migrate Dataset Datafile count in datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
Due: none

changes (note: untested): - migrate dataset size in dls datasetDetailsPanel.component.tsx - remove useDatasetSize query from datasets.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.tsx
Due: common

migrate Dataset Datafile count in dlsDatasetsCardView.component.tsx (note: untested)
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
Due: none

migrate Dataset Datafile count in dlsDatasetsCardView.component.tsx (note: untested)
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
Due: none

remove useDatasetsDatafileCount query from datasets.tsx api
  packages/datagateway-common/src/api/datasets.tsx
Due: common

migrate useInvestigationSize in dls visitDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
Due: common

remove useInvestigationSize query from investigations.tsx api
  packages/datagateway-common/src/api/investigations.tsx
Due: common

clean up parent entity checking loop in datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
Due: none

Fix clipboard permissions
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/datafilePreview.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myData.cy.ts
Due: none

add checkbox disable logic to isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
Due: none

add checkbox disable logic to isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
Due: none

Update mydata tests
  packages/datagateway-dataview/cypress/e2e/table/dls/myData.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/myData.cy.ts
Due: none

add checkbox disable logic to dls tables
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
Due: none

Small fixes
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myData.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/myData.cy.ts
Due: none

WIP: rework parameter filter UI
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/card/parameterFacetList.component.tsx
  packages/datagateway-common/src/card/parameterFilterItem.component.tsx
  packages/datagateway-common/src/card/parameterFilters.component.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-search/package.json
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/newParameterFilterCreator.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFacetList.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilterItem.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilterTypes.ts
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilters.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilters.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterNumericRange.component.tsx
  packages/datagateway-search/src/facet/components/selectedFilterChips.component.tsx
  packages/datagateway-search/src/facet/useFacetFilters.ts
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
  yarn.lock
Due: common, search

Add functionality to dataset card views to disable 'Add To Cart' button if parent investigation is in cart
  packages/datagateway-common/src/views/addToCartButton.component.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
Due: common

Add unit test for addToCartButton.component.test.tsx
  packages/datagateway-common/src/views/addToCartButton.component.test.tsx
Due: common

fix snapshots
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
Due: none

Implement param filter apply logic + refactor - Parameter facet querying is now moved to the individual parameter selector component - Logic for applying parameter filters is implemented
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/newParameterFilterCreator.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFacetList.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFacetsFromSearchResponse.ts
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilterTypes.ts
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilters.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterNumericRange.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterDateTimeSelector.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterFacetList.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterNumericRange.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterValueSelectorProps.ts
  packages/datagateway-search/src/wdyr.ts
Due: search

remove cellContentRenderer from datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
Due: none

remove cellContentRenderer from dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
Due: none

Show empty message when no filters are available
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
Due: search

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
