Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Add sort queries to ISISDatafilesTable (#128)
  packages/datagateway-table/src/views/table/isis/isisDatafilesTable.component.tsx
Due: table

Clear data when changing between views (#128)
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
Due: common

#124 - allow basic header overflowing
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Use Tooltip from datagateway-common (#128)
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-dataview/src/page/arrowtooltip.component.tsx
  packages/datagateway-dataview/src/views/card/card.component.tsx
Due: common

Revert "Bump eslint-plugin-react from 7.20.0 to 7.20.3"
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Handle theme in single DGThemeProvider component (#99)
  .eslintrc.js
  packages/datagateway-common/src/dgThemeProvider.component.test.tsx
  packages/datagateway-common/src/dgThemeProvider.component.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-download/src/App.tsx
  packages/datagateway-table/public/datagateway-table-settings.json
Due: common, download

Remove old comments (#99)
  packages/datagateway-common/src/dgThemeProvider.component.test.tsx
  packages/datagateway-common/src/dgThemeProvider.component.tsx
Due: common

Remove settings file (#99)
  packages/datagateway-table/public/datagateway-table-settings.json
Due: none

Clear saved view when changing location (#128)
  .eslintrc.js
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: common

Fix dg-download tests #129
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
Due: download

Fix downloadStatusTable tests #129
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
Due: download

Add collapsible advanced search UI (#128)
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: none

Change to useEffect hook in dataview and add tests #129
  packages/datagateway-dataview/src/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/pageContainer.component.tsx
  packages/datagateway-dataview/src/utils.ts
Due: none

Use CSS Grid for advanced filters (#128)
  packages/datagateway-dataview/src/page/pageSearch.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: none

Show PageSearch on views (#128)
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageSearch.component.tsx
Due: none

Fix prettier formatting #129
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/utils.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Use url from settings for lucene fetch in searchButton #33
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
Due: search

Move supported paths to PageContainer (#128)
  packages/datagateway-dataview/src/page/pageCard.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageSearch.component.tsx
  packages/datagateway-dataview/src/page/pageTable.component.tsx
Due: none

Use DGThemeProvider in datagateway-search (#33)
  packages/datagateway-search/src/App.tsx
Due: search

Correct UI layout for CardView (#128)
  packages/datagateway-common/src/dgThemeProvider.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: common

Add generic advanced filters (#128)
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
Due: none

Add ISIS instruments and investigations advanced filters (#128)
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationCardView.component.tsx
Due: none

Add ISIS advanced filters (#128)
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
Due: none

Add DLS advanced filters (#128)
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
Due: none

Correct width of Card with image (#128)
  packages/datagateway-dataview/src/views/card/card.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: none

Fix linting issues #33
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/searchPageTable.tsx
Due: search

Add Sticky component (#128)
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/sticky.component.tsx
Due: none

Add investigation details panel test #33
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Move mockReset to afterEach #129
  packages/datagateway-dataview/src/pageContainer.component.test.tsx
Due: none

#123 - resize now uses pixel widths additionally, columns now have a min size, and the table will horizontally scroll if too wide
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Add container unit tests and update snapshots #33
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/searchBoxContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
Due: search

Use Sticky component in NavBar (#128)
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/sticky.component.tsx
  packages/datagateway-dataview/src/views/card/card.component.tsx
Due: none

Fix DGThemeProvider compile error (#128)
  packages/datagateway-common/src/dgThemeProvider.component.tsx
Due: common

Correct creating empty DGThemeProvider theme object (#128)
  packages/datagateway-common/src/dgThemeProvider.component.tsx
Due: common

Move Sticky component to datagateway-common (#128)
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/sticky.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: common

Complete dgsearch reducer unit tests #33
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.test.tsx
Due: search

Fix datagateway-common compile error due to DGThemeProvider (#323)
  packages/datagateway-common/src/dgThemeProvider.component.tsx
Due: common

Create single Sticky component to wrap children (#128)
  packages/datagateway-common/src/dgThemeProvider.component.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/sticky.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: common
