Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Minor UI tweaks - Move add parameter filters button location - Add close button to new parameter filter popover
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/newParameterFilterCreator.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilters.component.tsx
Due: search

Add btn to remove parameter filters in facet panel
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilterItem.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilters.component.tsx
Due: search

changes: - fix common package unit tests - remove fetch() size button from dls pages
  packages/datagateway-common/src/api/datasets.test.tsx
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
Due: common

Search test updates
  packages/datagateway-dataview/cypress/e2e/table/isis/myData.cy.ts
  packages/datagateway-search/cypress/e2e/search/datafileSearch.cy.ts
  packages/datagateway-search/cypress/e2e/search/datasetSearch.cy.ts
  packages/datagateway-search/cypress/e2e/search/investigationSearch.cy.ts
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
Due: none

fix dataview unit tests
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsDatasetsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsVisitsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: none

Change filters for investigation test
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-search/cypress/e2e/search/datasetSearch.cy.ts
  packages/datagateway-search/cypress/e2e/search/investigationSearch.cy.ts
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
Due: none

Fix warnings in actions workflows
  .github/workflows/ci-build.yml
  .github/workflows/release-build.yml
Due: none

Use yarn resolution to pin @typescript-eslint packages Causes eslint issues if multiple versions are detected
  package.json
  yarn.lock
Due: none

fix serach unit tests
  packages/datagateway-search/src/card/__snapshots__/datasetSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/__snapshots__/investigationSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Larger viewport
  packages/datagateway-dataview/cypress.config.ts
Due: none

fix rowcounts, try different data testid
  packages/datagateway-dataview/cypress.config.ts
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-download/cypress.config.ts
  packages/datagateway-search/cypress.config.ts
  packages/datagateway-search/cypress/e2e/search/investigationSearch.cy.ts
Due: none

Use full title
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
Due: none

make changes to contains
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
Due: none

Log text of element
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
Due: none

Remove extra wait from beforeach
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
Due: none

Change .contains
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
Due: none

Remove wait for reload
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
Due: none

increase typing delay
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
Due: none

Get better screenshot
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
Due: none

Reopen filters panel
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
Due: none

Code cleanup
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myData.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/myData.cy.ts
Due: none

disable selectHeader as well
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Add unit test to selectHeader for when parentSelected is true
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.test.tsx
Due: common

Add test for newParameterFilterCreator
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/newParameterFilterCreator.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/newParameterFilterCreator.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterDateTimeSelector.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterFacetList.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterNumericRange.component.tsx
Due: search

Add test for param value selectors Added for parameterDateTimeSelector & parameterFacetList
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterDateTimeSelector.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterDateTimeSelector.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterFacetList.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterFacetList.component.tsx
Due: search

Add test for parameterNumericRange
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterNumericRange.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterNumericRange.component.tsx
Due: search

Add test for parameterFacetsFromSearchResponse
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFacetsFromSearchResponse.test.ts
Due: search

Add test for parameterFilterItem
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilterItem.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilterItem.component.tsx
Due: search

Add more tests for parameterFilters
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/newParameterFilterCreator.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilters.component.test.tsx
Due: search

Update facetPanel tests
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilters.component.tsx
Due: search

Remove duplicate queries after applying filters Fix an issue where duplicate search queries are made after applying search filters
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Some minor fixes
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/useFacetFilters.ts
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

apply refreshable download progress fix in downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

add unit test
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
Due: download

Update translation file + minor fixes
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/newParameterFilterCreator.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilters.component.tsx
Due: search

Only show apply btn when filter is modified
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/useFacetFilters.ts
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Minor fix
  packages/datagateway-common/src/api/lucene.tsx
Due: common

Delete why-did-you-render setup file
  packages/datagateway-search/src/wdyr.ts
Due: search

#1473 - improve unit test for download progress refresh
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
Due: download

Update version of Lucene docs in help text #1363
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
Due: search

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
