Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Fixed Datetime parameter formatting
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
Due: common

only have the PI button for myDOIs removed it for allDOIs
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/doiTypeSelector.component.tsx
Due: none

Fixed the parts the end to end tests were failing
  packages/datagateway-dataview/cypress/e2e/table/dls/allDois.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
Due: none

Fixed end to end test that failed due to removal of minter
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
Due: none

Use fullName instead of name for the isisDataPublicationLanding page
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
Due: none

Allow list elements to be translatable and left align data policy text
  packages/datagateway-common/src/views/publishButton.component.tsx
  packages/datagateway-dataview/src/i18n.ts
  packages/datagateway-download/src/DOIGenerationForm/acceptDataPolicy.component.tsx
  packages/datagateway-download/src/i18n.ts
  packages/datagateway-search/src/i18n.ts
Due: common, search, download

ensure instrument.fullName is also being faceted on (#1732)
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

update help text for icat.lucene 4.0.0
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/search/advancedHelpDialog.component.tsx
Due: search

edit test due to change in name of advance search tip button
  packages/datagateway-search/cypress/e2e/searchBoxContainer.cy.ts
Due: none

changed instrument name in landing page
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

added new test to test PI toggle button
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-dataview/cypress/support/index.d.ts
Due: none

Add Amy14 into the CI
  .github/workflows/ci-build.yml
Due: none

Corrected the CI file
  .github/workflows/ci-build.yml
Due: none

added coverage test
  packages/datagateway-dataview/src/views/doiTypeSelector.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.test.tsx
Due: none

#1995 - add ability to specify samples for user-defined data publications
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/techniquesSamplesSubjects.component.test.tsx
  packages/datagateway-common/src/dois/techniquesSamplesSubjects.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
Due: common, download

fixed the coverage tests
  packages/datagateway-dataview/src/views/doiTypeSelector.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.tsx
Due: none

#1995 - add unit tests for samples and fix issues raised during testing
  packages/datagateway-common/src/dois/DOIMetadataForm.component.test.tsx
  packages/datagateway-common/src/dois/techniquesSamplesSubjects.component.test.tsx
  packages/datagateway-common/src/dois/techniquesSamplesSubjects.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
Due: common, download

#1995 - add sample interactions to DOI e2e tests
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
Due: none

review changes
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.tsx
Due: none

#1995 - fix sample e2e test & add extra allowed wait time for draft mint request to process
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
Due: none

#1995 - increase timeouts in tests failing on CI
  packages/datagateway-common/src/dois/DOIMetadataForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
Due: common

#1995 - increase timeout on long running test for CI
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
Due: download

Add pointer cursor styling to descendant technique rows
  packages/datagateway-common/src/dois/techniquesSamplesSubjects.component.tsx
Due: common

changed default strings to be more understandable
  packages/datagateway-dataview/public/res/default.json
Due: none

moved the PI button first (reviewed changes)
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/doiTypeSelector.component.tsx
Due: none

update test to match new default string
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
Due: none

fixed test
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
Due: none

Update packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/public/res/default.json
Due: none

#1991 - add e2e tests for redirect component login redirect
  packages/datagateway-dataview/cypress/e2e/redirect.cy.ts
Due: none

removed the contributor functionality and changed relavent text strings
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
Due: common, download

fixed tests for dtagateway-download
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/testData.ts
Due: download

fixed tests for datagateway-dataview
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
Due: none

fixed tests for datagateway-common
  packages/datagateway-common/src/dois/creatorsAndContributors.component.test.tsx
Due: common

Fix lint test
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
Due: download

Add some help text on the Edit DOI page
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
Due: none

Update doi-api version in CI and update to use latest versions on icat-ansible master
  .github/workflows/ci-build.yml
Due: none

Adjust dg-search tests to account for datafile.location indexing differences in icat.lucene 4
  packages/datagateway-search/cypress.config.ts
  packages/datagateway-search/cypress/e2e/search/datafileSearch.cy.ts
Due: none

Adjust dg-search tests to account for datafile.location indexing differences in icat.lucene 4
  packages/datagateway-search/cypress.config.ts
  packages/datagateway-search/cypress/e2e/search/datafileSearch.cy.ts
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
Due: none

added new e2e test for contributor functionality
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/server/e2e-settings.json
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
