Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

> Fix failing snapshot test by updating snapshot > Implement original regrex based fix for both normal and admin download pages
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Write tests for the new changes Write tests for the changes made to ISIS facility cycle calculation (making use of investigationFacilityCycles field)
  packages/datagateway-common/src/testData.ts
  packages/datagateway-common/src/urlBuilders/buildDatafileUrl.ts
  packages/datagateway-common/src/urlBuilders/buildDatasetUrl.ts
  packages/datagateway-search/package.json
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/setupTests.ts
  packages/datagateway-search/src/table/__snapshots__/datafileSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search

Improve comments for the url builders Improve doc comments for the investigation/dataset/datafile URL builder functions, and also update the tests for the dataset builder function
  packages/datagateway-common/src/urlBuilders/buildDatafileUrl.ts
  packages/datagateway-common/src/urlBuilders/buildDatasetUrl.test.ts
  packages/datagateway-common/src/urlBuilders/buildDatasetUrl.ts
  packages/datagateway-common/src/urlBuilders/buildInvestigationUrl.ts
Due: common

Forgot to commit yarn lock file
  yarn.lock
Due: none

Fix typescript error Forgot to pass showLanding param to buildDatasetUrl in datafileSearchTable
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
Due: search

Add a new func for filtering study investigations The new function filters out StudyInvestigations of a Study that doesn't pass the filters defined by the URL query params
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: common

Attempt to fix e2e test
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Use react-query to handle blob reading Use useQuery from react-query to load the datafile blob as text in TextPreview for caching and cleaner loading/error handling
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/textPreview.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/textPreview.component.tsx
Due: none

Use react-query to handle blob reading Use useQuery from react-query to load the datafile blob as text in TextPreview for caching and cleaner loading/error handling
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/__snapshots__/textPreview.component.test.tsx.snap
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/textPreview.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/textPreview.component.tsx
Due: none

fix e2e test
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Add tests for the new filter logic Add test for the new filter function that filters study investigations with the given filters
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.test.tsx
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
Due: common

Fix test
  packages/datagateway-dataview/src/views/datafilePreview/previewPane.component.test.tsx
Due: none

Remove unused code
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/textPreview.component.tsx
Due: none

Fix tests & add more code comments
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisStudiesCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisStudiesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: none

Fix tests
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.test.tsx
Due: common

fix e2e test by using 'to.be.closeTo' assertion, with a delta of 10s
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

fix downloadStatus.spec.ts spec so that all tests run
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Use slice to just check date for e2e fix
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

cleanup e2e fix
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Migrate addToCartButton tests to RTL
  packages/datagateway-common/src/views/addToCartButton.component.test.tsx
Due: common

Migrate clearFiltersButton tests to RTL
  packages/datagateway-common/src/views/addToCartButton.component.test.tsx
  packages/datagateway-common/src/views/clearFiltersButton.component.test.tsx
Due: common

Migrate downloadButton tests to RTL
  packages/datagateway-common/src/views/downloadButton.component.test.tsx
Due: common

Migrate selectionAlert tests to RTL
  packages/datagateway-common/src/views/selectionAlert.component.test.tsx
Due: common

First solution using a text input adornment to specify either 'exc' or 'inc'
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
Due: common

implement icon solution
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
Due: common

update snapshot tests
  packages/datagateway-common/src/table/columnFilters/__snapshots__/textColumnFilter.component.test.tsx.snap
Due: common

Fix table.component.test.tsx unit test
  packages/datagateway-common/src/table/table.component.test.tsx
Due: common

Test input label in place of placeholder
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
Due: common

Add id to FormControl
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
Due: common

fix FormControl
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
Due: common

Migrate more tests to RTL Powered by kennethnym/autortl ;)
  packages/datagateway-common/src/views/__snapshots__/viewCartButton.component.test.tsx.snap
  packages/datagateway-common/src/views/clearFiltersButton.component.test.tsx
  packages/datagateway-common/src/views/viewButton.component.test.tsx
  packages/datagateway-common/src/views/viewCartButton.component.test.tsx
Due: common

Migrate actionCell test to RTL
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/actionCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/actionCell.component.test.tsx
Due: common

Migrate dataCell test to RTL
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/dataCell.component.test.tsx.snap
Due: common

Migrate expandCell test to RTL
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/expandCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/expandCell.component.test.tsx
Due: common

Change investigation displayed for study rows Instead of creating a new row for each matched investigation for a study, only the metadata of the first matched investigation is shown for a study row
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: none

Fix minor typescript error
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
Due: none

Fix test
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: none
