Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

plz work v2
  packages/datagateway-dataview/src/views/card/__snapshots__/datasetCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/__snapshots__/investigationCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsDatasetsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsProposalsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsVisitsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisDatasetsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisFacilityCyclesCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInstrumentsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInvestigationsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisStudiesCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisStudyLanding.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisStudiesTable.component.test.tsx.snap
Due: none

isis investigation api refactored to use data publications
  packages/datagateway-common/src/api/investigations.tsx
Due: common

refactor studyId check to dataPublicationId check
  packages/datagateway-dataview/src/page/idCheckFunctions.ts
Due: none

fixes to page routing
  packages/datagateway-common/src/api/dataPublications.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
Due: common

fix urls in table and card views
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
Due: none

remove studies api
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/api/studies.test.tsx
  packages/datagateway-common/src/api/studies.tsx
Due: common

update transpose label text
  packages/datagateway-dataview/public/res/default.json
Due: none

Remove command for setting Yarn version from `Dockerfile`
  Dockerfile
Due: none

Configure Dockerfile to only install production dependencies
  Dockerfile
Due: none

Pin 3rd party github actions to SHAs via renovate
  renovate.json
Due: none

Test removel of dataset filesize generation
  .github/workflows/ci-build.yml
  package.json
Due: none

Fix issues from previous test
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datasets.cy.ts
  packages/datagateway-search/cypress/e2e/search/datasetSearch.cy.ts
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
Due: none

Fix remaining test issues
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-search/cypress/e2e/search/datasetSearch.cy.ts
Due: none

remove study landing page
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Update ref to latest version of dg-api
  .github/workflows/ci-build.yml
Due: none

landing tests migrated, further test cases required
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
Due: none

Add composite action
  .github/workflows/ci-build.yml
Due: none

Remove console logs
  packages/datagateway-common/src/api/retryICATErrors.ts
Due: common

Fix citationFormatter.component.tsx, add dp card view test
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

remove study table views
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: none

remove study interface
  packages/datagateway-common/src/app.types.tsx
Due: common

remove study helper functions
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
Due: common

remove study from api helper functions
  packages/datagateway-common/src/api/index.tsx
Due: common

remove study count api actions
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
Due: common

remove study investigation from investigationDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
Due: common

refactor lables in citationFormatter.component.tsx, remove study investigations from card view
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
Due: none

isisDataPublicationsTable.component.test.tsx implemented, waiting on RTL for setupTests methods
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.test.tsx
Due: none

data publications api test
  packages/datagateway-common/src/api/dataPublications.test.tsx
Due: common

remove calculate size button clicks/checks from e2e tests
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/visits.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/visits.cy.ts
Due: none

remove 'and then calculate file size' test cases from e2e
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/visits.cy.ts
Due: none

fix failing e2e
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
Due: none

fix failing e2e
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
Due: none

Use window.location in useUpdateQueryParam to avoid staleness issues
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  yarn.lock
Due: common, search

Remove redundant HOST_URL arg
  Dockerfile
Due: none

Use cache mount to speed up yarn
  Dockerfile
Due: none

Remove logic for defining Apache virtual hosts
  Dockerfile
Due: none

Improve readability of RUN instructions
  Dockerfile
Due: none

Create settings files from examples
  Dockerfile
Due: none
