Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Add in routing, serach table tests #33
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.test.tsx.snap
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/search/searchTextBox.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.tsx
  packages/datagateway-search/src/table/__snapshots__/datafileSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Fixes to tables tests #33
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

#59 - connect withIdCheck to router and give link back to top level browse
  packages/datagateway-table/src/__snapshots__/withIdCheck.test.tsx.snap
  packages/datagateway-table/src/withIdCheck.test.tsx
  packages/datagateway-table/src/withIdCheck.tsx
Due: table

Add further unit tests for DownloadStatusTable (#48)
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Add fetchDownloads and downloadDeleted unit tests (#48)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/__mocks__/axios.ts
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: common, download

Skipped failing tests, fix linting issues #33
  packages/datagateway-common/package.json
  packages/datagateway-search/package.json
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/search/__snapshots__/datePicker.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.test.tsx.snap
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchTextBox.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.tsx
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  yarn.lock
Due: search

Removed the e2e test breaking the build #33
  packages/datagateway-search/cypress/integration/app.spec.ts
Due: none

Revert "Removed the e2e test breaking the build #33"
  packages/datagateway-search/cypress/integration/app.spec.ts
Due: none

#33 - render app during e2e tests
  packages/datagateway-search/src/index.tsx
  packages/datagateway-table/src/index.tsx
Due: table, search

Add in final DownloadStatusTable unit tests (#48)
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Finalise DownloadStatusTable e2e tests (#48)
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/cypress/support/index.d.ts
Due: none

Add in tests for search table and container #33
  packages/datagateway-search/src/searchPageContainer.test.tsx
  packages/datagateway-search/src/searchPageTable.test.tsx
Due: search

Add in updated snapshots for page search tests #33
  packages/datagateway-search/src/__snapshots__/searchPageContainer.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
Due: search

Add DownloadTab unit tests (#48)
  packages/datagateway-download/__mocks__/axios.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
Due: download

Inject key to avoid failing snapshot #33
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
Due: search

Revert "Add in tests for search table and container #33" Snapshot tests need further revision
  packages/datagateway-search/src/__snapshots__/searchPageContainer.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
  packages/datagateway-search/src/searchPageContainer.test.tsx
  packages/datagateway-search/src/searchPageTable.test.tsx
Due: search

Add in handleICATError for additional downloadApi methods (#48)
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadApi.ts
Due: download

Update datagateway-common tests (#48)
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/actionCell.component.test.tsx.snap
Due: common

Remove old TODOs (#48)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/index.tsx
Due: common, download

Remove old TODOs and code (#88)
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Fix handling of undefined objects in sortDownloadItems (#48)
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Add in build when all packages lint (#48)
  packages/datagateway-common/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  packages/datagateway-table/package.json
Due: none

Add in varied mocked dates for DownloadStatusTable unit tests
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Add in varied mocked dates for DownloadStatusTable unit tests (#48)
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Add in settings object as a parameter to relevant API methods (#88)
  packages/datagateway-download/src/downloadCart/downloadCartApi.test.ts
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Variable re-naming and removing old comments (#48)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
  packages/datagateway-download/src/index.tsx
  yarn.lock
Due: common, download

fix missing brackets caused by bad merge resolve
  packages/datagateway-table/src/pageTable.component.test.tsx
Due: table

Fix codecov.yml
  codecov.yml
Due: none

Add getDownloadTypeStatus API method (#120)
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Apply square prop to relevant Paper components (#88)
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
  packages/datagateway-table/src/__snapshots__/breadcrumbs.component.test.tsx.snap
  packages/datagateway-table/src/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-table/src/breadcrumbs.component.tsx
  packages/datagateway-table/src/pageContainer.component.tsx
Due: table, download

Add toJSON property to fake AxiosError + exclude all test files
  packages/datagateway-common/src/handleICATError.test.ts
  packages/datagateway-common/tsconfig.lib.json
Due: common

Fix setting the correct state on getStatus (#120)
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Change relevant downloadApi call signatures to include settings object (#88)
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Broadcast error message to SciGateway (#120)
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Add support for an error if access methods unavailable (#120)
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Add sorting by disabled property for access methods (#120)
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Correct sorting compare function for access methods (#120)
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Set the first sorted access method as the default access method value (#120)
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Set initial accessMethod value as first method in sorted access methods (#120)
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Remove old TODOs (#120)
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
