Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Fix failing unit tests (#907)
  packages/datagateway-dataview/src/views/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
Due: search

Update snapshots (#907)
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
Due: none

Update snapshot (#907)
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
Due: none

Cleanup (#907)
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: common, search

Update e2e test and increase space for message in tables (#907)
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-search/cypress/integration/searchBoxContainer.spec.ts
Due: common

Revert accidental change (#907)
  packages/datagateway-download/server/e2e-settings.json
Due: none

Rename 'selections' to 'selection' (#858)
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-search/public/res/default.json
Due: none

Slightly increase table header height for error messages (#907)
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Fix failed e2e test (#858)
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

Move style overrides for date pickers to SciGateway (#907)
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/table/__snapshots__/datafileSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
Due: common, search

fix search tick focusing #911
  packages/datagateway-search/src/search/checkBoxes.component.tsx
Due: search

#913 - remove investigation include from dataset views also removed type filters from DLS views as it's meaningless right now
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
Due: none

Add 'searchableEntities' setting and load into state (#916)
  packages/datagateway-search/public/datagateway-search-settings.example.json
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/actions/index.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
Due: search

Display toggles only when searchable (#916)
  packages/datagateway-search/src/search/checkBoxes.component.tsx
Due: search

Prevent URL from forcing non-searchable things to be searched (#916)
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Add some unit tests (#916)
  packages/datagateway-search/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.test.tsx
Due: search

Fix and add unit tests (#916)
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
Due: search

Improve unit test coverage (#961)
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
Due: search

#913 - update snapshots and fix e2e test broken by removing type filter
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsDatasetsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsVisitsCardView.component.test.tsx.snap
Due: none

#914 - update searchTable snapshot to add fetch IDs enabled field
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
Due: search

#914 - fix settings action unit test that failed due to merge
  packages/datagateway-search/src/state/actions/actions.test.tsx
Due: search

Add aria-label's to date picker buttons (#923)
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: search

Fix 'duplicate-id-aria' in table view (#923)
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
  packages/datagateway-search/public/res/default.json
Due: common

Fix 'listitem' check (#923)
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Fix aria-valid-attr-value in card view (#923)
  packages/datagateway-search/src/searchPageCardView.tsx
Due: search

Update unit test snapshots (#925)
  packages/datagateway-common/src/table/columnFilters/__snapshots__/textColumnFilter.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
Due: common, search

Improve customisability of colours (#925)
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-common/src/views/selectionAlert.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisBranding.component.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: common, search

Improve customisability of colours (#925)
  packages/datagateway-common/src/homePage/homePage.component.tsx
Due: common

Remove paper background on search to improve look (#925)
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Fix failed unit tests (#925)
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/views/selectionAlert.component.tsx
Due: common

Fix failed tests (#925)
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Increase request cache time to 5 mins by default and set cart request not to cache
  packages/datagateway-common/src/api/cart.tsx
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-search/src/App.tsx
Due: common, search

Fix translation label typo
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.tsx
Due: none

Remove uneccessary include to improve my data table efficiency
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: none

Remove custom filters from investigation search
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
Due: search

improved DOI e2e test #857
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/investigation.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
  packages/datagateway-dataview/cypress/integration/table/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/studies.spec.ts
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: none

Updated the snapshots #857
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
Due: none

Fix automated errors on ISIS investigation landing (#932)
  packages/datagateway-common/src/views/addToCartButton.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: common

Fix errors on study and dataset landing pages (#932)
  packages/datagateway-common/src/views/addToCartButton.component.test.tsx
  packages/datagateway-common/src/views/addToCartButton.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: common
