Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

#1500 - fix TS error on mock function
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Rename env variables - plus fix docker build path
  .github/workflows/release-build.yml
  Dockerfile
  packages/datagateway-dataview/.env.production
  packages/datagateway-dataview/craco.config.js
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/i18n.ts
  packages/datagateway-dataview/src/main.test.tsx
  packages/datagateway-dataview/src/main.tsx
  packages/datagateway-download/.env.production
  packages/datagateway-download/craco.config.js
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/i18n.ts
  packages/datagateway-download/src/main.test.tsx
  packages/datagateway-download/src/main.tsx
  packages/datagateway-search/.env.production
  packages/datagateway-search/craco.config.js
  packages/datagateway-search/package.json
  packages/datagateway-search/src/i18n.ts
  packages/datagateway-search/src/main.test.tsx
  packages/datagateway-search/src/main.tsx
Due: search, download

Fix broken dg-search plugin
  packages/datagateway-search/package.json
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/main.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Remove CRACO & rename ENV variable
  packages/datagateway-dataview/.env.production
  packages/datagateway-dataview/craco.config.js
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/main.tsx
  packages/datagateway-download/.env.production
  packages/datagateway-download/craco.config.js
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/main.tsx
  packages/datagateway-search/.env.production
  packages/datagateway-search/craco.config.js
  packages/datagateway-search/package.json
  packages/datagateway-search/src/main.tsx
Due: search, download

Add preview commands & test in SG
  .gitignore
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/vite.config.ts
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/vite.config.ts
  packages/datagateway-search/package.json
  packages/datagateway-search/vite.config.ts
  yarn.lock
Due: download

Fix dg-common library build - it worked before for me because I had cached files from before vite
  package.json
  packages/datagateway-common/package.json
  packages/datagateway-common/tsconfig.lib.json
Due: none

#1694 - Fix imports due to refactoring download confirm dialogue into common
  packages/datagateway-common/src/index.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.test.tsx
Due: common, download

#1694 - fully restore functionality of submitting download from the cart with refactored downloadConfirmDialog
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: common, download

#1694 - add in useQueueVisit & useQueueAllowed api hooks - haven't tested these against the API yet but look ok
  packages/datagateway-common/src/__mocks__/react-i18next.jsx
  packages/datagateway-common/src/api/cart.test.ts
  packages/datagateway-common/src/api/cart.ts
Due: common

#1694 - Add queue visit button to VisitDetailsPanel
  packages/datagateway-common/src/api/cart.test.ts
  packages/datagateway-common/src/api/cart.ts
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadRequestResult.component.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-common/src/views/queueVisitButton.component.test.tsx
  packages/datagateway-common/src/views/queueVisitButton.component.tsx
  packages/datagateway-dataview/src/settings.ts
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-search/src/settings.ts
  packages/datagateway-search/src/state/actions/index.tsx
Due: common, search, download

#1694 - add translation strings, make redirect to download button optional & make getDefaultFilename dependent on translations
  packages/datagateway-common/src/api/cart.ts
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadRequestResult.component.tsx
  packages/datagateway-common/src/views/queueVisitButton.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-download/public/res/default.json
  packages/datagateway-search/public/res/default.json
Due: common

#1694 - add unit tests for queue visit button and fix downloadConfirmation tests broken by migration
  packages/datagateway-common/src/api/cart.test.ts
  packages/datagateway-common/src/api/cart.ts
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-common/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-common/src/downloadConfirmation/__snapshots__/downloadRequestResult.component.test.tsx.snap
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadRequestResult.component.test.tsx
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-common/src/views/queueVisitButton.component.test.tsx
  packages/datagateway-common/src/views/queueVisitButton.component.tsx
Due: common

Fix tests broken by adding in variables to react i18next mock in dg-common
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/instrumentDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/views/__snapshots__/selectionAlert.component.test.tsx.snap
  packages/datagateway-common/src/views/selectionAlert.component.test.tsx
Due: common

#1694 - update dg-search & dg-dataview unit tests to account for visit restore button
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

#1694 - remove unnecessary mocking of getDownload
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.test.tsx
Due: download

#1694 - improve test coverage
  packages/datagateway-common/src/api/cart.test.ts
  packages/datagateway-common/src/views/queueVisitButton.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
Due: common, download

#1694 - fix download e2e tests actually handle downloadId missing case by typing correctly & throwing an error
  packages/datagateway-common/src/__mocks__/axios.ts
  packages/datagateway-common/src/api/cart.test.ts
  packages/datagateway-common/src/api/cart.ts
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/cypress/e2e/downloadConfirmation.cy.ts
Due: common

Accurately type preparedId & better handle deleted and no prepared id cases in progress bars
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: common, download

Handle potentially undefined preparedID in percentage complete API call & query hook
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

Add specific handling for queued downloads in DownloadProgressIndicator
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.tsx
Due: download

#1694 - add e2e tests for visit restore button
  .github/workflows/ci-build.yml
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-dataview/cypress/e2e/table/dls/visits.cy.ts
  packages/datagateway-dataview/server/e2e-settings.json
Due: common

#1694 - just check for existence of queue visit button rather than visibility - visibility check failed on CI but button is checked for interactivity by the other tests
  packages/datagateway-dataview/cypress/e2e/table/dls/visits.cy.ts
Due: none

#1694 - handle new `QUEUED` download status enum value
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.tsx
  packages/datagateway-download/src/downloadStatus/hooks/useDownloadFormatter.ts
Due: common, download

Migrate snapshots to vitest
  packages/datagateway-common/src/card/__snapshots__/cardView.component.test.tsx.snap
  packages/datagateway-common/src/card/__snapshots__/entityCard.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/instrumentDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/preloader/__snapshots__/preloader.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/actionCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/dataCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/expandCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/selectCell.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/rowRenderers/__snapshots__/detailsPanelRow.component.test.tsx.snap
  packages/datagateway-common/src/views/__snapshots__/clearFiltersButton.component.test.tsx.snap
  packages/datagateway-common/src/views/__snapshots__/selectionAlert.component.test.tsx.snap
  packages/datagateway-common/src/views/__snapshots__/viewCartButton.component.test.tsx.snap
  packages/datagateway-dataview/src/page/__snapshots__/translatedHomePage.component.test.tsx.snap
  packages/datagateway-dataview/src/page/__snapshots__/withIdCheck.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/dialogTitle.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadRequestResult.component.test.tsx.snap
Due: common, download

Remove date picker workaround code it was breaking tests & was no longer needed anyway
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/setupTests.ts
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/setupTests.ts
Due: common, search, download

Fix broken tests
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/card/entityCard.component.test.tsx
  packages/datagateway-common/src/views/downloadButton.component.test.tsx
  packages/datagateway-search/src/setupTests.ts
Due: common, search

Remove polyfills - browsers are modern enough now to not need them & can mock in other ways in unit tests
  packages/datagateway-common/package.json
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
  packages/datagateway-common/src/arrowtooltip.component.tsx
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/setupTests.ts
  yarn.lock
Due: common

Improve performance of unit tests by optimising MUI dependency import
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/dgThemeProvider.component.tsx
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/__snapshots__/textColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/vite.config.ts
  packages/datagateway-dataview/src/page/__snapshots__/translatedHomePage.component.test.tsx.snap
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/__snapshots__/textPreview.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/vite.config.ts
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/setupTests.ts
  packages/datagateway-download/vite.config.ts
  packages/datagateway-search/src/search/__snapshots__/searchButton.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.component.test.tsx.snap
  packages/datagateway-search/src/setupTests.ts
  packages/datagateway-search/vite.config.ts
Due: common, search, download

Fix linting errors
  packages/datagateway-dataview/src/page/breadcrumbs.component.test.tsx
  packages/datagateway-dataview/src/page/doiRedirect.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewPane.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
Due: search, download

Add comments specifying exact versions to github actions
  .github/workflows/ci-build.yml
  .github/workflows/release-build.yml
Due: none

Remove runInBand config option at top level unit test command - also explicitly disable watch mode at toplevel
  package.json
Due: none

Migrate e2e-test-server.js files to ESM
  packages/datagateway-dataview/server/e2e-test-server.js
  packages/datagateway-download/package.json
  packages/datagateway-download/server/e2e-test-server.js
  packages/datagateway-search/server/e2e-test-server.js
  yarn.lock
Due: none

Fix image loading by explicit telling Vite not to inline them & fix unit tests relating to images
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/src/page/__snapshots__/translatedHomePage.component.test.tsx.snap
  packages/datagateway-dataview/src/page/translatedHomePage.component.test.tsx
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisBranding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
Due: common

Fix misc unit tests
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/toolbarButton.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Fix e2e standalone build & e2e-test-server files - Plus actually use build tsconfig
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/server/e2e-test-server.js
  packages/datagateway-dataview/tsconfig.build.json
  packages/datagateway-dataview/vite.config.ts
  packages/datagateway-download/package.json
  packages/datagateway-download/server/e2e-test-server.js
  packages/datagateway-download/tsconfig.build.json
  packages/datagateway-download/vite.config.ts
  packages/datagateway-search/package.json
  packages/datagateway-search/server/e2e-test-server.js
  packages/datagateway-search/tsconfig.build.json
  packages/datagateway-search/vite.config.ts
Due: none

Remove cypress-failed-log
  packages/datagateway-dataview/cypress.config.ts
  packages/datagateway-dataview/cypress/support/e2e.js
  packages/datagateway-dataview/package.json
  packages/datagateway-download/cypress.config.ts
  packages/datagateway-download/cypress/support/e2e.js
  packages/datagateway-download/package.json
  packages/datagateway-search/cypress.config.ts
  packages/datagateway-search/cypress/support/e2e.js
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Fix unit tests failing in CI
  packages/datagateway-dataview/src/views/datafilePreview/detailsPane.component.test.tsx
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
Due: download
