Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Add in redux for storing lucene IDs action #33
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
Due: search

#59 - add unit tests for idCheckFunctions + withIdCheck
  packages/datagateway-table/src/__snapshots__/withIdCheck.test.tsx.snap
  packages/datagateway-table/src/idCheckFunctions.test.ts
  packages/datagateway-table/src/withIdCheck.test.tsx
Due: table

#111 - downgrade redux version in common to match other packages
  packages/datagateway-common/package.json
  yarn.lock
Due: none

#59 - add id check e2e tests
  packages/datagateway-table/cypress/integration/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-table/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/isis/datasets.spec.ts
Due: none

#59 - use handleICATError on ID check functions
  packages/datagateway-table/src/idCheckFunctions.test.ts
  packages/datagateway-table/src/idCheckFunctions.ts
Due: table

#59 - add test for saveApiUrlMiddleware
  packages/datagateway-table/src/App.tsx
  packages/datagateway-table/src/idCheckFunctions.test.ts
  packages/datagateway-table/src/idCheckFunctions.ts
Due: table

#59 - update lockfile after merge
  yarn.lock
Due: none

#59 - use readSciGatewayToken in idCheckFunctions
  packages/datagateway-table/src/idCheckFunctions.ts
Due: table

Update codecov patch target to 75%
  codecov.yml
Due: none

#27 - add DLSMyDataTable
  packages/datagateway-table/src/dls/tables/dlsMyDataTable.component.tsx
  packages/datagateway-table/src/pageTable.component.tsx
Due: table

#28 - add ISIS my data table
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/state/actions/cart.tsx
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-table/src/isis/tables/isisMyDataTable.component.tsx
  packages/datagateway-table/src/pageTable.component.tsx
Due: common, table

#28 - fix casing on facilityCycle in link url
  packages/datagateway-table/src/isis/tables/isisMyDataTable.component.tsx
Due: table

#27 & #28 - limit breadcrumbs to /browse routes
  packages/datagateway-table/src/pageContainer.component.tsx
Due: table

Lucene result ids now added to state for dg-search #33
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
Due: search

#27 & #28 - update pageContainer snapshot
  packages/datagateway-table/src/__snapshots__/pageContainer.component.test.tsx.snap
Due: table

Attempt to connect redux state for lucene ids with table #33
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
Due: search

Add facilityName unit test for ConfigProvider
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/setupTests.ts
  yarn.lock
Due: download

#28 - add test for getSize option in fetchInvestigations
  packages/datagateway-common/src/state/actions/investigations.test.tsx
Due: common

#27 - add unit tests for DLS My Data table
  packages/datagateway-table/src/dls/tables/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/dlsMyDataTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsMyDataTable.component.tsx
Due: table

Add remaining unit tests for ConfigProvider (#88)
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
Due: download

Complete unit tests for ConfigProvider (#88)
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
Due: download

#28 - add ISIS My Data table unit tests
  packages/datagateway-table/src/isis/tables/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/isisMyDataTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisMyDataTable.component.tsx
Due: table

Fix unit test using setProps to close DownloadConfirmDialog (#88)
  packages/datagateway-download/cypress/fixtures/example.json
  packages/datagateway-download/cypress/fixtures/profile.json
  packages/datagateway-download/cypress/fixtures/users.json
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
Due: download

#27 & #28 - add both my data tables to PageTable routes
  packages/datagateway-table/src/pageTable.component.test.tsx
  packages/datagateway-table/src/pageTable.component.tsx
Due: table

Updated styling for dg-search #33
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/pageSearchTable.component.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
  packages/datagateway-search/src/state/utils.ts
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
Due: search

#33 - modify fetchDatafiles(Count)/fetchDatasets(Count) to be more generic
  packages/datagateway-common/src/state/actions/datafiles.test.tsx
  packages/datagateway-common/src/state/actions/datafiles.tsx
  packages/datagateway-common/src/state/actions/datasets.test.tsx
  packages/datagateway-common/src/state/actions/datasets.tsx
  packages/datagateway-table/src/dls/tables/dlsDatafilesTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisDatafilesTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.tsx
  packages/datagateway-table/src/table/datafileTable.component.tsx
  packages/datagateway-table/src/table/datasetTable.component.tsx
Due: common, table

Add seedDownloads and clearDownloads to cypress commands (#48)
  packages/datagateway-download/cypress/fixtures/example.json
  packages/datagateway-download/cypress/fixtures/profile.json
  packages/datagateway-download/cypress/fixtures/users.json
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/cypress/support/index.d.ts
Due: none

Edits to search datafile table #33
  packages/datagateway-search/src/pageSearchTable.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Change luceneRequestSent to LuceneRequestReceived #33
  packages/datagateway-search/src/pageSearchTable.component.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
Due: search

Updated e2e tests for DownloadStatusTable (#48)
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
Due: download

#27 & #28 - fix details panels so they fetch details even if INVESTIGATIONUSERs are already present
  packages/datagateway-table/src/dls/detailsPanels/visitDetailsPanel.component.test.tsx
  packages/datagateway-table/src/dls/detailsPanels/visitDetailsPanel.component.tsx
  packages/datagateway-table/src/isis/detailsPanels/investigationDetailsPanel.component.test.tsx
  packages/datagateway-table/src/isis/detailsPanels/investigationDetailsPanel.component.tsx
Due: table

Add download link e2e test for DownloadStatusTable (#48)
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

#27 & #28 - add e2e tests for my data tables
  packages/datagateway-table/cypress/integration/cartSelection.spec.ts
  packages/datagateway-table/cypress/integration/dls/myData.spec.ts
  packages/datagateway-table/cypress/integration/isis/myData.spec.ts
  packages/datagateway-table/cypress/support/commands.js
Due: none

Create XHR stub for download request in DownloadConfirmDialog e2e test (#48)
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/cypress/support/index.d.ts
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/index.tsx
Due: download

Fixes loading bug in datagateway-search #33
  packages/datagateway-search/public/datagateway-search-settings.json
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/pageSearchTable.component.tsx
  packages/datagateway-search/src/search/Header.component.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
Due: search

#28 - remove only on my data cart tests
  packages/datagateway-table/cypress/integration/cartSelection.spec.ts
Due: none

#27 & #28 - change username in dev JWT to display data in my data tables
  packages/datagateway-table/src/state/actions/index.tsx
Due: table

Correct logic of fetchDownloads requests (#48)
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
Due: download

Add routing #33
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/pageSearchTable.component.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/state/reducers/app.reducer.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Added styling to search box in dg-search #33
  packages/datagateway-search/src/pageSearchTable.component.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
Due: search

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
