Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Add query for max results (#128)
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: common, table

Fix pagination showing same page for investigation and dataset (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: table

Add clearData to datagateway-common (#128)
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: common, table

Fix incorrect data loading on investigation/dataset with varying max results (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
Due: table

Add functionality for add to/remove from cart (#128)
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
Due: table

#140 - use craco in dataview and search instead of react-scripts-rewired
  packages/datagateway-dataview/craco.config.js
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/webpack.config.extend.js
  packages/datagateway-dataview/webpackDevServer.config.extend.js
  packages/datagateway-download/package.json
  packages/datagateway-search/craco.config.js
  packages/datagateway-search/package.json
  packages/datagateway-search/webpack.config.extend.js
  packages/datagateway-search/webpackDevServer.config.extend.js
  yarn.lock
Due: none

Update react-scripts and associated packages
  .eslintrc.js
  packages/datagateway-common/package.json
  packages/datagateway-common/src/handleICATError.ts
  packages/datagateway-common/src/parseTokens.ts
  packages/datagateway-common/src/setupTests.ts
  packages/datagateway-common/src/state/actions/cart.tsx
  packages/datagateway-common/src/state/actions/datafiles.test.tsx
  packages/datagateway-common/src/state/actions/datafiles.tsx
  packages/datagateway-common/src/state/actions/datasets.test.tsx
  packages/datagateway-common/src/state/actions/datasets.tsx
  packages/datagateway-common/src/state/actions/facilityCycles.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/actions/instruments.tsx
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-common/src/state/middleware/dgcommon.middleware.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
  packages/datagateway-common/src/table/table.component.test.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/breadcrumbs.component.tsx
  packages/datagateway-dataview/src/dls/tables/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/dls/tables/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/dls/tables/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-dataview/src/isis/tables/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/pageTable.component.tsx
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-dataview/src/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/withIdCheck.test.tsx
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: common

Fix linting issues
  packages/datagateway-download/src/App.css
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-download/src/logo.svg
  packages/datagateway-download/src/serviceWorker.ts
  packages/datagateway-download/src/setupTests.ts
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/setupTests.ts
Due: search, download

Move __mocks__ folders to fix unit tests
  packages/datagateway-common/src/__mocks__/axios.ts
  packages/datagateway-dataview/__mocks__/lodash.debounce.ts
  packages/datagateway-dataview/src/__mocks__/axios.ts
  packages/datagateway-dataview/src/__mocks__/lodash.debounce.ts
  packages/datagateway-download/__mocks__/lodash.debounce.ts
  packages/datagateway-download/src/__mocks__/axios.ts
  packages/datagateway-download/src/__mocks__/lodash.debounce.ts
  packages/datagateway-search/src/__mocks__/axios.ts
Due: common, search, download

Update snapshots due to changes from linting fixes
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
Due: common

Remove warning by only spreading tooltip props in arrow tooltip
  packages/datagateway-common/src/arrowtooltip.component.tsx
  packages/datagateway-dataview/src/__snapshots__/breadcrumbs.component.test.tsx.snap
Due: common

Fix handlebars warning in console
  yarn.lock
Due: none

Type lodash.debounce mock
  packages/datagateway-dataview/src/__mocks__/lodash.debounce.ts
  packages/datagateway-download/src/__mocks__/lodash.debounce.ts
Due: download

Move UI elements (#128)
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
Due: common, table

Fix codecov.yml
  codecov.yml
Due: none

Fix incorrect column for link snapshot
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/isisFacilityCyclesTable.component.test.tsx
Due: none

Fix MaterialUiPickersDate import
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
Due: common

Update package.json's with higher pickers version
  packages/datagateway-common/package.json
  packages/datagateway-search/package.json
Due: none

Make labels hug bottom of header #85
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Fix routing for card toggle and view (#128)
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/page/pageCard.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: table

Correct regex for route replacement (#128)
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: table

Add further information for ISISInstrumentsCardView (#128)
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-table/src/page/pageCard.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: common, table

Add ISISFacilityCyclesCardView (#128)
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-table/src/page/pageCard.component.tsx
Due: table

Correct Card button onSelect and onDeselect (#128)
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/isis/isisFacilityCyclesCardView.component.tsx
Due: table

Add ISISInvestigationsCardView (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInvestigationCardView.component.tsx
  packages/datagateway-table/src/page/pageCard.component.tsx
Due: table

Add loading of settings #125
  .gitignore
  packages/datagateway-search/public/datagateway-search-settings.example.json
  packages/datagateway-search/public/datagateway-search-settings.json
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/actions/index.tsx
Due: search

Add furtherInformation for ISISInvestigationsCardView (#128)
  packages/datagateway-table/src/card/isis/isisInvestigationCardView.component.tsx
Due: table

Fix test (which fails when ran on the 1st of the month)
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

uncomment retries
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Add ISISDatasetsCardView (#128)
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-table/src/page/pageCard.component.tsx
Due: table

Add actions unit tests #125
  packages/datagateway-search/src/App.test.tsx
  packages/datagateway-search/src/setupTests.ts
  packages/datagateway-search/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/state/actions/index.tsx
Due: search

Move buttons to be defined in custom CardViews (#128)
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/isis/isisDatasetsCardView.component.tsx
Due: table

Add download button to ISISDatasetsCardView (#128)
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInvestigationCardView.component.tsx
Due: table

Remove non-example settings file #125
  packages/datagateway-search/public/datagateway-search-settings.json
Due: none

Add coverage ignore for dev only code #125
  packages/datagateway-search/src/state/actions/index.tsx
Due: search

Fix ui-strings test #125
  packages/datagateway-search/src/state/actions/actions.test.tsx
Due: search

Get filter option counts (#128)
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
Due: table

Render filter information in list (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
Due: table

Add e2e datafile text search test #122
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
Due: none

remove newline characters from cy.contains() assertations
  packages/datagateway-dataview/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/investigations.spec.ts
Due: none
