Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Update failed snapshots (#1084)
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
Due: search

updating filter using useEffect #1008
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: search

clear all on serachPagetable #1008
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: search

Modify comment spacing (#1084)
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
Due: none

Added No Publications message in instrument landing pages #1053
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

Added No Users and Samples messages in instrument landing pages #1053
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

Modify selection alert message to remember whether it has fired (#1087)
  packages/datagateway-common/src/views/__snapshots__/selectionAlert.component.test.tsx.snap
  packages/datagateway-common/src/views/selectionAlert.component.test.tsx
  packages/datagateway-common/src/views/selectionAlert.component.tsx
Due: common

Modify session expiry warning text and update unit tests (#1087)
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
Due: search

Update snapshot tests after compiling common (#1087)
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
Due: search

Added requested changes so it uses i18next for the translations #1053
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-search/public/res/default.json
Due: none

Removed heading element and changed case #1053
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-search/public/res/default.json
Due: none

Added unit tests and modified code to pass tests #1053
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

storing the currentTab in the url #1008
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/advancedHelpDialogue.component.test.tsx.snap
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.test.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.test.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
Due: common, search

using useEffect to update params #1008
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: search

Refactor dataview & download with single-spa changes also ensure we forceUpdate app on RequestPluginRerenderType
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-dataview/src/settings.js
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-download/src/settings.js
  packages/datagateway-search/src/App.tsx
Due: search, download

Added the changes requested and modified unit tests accordingly #1053
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

unit testing for currentTab #1008
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.test.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: search

fixing failing unit test #1008
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: common, search

Attempt to fix unit test (#1008)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: common, search

fixing failing unit test table and card #1008
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.test.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: search

removing test , fix common unit tests #1008
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
Due: common, search

fixing search e2e tests #1008
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

Add h5web plugin using MockProvider
  packages/datagateway-h5web/.env.production
  packages/datagateway-h5web/.gitignore
  packages/datagateway-h5web/README.md
  packages/datagateway-h5web/craco.config.js
  packages/datagateway-h5web/cypress.json
  packages/datagateway-h5web/cypress/plugins/index.js
  packages/datagateway-h5web/cypress/support/commands.js
  packages/datagateway-h5web/cypress/support/index.d.ts
  packages/datagateway-h5web/cypress/support/index.js
  packages/datagateway-h5web/cypress/tsconfig.json
  packages/datagateway-h5web/package.json
  packages/datagateway-h5web/public/datagateway-h5web-settings.example.json
  packages/datagateway-h5web/public/favicon.ico
  packages/datagateway-h5web/public/index.html
  packages/datagateway-h5web/public/logo192.png
  packages/datagateway-h5web/public/logo512.png
  packages/datagateway-h5web/public/manifest.json
  packages/datagateway-h5web/public/res/default.json
  packages/datagateway-h5web/public/robots.txt
  packages/datagateway-h5web/server/e2e-settings.json
  packages/datagateway-h5web/server/e2e-test-server.js
  packages/datagateway-h5web/src/App.test.tsx
  packages/datagateway-h5web/src/App.tsx
  packages/datagateway-h5web/src/__mocks__/axios.ts
  packages/datagateway-h5web/src/__mocks__/lodash.debounce.ts
  packages/datagateway-h5web/src/__mocks__/react-i18next.jsx
  packages/datagateway-h5web/src/i18n.ts
  packages/datagateway-h5web/src/index.css
  packages/datagateway-h5web/src/index.tsx
  packages/datagateway-h5web/src/react-app-env.d.ts
  packages/datagateway-h5web/src/setupTests.ts
  packages/datagateway-h5web/src/tooltip.component.tsx
  packages/datagateway-h5web/tsconfig.json
  yarn.lock
Due: none

improving code cov #1008
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageTable.component.test.tsx
Due: search

Refactor settings to be a promise we can wait on and fix tests for single-spa changes
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/index.test.tsx
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-dataview/src/settings.js
  packages/datagateway-dataview/src/settings.ts
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/index.test.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-download/src/settings.js
  packages/datagateway-download/src/settings.ts
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/index.test.tsx
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/settings.js
  packages/datagateway-search/src/settings.ts
  packages/datagateway-search/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/state/actions/index.tsx
Due: search, download

fixing failing unit test #1008
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageTable.component.test.tsx
Due: search

#1056 - always link to landing page if it exists
  packages/datagateway-dataview/src/page/breadcrumbs.component.test.tsx
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
Due: none

Remove need for percentageWidth prop in arrowtooltip
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
  packages/datagateway-common/src/arrowtooltip.component.tsx
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
Due: common

#1056 - fix breadcrumb tooltip e2e test plus enable other e2e tests for breadcrumbs
  packages/datagateway-dataview/cypress/integration/breadcrumbs.spec.ts
Due: none

#1056 - alter breadcrumb padding
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
Due: none

Add missing jsrsasign imports to index.tsx - this is a dev bug from my single-spa PR which I'm fixing here
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-search/src/index.tsx
Due: search

resolving comments #1008
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: search

fixing failing unit tests #1008
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageTable.component.test.tsx
Due: search

Added function to the index to clear all filters
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: common

Added the clear filters button and linked the functionality to DG-search #1019
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Changed the function to allow the button in pageContainer to clear all filters #1019
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Updated the useClearFilters function to be more efficient and added its unit test #1019
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

Added the clear filter button next to change view button #1019
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Added function to the index to clear all filters
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none
