Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Migrate dataset search table tests to RTL
  packages/datagateway-common/src/detailsPanels/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/cellRenderers.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/testData.ts
Due: common, search

Variable IDS URL for progress query
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.tsx
Due: download

Fix broken datagateway-search tests
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchTabs.component.test.tsx.snap
  packages/datagateway-search/src/card/__snapshots__/datasetSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/__snapshots__/investigationSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/advancedHelpDialogue.component.test.tsx.snap
  packages/datagateway-search/src/searchTabs.component.test.tsx
  packages/datagateway-search/src/setupTests.ts
Due: search

Change download progress query error handling Download progress query errors are no longer broadcast
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

Use react query timestamp for last update time
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
Due: download

Fix test
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Render previewDatafileButton as Link PreviewDatafileButton now renders IconButton as Link instead of the other way around to prevent page refresh
  packages/datagateway-dataview/src/views/datafilePreview/previewDatafileButton.component.tsx
Due: none

Fix datafile preview details grid not hiding in sm
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.tsx
Due: none

Remove icatUrl from settings type
  packages/datagateway-dataview/src/settings.ts
Due: none

Rename isisDatafilePreviewer redux state isisDatafilePreviewer renamed to datafilePreviewer
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/hooks/useScrollToZoom.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/previewComponents.ts
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/txtPreview.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/state/reducer.test.ts
  packages/datagateway-dataview/src/views/datafilePreview/state/reducer.ts
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/actionButtons.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/actionButtons.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/rightAlignedControls.tsx
Due: none

Attempt to fix dg search e2e tests
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
Due: none

Add id check for datafile previewer
  packages/datagateway-dataview/src/page/idCheckFunctions.test.ts
  packages/datagateway-dataview/src/page/idCheckFunctions.ts
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
Due: none

Fix ts error
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
Due: none

Fix datafile previewer e2e test
  packages/datagateway-dataview/cypress/fixtures/datafile.json
  packages/datagateway-dataview/cypress/fixtures/investigation.json
  packages/datagateway-dataview/cypress/integration/datafilePreview.spec.ts
Due: none

Fix datafile previewer unit test
  packages/datagateway-dataview/src/views/datafilePreview/state/reducer.test.ts
Due: none

Add support for previewing .log datafiles
  packages/datagateway-dataview/src/views/datafilePreview/datafileExtension.ts
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/previewComponents.ts
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/textPreview.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/textPreview.component.tsx
Due: none

Update snapshot for text preview component
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/__snapshots__/textPreview.component.test.tsx.snap
Due: none

Update snapshots
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/instrumentDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.tsx
Due: common

WIP:Add logic for building URLs to cart entities
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/facilityCycles.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-download/src/downloadCart/downloadCartItemLink.component.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadCart/linkBuilders.ts
Due: common, download

Implement URL building for datafile
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadCart/linkBuilders.ts
Due: download

Fix implemented: > Remove null value rejection for startDate > Add conditional so that null startDate is assigned 0
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Implement tests for the entity URL builders
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadCart/linkBuilders.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildDatafileUrl.test.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildDatafileUrl.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildDatasetUrl.test.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildDatasetUrl.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildInvestigationUrl.test.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildInvestigationUrl.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/index.ts
  packages/datagateway-download/src/testData.ts
Due: download

Use type imports
  packages/datagateway-download/src/downloadCart/urlBuilders/buildDatafileUrl.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildDatasetUrl.test.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildDatasetUrl.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildInvestigationUrl.test.ts
Due: download

Add toLocaleDateString stub in tests
  packages/datagateway-common/src/setupTests.tsx
Due: common

Fix incorrect facility name check in URL builders Facility name is capitalized but the URL builders was checking against lower case names
  packages/datagateway-download/src/downloadCart/urlBuilders/buildDatafileUrl.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildDatasetUrl.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildInvestigationUrl.ts
Due: download

Update downloadStatusTable.component.test.tsx: > add comments to date filter test > add new code to test each filter (date to/from) independently
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
Due: download

Fix datafileSearchTable not full width When the filter panel is hidden, datafile search table now uses the full width of the parent container
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
Due: search

Show mui loading btn when submitting download req
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Add a back button in previewer Add a back button in the datafile previewer toolbar that brings the user back to the datafile table
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/actionButtons.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/actionButtons.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/toolbarButton.component.tsx
Due: none

Remove unnecessary settings check in dg-download Remove fileCountMax and totalSizeMax check in datagateway-download
  packages/datagateway-download/src/index.tsx
Due: download

Rename parameterFacetList file Rename datagateway-common/src/cart/parameterFacetList.tsx to parameterFacetList.component.tsx for consistency
  packages/datagateway-common/src/card/parameterFacetList.component.tsx
  packages/datagateway-common/src/card/parameterFilterItem.component.tsx
Due: common

Fix datafile previewer unit tests Need to wrap the component with MemoryRouter because ActionButtons requires it
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.test.tsx
Due: none

Fix ActionButtons tests
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/actionButtons.component.test.tsx
Due: none

Initial fix implemented by removing last five chars from timestamp
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Add @mui/lab as dependency
  packages/datagateway-download/package.json
  yarn.lock
Due: none

Cleanup code block
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Implement fix for non-admin table
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Add tests for URL builders
  packages/datagateway-common/src/urlBuilders/buildDatafileUrl.test.ts
  packages/datagateway-common/src/urlBuilders/buildDatasetUrl.test.ts
  packages/datagateway-common/src/urlBuilders/buildInvestigationUrl.test.ts
Due: common

Update downloadConfirmDialog test snapshot
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/setupTests.ts
Due: download
