Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

changes: - add datapublication labels - users now working
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: common

add datacollection types
  packages/datagateway-common/src/app.types.tsx
Due: common

Minor arrow tooltip refactor & update tests
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
  packages/datagateway-common/src/arrowtooltip.component.tsx
Due: common

Update outdated test snapshots
  packages/datagateway-common/src/detailsPanels/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/instrumentDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-common/src/preloader/__snapshots__/preloader.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/cellContentRenderers.test.tsx.snap
Due: common

Update cardView tests
  packages/datagateway-common/src/card/cardView.component.test.tsx
Due: common

Remove browser argument
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: none

Update pageRouting tests
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: common

Update isisDatafilesTable tests
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
Due: none

Fix small typo in datafile table test
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
Due: none

Fix small typo in dataset table test
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
Due: none

Comment out browser permissions
  packages/datagateway-dataview/cypress/e2e/datafilePreview.cy.ts
Due: none

Remove browser permissions
  packages/datagateway-dataview/cypress/e2e/datafilePreview.cy.ts
Due: none

Update isisStudiesCardView tests
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
Due: none

Fix mismatched test ids in some tests
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: none

Remove enzyme from dg-common & dg-dataview 🎉
  packages/datagateway-common/package.json
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/setupTests.ts
  yarn.lock
Due: common

point workflow at correct datagateway version
  .github/workflows/ci-build.yml
Due: none

Update facility cycle queries to use new endpoint
  packages/datagateway-common/src/api/facilityCycles.test.tsx
  packages/datagateway-common/src/api/facilityCycles.tsx
Due: common

Mock axios calls in isisInvestigationsTable tests
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
Due: none

Drop ISIS-specific investigation queries
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
Due: common

Add LILS to FACILITY_NAME enum
  package.json
  packages/datagateway-common/src/app.types.tsx
Due: common

Remove obsolete test snapshots
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInvestigationsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
Due: none

Migrate searchPageContainer tests to RTL
  packages/datagateway-search/src/searchBoxContainer.component.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchBoxContainerSide.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

fixes to landing page
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
Due: common

Improve cardView tests
  packages/datagateway-common/src/card/cardView.component.test.tsx
Due: common

Fix typo in datasetDetailsPanel
  packages/datagateway-common/src/detailsPanels/datasetDetailsPanel.component.tsx
Due: common

Fix a typo in dateColumnFilter test
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
Due: common

Improve viewButton tests
  packages/datagateway-common/src/views/viewButton.component.test.tsx
Due: common

Improve breadcrumbs tests
  packages/datagateway-dataview/src/page/breadcrumbs.component.test.tsx
Due: none

Add smoke test for datasetCardView
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
Due: none

Add smoke test for investigationCardView
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
Due: none

Remove redundant test in datasetCardView
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
Due: none

Fix failing tests
  packages/datagateway-dataview/src/App.test.tsx
  packages/datagateway-dataview/src/page/__snapshots__/translatedHomePage.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: none

card view implemented
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.tsx
Due: none

table view implemented
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.tsx
Due: none

Update a bunch of test snapshots
  packages/datagateway-common/src/detailsPanels/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/dataCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/selectCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/__snapshots__/textColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.test.tsx
  packages/datagateway-common/src/views/__snapshots__/viewButton.component.test.tsx.snap
  packages/datagateway-common/src/views/__snapshots__/viewCartButton.component.test.tsx.snap
Due: common

Fix failed tests
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/search/__snapshots__/datePicker.component.test.tsx.snap
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/searchBoxContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search

Update test snapshots
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/card/__snapshots__/datasetSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/__snapshots__/investigationSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/advancedHelpDialogue.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/datafileSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
Due: search

changes: - fix instrumentId check for datapublications landing page - implement page routing for all new components - temporarily disable sort in table as query isn't working
  packages/datagateway-dataview/src/page/idCheckFunctions.ts
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.tsx
Due: none

Improve pageContainer tests
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
Due: none

plz work
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
Due: none
