Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

update unit tests to include stringified query parameters
  packages/datagateway-common/src/api/lucene.test.tsx
  packages/datagateway-dataview/src/page/idCheckFunctions.test.ts
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
Due: common, search, download

addressing pr comments
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadCart/urlBuilders/buildDatafileUrl.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildDatasetUrl.test.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildDatasetUrl.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildInvestigationUrl.ts
Due: download

Set timeout value for unit tests to 20s
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-download/src/setupTests.ts
  packages/datagateway-search/src/setupTests.ts
Due: common, search, download

Run unit tests in band at top level & fix test console errors - also added a library to stop more console errors from occuring
  package.json
  packages/datagateway-common/package.json
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-common/src/views/addToCartButton.component.test.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/setupTests.ts
  packages/datagateway-search/package.json
  packages/datagateway-search/src/setupTests.ts
  yarn.lock
Due: common, search, download

Fix textPreview styling - the line numbers took up half the width, fixed that so now they take up a normal amount
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/__snapshots__/textPreview.component.test.tsx.snap
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/textPreview.component.tsx
Due: none

use transformIgnorePatterns instead of moduleNameMapper
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: none

Remove test skips leftover from debugging
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
Due: none

increase jest timeout to 20s
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-download/src/setupTests.ts
  packages/datagateway-search/src/setupTests.ts
Due: common, search, download

remove commented out code
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Update .dockerignore
  .dockerignore
Due: none

remove facilityCycles from url builders' tests
  packages/datagateway-download/src/downloadCart/urlBuilders/buildDatafileUrl.test.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildInvestigationUrl.test.ts
Due: download

Update Dockerfile to use Node 20
  Dockerfile
Due: none

add upload button to dls views
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/views/uploadButton.component.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
Due: common

upload button
  packages/datagateway-common/src/views/uploadButton.component.test.tsx
  packages/datagateway-common/src/views/uploadButton.component.tsx
Due: common

upload dialog
  packages/datagateway-common/src/views/uploadDialog.component.test.tsx
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

Install uppy
  packages/datagateway-common/src/views/uploadDialog.component.tsx
  packages/datagateway-dataview/package.json
Due: common

install uppy yarn.lock
  yarn.lock
Due: none

Add upload button to dls tables and cards
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
Due: none

install uppy in the right package
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  yarn.lock
Due: none

unmemoize actions
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
Due: none

adjust to Alex's changes
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

add function for creating datasets + some translation
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-dataview/public/res/default.json
Due: common

JSON stringified the failing get request
  packages/datagateway-download/src/downloadApi.ts
Due: download

adjust unit tests
  packages/datagateway-download/src/downloadApiHooks.test.tsx
Due: download

add uppy and its dependencies to transformIgnorePatterns
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: none

small fixes to upload components
  packages/datagateway-common/src/views/uploadButton.component.tsx
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

initial unit tests
  packages/datagateway-common/src/views/__snapshots__/uploadDialog.component.test.tsx.snap
  packages/datagateway-common/src/views/uploadButton.component.test.tsx
  packages/datagateway-common/src/views/uploadDialog.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
Due: common

temporary fix for golden retriever bug in unit tests
  packages/datagateway-common/src/views/uploadButton.component.test.tsx
  packages/datagateway-common/src/views/uploadDialog.component.test.tsx
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

improve code coverage
  packages/datagateway-common/src/api/datasets.test.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/views/uploadButton.component.test.tsx
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

fix e2e test
  packages/datagateway-dataview/cypress/e2e/table/datasets.cy.ts
Due: none

fixed month selection in e2e tests
  packages/datagateway-dataview/cypress/e2e/card/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datasets.cy.ts
Due: none

test for .xml upload
  packages/datagateway-common/src/views/uploadDialog.component.test.tsx
Due: common

Remove .only from test & fix settings context declaration
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#1529 #1531 - fix how we send entity IDs to minter DOI
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#1531 fix test error by updating api error message when an invalid user is entered
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
Due: none

Fix casing
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
Due: none

parse dates with Date and toISOString in datafileTable
  .gitignore
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
Due: none

#1532 - add basic version table & have WIP edit form Still need to get the API to work re: only concepts can be edited, but concepts have no content
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/dialogContent.component.ts
  packages/datagateway-common/src/dialogTitle.component.test.tsx
  packages/datagateway-common/src/dialogTitle.component.tsx
  packages/datagateway-common/src/dois/DOIConfirmDialog.component.test.tsx
  packages/datagateway-common/src/dois/DOIConfirmDialog.component.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.test.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.tsx
  packages/datagateway-common/src/dois/relatedDOIs.component.test.tsx
  packages/datagateway-common/src/dois/relatedDOIs.component.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/settings.ts
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationVersionPanel.component.tsx
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: common, download

format dates in dataset table
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
Due: none

move date formating to table component
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
Due: common
