Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

WIP: react-query bindings for admin download api
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/hooks/useDownloadFormatter.ts
Due: common, download

Finish react-query bindings for admin download api
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/hooks/useDownloadFormatter.ts
Due: download

Fix eslint error by deduping & make renovate dedupe
  renovate.json
  yarn.lock
Due: none

Specify response type for AxiosError
  packages/datagateway-common/src/api/retryICATErrors.ts
  packages/datagateway-common/src/handleICATError.ts
Due: common

Make useDownloadDeleted accept "deleted" param
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Fix test date input creation in downloadStatus e2e test
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Add test for newly-added hooks
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.test.tsx
Due: download

WIP: Fix admin download table tests
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: common, download

Fix admin download status table & tab tests
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
Due: common, download

WIP: Migrate download dialog to react-query
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/hooks/useDownloadFormatter.ts
Due: download

Update renovate.json
  renovate.json
Due: none

Migrate download confirmation dialog 2 react-query
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

WIP: migrate dg-download testing to RTL
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Remove useless props
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Update ci-build.yml with java distribution type
  .github/workflows/ci-build.yml
Due: none

WIP: Migrate test to RTL
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/setupTests.ts
Due: download

Migrate download status table tests to RTL
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
Due: download

WIP: migrate admin download table tests to RTL
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Migrate admin download status table tests to RTL
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Fix test timeouts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
Due: download

Update yarn lockfile
  yarn.lock
Due: none

Fix useDownload type error
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

Migrate dg-download ConfigProvider tests to RTL
  packages/datagateway-common/src/preloader/preloader.component.tsx
  packages/datagateway-download/src/ConfigProvider.test.tsx
Due: common, download

Remove enzyme deps from dg-download
  packages/datagateway-download/package.json
  packages/datagateway-download/src/App.test.tsx
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/__snapshots__/App.test.tsx.snap
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-download/src/setupTests.ts
  yarn.lock
Due: download

Update Preloader snapshot
  packages/datagateway-common/src/preloader/__snapshots__/preloader.component.test.tsx.snap
Due: common

Remove obsolete snapshots
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
Due: download

Increase test coverage
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Create progress component for download tables
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Filters on datafileSearchTable for ISIS demo #1152
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/card/parameterFacetList.tsx
  packages/datagateway-common/src/card/parameterFilterItem.component.tsx
  packages/datagateway-common/src/card/parameterFilters.component.tsx
  packages/datagateway-common/src/card/parameterNumericRange.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.tsx
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/search/sortSelect.component.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

Extract test data to a separate file
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/testData.ts
Due: download

Use Pick to pick required keys from settings type
  packages/datagateway-download/src/downloadApi.ts
Due: download

Remove debounce on filter changes
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Rename useDownloadDeleted hook
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Remove most ts-ignores
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

Fix admin download table test timeout
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Handle error state of confirm dialog/refactor
  packages/datagateway-download/src/downloadConfirmation/DownloadRequestInfo.ts
  packages/datagateway-download/src/downloadConfirmation/dialogContent.component.ts
  packages/datagateway-download/src/downloadConfirmation/dialogTitle.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/dialogTitle.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadRequestResult.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadRequestResult.component.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Fix dg-download e2e test
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Add tests for download progress bar
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Fix dg-download e2e tests
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
