Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Revert "Upgrade @material-ui/core patch version (#815)"
  packages/datagateway-common/package.json
  yarn.lock
Due: none

Removed the banner alt text as it is not used #826
  packages/datagateway-common/src/homePage/homePage.component.tsx
Due: common

Fix undefined console error when running unit tests (#815)
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
Due: none

Adding card view component separate from table component #420
  packages/datagateway-search/src/searchPageCardView.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Removing unnecessary dispatch props #420
  packages/datagateway-search/src/searchPageCardView.tsx
  packages/datagateway-search/src/searchPageTable.tsx
Due: search

Adding translated strings, styling view button #420
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Making view more consistent #420
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Include "type" and "facility" to display chips on cards (#815)
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: common

Add prefixLabel prop for chips to card (#815)
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: common

Adding some unit tests #420
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/card/__snapshots__/datasetSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageCardView.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
Due: search

Implement initial useFilterCount hook (#815)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: common

Support multiple filter count queries (#815)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: common

Pass filter counts to CardView (#815)
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: common

Change queryKey for useFilterCount (#815)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: common

Update CardView unit tests for custom filters (#815)
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/__snapshots__/investigationCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsDatasetsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsVisitsCardView.component.test.tsx.snap
Due: common

Add count to filter items layout (#815)
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Pass additionalFilters to fetchFilterCountQuery (#815)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
Due: common

Format filter count correctly (#815) (closes #265)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: common

Prevent filter updates hiding the UI (#815)
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Skipping failing test (#815)
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsDatasetsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsVisitsCardView.component.test.tsx.snap
Due: none

Change to Ubuntu 20 on CI #749
  .github/workflows/ci-build.yml
Due: none

Use ICAT Ansible branch compatible with Ubuntu 20 #749
  .github/workflows/ci-build.yml
Due: none

Rename instances of "master" to "main"
  .github/workflows/ci-build.yml
  .github/workflows/release-build.yml
  README.md
Due: none

Fix the Paper component outline in CardView (#827)
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Fix investigation card view filter test #815
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
Due: none

Change Paper container width for smoother view transition (#420)
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Fix page jumping on view transitions (#420)
  packages/datagateway-search/src/index.css
Due: search

Align the view button (#420)
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Added open data label (#834)
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Use language file for label and remove tooltip (#834)
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Start initial InvestigationSearchCardView unit tests (#420)
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
Due: search

Fixed label not displaying when anonymous and autoLogin false (#834)
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Adding some InvestigationSearchCardView unit tests (#420)
  packages/datagateway-search/src/card/__snapshots__/investigationSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
Due: search

Fix failed test (#420)
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
Due: search

redirect to login page rather than showing warning (#833)
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
Due: none

Adding more InvestigationSearchCardView unit tests (#420)
  packages/datagateway-search/src/card/__snapshots__/investigationSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
Due: search

Removed the warning messages for My data view
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: none

added the warning messages for My data view #833
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: none

Refactor download and addToCart buttons from dataView to common
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/views/addToCartButton.component.test.tsx
  packages/datagateway-common/src/views/addToCartButton.component.tsx
  packages/datagateway-common/src/views/downloadButton.component.test.tsx
  packages/datagateway-common/src/views/downloadButton.component.tsx
  packages/datagateway-dataview/src/views/addToCartButton.component.test.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/downloadButton.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
Due: common, search

Fixed addToCart and download button unit tests (#420)
  packages/datagateway-common/src/views/addToCartButton.component.test.tsx
  packages/datagateway-common/src/views/downloadButton.component.test.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
Due: common, search

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
