Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Add message to search explaining only top results are displayed (#937)
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/searchBoxContainer.component.tsx
Due: search

Increase margin around message (#937)
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/searchBoxContainer.component.tsx
Due: search

Switch new usages of data-test-id to data-testid
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/investigation.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
  packages/datagateway-dataview/cypress/integration/table/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/studies.spec.ts
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

Fix snapshot
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
Due: none

Add links to homepage (#943)
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
Due: common

Update unit tests and add e2e test for links (#943)
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/homePage/homePage.component.test.tsx
  packages/datagateway-dataview/cypress/integration/homePage.spec.ts
  packages/datagateway-dataview/src/page/__snapshots__/translatedHomePage.component.test.tsx.snap
Due: common

Remove accidental duplicate test (#943)
  packages/datagateway-dataview/cypress/integration/app.spec.ts
Due: none

Fix bug with empty searchText in search (#945)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

Add description and type to ISIS instruments table (#872)
  packages/datagateway-dataview/cypress/integration/table/isis/instruments.spec.ts
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
Due: none

Rename defaultSort to updateMethod in card and table components (#931)
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
Due: common

#835 - use releaseDate rather than endDate to filter out embargoed studies
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: none

Remove default 'name' sort from facility cycles (#931)
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-dataview/cypress/integration/card/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisFacilityCyclesCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
Due: common

Revert accidental change (#931)
  packages/datagateway-dataview/server/e2e-settings.json
Due: none

Remove default 'title' sort from investigations (#931)
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInvestigationsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
Due: none

Add 'Advanced' button with dialogue (#939)
  packages/datagateway-search/src/search/advancedHelpDialogue.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
Due: search

Add some help text (#939)
  packages/datagateway-search/src/search/advancedHelpDialogue.tsx
Due: search

Use theme for background and improve text (#939)
  packages/datagateway-search/src/search/advancedHelpDialogue.tsx
Due: search

Use BroadcastSignOutType and handle in middleware
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/middleware/dgcommon.middleware.tsx
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-search/src/App.tsx
Due: common, search

Use default.json for help contents (#939)
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/search/advancedHelpDialogue.tsx
Due: search

Add links to example searches and change text in search box (#939)
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/search/advancedHelpDialogue.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
Due: search

Add and update unit tests (#939)
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/search/__snapshots__/advancedHelpDialogue.component.test.tsx.snap
  packages/datagateway-search/src/search/advancedHelpDialogue.component.test.tsx
  packages/datagateway-search/src/search/advancedHelpDialogue.tsx
Due: search

Add e2e test and improve unit test (#939)
  packages/datagateway-search/cypress/integration/searchBoxContainer.spec.ts
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/search/__snapshots__/advancedHelpDialogue.component.test.tsx.snap
  packages/datagateway-search/src/search/advancedHelpDialogue.component.test.tsx
  packages/datagateway-search/src/search/advancedHelpDialogue.tsx
Due: search

Fix broken visit e2e test by taking out first()
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
Due: none

Fix broken styling in advanced filters (#951)
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Make date errors more specific (#952)
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-search/cypress/integration/searchBoxContainer.spec.ts
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: common, search

dismiss tooltip by pressing escape #950
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
  packages/datagateway-common/src/arrowtooltip.component.tsx
  packages/datagateway-dataview/src/page/__snapshots__/breadcrumbs.component.test.tsx.snap
Due: common

Add missing translation strings in search (#922)
  packages/datagateway-search/public/res/default.json
Due: none

e2e test #950
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: common

Update caniuse-lite to get updated latest browsers list
  yarn.lock
Due: none

e2e test cardview and landing #950 #959
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: common

fixed failing unit test #950 #959
  packages/datagateway-dataview/cypress/integration/landing/isis/investigation.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Modified the roleSelector file to make the roles human readable #930
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
Due: none

refactor hover tooltip on landing pages #950 #959
  packages/datagateway-common/src/index.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: common

added colon back on study landing #950 #959
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

e2e test on landing pages #950 #959
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/dataset.spec.ts
Due: none

added doi e2e on dataset landing #950 #959
  packages/datagateway-dataview/cypress/integration/landing/isis/dataset.spec.ts
Due: none

e2e testing #950 #959
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/table/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: none

updated snapshot #950 #959
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
Due: none

Modified the unit tests #930
  packages/datagateway-dataview/src/views/roleSelector.component.test.tsx
Due: none

added more unit tests #950 #959
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
Due: common
