Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Fix e2e tests that fail when the current date is the 1st
  packages/datagateway-dataview/cypress/e2e/card/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/visits.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myData.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/visits.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/myData.cy.ts
Due: none

add dataPublication interface
  packages/datagateway-common/src/app.types.tsx
Due: common

create dataPublication.tsx api script, currently duplicate of studies api
  packages/datagateway-common/src/api/dataPublication.tsx
Due: common

Improve handling of bad search text & timeouts Provide custom error message for bad search query errors and search timeouts
  packages/datagateway-common/src/api/lucene.test.tsx
  packages/datagateway-common/src/api/lucene.tsx
Due: common

Update help text with new features etc. #1363
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
Due: search

Correct search help section titles #1363
  packages/datagateway-search/public/res/default.json
Due: none

Update search help dialog style & rewrite tests
  packages/datagateway-search/src/search/advancedHelpDialogue.component.test.tsx
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
Due: search

Update doc on faceted search
  packages/datagateway-search/src/facet/doc.ts
Due: search

implement dataPublication.tsx api
  packages/datagateway-common/src/api/dataPublication.tsx
  packages/datagateway-common/src/app.types.tsx
Due: common

add unit tests for dataPublications.tsx
  packages/datagateway-common/src/api/dataPublications.test.tsx
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-common/src/app.types.tsx
Due: common

Fix failing tests
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/newParameterFilterCreator.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilters.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterDateTimeSelector.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterDateTimeSelector.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterFacetList.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterFacetList.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterNumericRange.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterNumericRange.component.tsx
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchTabs/searchTabs.component.test.tsx
Due: common, search

Update more components to use url builders
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/urlBuilders/buildInvestigationUrl.ts
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
Due: common, search

Refactor url builder functions
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-common/src/urlBuilders.test.ts
  packages/datagateway-common/src/urlBuilders.ts
  packages/datagateway-common/src/urlBuilders/buildDatafileUrl.test.ts
  packages/datagateway-common/src/urlBuilders/buildDatafileUrl.ts
  packages/datagateway-common/src/urlBuilders/buildDatasetUrl.test.ts
  packages/datagateway-common/src/urlBuilders/buildDatasetUrl.ts
  packages/datagateway-common/src/urlBuilders/buildInvestigationUrl.test.ts
  packages/datagateway-common/src/urlBuilders/buildInvestigationUrl.ts
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

Update doi redirect to use new relation Doi redirect now uses the new `investigationFacilityCycles` relation to query the facility cycle the investigation belongs to
  packages/datagateway-dataview/src/page/doiRedirect.component.tsx
Due: none

Update doi redirect tests
  packages/datagateway-dataview/src/page/doiRedirect.component.test.tsx
Due: none

Remove useFacilityCyclesByInvestigation
  packages/datagateway-common/src/api/facilityCycles.test.tsx
  packages/datagateway-common/src/api/facilityCycles.tsx
  packages/datagateway-dataview/src/page/doiRedirect.component.test.tsx
Due: common

Update isisMyDataTable tests
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: common

Update snapshot & formatting
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
Due: common

Migrate datasetSearchCardView test to RTL
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
Due: search

Update dataset search card view tests
  packages/datagateway-common/src/detailsPanels/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-search/package.json
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  yarn.lock
Due: common, search

Migrate datasetSearchTable test to RTL
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
Due: search

Update dataset search table tests
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
Due: search

Port RTL migration for investigation search table
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Update investigation search table tests
  packages/datagateway-common/src/detailsPanels/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/investigationDetailsPanel.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search

Fix build failure caused by accidentally importing a TS file from common
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
Due: search

Fix investigationSearchCardView tests
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
Due: search

Remove obsolete test snapshots
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-search/src/card/__snapshots__/datasetSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
Due: search

Remove screen.debug calls
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
Due: search

fix common compile lint issue
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

fix dataPublications api export issue
  packages/datagateway-common/src/api/index.tsx
Due: common

Remove unused code and console.logs
  packages/datagateway-search/cypress/e2e/search/datafileSearch.cy.ts
  packages/datagateway-search/cypress/support/commands.js
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/facet/useFacetFilters.ts
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchTabs/searchTabs.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Fix filters being added twice in certain case
  packages/datagateway-search/src/facet/components/facetPanel/toggleableFilterItem.component.tsx
Due: search

Prevent filters from being shown inside card view
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
Due: search

Rework date format in investigation details panel
  packages/datagateway-common/src/detailsPanels/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/investigationDetailsPanel.component.tsx
Due: common

Initial dataPublications landing page, currently users and linked investigation missing
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
Due: none

Add initial routing for landing page
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
Due: none

Refactor visit details panel date time formatting
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
Due: common

Rollback investigation details panel type change
  packages/datagateway-common/src/detailsPanels/investigationDetailsPanel.component.tsx
Due: common

Bump node version in CI from v14 to v16
  .github/workflows/ci-build.yml
  .github/workflows/release-build.yml
Due: none

Hide filters inside investigation card view
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
Due: search

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
