Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Exclude unit test files from docker build
  .dockerignore
Due: none

Switch to different release action
  .github/workflows/release-build.yml
Due: none

#1152 - Guard against empty arrays for investigationfacilitycycles
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

fix restore bug
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

Fix uppy styling in production & make it respect dark mode Also tidy up unused files/unused css
  packages/datagateway-common/src/index.css
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/preloader/__snapshots__/preloader.component.test.tsx.snap
  packages/datagateway-common/src/preloader/preloader.component.tsx
  packages/datagateway-common/src/views/uploadDialog.component.tsx
  packages/datagateway-dataview/craco.config.js
  packages/datagateway-dataview/src/App.css
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/index.css
  packages/datagateway-download/public/logo192.png
  packages/datagateway-download/public/logo512.png
  packages/datagateway-download/public/manifest.json
  packages/datagateway-download/public/robots.txt
  packages/datagateway-download/src/index.css
  packages/datagateway-search/src/App.css
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/index.css
Due: common, search, download

Add back in accidentally deleted file
  packages/datagateway-download/src/index.css
Due: download

remove hardcoded url for dataset creation
  packages/datagateway-common/src/api/datasets.test.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/views/uploadDialog.component.test.tsx
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

#1532 - improve version panel & landing page
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationVersionPanel.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.tsx
Due: none

change invalidate queries + button variants
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

use mui theme for button colours
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

#1532 - fix unit tests & tidy up some code
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationVersionPanel.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.tsx
Due: common

Fix wrong import & refactor e2e test for my dois table #1533
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadRequestResult.component.tsx
Due: download

Fix missing import Probably broke in merge conflict resolution with sizes & counts refactor
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

workaround for uppy ghost files bug
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

refresh session before upload
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

move refresh function to api
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

check for duplicate files on file-add
  packages/datagateway-common/src/__mocks__/axios.ts
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

#1532 - fix unit tests & refactor DOI api error handling
  packages/datagateway-common/src/__snapshots__/dialogTitle.component.test.tsx.snap
  packages/datagateway-common/src/api/dataPublications.test.tsx
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/dialogTitle.component.test.tsx
  packages/datagateway-common/src/dois/DOIConfirmDialog.component.test.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.test.tsx
  packages/datagateway-common/src/dois/relatedDOIs.component.test.tsx
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadRequestResult.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
Due: common, download

Refactor translation key to match what's in the JSON file
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadRequestResult.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadRequestResult.component.tsx
Due: download

provide session in bearer auth token
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

lowercase a in authorization
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

Pin docker base images to SHA
  Dockerfile
Due: none

Update docker CI job
  .github/workflows/ci-build.yml
Due: none

Bump node image to alpine 3.19
  Dockerfile
Due: none

Bump httpd image to alpine 3.19
  Dockerfile
Due: none

#1533 - update unit tests with landing page changes
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationVersionPanel.component.tsx
Due: none

checkdatafilename tests
  packages/datagateway-common/src/__mocks__/axios.ts
  packages/datagateway-common/src/views/uploadDialog.component.test.tsx
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

add new restricted files
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

use the /commit endpoint
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

check dataset name
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

check for duplicates in upload queue
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

#1532 - add unit tests for doi version editing
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.test.tsx
  packages/datagateway-dataview/src/__mocks__/axios.ts
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
Due: common

change id to url in a call to /commit
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

refactor name checking fns
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

update unit tests
  packages/datagateway-common/src/api/datasets.test.tsx
  packages/datagateway-common/src/views/uploadDialog.component.test.tsx
Due: common

tests for refreshSession and checkNameExists
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/views/uploadDialog.component.test.tsx
Due: common

add lastModified field to call to /commit
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

fix lm for dataset upload
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

fix for duplicate check with ghost files
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

upload pre and post processing
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common
