Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

add thread limits
  package.json
Due: none

Migrate datafileSearchTable test to RTL
  packages/datagateway-common/src/detailsPanels/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
Due: common, search

test download failing test with 1 thread
  package.json
Due: none

set max jobs to 3
  package.json
Due: none

Migrate datasetSearchTable test to RTL
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
Due: search

Adding act call
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Removing waitFor and relying on act call
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Attempting jest fake timers
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Removing act and fake timers
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Removing more waitFors
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Revert "Removing more waitFors"
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Reverting commit
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Bumping another test timeout
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Migrate investigationSearchTable test to RTL
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Migrate advancedHelpDialogue test to RTL
  packages/datagateway-search/src/search/advancedHelpDialogue.component.test.tsx
Due: search

Remove changes to datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.test.tsx
Due: common

Migrate checkBoxes test to RTL
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
Due: search

Add smoke test for datafileSearchTable
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
Due: search

Add smoke test for datasetSearchTable
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
Due: search

Add smoke test for investigationSearchTable
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Add test utils for querying tables
  packages/datagateway-search/src/setupTests.ts
Due: search

Add smoke test for ISIS investigationSearchTable
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Copy test utils to dg-search setupTests Forgot to copy test utils to setupTests.ts in datagateway-search
  packages/datagateway-search/src/setupTests.ts
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Add smoke test for datafileTable
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
Due: none

Add smoke test for datasetTable
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
Due: none

Add smoke test for investigationTable
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
Due: none

Update setupTest
  packages/datagateway-dataview/src/setupTests.ts
Due: none

Add smoke test for isisDatafilesTable
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
Due: none

Add smoke test for isisInvestigationsTable
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
Due: none

Add smoke test for isisFacilityCyclesTable
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
Due: none

Add smoke test for isisInstrumentsTable
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.test.tsx
Due: none

Migrate isisStudiesTable to RTL
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
Due: none

Add smoke test for isisMyDataTable
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: none

Add smoke test for dlsDatafilesTable
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
Due: none

Add smoke test for dlsDatasetsTable
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
Due: none

Add smoke test for dlsMyDataTable
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
Due: none

Add smoke test for dlsProposalsTable
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.test.tsx
Due: none

Add smoke test for dlsVisitsTable
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
Due: none

Migrate datePicker test to RTL
  packages/datagateway-search/src/search/__snapshots__/datePicker.component.test.tsx.snap
  packages/datagateway-search/src/search/datePicker.component.test.tsx
Due: search

Migrate datasetSearchCardView test to RTL
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
Due: search
