Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

unit testings #950 #959
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
Due: common

unit test #950 #959
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
Due: common

unit tests #950 #959
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
Due: common

Initial implementation (#868)
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Removed 'title has' in example search below text box (#922)
  packages/datagateway-search/public/res/default.json
Due: none

Move citation formatter to its own file and use language file (#868)
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Add error message when DOI is invalid/datacite is down (#868)
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
Due: none

Prevent formatter from displaying when there is no DOI (#868)
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

adding spaces #950 #959
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
  packages/datagateway-common/src/arrowtooltip.component.tsx
Due: common

Add unit tests (#868)
  packages/datagateway-dataview/src/views/__snapshots__/citationFormatter.component.test.tsx.snap
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
Due: search

fixing e2e tests #950 #959
  packages/datagateway-common/src/arrowtooltip.component.tsx
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
Due: common

fixing e2e test #950 #959
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/dataset.spec.ts
Due: none

Change unnecessary aria-labels in isisStudyLanding to data-testid (#868)
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
  packages/datagateway-search/src/search/advancedHelpDialogue.component.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
Due: search

fixing e2e tests #950 #959
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
Due: none

fixing e2e test #950 #959
  packages/datagateway-dataview/cypress/integration/landing/isis/investigation.spec.ts
  packages/datagateway-dataview/cypress/integration/table/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
Due: none

updated snapshots #950 #959
  packages/datagateway-dataview/src/page/__snapshots__/breadcrumbs.component.test.tsx.snap
Due: none

Modified the names such that the name title is only shown once under the instrument scientists #940
  packages/datagateway-dataview/src/views/detailsPanels/isis/instrumentDetailsPanel.component.tsx
Due: none

Modified the samples title - only one title should be showed #940
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
Due: none

Modified the publications tab such that only one title is shown #940
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
Due: none

fixing e2e tests #950 #959
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Fix act warnings and add e2e tests (#868)
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/__snapshots__/citationFormatter.component.test.tsx.snap
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Remove description column (#872)
  packages/datagateway-dataview/cypress/integration/table/isis/instruments.spec.ts
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
Due: none

Disable copy citation button until a citation has been presented (#868)
  packages/datagateway-dataview/src/views/__snapshots__/citationFormatter.component.test.tsx.snap
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

changing tests name to lower case #950 #959
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
Due: common

Revert accidental change (#868)
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Display No publications if there are no pubs #982
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
Due: none

Added 's' when there are multiple names/samples/references #940
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/instrumentDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
Due: none

Change top of homepage (#954)
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/images/background-old.jpg
  packages/datagateway-common/src/images/background.jpg
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
Due: common

Add decals to background (#954)
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/images/decal1.svg
  packages/datagateway-common/src/images/green-swirl1.png
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
Due: common

Added unit tests and updated snapshots to cover the new code snippets #940
  packages/datagateway-dataview/src/views/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
Due: none

Add cards and ISIS image (#954)
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/images/decal2.svg
  packages/datagateway-common/src/images/facility.jpg
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
Due: common

Add icons and buttons (#954)
  packages/datagateway-common/src/homePage/homePage.component.tsx
Due: common

Remove old citation heading and format on load (#868)
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/__snapshots__/citationFormatter.component.test.tsx.snap
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Remove old homepage content and add padding (#954)
  packages/datagateway-common/src/homePage/homePage.component.tsx
Due: common

Add decal on ISIS paper (#954)
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/images/green-swirl2.png
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
Due: common

#954 - make buttons on cards align at the bottom
  packages/datagateway-common/src/homePage/homePage.component.tsx
Due: common

Use default.json for strings (#954)
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
Due: common

#835 - add open data warning to study view
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Fix warning in pageContainer tests
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
Due: none

Change decal image based on theme to match colours (#954)
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/images/decal2-dark.svg
  packages/datagateway-common/src/images/decal2-darkhc.svg
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
Due: common

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
