Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

#797 - add role selector tests
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.test.tsx
Due: none

Fix test for ISIS my data table select all bugfix
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: none

doi link in study view (E2E and unit) #857
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

removed debug #857
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
Due: none

unnecessary change, reverted #857
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Fixed the snapshot to pass the unit test
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
Due: download

Change label and banner to orange (#840)
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/views/__snapshots__/selectionAlert.component.test.tsx.snap
  packages/datagateway-common/src/views/selectionAlert.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: common

Force Actions to use Python 3.9 #876
  .github/workflows/ci-build.yml
Due: none

Store search text in URL (#871)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

Use text from URL in textbox (#871)
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Fixed not being able to use textbox (#871)
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Use 'searchText' in URL (#871)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

Only change URL when search submitted (#871)
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

#797 - update language file with role selector strings
  packages/datagateway-dataview/public/res/default.json
Due: none

Removed a debugging line of code
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Load the results when a specific link is used (#871)
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Add checkbox states to URL (#871)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

Fix failed e2e test after merge (#840)
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
  packages/datagateway-search/server/e2e-settings.json
Due: none

Modified snapshot to pass unit test
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
Due: download

Load checkbox state from URL (#871)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

Add start/end date to URL (#871)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

Revert accidental change (#840)
  packages/datagateway-search/server/e2e-settings.json
Due: none

Slight cleanup (#871)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

Added 'you' to the help steps for consistency and better understanding
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/server/e2e-settings.json
Due: none

Fix failed unit tests (#871)
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

#797 - add role selector e2e tests
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
Due: none

Add unit tests (#871)
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

Add unit test (#871)
  packages/datagateway-search/package.json
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
Due: search

All DOI renders as a link #857
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
  packages/datagateway-dataview/src/views/card/__snapshots__/investigationCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInvestigationsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-search/src/card/__snapshots__/investigationSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

Fixed bug preventing user from going back in card view (#871)
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

fixed typo and failling test #857
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
Due: search

Add e2e tests (#871)
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
  packages/datagateway-search/server/e2e-settings.json
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Change 'cart' to 'selections' in new help steps (#858)
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-download/server/e2e-settings.json
Due: none

Fix failed unit test (#871)
  packages/datagateway-common/src/api/index.test.tsx
Due: common

Format date in URL to yyyy-mm-dd (#871)
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: common

Fix unit test (#871)
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
Due: common, search

Added E2E tests #857
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/investigation.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
  packages/datagateway-dataview/cypress/integration/table/investigations.spec.ts
Due: none

Removed count from admin download page (#869)
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Improved unit testings #857
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search

fixed failling unit tests #857
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInvestigationsCardView.component.test.tsx.snap
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
