Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Fix App and actions tests (#51)
  packages/datagateway-table/src/App.test.tsx
  packages/datagateway-table/src/state/actions/actions.test.tsx
Due: table

Highlight, as comments, where internationalisation is required (#51)
  packages/datagateway-table/src/breadcrumbs.component.tsx
Due: table

Fix e2e tests with missing e2e settings (#51)
  packages/datagateway-table/server/e2e-settings.json
Due: none

Add state management into search feature #33
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/search/checkBoxes.tsx
  packages/datagateway-search/src/store.js
Due: search

Add reducers and actions for state management #33
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/search/checkBoxes.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/app.reducer.tsx
  packages/datagateway-search/src/state/reducers/createReducer.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
  packages/datagateway-search/src/store.js
Due: search

#50 - fix css issues + fix or add e2e column resize tests
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-table/cypress/integration/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/datasets.spec.ts
  packages/datagateway-table/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-table/cypress/integration/dls/proposals.spec.ts
  packages/datagateway-table/cypress/integration/dls/visits.spec.ts
  packages/datagateway-table/cypress/integration/investigations.spec.ts
  packages/datagateway-table/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-table/cypress/integration/isis/facilityCycles.spec.ts
  packages/datagateway-table/cypress/integration/isis/investigations.spec.ts
Due: common

#50 - fix table resize with fixed columns unit test
  packages/datagateway-common/src/table/table.component.test.tsx
Due: common

Add stylesheet for chevron breadcrumbs (#51)
  packages/datagateway-table/src/breadcrumbs.component.tsx
  packages/datagateway-table/src/style.module.css
Due: table

#47 - fix e2e tests by waiting for cart to be filled before loading page
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
Due: none

Adds redux handled state to checkboxes component #33
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/search/checkBoxes.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/app.reducer.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
  packages/datagateway-search/src/store.js
Due: search

Added styling to breadcrumbs (without tooltip) (#51)
  packages/datagateway-table/src/breadcrumbs.component.tsx
  packages/datagateway-table/src/style.module.css
Due: table

Added working tooltip styling to chevron breadcrumbs (#51)
  packages/datagateway-table/src/breadcrumbs.component.tsx
  packages/datagateway-table/src/style.module.css
Due: table

Update breadcrumb snapshots for chevron breadcrumbs (#51)
  packages/datagateway-table/src/__snapshots__/breadcrumbs.component.test.tsx.snap
Due: table

Remove debugging console.logs (#51)
  packages/datagateway-table/src/breadcrumbs.component.tsx
  packages/datagateway-table/src/state/actions/index.tsx
Due: table

Moved code from table-entities-#52 branch (#52)
  packages/datagateway-table/cypress/integration/pageHead.spec.ts
  packages/datagateway-table/src/App.tsx
  packages/datagateway-table/src/pageHead.component.test.tsx
  packages/datagateway-table/src/pageHead.component.tsx
Due: table

Make results bold (#52)
  packages/datagateway-table/src/pageHead.component.tsx
Due: table

Fix e2e tests by specifying button clicks (#51)
  package-lock.json
  packages/datagateway-table/cypress/integration/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/datasets.spec.ts
  packages/datagateway-table/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-table/cypress/integration/dls/proposals.spec.ts
  packages/datagateway-table/cypress/integration/dls/visits.spec.ts
  packages/datagateway-table/cypress/integration/investigations.spec.ts
  packages/datagateway-table/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-table/cypress/integration/isis/facilityCycles.spec.ts
  packages/datagateway-table/cypress/integration/isis/instruments.spec.ts
  packages/datagateway-table/cypress/integration/isis/investigations.spec.ts
  packages/datagateway-table/src/breadcrumbs.component.tsx
  packages/datagateway-table/src/breadcrumbsStyle.module.css
Due: table

Update breadcrumbs snapshot (#51)
  packages/datagateway-table/src/__snapshots__/breadcrumbs.component.test.tsx.snap
Due: table

Add pageHead test snapshot (#52)
  packages/datagateway-table/src/__snapshots__/pageHead.component.test.tsx.snap
Due: table

#50 - fix session ID call to ICAT for development
  packages/datagateway-table/src/state/actions/index.tsx
Due: table

#50 - fix typing issues due to case mismatch - temporary fix for #94
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
Due: common

#50 - extract rowCount to variable
  packages/datagateway-common/src/table/table.component.tsx
Due: common

#50 - add loading prop to downloadCartTable
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#50 - update downloadCartTable snapshot with loading prop
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
Due: download

Improve code coverage for dgtable.reducer tests (#51)
  packages/datagateway-table/src/state/reducers/dgtable.reducer.test.tsx
Due: table

Improve code coverage on actions.test and specify button in downloadCart e2e test (#51)
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-table/src/state/actions/actions.test.tsx
Due: table

Improve code coverage on breadcrumbs.component test (#51)
  packages/datagateway-table/src/__snapshots__/breadcrumbs.component.test.tsx.snap
  packages/datagateway-table/src/arrowtooltip.component.tsx
  packages/datagateway-table/src/breadcrumbs.component.test.tsx
Due: table

#87 - update READMEs to refer to yarn instead of npm
  README.md
  packages/datagateway-common/README.md
  packages/datagateway-download/README.md
  packages/datagateway-table/README.md
Due: none

Adjust results padding on pageHead component (#9)
  packages/datagateway-table/src/pageHead.component.tsx
Due: table

Get investigation size information (#9)
  packages/datagateway-table/src/state/actions/actions.types.tsx
  packages/datagateway-table/src/state/actions/investigations.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.tsx
Due: table

Separate search button out and add in redux #33
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/search/checkBoxes.tsx
  packages/datagateway-search/src/search/datePicker.tsx
  packages/datagateway-search/src/search/searchButton.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
Due: search

Update actions and breadcrumbs unit tests (#51)
  packages/datagateway-table/src/breadcrumbs.component.test.tsx
  packages/datagateway-table/src/state/actions/actions.test.tsx
Due: table

Add PageBreadcrumbs to PageHead component (#51)
  packages/datagateway-table/src/pageHead.component.tsx
Due: table

Update pageHead test snapshot (#51)
  packages/datagateway-table/src/__snapshots__/pageHead.component.test.tsx.snap
Due: table

#51 - convert breadcrumb CSS module styling to CSS-in-JS styling & simplify snapshot tests
  packages/datagateway-table/src/__snapshots__/breadcrumbs.component.test.tsx.snap
  packages/datagateway-table/src/breadcrumbs.component.test.tsx
  packages/datagateway-table/src/breadcrumbs.component.tsx
  packages/datagateway-table/src/breadcrumbsStyle.module.css
Due: table

#51 - update pageHead tests to use shallow renderer for snapshot test
  packages/datagateway-table/src/__snapshots__/pageHead.component.test.tsx.snap
  packages/datagateway-table/src/pageHead.component.test.tsx
Due: table

Add fetchDatasetSize to isisDatasetsTable (#9)
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisInvestigationsTable.component.tsx
  packages/datagateway-table/src/state/actions/actions.types.tsx
  packages/datagateway-table/src/state/actions/datasets.tsx
  packages/datagateway-table/src/state/actions/investigations.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.tsx
Due: table

#51 - decrease mouse movement in column resize e2e test
  packages/datagateway-table/cypress/integration/dls/proposals.spec.ts
Due: none

Added cached size to investigationCache and datasetCache (#9)
  packages/datagateway-table/src/state/actions/datasets.tsx
  packages/datagateway-table/src/state/actions/investigations.tsx
  packages/datagateway-table/src/state/app.types.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.tsx
Due: table

Add redux to datepicker feature
  packages/datagateway-search/package-lock.json
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/search/datePicker.tsx
  packages/datagateway-search/src/search/searchButton.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
Due: search

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
