Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Updating snapshots
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/views/__snapshots__/clearFiltersButton.component.test.tsx.snap
  packages/datagateway-common/src/views/__snapshots__/viewButton.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadRequestResult.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchTabs.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchButton.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.component.test.tsx.snap
Due: common, search, download

Updating eslint packages
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Update yarn lock file
  yarn.lock
Due: none

Update card tests for new data
  packages/datagateway-dataview/cypress/e2e/breadcrumbs.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/proposals.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/visits.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/instruments.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/studies.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/pageContainer.cy.ts
Due: none

Fix general tests
  packages/datagateway-dataview/cypress/e2e/breadcrumbs.cy.ts
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
  packages/datagateway-dataview/cypress/e2e/doiRedirect.cy.ts
Due: none

Fixes to card tests
  packages/datagateway-dataview/cypress/e2e/card/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/proposals.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/visits.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
Due: none

temp comment
  packages/datagateway-common/src/api/cart.tsx
Due: common

Card test changes and get bigger screenshots.
  packages/datagateway-dataview/cypress.config.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
  packages/datagateway-dataview/package.json
  packages/datagateway-download/cypress.config.ts
  packages/datagateway-download/cypress/e2e/downloadConfirmation.cy.ts
  packages/datagateway-download/package.json
  packages/datagateway-search/cypress.config.ts
  packages/datagateway-search/package.json
Due: none

Update viewport size
  packages/datagateway-dataview/cypress.config.ts
  packages/datagateway-download/cypress.config.ts
  packages/datagateway-search/cypress.config.ts
Due: none

datafile preview changes
  packages/datagateway-dataview/cypress.config.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
  packages/datagateway-dataview/cypress/e2e/datafilePreview.cy.ts
  packages/datagateway-download/cypress.config.ts
  packages/datagateway-search/cypress.config.ts
Due: none

able to disable child entities, tooltip not working
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-search/public/res/default.json
Due: common

correct tooltip displaying, text incorrect
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.tsx
Due: common

tooltip working, refactored to correct default.json file
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-search/public/res/default.json
Due: none

Fixtures, scrolling, and input waiting.
  packages/datagateway-dataview/cypress.config.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
  packages/datagateway-dataview/cypress/e2e/doiRedirect.cy.ts
  packages/datagateway-dataview/cypress/fixtures/datafile.json
  packages/datagateway-dataview/cypress/fixtures/investigation.json
Due: none

Fix card tests
  packages/datagateway-dataview/cypress/e2e/card/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/proposals.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/visits.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/studies.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/pageContainer.cy.ts
  packages/datagateway-dataview/cypress/e2e/datafilePreview.cy.ts
Due: none

Card filtering and cartselection
  packages/datagateway-dataview/cypress/e2e/card/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/visits.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
Due: none

logic to disable datafile table checkboxes given parent entity implemented
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
Due: none

logic to disable dataset table checkboxes given parent entity implemented
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
Due: none

cleanup comments
  packages/datagateway-common/src/api/cart.tsx
Due: common

ISIS landing page
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/dataset.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/investigation.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/study.cy.ts
Due: none

update snapshots
  packages/datagateway-dataview/src/views/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/datasetTable.component.test.tsx.snap
Due: none

Landing fixes and some tables
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/dataset.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/investigation.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/study.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
Due: none

Fix parent entity check logic to ensure its being checked against correct entity id (either dataset or investigation entity type)
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
Due: none

Fix dg-search tests
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchBoxContainerSide.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
  yarn.lock
Due: search

Fix dls intercept + skip date filter tests
  packages/datagateway-dataview/cypress/e2e/card/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/visits.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/study.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
Due: none

Add snapshot test for parentSelected prop in selectCell.component.test.tsx
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/selectCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.test.tsx
Due: common

Update dls table tests
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/investigation.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/visits.cy.ts
Due: none

Generic table tests
  packages/datagateway-dataview/cypress/e2e/table/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/proposals.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/investigations.cy.ts
Due: none

comment placeholder
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Update lucene hook tests & test snapshots
  packages/datagateway-common/src/api/lucene.test.tsx
  packages/datagateway-common/src/detailsPanels/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
Due: common

Download button added, however download empty
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Revert deleted code in card view
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

use study data
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Update ISIS table tests
  packages/datagateway-dataview/cypress/e2e/landing/isis/dataset.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/study.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/visits.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/instruments.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/studies.cy.ts
Due: none

Update snapshots
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
Due: download

Fix remaininng table issues
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/instruments.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/studies.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/pageContainer.cy.ts
Due: none

Start on downloads/search. try and force date inputs to desktop mode.
  packages/datagateway-dataview/cypress.config.ts
  packages/datagateway-dataview/cypress/e2e/card/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/visits.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-download/cypress.config.ts
  packages/datagateway-download/cypress/e2e/downloadConfirmation.cy.ts
  packages/datagateway-search/cypress.config.ts
  packages/datagateway-search/cypress/e2e/search/datasetSearch.cy.ts
Due: none

Fix date asserts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/studies.cy.ts
Due: none

size prop refactored in investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
Due: none

investigationTable.component.tsx cleanup
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
