Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

#1152 - find icatadmin script by path Would need to re-source .bashrc to pick it up from PATH - this is easier
  .github/workflows/ci-build.yml
Due: none

Debug GA
  .github/workflows/ci-build.yml
Due: none

change buttons back to links
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/suggestedInvestigationsSection.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/suggestedInvestigationsSection.component.tsx
Due: none

#1152 - use ansible branch that supports new server properties
  .github/workflows/ci-build.yml
Due: none

Debug CI
  .github/workflows/ci-build.yml
Due: none

#1152 - refactor investigationSearch e2e tests to use real API
  packages/datagateway-search/cypress/e2e/search/investigationSearch.cy.ts
Due: none

#1152 - fix more e2e tests
  .github/workflows/ci-build.yml
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-search/cypress/e2e/search/datafileSearch.cy.ts
  packages/datagateway-search/cypress/e2e/search/investigationSearch.cy.ts
  packages/datagateway-search/cypress/e2e/searchBoxContainer.cy.ts
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/search/sortSelect.component.test.tsx
  packages/datagateway-search/src/search/sortSelect.component.tsx
  packages/datagateway-search/src/searchBoxContainer.component.test.tsx
Due: common, search

add hover tooltips to sort indicators
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
Due: common

#1152 - update datasetSearch tests and improve datafile & investigation tests
  packages/datagateway-search/cypress/e2e/search/datafileSearch.cy.ts
  packages/datagateway-search/cypress/e2e/search/datasetSearch.cy.ts
  packages/datagateway-search/cypress/e2e/search/investigationSearch.cy.ts
Due: none

Hopefully fixed failing tests
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
Due: common

updated snapshots
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
Due: common, download

fix failing e2e test
  packages/datagateway-dataview/cypress/e2e/card/isis/instruments.cy.ts
Due: none

#1541 - use skipHover to avoid triggering sort tooltips in long tests The tooltips appearing slow the tests down so that they risk timing out
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
Due: download

use skipHover to fix another test #1541
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

#1541 - add delay null to downloadStatusTable userEvent tests keep timing out so this might help?
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
Due: download

update root component to only load App when plugin div is present this prevents the plugin from doing any background loading whilst SG maintenance mode is active
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-search/src/index.tsx
Due: search, download

#1152 - fix saving filter params when switching tabs Made it more efficient by bundling it all together in the current tab change
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchTabs/searchTabs.component.tsx
Due: common, search

#1152 - improve facet count look & don't display facet counts for instruments @ dataset/dataset level
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterDateTimeSelector.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterFacetList.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/toggleableFilterItem.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
Due: search

#1152 - add e2e tests for saved filters & no instrument facet count
  packages/datagateway-search/cypress/e2e/search/datafileSearch.cy.ts
  packages/datagateway-search/cypress/e2e/search/datasetSearch.cy.ts
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
Due: none

#1531 - fix unit tests broken by DOI API changes
  packages/datagateway-download/src/DOIGenerationForm/DOIConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadApiHooks.test.tsx
Due: download

Fix e2e test broken by merge conflict
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
Due: none

#1531 - fix CI by changing topcat to datagateway-download-api
  .github/workflows/ci-build.yml
Due: none

Add initialQueryOffset to admin downloads query key - This fixes infinite scrolling when a sort or filter other than the default is applied
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

Fix CI build
  .github/workflows/ci-build.yml
Due: none

#1531 add related items functionality
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#1531 - extract out users & related dois components & write unit tests for related DOIs
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/creatorsAndContributors.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/creatorsAndContributors.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/relatedDOIs.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/relatedDOIs.component.tsx
Due: download

#1531 - add e2e test for related DOIs
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
  packages/datagateway-download/server/e2e-settings.json
Due: none

#1531 - render related DOIs as links + show title on hover
  packages/datagateway-download/src/DOIGenerationForm/relatedDOIs.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/relatedDOIs.component.tsx
Due: download

#1531 - set minWidths for selects & disable add user buttons when cart users haven't loaded yet
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/creatorsAndContributors.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/relatedDOIs.component.tsx
Due: download

update loader-utils to fix build errors
  yarn.lock
Due: none

#1531 - fix some tests
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
  packages/datagateway-download/src/testData.ts
Due: download

Increase Jest timeouts
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-download/src/setupTests.ts
  packages/datagateway-search/src/setupTests.ts
Due: common, search, download

Update node version on CI and use proper yarn cache
  .github/workflows/ci-build.yml
  .github/workflows/release-build.yml
Due: none

Use icat-ansible master again
  .github/workflows/ci-build.yml
Due: none

Use investigationFacilityCycles instead of old way of calculating facility cycles
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-download/src/downloadCart/urlBuilders/buildInvestigationUrl.test.ts
  packages/datagateway-download/src/downloadCart/urlBuilders/buildInvestigationUrl.ts
  packages/datagateway-download/src/testData.ts
Due: common, download

Fix build and import errors
  packages/datagateway-common/package.json
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: common

fix compiling error
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.tsx
Due: none

Stringify search query params before request
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-dataview/src/page/idCheckFunctions.ts
  packages/datagateway-download/src/downloadApi.ts
Due: common, download

Fix issue with compressing files
  Dockerfile
Due: none

Push Docker image to Harbor on all pushes during PR
  .github/workflows/ci-build.yml
Due: none
