Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Remove support for images in Card/CardView (#128)
  packages/datagateway-dataview/src/views/card/card.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: none

#124 - fix action column header slightly too wide due to misapplied class
  packages/datagateway-common/src/table/table.component.tsx
Due: common

#123 & #124 - update tests
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/table.component.test.tsx
  packages/datagateway-dataview/cypress/integration/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/myData.spec.ts
Due: common

Add sorting support CardView (#128)
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
Due: none

#84 - remove random comments
  packages/datagateway-dataview/src/pageContainer.component.test.tsx
Due: none

#84 - fix facility cycle breadcrumb display name
  packages/datagateway-dataview/public/res/default.json
Due: none

#84 - add missing tab label translation
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
Due: download

Add fileCountMax/totalSizeMax to dg-download settings #328
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/public/datagateway-download-settings.json
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/__mocks__/axios.ts
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Add new settings to e2e-settings.json #328
  packages/datagateway-download/server/e2e-settings.json
Due: none

Update snapshot #328
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
Due: download

Remove old code/comments (#128)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/cart.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/card/card.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/src/downloadApi.ts
Due: common, download

Add state change and debounce for PageSearch (#128)
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/page/pageSearch.component.tsx
Due: common

Fix toggling views with trailing slash in URL (#128)
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-dataview/src/page/pageCard.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageTable.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: common

Remove unnecessary strings loading code #33
  packages/datagateway-search/public/datagateway-search-settings.example.json
  packages/datagateway-search/public/datagateway-search-settings.json
  packages/datagateway-search/server/e2e-settings.json
  packages/datagateway-search/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/actions/index.tsx
Due: search

Allow to pass in custom max results options (#128)
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: none

Remove unnecessary strings loading code from dataview #84
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.test.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
  packages/datagateway-dataview/src/state/strings.test.tsx
  packages/datagateway-dataview/src/state/strings.tsx
Due: none

Add setup code #84
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-search/package.json
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/i18n.ts
  packages/datagateway-search/src/index.tsx
Due: search

Add translations and update tests #84
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/checkBoxes.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/datePicker.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchButton.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.test.tsx.snap
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/searchPageTable.tsx
  packages/datagateway-search/src/table/__snapshots__/datafileSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Remove unused strings #84
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
Due: search

Add ArrowTooltip support for information on Card (#128)
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
  packages/datagateway-dataview/src/views/card/card.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationCardView.component.tsx
Due: none

Fix dataview details panel translations #84
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/table/investigationTable.component.tsx
Due: none

Add image code back into Card/CardView (#128)
  packages/datagateway-dataview/src/views/card/card.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: none

Exclude search settings from repo #33
  packages/datagateway-search/public/datagateway-search-settings.json
Due: none

Address feedback #33
  .gitignore
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchTextBox.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageTable.test.tsx
  packages/datagateway-search/src/searchPageTable.tsx
Due: search

Adjust styling to correct width issues #33
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.tsx
Due: search

Add missing aria-label internationalisation #84
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
  packages/datagateway-search/cypress/integration/searchBoxContainer.spec.ts
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/checkBoxes.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/datePicker.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.test.tsx.snap
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/search/searchTextBox.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.test.tsx
  packages/datagateway-search/src/searchPageTable.tsx
Due: search

Re-order components (#128)
  packages/datagateway-dataview/src/page/pageCard.component.tsx
  packages/datagateway-dataview/src/views/card/advancedFilter.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationCardView.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-dataview/tsconfig.json
Due: none

Add support for displaying icon on table (#341)
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Add icons for InvestigationTable (#341)
  packages/datagateway-dataview/src/table/investigationTable.component.tsx
Due: none

Add icons to all generic tables (#341)
  packages/datagateway-dataview/src/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/table/datasetTable.component.tsx
Due: none

Add icons to all DLS tables (#341)
  packages/datagateway-dataview/src/dls/tables/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/dls/tables/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/dls/tables/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/dls/tables/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/dls/tables/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/table/datasetTable.component.tsx
Due: none

Add icons to all ISIS tables (#341)
  packages/datagateway-dataview/src/dls/tables/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/dls/tables/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/dls/tables/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/isis/tables/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/isis/tables/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/isis/tables/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/isis/tables/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/isis/tables/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/isis/tables/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/table/datasetTable.component.tsx
Due: none

Remove comments (#128)
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: none

Add initial AdvancedFilter test (#128)
  packages/datagateway-dataview/src/page/__snapshots__/breadcrumbs.component.test.tsx.snap
  packages/datagateway-dataview/src/page/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/advancedFilter.component.test.tsx
  packages/datagateway-dataview/src/views/card/advancedFilter.component.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
Due: none

Add initial EntityCard tests (#128)
  packages/datagateway-dataview/src/views/card/advancedFilter.component.test.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/entityCard.component.test.tsx
  packages/datagateway-dataview/src/views/card/entityCard.component.tsx
Due: none

Add icons support to CardView (#128)
  packages/datagateway-dataview/src/page/pageCard.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/entityCard.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
Due: none

Fix pagination not updating latest numPages (#128)
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: none

Fix incorrect check before loading data (#128)
  packages/datagateway-dataview/src/views/card/advancedFilter.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: none

Update datagateway-common snapshots (#341)
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/actionCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/dataCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/expandCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/selectCell.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-dataview/src/__snapshots__/breadcrumbs.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/__snapshots__/investigationTable.component.test.tsx.snap
Due: common

Add icon to dataHeader test props (#341)
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
Due: common
