Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Add element detect in dg-download #129
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Receive broadcasted SendThemeOptions message (#99)
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/index.tsx
Due: common

Inherit theme options in datagateway-download (#99)
  packages/datagateway-common/src/state/middleware/dgcommon.middleware.tsx
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-download/src/App.tsx
Due: common, download

#84 - add i18n to dg-download
  packages/datagateway-download/package.json
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/__mocks__/react-i18next.jsx
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
  packages/datagateway-download/src/i18n.ts
  packages/datagateway-download/src/index.tsx
Due: download

#84 - update e2e tests for i18n changes
  packages/datagateway-dataview/cypress/integration/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/myData.spec.ts
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
Due: none

#84 - fix download confirmation aria-labels
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
Due: none

#84 - fix translation for visit details user panel
  packages/datagateway-dataview/cypress/integration/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/visits.spec.ts
Due: none

Inherit ThemeOptions from SciGateway (#99)
  packages/datagateway-search/src/App.tsx
Due: search

#84 - fix capitalisation of visit id + write more human readable aria-labels
  packages/datagateway-dataview/public/res/default.json
Due: none

#84 - fix spelling mistake
  packages/datagateway-dataview/public/res/default.json
Due: none

#84 - fix visit id casing
  packages/datagateway-dataview/cypress/integration/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/investigations.spec.ts
  packages/datagateway-dataview/public/res/default.json
Due: none

Support more information using detail panels (#128)
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-table/src/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInvestigationCardView.component.tsx
  packages/datagateway-table/src/table/isis/detailsPanels/investigationDetailsPanel.component.tsx
Due: table

Change layout of Card and alter flex containers (#128)
  packages/datagateway-table/src/views/card/card.component.tsx
  packages/datagateway-table/src/views/card/cardView.component.tsx
  packages/datagateway-table/src/views/detailsPanels/isis/datafileDetailsPanel.component.tsx
Due: table

Add condition to fetch downloads after element exists #129
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Move LinearProgress to PageContainer and fix scroll to top (#128)
  packages/datagateway-table/src/page/pageContainer.component.tsx
  packages/datagateway-table/src/views/card/cardView.component.tsx
  packages/datagateway-table/src/views/card/dls/dlsDatasetsCardView.component.tsx
Due: table

Fix toggle cards button not working from DLSProposalsTable (#128)
  packages/datagateway-table/src/views/table/dls/dlsProposalsTable.component.tsx
Due: table

Fix toggle cards for NAME in DLSProposalsTable (#128)
  packages/datagateway-table/src/views/table/dls/dlsProposalsTable.component.tsx
Due: table

Align selected filters and cards list (#128)
  packages/datagateway-table/src/views/card/card.component.tsx
  packages/datagateway-table/src/views/card/cardView.component.tsx
Due: table

Add filters to URL in InvestigationTable and set TextColumnFilter value on load (#128)
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
  packages/datagateway-table/src/views/card/cardView.component.tsx
  packages/datagateway-table/src/views/table/investigationTable.component.tsx
Due: common, table

Add filters query for DateColumnFilter (#128)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-table/src/views/table/investigationTable.component.tsx
Due: common, table

Add filters to URL query in DatasetTable (#128)
  packages/datagateway-table/src/views/table/datasetTable.component.tsx
Due: table

Add filters URL query to DatafileTable (#128)
  packages/datagateway-table/src/views/table/datafileTable.component.tsx
Due: table

Add filter queries to all DLS tables (#128)
  packages/datagateway-table/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-table/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-table/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-table/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-table/src/views/table/dls/dlsVisitsTable.component.tsx
Due: table

Add filter queries to all ISIS tables (#128)
  packages/datagateway-table/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-table/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-table/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-table/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-table/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-table/src/views/table/isis/isisMyDataTable.component.tsx
Due: table

Use FiltersType in all components (#128)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-table/src/views/card/cardView.component.tsx
  packages/datagateway-table/src/views/table/datafileTable.component.tsx
  packages/datagateway-table/src/views/table/datasetTable.component.tsx
  packages/datagateway-table/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-table/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-table/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-table/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-table/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-table/src/views/table/investigationTable.component.tsx
  packages/datagateway-table/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-table/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-table/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-table/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-table/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-table/src/views/table/isis/isisMyDataTable.component.tsx
Due: common, table

Add sort query handling to datagateway-common (#128)
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/views/table/investigationTable.component.tsx
Due: common, table

Add sort to URL queries on generic tables (#128)
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
  packages/datagateway-table/src/views/table/datafileTable.component.tsx
  packages/datagateway-table/src/views/table/datasetTable.component.tsx
  packages/datagateway-table/src/views/table/investigationTable.component.tsx
Due: common, table

Add sort to SavedView (#128)
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
Due: common

Add sort query to DLSProposalsTable (#128)
  packages/datagateway-table/src/views/table/dls/dlsProposalsTable.component.tsx
Due: table

Add sort queries to DLSVisitsTable (#128)
  packages/datagateway-table/src/views/table/dls/dlsVisitsTable.component.tsx
Due: table

Add sort queries to DLSMyDataTable (#128)
  packages/datagateway-table/src/views/table/dls/dlsMyDataTable.component.tsx
Due: table

Add sort queries to DLSDatasetsTable (#128)
  packages/datagateway-table/src/views/table/dls/dlsDatasetsTable.component.tsx
Due: table

Add sort queries to DLSDatafilesTable (#128)
  packages/datagateway-table/src/views/table/dls/dlsDatafilesTable.component.tsx
Due: table

Add sort queries to ISISMyDataTable (#128)
  packages/datagateway-table/src/views/table/isis/isisMyDataTable.component.tsx
Due: table

Add sort queries to ISISInstrumentsTable (#128)
  packages/datagateway-table/src/views/table/isis/isisInstrumentsTable.component.tsx
Due: table

Add sort queries to ISISFacilityCyclesTable (#128)
  packages/datagateway-table/src/views/table/isis/isisFacilityCyclesTable.component.tsx
Due: table

Add sort queries to ISISInvestigationsTable (#128)
  packages/datagateway-table/src/views/table/isis/isisInvestigationsTable.component.tsx
Due: table

Add sort queries to ISISDatasetsTable (#128)
  packages/datagateway-table/src/views/table/isis/isisDatasetsTable.component.tsx
Due: table
