Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Removing unnecessary props being passed to an InvestigationSearchTable
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Testing addition of Java and Python setup before installing ICAT ansible
  .github/workflows/ci-build.yml
Due: none

Update ci-build.yml
  .github/workflows/ci-build.yml
Due: none

Adding steps for prepping playbook and instantiating ICAT
  .github/workflows/ci-build.yml
Due: none

Replacing old 'icat:token' with new 'scigateway:token' #649
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Testing CI with different Python versions #641
  .github/workflows/ci-build.yml
Due: none

Adding universe repo #641
  .github/workflows/ci-build.yml
Due: none

Downgrading ubuntu version to install mariadb packages #641
  .github/workflows/ci-build.yml
Due: none

Setting up datagateway-api, removing matrix for different Python versions, running lint-and-unit-tests first #641
  .github/workflows/ci-build.yml
Due: none

Fixing bug with yml code #641
  .github/workflows/ci-build.yml
Due: none

Removing dependency on lint-and-unit-test for now to speed up jobs, removing failing step to identify error #641
  .github/workflows/ci-build.yml
Due: none

Fixing poetry setup, adding python3 setup step #641
  .github/workflows/ci-build.yml
Due: none

Moving getDataUrl to downloadApi, refactoring to reduce duplication #649
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Fixing failing unit test, adding new unit test #649
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
Due: download

Changing poetry install method to pip #641
  .github/workflows/ci-build.yml
Due: none

Remove poetry configure step #641
  .github/workflows/ci-build.yml
Due: none

Setting up icatdb with dummy data #641
  .github/workflows/ci-build.yml
Due: none

Fixing bug #641
  .github/workflows/ci-build.yml
Due: none

Building ICAT stack and then API (this may have been causing problems) #641
  .github/workflows/ci-build.yml
Due: none

Testing dg download and search e2e with local ICAT and API #641
  .github/workflows/ci-build.yml
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-download/src/__mocks__/axios.ts
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-search/cypress/support/commands.js
  packages/datagateway-search/server/e2e-settings.json
  packages/datagateway-search/server/e2e-test-server.js
  packages/datagateway-search/src/search/searchButton.component.test.tsx
Due: search, download

Configuring log file location #641
  .github/workflows/ci-build.yml
Due: none

Fixing log path #641
  .github/workflows/ci-build.yml
Due: none

Finalising basic homepage component, no testing or snapshots yet #431
  packages/datagateway-common/src/homePage/homePage.component.test.tsx
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/images/Jasmin4 _DSC7054.jpg
  packages/datagateway-common/src/images/datagateway-logo.svg
  packages/datagateway-common/src/images/datgateway-white-text-blue-mark-logo.svg
  packages/datagateway-common/src/images/discover.jpg
  packages/datagateway-common/src/images/download.jpg
  packages/datagateway-common/src/images/explore.jpg
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-common/src/state/strings.tsx
  packages/datagateway-homepage/package.json
  packages/datagateway-homepage/public/index.html
  packages/datagateway-homepage/src/homePage/contents.tsx
  packages/datagateway-homepage/src/homePage/homePage.component.test.tsx
  packages/datagateway-homepage/src/homePage/homePage.component.tsx
  packages/datagateway-homepage/src/images/datagateway-logo-white.svg
  packages/datagateway-homepage/src/theming.tsx
Due: common

Allow for admin routes/ plugins to be registered #613
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
Due: common, download

Create adminDownloadStatusTable component #613
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Implement a router and add route for the Admin Download table #613
  packages/datagateway-download/package.json
  packages/datagateway-download/src/App.tsx
Due: download

Moving homepage back to common, no longer its own package #431
  packages/datagateway-common/package.json
  packages/datagateway-common/src/homePage/contents.tsx
  packages/datagateway-common/src/homePage/homePage.component.test.tsx
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/homePage/theming.tsx
  packages/datagateway-common/src/images/Jasmin4 _DSC7054.jpg
  packages/datagateway-common/src/images/datagateway-logo-white.svg
  packages/datagateway-common/src/images/datagateway-logo.svg
  packages/datagateway-common/src/images/datgateway-white-text-blue-mark-logo.svg
  packages/datagateway-common/src/images/discover.jpg
  packages/datagateway-common/src/images/download.jpg
  packages/datagateway-common/src/images/explore.jpg
  packages/datagateway-common/src/index.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-homepage/.gitignore
  packages/datagateway-homepage/README.md
  packages/datagateway-homepage/craco.config.js
  packages/datagateway-homepage/package.json
  packages/datagateway-homepage/public/favicon.ico
  packages/datagateway-homepage/public/index.html
  packages/datagateway-homepage/public/logo192.png
  packages/datagateway-homepage/public/logo512.png
  packages/datagateway-homepage/public/manifest.json
  packages/datagateway-homepage/public/robots.txt
  packages/datagateway-homepage/src/App.css
  packages/datagateway-homepage/src/App.test.tsx
  packages/datagateway-homepage/src/App.tsx
  packages/datagateway-homepage/src/homePage/contents.tsx
  packages/datagateway-homepage/src/index.css
  packages/datagateway-homepage/src/index.tsx
  packages/datagateway-homepage/src/logo.svg
  packages/datagateway-homepage/src/react-app-env.d.ts
  packages/datagateway-homepage/src/reportWebVitals.ts
  packages/datagateway-homepage/src/setupTests.ts
  packages/datagateway-homepage/src/state/app.types.tsx
  packages/datagateway-homepage/src/state/strings.tsx
  packages/datagateway-homepage/tsconfig.json
  packages/datagateway-homepage/yarn.lock
Due: common

Fix mydata e2e tests #94
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-dataview/cypress/support/index.d.ts
Due: none

Fix e2e test data #94
  packages/datagateway-dataview/cypress/integration/table/isis/instruments.spec.ts
Due: none

Fix failing unit test #94
  packages/datagateway-download/src/downloadApi.test.ts
Due: download

Fix failing download e2e test #94
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
Due: none

Remove include filter from type & facility ID request #94
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: none

Small e2e changes #94
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datafiles.spec.ts
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: none

Change e2e settings back to what they should be #94
  packages/datagateway-dataview/cypress/integration/table/isis/instruments.spec.ts
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-search/server/e2e-settings.json
Due: none

Change PID to pid #94
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/state/actions/studies.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisStudiesCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisStudiesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search

Fix FACILITY_ID and TYPE_ID stuff on tests #94
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-dataview/public/res/default.json
Due: common

Loads the homepage if the current location equals paths.homepage #431
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Fix failing unit test #94
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisStudiesCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisStudiesTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
Due: search

Adding UKRI theming back in, removing unnecessary theme code #431
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/homePage/theming.tsx
  packages/datagateway-dataview/src/App.tsx
Due: common
