Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Add entrypoint script that will set values in setting files
  Dockerfile
  docker/docker-entrypoint.sh
Due: none

Cleanup
  Dockerfile
Due: none

Add Dockerfile to .dockerignore
  .dockerignore
Due: none

fix all dataview tests
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: none

fix all search tests
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Test new generator script on CI
  .github/workflows/ci-build.yml
Due: none

Update pinned version of DataGatway API on GitHub Actions
  .github/workflows/ci-build.yml
Due: none

change rowData to respective entity for consistency
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
Due: common

remove fileCount from datafile interface
  packages/datagateway-common/src/app.types.tsx
Due: common

fix studyinvestigations issues
  package.json
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: common

use publication date
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.tsx
Due: none

fix broken labels
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.tsx
Due: none

remove parent DOI as redundant
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

fix labels
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

fix common tests
  packages/datagateway-common/src/api/dataPublications.test.tsx
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.test.tsx
Due: common

#1445 - Upgrade React to 18 and change render function - also, upgrade other libraries to support react 18 and fix anything that broke immediately
  package.json
  packages/datagateway-common/package.json
  packages/datagateway-common/src/api/cart.test.tsx
  packages/datagateway-common/src/api/datafiles.test.tsx
  packages/datagateway-common/src/api/datasets.test.tsx
  packages/datagateway-common/src/api/facilityCycles.test.tsx
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/instruments.test.tsx
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/lucene.test.tsx
  packages/datagateway-common/src/api/studies.test.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-common/src/hooks/useSticky.test.ts
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/public/index.html
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-dataview/src/utils.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-download/package.json
  packages/datagateway-download/public/index.html
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-search/package.json
  packages/datagateway-search/public/index.html
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/searchTabs.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
  yarn.lock
Due: common, search, download

fix dataview tests
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/idCheckFunctions.test.ts
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: none

dataPublications landing e2e
  packages/datagateway-dataview/cypress/e2e/landing/isis/dataPublication.cy.ts
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
Due: search

dataPublications landing e2e fix
  packages/datagateway-dataview/cypress/e2e/landing/isis/dataPublication.cy.ts
Due: none

fix investigation doi links not displaying
  packages/datagateway-common/src/api/investigations.tsx
Due: common

dp card view e2e
  packages/datagateway-dataview/cypress/e2e/card/isis/dataPublication.cy.ts
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
Due: none

fix id column related failing tests
  packages/datagateway-dataview/cypress/e2e/card/isis/dataPublication.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/dataPublications.cy.ts
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.tsx
Due: none

fix investigation card view e2e
  packages/datagateway-dataview/cypress/e2e/landing/isis/dataPublication.cy.ts
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
Due: none

Upgrade or remove non-react 18 compatible packages
  packages/datagateway-common/package.json
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/state/reducers/app.reducer.tsx
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/state/reducers/app.reducer.tsx
  yarn.lock
Due: common, search

#1445 - Fix details panel sizing to use the most up to date size
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Add suggestions on investigation landing page
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/suggestedInvestigationsSection.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/suggestedInvestigationsSection.component.tsx
Due: common

Update investigation landing page test
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

Fix investigation landing page test
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
Due: none

Hopefully fixes tests
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

Show more suggestions
  packages/datagateway-dataview/src/views/landing/isis/suggestedInvestigationsSection.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/suggestedInvestigationsSection.component.tsx
Due: none

Add test for the new query hook
  packages/datagateway-common/src/api/investigations.test.tsx
Due: common

datagateway download use single query instead of two for both size and count
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/index.tsx
Due: download

remove dev code
  packages/datagateway-download/src/index.tsx
Due: download

fix types
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Fix import error causing pageContainer tests to fail
  packages/datagateway-common/src/api/lucene.tsx
Due: common

Fix act warning in pageContainer test
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
Due: none

Fix warnings in unit tests
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.test.tsx
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.tsx
  packages/datagateway-common/src/views/addToCartButton.component.test.tsx
Due: common
