Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Add more specific assertions in unit tests (#49)
  packages/datagateway-download/src/downloadCart/downloadCartApi.test.ts
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
Due: download

#105 - Actually check URLSearchParams objects contain the same keys&values & fix the bugs the lax tests hid
  packages/datagateway-table/src/state/actions/cart.test.tsx
  packages/datagateway-table/src/state/actions/datafiles.test.tsx
  packages/datagateway-table/src/state/actions/datasets.test.tsx
  packages/datagateway-table/src/state/actions/facilityCycles.test.tsx
  packages/datagateway-table/src/state/actions/instruments.test.tsx
  packages/datagateway-table/src/state/actions/investigations.test.tsx
  packages/datagateway-table/src/state/actions/investigations.tsx
Due: table

Add further specific assertions to downloadConfirmation unit tests (#49)
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/src/downloadCart/downloadCartApi.test.ts
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
Due: download

Remove 'only' from e2e test (#49)
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
Due: none

Remove expect.objectContaining assertions (#49)
  packages/datagateway-download/src/downloadCart/downloadCartApi.test.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
Due: download

#105 - fix URLSeatchParams checking in cart tests
  packages/datagateway-table/src/state/actions/cart.test.tsx
Due: table

Extract out redux from datagateway-table to common
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/setupTests.ts
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/datafiles.test.tsx
  packages/datagateway-common/src/state/actions/datafiles.tsx
  packages/datagateway-common/src/state/actions/datasets.test.tsx
  packages/datagateway-common/src/state/actions/datasets.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/actions/investigations.test.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/middleware/dgcommon.middleware.tsx
  packages/datagateway-common/src/state/reducers/app.reducer.tsx
  packages/datagateway-common/src/state/reducers/createReducer.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.test.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.tsx
Due: common, table

Add in remove action button and isDeleted TopCAT API call (#48)
  packages/datagateway-download/src/downloadStatus/downloadApi.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Add in download button in DownloadStatusTable (#101)
  packages/datagateway-common/src/table/cellRenderers/actionCell.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadApi.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: common, download

Imports fixed, dg-table functional again.
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/cart.test.tsx
  packages/datagateway-common/src/state/actions/cart.tsx
  packages/datagateway-common/src/state/actions/datafiles.test.tsx
  packages/datagateway-common/src/state/actions/datafiles.tsx
  packages/datagateway-common/src/state/actions/datasets.test.tsx
  packages/datagateway-common/src/state/actions/datasets.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/actions/investigations.test.tsx
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/middleware/dgcommon.middleware.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/dls/tables/dlsDatafilesTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsProposalsTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisDatafilesTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisInvestigationsTable.component.tsx
  packages/datagateway-table/src/state/actions/index.tsx
  packages/datagateway-table/src/state/app.types.tsx
  packages/datagateway-table/src/state/reducers/app.reducer.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.test.tsx
  packages/datagateway-table/src/table/datafileTable.component.tsx
  packages/datagateway-table/src/table/datasetTable.component.tsx
  packages/datagateway-table/src/table/investigationTable.component.tsx
  packages/datagateway-table/src/utils.ts
Due: common, table

Add in actionsWidth prop to common table component (#48)
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadApi.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: common, download

Update and rename .codecov.yml to codecov.yml
  .codecov.yml
  codecov.yml
Due: none

Fixes for broken tests in datagateway-common
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/state/actions/cart.test.tsx
  packages/datagateway-common/src/state/actions/datafiles.test.tsx
  packages/datagateway-common/src/state/actions/datasets.test.tsx
  packages/datagateway-common/src/state/actions/facilityCycles.test.tsx
  packages/datagateway-common/src/state/actions/facilityCycles.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/actions/instruments.test.tsx
  packages/datagateway-common/src/state/actions/instruments.tsx
  packages/datagateway-common/src/state/actions/investigations.test.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/breadcrumbs.component.tsx
  packages/datagateway-table/src/dls/tables/dlsDatafilesTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsProposalsTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisDatafilesTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisFacilityCyclesTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisInstrumentsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisInvestigationsTable.component.tsx
  packages/datagateway-table/src/pageHead.component.tsx
  packages/datagateway-table/src/state/actions/index.tsx
  packages/datagateway-table/src/state/app.types.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.tsx
  packages/datagateway-table/src/table/datafileTable.component.tsx
  packages/datagateway-table/src/table/datasetTable.component.tsx
  packages/datagateway-table/src/table/investigationTable.component.tsx
  packages/datagateway-table/tsconfig.json
Due: common, table

Disable "Download Cart" button when cart is empty (Closes #101) (#49)
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Add disabled attribute to download action button and place tooltip (#48)
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Add disableGlobal parameter to createGenerateClassName in packages (#108)
  packages/datagateway-download/src/App.tsx
  packages/datagateway-search/src/App.tsx
  packages/datagateway-table/src/App.tsx
Due: table, search, download

Set disableGlobal false on e2e tests (#108)
  packages/datagateway-download/src/App.tsx
  packages/datagateway-search/src/App.tsx
  packages/datagateway-table/src/App.tsx
Due: table, search, download

Ensure the Mark component is hidden after closing confirmation dialog (#49)
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadConfirmation/mark.component.tsx
Due: download

Update DownloadConfirm test to check setClose call (#49)
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Extended test coverage
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.test.tsx
Due: search

Fixed query parameter typing error
  packages/datagateway-search/src/search/searchButton.component.tsx
Due: search

Merge in master, retrieve icat token from local
  packages/datagateway-search/src/search/searchButton.component.tsx
Due: search

Clear the download cart once download successful (#49)
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Fix errors to App.tsx introduced by master merge
  packages/datagateway-search/src/App.tsx
Due: search

Clear the cart only on a successful download (#49)
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Update DownloadConfirmDialog unit tests (#49)
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
Due: download

Recommitting to avoid travis timeout
  packages/datagateway-search/src/index.tsx
Due: search

Resolves tests in datagateway-common for #86
  packages/datagateway-common/__mocks__/axios.ts
  packages/datagateway-common/package.json
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/setupTests.ts
  packages/datagateway-common/src/state/actions/cart.test.tsx
  packages/datagateway-common/src/state/actions/datafiles.test.tsx
  packages/datagateway-common/src/state/actions/datasets.test.tsx
  packages/datagateway-common/src/state/actions/facilityCycles.test.tsx
  packages/datagateway-common/src/state/actions/instruments.test.tsx
  packages/datagateway-common/src/state/actions/investigations.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
Due: common

Provide link to status table from confirmation dialog (#48)
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadApi.ts
  packages/datagateway-download/src/downloadTab.component.tsx
Due: download

Add in initial last checked information above DownloadStatusTable (#48)
  packages/datagateway-download/src/downloadTab.component.tsx
Due: download

Fixes tests in datagateway-table #86
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-table/src/breadcrumbs.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsDatafilesTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsProposalsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisDatafilesTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisInstrumentsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisInvestigationsTable.component.test.tsx
  packages/datagateway-table/src/pageContainer.component.test.tsx
  packages/datagateway-table/src/pageTable.component.test.tsx
  packages/datagateway-table/src/setupTests.ts
  packages/datagateway-table/src/state/actions/actions.test.tsx
  packages/datagateway-table/src/state/app.types.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.tsx
  packages/datagateway-table/src/state/strings.test.tsx
Due: common, table

Temporarily fix the out of position tab indicator (#48)
  packages/datagateway-download/src/downloadTab.component.tsx
  packages/datagateway-download/src/index.tsx
Due: download

Further test fixes for dg-table #86
  packages/datagateway-table/src/breadcrumbs.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsDatafilesTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsProposalsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisDatafilesTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisInstrumentsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisInvestigationsTable.component.test.tsx
  packages/datagateway-table/src/pageTable.component.test.tsx
  packages/datagateway-table/src/setupTests.ts
  packages/datagateway-table/src/state/actions/actions.test.tsx
  packages/datagateway-table/src/state/app.types.tsx
Due: table

Add in black tooltip template (#48)
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab.component.tsx
  packages/datagateway-download/src/tooltip.component.tsx
Due: download

Save the selected tab in sessionStorage (#48)
  packages/datagateway-download/src/downloadTab.component.tsx
  packages/datagateway-download/src/index.tsx
Due: download

Re-populate DownloadStatusTable upon clicking the refresh button (#48)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab.component.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-search/src/index.tsx
Due: common, search, download

Breadcrumb tests fixed for #86
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-common/src/state/actions/datafiles.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-table/src/breadcrumbs.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsDatafilesTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsDatafilesTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsProposalsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsProposalsTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisDatafilesTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisDatafilesTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisFacilityCyclesTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisInstrumentsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisInstrumentsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisInvestigationsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisInvestigationsTable.component.tsx
  packages/datagateway-table/src/pageContainer.component.test.tsx
  packages/datagateway-table/src/state/actions/actions.test.tsx
  packages/datagateway-table/src/state/actions/index.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.test.tsx
  packages/datagateway-table/src/table/datafileTable.component.test.tsx
  packages/datagateway-table/src/table/datafileTable.component.tsx
  packages/datagateway-table/src/table/datasetTable.component.test.tsx
  packages/datagateway-table/src/table/datasetTable.component.tsx
  packages/datagateway-table/src/table/investigationTable.component.test.tsx
  packages/datagateway-table/src/table/investigationTable.component.tsx
  packages/datagateway-table/src/utils.ts
Due: common, table

Removed commented out code, made linter edits #86
  packages/datagateway-common/package.json
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-common/src/state/actions/datafiles.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/app.reducer.tsx
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/state/reducers/app.reducer.tsx
  packages/datagateway-table/src/dls/tables/dlsDatafilesTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisDatafilesTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.tsx
  packages/datagateway-table/src/pageContainer.component.test.tsx
  packages/datagateway-table/src/state/actions/actions.test.tsx
  packages/datagateway-table/src/state/actions/index.tsx
  packages/datagateway-table/src/state/app.types.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.test.tsx
  packages/datagateway-table/src/table/datafileTable.component.test.tsx
  packages/datagateway-table/src/table/datasetTable.component.test.tsx
  packages/datagateway-table/src/table/investigationTable.component.test.tsx
Due: common, table, search

Fixes to mocking for dg-download tests #86
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/state/actions/datafiles.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-download/__mocks__/axios.ts
  packages/datagateway-table/src/state/actions/index.tsx
Due: common, table

Fix failing dg-table test #86
  packages/datagateway-table/src/state/actions/actions.test.tsx
Due: table

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
