Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

changed date formatting in tests to be more consistent #1562
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
Due: common, search, download

Code refactoring accordin to PR comments #1562
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: common, search

Removed CustomClearButton #1562
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-search/src/search/__snapshots__/datePicker.component.test.tsx.snap
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: common, search

Pin DG API to latest version on CI
  .github/workflows/ci-build.yml
Due: none

Adjusted e2e dataview tests for new views #1562
  packages/datagateway-dataview/cypress/e2e/card/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datasets.cy.ts
Due: none

Improved code coverage #1541
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
Due: common, download

#1531 - fix mint API interfacing by accounting for new params/new response type
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/DOIGenerationForm/DOIConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

Adjusted + added e2e tests for multiple column sorting #1541
  packages/datagateway-dataview/cypress/e2e/card/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/dataPublications.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/instruments.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myData.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/dataPublications.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/instruments.cy.ts
  packages/datagateway-download/cypress/e2e/adminDownloadStatus.cy.ts
  packages/datagateway-download/cypress/e2e/downloadCart.cy.ts
  packages/datagateway-download/cypress/e2e/downloadStatus.cy.ts
Due: none

fix e2e test for adminDownloadDtatus #1541
  packages/datagateway-download/cypress/e2e/adminDownloadStatus.cy.ts
Due: none

#1152 - fix cypress warnings in new e2e tests
  packages/datagateway-search/cypress/e2e/search/datafileSearch.cy.ts
  packages/datagateway-search/cypress/e2e/search/datasetSearch.cy.ts
Due: none

Updated suggested investigations to use v2 ML API
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/src/views/landing/isis/suggestedInvestigationsSection.component.tsx
Due: common

Adjusted unit tests to use new data format from v2
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/suggestedInvestigationsSection.component.test.tsx
Due: common

clean up the code/comments
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/suggestedInvestigationsSection.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/suggestedInvestigationsSection.component.tsx
Due: common

Reduce code repetition
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
Due: common

Double request bug fix in tables
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: common

better solution?
  packages/datagateway-common/src/api/instruments.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
Due: common

useInfinite hooks don't make requests if not mounted
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/facilityCycles.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: common

fix double requests in card view
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/facilityCycles.tsx
  packages/datagateway-common/src/api/instruments.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
Due: common

Revert "Double request bug fix in tables"
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: common

stop caching the initial empty requests
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/facilityCycles.tsx
  packages/datagateway-common/src/api/instruments.tsx
  packages/datagateway-common/src/api/investigations.tsx
Due: common

fix test expecting dbl request
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
Due: none

Disable fetch queries if component isn't mounted
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/facilityCycles.tsx
  packages/datagateway-common/src/api/instruments.tsx
  packages/datagateway-common/src/api/investigations.tsx
Due: common

code clean up + comments
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: none

Update tests to check for double requests
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: none

change username in dataview index
  packages/datagateway-dataview/src/index.tsx
Due: none

isisInvestigationLanding unit test fix
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

Fix tests broken by the default sort duplicate request fix
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datasets.spec.ts
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
Due: search

Fix datafileSearch investigationfacilitycycle and new facet requests #1152
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Update version numbers & changelog for v1.1.2
  CHANGELOG.md
  lerna.json
  package.json
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: none

add chips to show suggestion score
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-dataview/src/views/landing/isis/suggestedInvestigationsSection.component.tsx
Due: common

fix failing unit tests
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/suggestedInvestigationsSection.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/suggestedInvestigationsSection.component.tsx
Due: none

#1152 - fix handling of string ID from lucene this fixes the ability to select/deselect items
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
  packages/datagateway-search/src/testData.ts
Due: common, search

Revert "#1152 - fix handling of string ID from lucene"
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
  packages/datagateway-search/src/testData.ts
Due: common, search

#1152 - allow for facet counts to be undefined so we can choose not to display facet counts - currently only added the instrument fix to DatafileSearchTable
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/newParameterFilterCreator.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFacetsFromSearchResponse.ts
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilterTypes.ts
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterDateTimeSelector.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterFacetList.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/toggleableFilterItem.component.tsx
  packages/datagateway-search/src/facet/facet.ts
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
Due: common, search

#1152 - fix unit tests & update datafileSearch to be a proper e2e test Won't run on CI yet Also, fixed a few minor bugs I found
  packages/datagateway-search/cypress/e2e/search/datafileSearch.cy.ts
  packages/datagateway-search/cypress/fixtures/datafileSearchResults.json
  packages/datagateway-search/cypress/fixtures/datasetSearchResults.json
  packages/datagateway-search/cypress/fixtures/downloadCartItems.json
  packages/datagateway-search/cypress/fixtures/filteredDatafileSearchResults.json
  packages/datagateway-search/cypress/fixtures/filteredDatasetSearchResults.json
  packages/datagateway-search/cypress/fixtures/filteredInvestigationSearchResults.json
  packages/datagateway-search/cypress/fixtures/investigationSearchResults.json
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/newParameterFilterCreator.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterDateTimeSelector.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

#1152 - update CI to run on new snapshot versions & add correct permissions stuff to ICAT
  .github/add_icat_rules.py
  .github/workflows/ci-build.yml
Due: none

#1152 - fix broken lucene api test
  packages/datagateway-common/src/api/lucene.test.tsx
  packages/datagateway-common/src/api/lucene.tsx
Due: common

#1152 - fix capitalisation in public steps script
  .github/add_icat_rules.py
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
