Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Unskipping two more tests #782
  packages/datagateway-dataview/cypress/integration/table/isis/facilityCycles.spec.ts
Due: none

Added app.error default value to res/default.json in datagateway-dataview
  packages/datagateway-dataview/public/res/default.json
Due: none

Modified the default value of app.error to match with the value from datagateway-search
  packages/datagateway-dataview/public/res/default.json
Due: none

Adding e2e test, attempting to fix buggy test #782
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
Due: none

Amending downloadCart test, adding skip back to date between test #782
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
Due: none

fixed the unknown response when the data count is 0
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.test.tsx
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
Due: common

Adding missing query field in mocked query function #804
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Improving visibility of text on download confirm dialogue box #770
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Removing "tab" and "tabs" from aria labels #799
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-download/public/res/default.json
  packages/datagateway-search/public/res/default.json
Due: none

Fixing e2e tests #799
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
Due: none

Adding download button for ISIS investigations #802
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/downloadButton.component.test.tsx
  packages/datagateway-dataview/src/views/downloadButton.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
Due: common

Fixed the delay between include and edit blank
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
Due: common

Improving aria label for filter type menu #772
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
Due: common

Modified the pageContainer component so the screen reader only reads button once #772
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Fixing duplicate "pagination navigation navigation" aria label #772
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Changing sort by labels to upper case so they are all read aloud properly #772
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Adding aria label for date picker button #772
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
Due: common

Fix e2e test skipped due to TopCAT download data inconsistency #782
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
Due: none

Adding aria label for include/exclude selector button #772
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
Due: common

Changed the way the date filters are read #772
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Removed an unwanted placeholder
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
Due: common

minor change removed the repetition of button with the screen reader
  packages/datagateway-dataview/cypress/integration/card/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
Due: none

Unskipping more tests #782
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/studies.spec.ts
Due: none

Fixing ISIS investigations table e2e test to account for download button #802
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
Due: none

Fixing page container aria labels again #772
  packages/datagateway-dataview/src/page/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Visibility change for the datepicker to ensure the user knows what to enter.
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
Due: common

Modified max results to improve accessibility #772
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Fix translation issue on max results (#772)
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Prevent full focus on table data (#772)
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Fixing screen reader output from selecting column headers #772
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
Due: common

Correct order of refresh elements (#801)
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
Due: download

Added styles to the datepicker so the label doesn't have wordwrap #772
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
Due: common

Fix duplicate access methods on screen reader (closes #800) (#772)
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Convert access method selection to native select (#800) (#772)
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Update snapshots (#800)
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
Due: download

Correct datagateway-search button aria-label (#800)
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-search/public/res/default.json
Due: common, download

Fix InvestigationTable filter tests (#772)
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
Due: none

Fix DatasetTable filter tests (#772)
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
Due: none

Fix DatafileTable filter tests (#772)
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
Due: none

Fix DLS table unit tests (#772)
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
