Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Address PR comments
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/dois/DOIConfirmDialog.component.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.tsx
  packages/datagateway-common/src/dois/relatedDOIs.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsBranding.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
Due: common, download

Add DataCite metadata confirmation page
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/dois/DOIMetadataConfirmation.component.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.test.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.tsx
  packages/datagateway-common/src/main.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
Due: common, download

Add unit tests for metadata confirmation page & fix existing tests
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-common/src/dois/DOIMetadataConfirmation.component.test.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
Due: common, download

Update unit tests for disable anon functionality & related changes
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-common/src/table/table.component.test.tsx
  packages/datagateway-common/src/views/addToCartButton.component.test.tsx
  packages/datagateway-common/src/views/downloadButton.component.test.tsx
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-search/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search

Bump vite version to address security alert
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Disable datafile previews if disableAnonDownload enabled
  packages/datagateway-dataview/src/views/datafilePreview/previewDatafileButton.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewDatafileButton.component.tsx
Due: none

Fix unit tests
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewDatafileButton.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/state/reducer.test.ts
Due: common

Update DOI generation to use updated draft/publish workflow & use DataCite metadata from draft endpoint
  packages/datagateway-common/package.json
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/dois/DOIConfirmDialog.component.tsx
  packages/datagateway-common/src/dois/DOIMetadataConfirmation.component.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.tsx
  packages/datagateway-common/src/dois/relatedDOIs.component.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/main.tsx
  packages/datagateway-search/package.json
  yarn.lock
Due: common, download

Update edit workflow to use updated draft versioning endpoints
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/dois/relatedDOIs.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/main.tsx
Due: common, download

Add UI for non-DOI related identifiers - still need to do the API changes once they're done
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.test.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/relatedDOIs.component.tsx
  packages/datagateway-common/src/dois/relatedIdentifiers.component.test.tsx
  packages/datagateway-common/src/dois/relatedIdentifiers.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-download/public/res/default.json
Due: common

Add more specific redirect for datafiles - use a filter to filter the datafile table to only show the specific datafile in question
  packages/datagateway-common/src/urlBuilders.test.ts
  packages/datagateway-common/src/urlBuilders.ts
  packages/datagateway-dataview/src/page/redirect.component.test.tsx
  packages/datagateway-dataview/src/page/redirect.component.tsx
Due: common

Get it working with API, disallow Part relations from being selected & add related identifiers to landing page
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/dois/relatedIdentifiers.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationRelatedIdentifiersPanel.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationVersionPanel.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
Due: common

Adjust unit tests for non-doi related identifiers work
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.test.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/relatedIdentifiers.component.test.tsx
  packages/datagateway-common/src/dois/relatedIdentifiers.component.tsx
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.test.tsx
Due: common

Add e2e testing for non-DOI related identifiers
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
Due: download

Add/adjust unit tests for new draft/publish workflow for the metadata confirmation page
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/dois/DOIConfirmDialog.component.test.tsx
  packages/datagateway-common/src/dois/DOIMetadataConfirmation.component.test.tsx
  packages/datagateway-common/src/dois/DOIMetadataConfirmation.component.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.test.tsx
  packages/datagateway-common/src/dois/__snapshots__/DOIMetadataConfirmation.component.test.tsx.snap
  packages/datagateway-common/src/dois/creatorsAndContributors.component.test.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.tsx
  packages/datagateway-common/src/dois/relatedDOIs.component.test.tsx
  packages/datagateway-common/src/dois/relatedDOIs.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationDataEditor.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/downloadApiHooks.test.tsx
Due: common, download

Update snapshots & fix Select selectors & a11y changes due to MUI upgrade
  packages/datagateway-common/src/card/__snapshots__/cardView.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/instrumentDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-common/src/downloadConfirmation/__snapshots__/downloadRequestResult.component.test.tsx.snap
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadRequestResult.component.tsx
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/selectCell.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/__snapshots__/textColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-common/src/views/__snapshots__/clearFiltersButton.component.test.tsx.snap
  packages/datagateway-common/src/views/__snapshots__/viewCartButton.component.test.tsx.snap
  packages/datagateway-dataview/src/page/__snapshots__/withIdCheck.test.tsx.snap
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/newParameterFilterCreator.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilters.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterDateTimeSelector.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterFacetList.component.test.tsx
  packages/datagateway-search/src/search/__snapshots__/searchButton.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.component.test.tsx.snap
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/sortSelect.component.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.test.tsx
Due: common, search, download

Add e2e tests for metadata confirmation page
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationDataEditor.component.tsx
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
Due: none

Fix e2e tests broken by MUI Select a11y changes
  packages/datagateway-download/cypress/e2e/adminDownloadStatus.cy.ts
  packages/datagateway-download/cypress/e2e/downloadCart.cy.ts
  packages/datagateway-download/cypress/e2e/downloadStatus.cy.ts
  packages/datagateway-search/cypress/e2e/search/datafileSearch.cy.ts
  packages/datagateway-search/cypress/e2e/search/datasetSearch.cy.ts
  packages/datagateway-search/cypress/e2e/search/investigationSearch.cy.ts
Due: none

Use main tag for mint api on CI
  .github/workflows/ci-build.yml
Due: none

Fix linting error
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
Due: download

Fix icat mint api config
  .github/config.env
Due: none

Fix broken api response accesses in myDois e2e tests
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
Due: none

Fix myDois test broken by slower mint requests - also fix flaky test
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
  packages/datagateway-dataview/cypress/support/commands.js
Due: none

Refactor to fetch access methods/download types from the backend - this applies both to the settings and the status requests
  packages/datagateway-common/src/api/cart.test.ts
  packages/datagateway-common/src/api/cart.ts
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-common/src/views/queueVisitButton.component.test.tsx
  packages/datagateway-common/src/views/queueVisitButton.component.tsx
  packages/datagateway-dataview/src/settings.ts
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/main.test.tsx
  packages/datagateway-download/src/main.tsx
  packages/datagateway-download/src/testData.ts
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/settings.ts
  packages/datagateway-search/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/state/actions/index.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search, download

Add/update e2e tests to account for dg-dl-api 3.2.0 changes
  .github/workflows/ci-build.yml
  packages/datagateway-dataview/cypress/e2e/table/dls/visits.cy.ts
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-download/cypress/e2e/adminDownloadStatus.cy.ts
  packages/datagateway-download/cypress/e2e/downloadCart.cy.ts
  packages/datagateway-download/cypress/e2e/downloadConfirmation.cy.ts
  packages/datagateway-download/server/e2e-settings.json
Due: none

Pass idsUrl to DownloadProgressIndicator in tests
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.test.tsx
Due: download

Fix errors in files which include queue visit button but weren't providing a mock for the download status endpoint
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
Due: none

Attempt to fix adminDownloadStatus e2e test on CI
  packages/datagateway-download/cypress/e2e/adminDownloadStatus.cy.ts
Due: none

Fix sort test in adminDownloadStatus - new dgw-dl-api version no longer lets us set the PREPARING status properly, so change the test to account for this
  packages/datagateway-download/cypress/e2e/adminDownloadStatus.cy.ts
Due: none

Change any leftover references to relatedDOI to relatedIdentifier
  packages/datagateway-common/src/dois/DOIMetadataConfirmation.component.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/__snapshots__/DOIMetadataConfirmation.component.test.tsx.snap
  packages/datagateway-common/src/dois/relatedIdentifiers.component.tsx
Due: common

Fix typo in translation label
  packages/datagateway-common/src/dois/DOIMetadataConfirmation.component.tsx
  packages/datagateway-common/src/dois/__snapshots__/DOIMetadataConfirmation.component.test.tsx.snap
Due: common

Increase timeout of test that ran long on CI
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
Due: none

Add queue data collection button to DLS DOI landing pages
  packages/datagateway-common/src/api/cart.ts
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-common/src/main.tsx
  packages/datagateway-common/src/views/queueButtons.component.test.tsx
  packages/datagateway-common/src/views/queueButtons.component.tsx
  packages/datagateway-common/src/views/queueVisitButton.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/main.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-search/public/res/default.json
Due: common, download

#1815 - move queue visit button to top of details panel
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
Due: common

Improve default file name substitutions
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-dataview/public/res/default.json
Due: common

Add unit tests for queue data collection button
  packages/datagateway-common/src/api/cart.test.ts
  packages/datagateway-common/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-common/src/views/queueButtons.component.test.tsx
  packages/datagateway-common/src/views/queueButtons.component.tsx
  packages/datagateway-dataview/src/main.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
Due: common

Add e2e test for downloading a data publication
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
  packages/datagateway-dataview/public/res/default.json
Due: none

Fix unit test error and use 3.2.0 datagateway-download-api branch in e2e tests
  .github/workflows/ci-build.yml
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
