Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Migrate investigationSearchCardView test to RTL Also removed screen.debug call in datasetSearchCardView test
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
Due: search

Improve dgThemeProvider tests
  packages/datagateway-common/src/dgThemeProvider.component.test.tsx
Due: common

Migrate sticky test to RTL
  packages/datagateway-common/src/hooks/useSticky.test.ts
  packages/datagateway-common/src/hooks/useSticky.ts
  packages/datagateway-common/src/sticky.component.test.tsx
  packages/datagateway-common/src/sticky.component.tsx
Due: common

Migrate dg-dataview App test to RTL
  packages/datagateway-dataview/src/App.test.tsx
Due: none

Remove inaccurate comment
  packages/datagateway-dataview/src/App.test.tsx
Due: none

Migrate doiRedirect test to RTL
  packages/datagateway-dataview/src/page/doiRedirect.component.test.tsx
Due: none

Migrate translatedHomePage test to RTL
  packages/datagateway-dataview/src/page/__snapshots__/translatedHomePage.component.test.tsx.snap
  packages/datagateway-dataview/src/page/translatedHomePage.component.test.tsx
Due: none

Migrate cellContentRenderers test to RTL
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.test.tsx
Due: common

update mask property, seconds displaying in UI
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
Due: common

changes: -update updateFilter function, format with seconds. -seconds now passing through to query
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: common, download

add views prop to fix UI picker
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
Due: common

fix dateColumnFilter.component.test.tsx unit tests
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
Due: common

fix downloadStatusTable.component.test.tsx unit tests
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
Due: download

fix adminDownloadStatusTable.component.test.tsx unit tests
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

fix downloadStatus e2e
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

remove TODO
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

implement initial fix
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Adding fix to prevent template literal type error
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
Due: none

Attempting to fix flaky tests again
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Fixing child component prop types
  packages/datagateway-dataview/src/page/withIdCheck.tsx
Due: none

Adding further type checks
  packages/datagateway-common/src/views/selectionAlert.component.tsx
Due: common

Adding further type checks
  packages/datagateway-dataview/src/views/datafilePreview/previewDatafileButton.component.tsx
Due: none

Adding yet another type check
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/rightAlignedControls.tsx
Due: none

Remove datagateway-search-settings.json.DEV
  packages/datagateway-search/public/datagateway-search-settings.json.DEV
Due: none

Remove datagateway-search-settings.json.TESTING
  packages/datagateway-search/public/datagateway-search-settings.json.TESTING
Due: none

Port search changes to searchBoxContainerSide
  packages/datagateway-search/src/searchBoxContainerSide.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Update searchBoxContainer test
  packages/datagateway-search/src/searchBoxContainer.component.test.tsx
Due: search

Export CVCustomFilters from cardView
  packages/datagateway-common/src/index.tsx
Due: common

Remove unused code in datasetSearchCardView
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
Due: search

Add tests for myDataCheckbox
  packages/datagateway-search/src/search/myDataCheckbox.component.test.tsx
Due: search

Add tests for sortSelect
  packages/datagateway-search/src/search/sortSelect.component.test.tsx
Due: search

Add tests for loadMinNumResults action
  packages/datagateway-search/src/state/actions/actions.test.tsx
Due: search

Add test for handling minNumResult action - Update dgsearch reducer to handle loadMinNumResults action - Update dgsearch reducer tests to test the reducer with loadMinNumResults action. Update
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.test.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
Due: search

Add table cellRenderers tests
  packages/datagateway-search/src/table/cellRenderers.test.tsx
Due: search

Remove console logs and update comments
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
Due: search

Tidy up comments
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Remove console logs in searchPageCardView
  packages/datagateway-search/src/searchPageCardView.component.tsx
Due: search

Pin dg-search dependencies
  packages/datagateway-search/package.json
Due: none

Fix lockfile conflict
  yarn.lock
Due: none

Add fallback ArrowTooltip title
  packages/datagateway-search/src/search/myDataCheckBox.component.tsx
  packages/datagateway-search/src/searchBoxContainerSide.component.tsx
Due: search
