Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

fix unit tests
  packages/datagateway-common/src/table/columnFilters/__snapshots__/textColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/table.component.test.tsx
Due: common

Removing invalid comma
  renovate.json
Due: none

Migrate dateColumnFilter test to RTL
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
Due: common

Migrate dataCell test to RTL
  packages/datagateway-common/src/table/cellRenderers/dataCell.component.test.tsx
Due: common

Add specific check for InputLabel in table.component.test.tsx
  packages/datagateway-common/src/table/table.component.test.tsx
Due: common

fix all snapshots
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
Due: download

Migrate Table test to RTL
  packages/datagateway-common/src/table/table.component.test.tsx
Due: common

Migrate dataHeader test to RTL
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
Due: common

Migrate selectHeader test to RTL
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.test.tsx
Due: common

Updating yarn.lock to remove unnecessary package
  yarn.lock
Due: none

Migrate textColumnFilter test to RTL
  packages/datagateway-common/src/table/columnFilters/__snapshots__/textColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.test.tsx
Due: common

Migrate selectCell test to RTL
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/selectCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.test.tsx
Due: common

Migrate detailsPanelRow test to RTL
  packages/datagateway-common/src/table/rowRenderers/__snapshots__/detailsPanelRow.component.test.tsx.snap
  packages/datagateway-common/src/table/rowRenderers/detailsPanelRow.component.test.tsx
Due: common

Migrate preloader test to RTL
  packages/datagateway-common/src/preloader/__snapshots__/preloader.component.test.tsx.snap
  packages/datagateway-common/src/preloader/preloader.component.test.tsx
Due: common

Migrate homePage test to RTL
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/homePage/homePage.component.test.tsx
Due: common

Migrate datafileDetailsPanel test to RTL
  packages/datagateway-common/src/detailsPanels/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/datafileDetailsPanel.component.test.tsx
Due: common

Migrate datasetDetailsPanel test to RTL
  packages/datagateway-common/src/detailsPanels/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/datasetDetailsPanel.component.test.tsx
Due: common

Migrate investigationDetailsPanel test to RTL
  packages/datagateway-common/src/detailsPanels/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/investigationDetailsPanel.component.test.tsx
Due: common

Migrate dls datafileDetailsPanel test to RTL
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/datafileDetailsPanel.component.test.tsx
Due: common

Migrate advancedFilter test to RTL
  packages/datagateway-common/src/card/advancedFilter.component.test.tsx
Due: common

-Use correct endpoint for datagateway-api -Update post payload to reflect new api
  packages/datagateway-dataview/src/index.tsx
Due: none

Change unavailable download progress to unknown Change the status label of unavailable download progress to unknown
  packages/datagateway-download/public/res/default.json
Due: none

Migrate cardView test to RTL
  packages/datagateway-common/src/card/__snapshots__/cardView.component.test.tsx.snap
  packages/datagateway-common/src/card/cardView.component.test.tsx
Due: common

Migrate entityCard test to RTL
  packages/datagateway-common/src/card/__snapshots__/entityCard.component.test.tsx.snap
  packages/datagateway-common/src/card/entityCard.component.test.tsx
Due: common

Migrate citationFormatter test to RTL
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
Due: none

Migrate roleSelector test to RTL
  packages/datagateway-dataview/src/views/roleSelector.component.test.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
Due: none

Migrate generic datafileTable test to RTL
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
Due: none

Migrate generic datasetTable test to RTL
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
Due: none

Use investigationFacilityCycle relation for query Use investigationFacilityCycle relation for querying ISIS investigations through apiUrl/investigations
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/investigations.tsx
Due: common

Migrate isisDatasetLanding test to RTL
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
Due: none

-Remove redundant extra authorization request -Refactor sessionId to sessionID as required by new endpoint
  packages/datagateway-dataview/src/index.tsx
Due: none

Migrate isisInvestigationLanding test to RTL
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
Due: none

Migrate isisStudyLanding test to RTL
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
Due: none

Refactor datagateway-search auth code block
  packages/datagateway-search/src/index.tsx
Due: search

correct username
  packages/datagateway-search/src/index.tsx
Due: search

Migrate datasetCardView test to RTL
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
Due: none

begin migrating commands: -add yarn workspace plugin -migrate build command
  .yarnrc.yml
  package.json
Due: none

added seconds functionality
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
Due: common

Migrate investigationCardView test to RTL
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
Due: none

replace second development env check
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-search/src/index.tsx
Due: search

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
