Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Tests for download type status caching #1519
  packages/datagateway-download/src/downloadApiHooks.test.tsx
Due: download

Fix bug where formatted columns couldn't be sorted in adminDownloadStatusTable
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Fix multi-column filtering bug in downloadStatusTable - multiple filters didn't work, it only ever checked the first filter
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Improve download e2e tests - Add tests for bugs I found - Fix linting errors - Improve test efficiency - Lint cypress code in CI
  packages/datagateway-download/cypress/e2e/adminDownloadStatus.cy.ts
  packages/datagateway-download/cypress/e2e/downloadCart.cy.ts
  packages/datagateway-download/cypress/e2e/downloadConfirmation.cy.ts
  packages/datagateway-download/cypress/e2e/downloadStatus.cy.ts
  packages/datagateway-download/cypress/e2e/downloadTab.cy.ts
  packages/datagateway-download/package.json
Due: none

Debug failing cypress test on CI
  packages/datagateway-dataview/cypress/e2e/table/isis/dataPublications.cy.ts
Due: none

Fix download e2e test that only passed when progress bars were enabled
  packages/datagateway-download/cypress/e2e/downloadStatus.cy.ts
  packages/datagateway-download/cypress/tsconfig.json
Due: none

Fix dataPublications table test broken due to date differences on CI and SG preprod
  packages/datagateway-dataview/cypress/e2e/table/isis/dataPublications.cy.ts
Due: none

Fix CI detection in dataview e2e tests
  packages/datagateway-dataview/cypress.config.ts
  packages/datagateway-dataview/cypress/e2e/breadcrumbs.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/dataPublications.cy.ts
Due: none

Improve dg search tests - Ensure cypress code is linted in CI - Fixed linting errors - Small refactor for increased efficiency
  packages/datagateway-search/cypress/e2e/search/datafileSearch.cy.ts
  packages/datagateway-search/cypress/e2e/search/datasetSearch.cy.ts
  packages/datagateway-search/cypress/e2e/search/investigationSearch.cy.ts
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
  packages/datagateway-search/package.json
Due: none

Debug search card view test
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
Due: none

Fix card view pagination test on CI
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
Due: none

Fix unhandled exception thrown when invalid datetime ranges are provided in download status table Thanks to @kaperoo for finding this one!
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Migrated mui data pickers to v6 in download #1562
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
Due: common

Migrated data pickers in search to v6 #1562
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: common, search

Fixed tests for search, download and common #1562
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search, download

Fixed tests in dataview #1562
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: none

fixed react DOM warnings #1562
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: common, search

fixed dataview e2e tests #1562
  packages/datagateway-dataview/cypress/e2e/table/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datasets.cy.ts
  packages/datagateway-download/cypress/e2e/adminDownloadStatus.cy.ts
Due: none

fixed e2e test in search #1562
  packages/datagateway-search/cypress/e2e/searchBoxContainer.cy.ts
Due: none

Fix for the 'clear' button in date pickers #1562
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-dataview/cypress/e2e/table/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datasets.cy.ts
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: common, search

Updated snapshots and test clean up #1562
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-dataview/cypress/e2e/table/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datasets.cy.ts
  packages/datagateway-search/cypress/e2e/searchBoxContainer.cy.ts
  packages/datagateway-search/src/search/__snapshots__/datePicker.component.test.tsx.snap
Due: common, search

workaround for the '.clear' method in search e2e tests #1562
  packages/datagateway-search/cypress/e2e/searchBoxContainer.cy.ts
Due: none

Add searchType field to SearchParams type
  packages/datagateway-common/src/app.types.tsx
Due: common

Fix Lucene search not working & update tests
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-dataview/cypress/e2e/table/pageContainer.cy.ts
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search

Update parseSearchToQuery test
  packages/datagateway-common/src/api/index.test.tsx
Due: common

Added shift+click sorting #1541
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Code cleanup #1541
  packages/datagateway-common/src/api/index.tsx
Due: common

Sorting unit test fix #1541
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.test.tsx
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
Due: common, download

Shift-click sorting for download tables #1541
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Fixed sorting in card view #1541
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Fixed the 'bumping' bug (removed memoization)
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-dataview/cypress/e2e/table/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datasets.cy.ts
Due: common

changed the way shift is passed to onSort #1541
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
Due: common

Fix issues with download e2e tests #1541
  packages/datagateway-download/cypress/e2e/adminDownloadStatus.cy.ts
  packages/datagateway-download/cypress/e2e/downloadCart.cy.ts
  packages/datagateway-download/cypress/e2e/downloadStatus.cy.ts
Due: none

changed the way shiftDown is passed in cardview #1541
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-download/cypress/e2e/adminDownloadStatus.cy.ts
Due: common

fix to the single column sort test in admin download #1541
  packages/datagateway-download/cypress/e2e/adminDownloadStatus.cy.ts
Due: none

Fixed dataview e2e tests #1541
  packages/datagateway-dataview/cypress/e2e/table/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myData.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/dataPublications.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/instruments.cy.ts
Due: none

Clean up data publications e2e test
  packages/datagateway-dataview/cypress/e2e/table/isis/dataPublications.cy.ts
Due: none

Change DG API branch on CI
  .github/workflows/ci-build.yml
Due: none

Fix dataview e2e tests 2 #1541
  packages/datagateway-dataview/cypress/e2e/card/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/dataPublications.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/instruments.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
Due: none
