Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Correct dg-download `@types/react-router-dom` version #1155
  packages/datagateway-download/package.json
Due: none

Update `yarn.lock` #1155
  yarn.lock
Due: none

Remove all button disables once pressed #1177
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Minor improvement to remove all unit test #1177
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
Due: download

WIP: Refactor downloadCartTable to use React-Query to optimise it - think I mostly have everything working but no tests
  packages/datagateway-common/src/api/cart.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: common, download

Move `prettier` from `devDependencies` to `dependencies`
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: none

Removing .only
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
Due: download

Deploy DataGateway plugins on different ports
  Dockerfile
Due: none

Factoring loading bar height into page height calculation #1178
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Factoring breadcrumbs height into page height calculation #1178
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Add TODO for virtual hosts production configuration
  Dockerfile
Due: none

Only disable download button when counts haven't loaded when there's limits set
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Update tests for downloadApi for new react-query hooks
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadApi.test.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  yarn.lock
Due: download

Various test updates and cleaning up #1096
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-common/src/detailsPanels/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/mark.component.tsx
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/selectCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/dataCell.component.test.tsx
  packages/datagateway-common/src/table/cellRenderers/expandCell.component.test.tsx
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.test.tsx
  packages/datagateway-common/src/table/rowRenderers/__snapshots__/detailsPanelRow.component.test.tsx.snap
  packages/datagateway-common/src/table/rowRenderers/detailsPanelRow.component.tsx
  packages/datagateway-common/src/views/clearFiltersButton.component.tsx
  packages/datagateway-common/src/views/selectionAlert.component.test.tsx
  packages/datagateway-common/src/views/selectionAlert.component.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: common, search

Disable download button if there are empty items in the cart - also display a message to the user telling them this - plus add a file count column so that users can see the problematic data
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Adjust height of cart table based on whether empty items warning is showing
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#1198 - Add DoiRedirect component to handle redirecting from DOI landing page links
  packages/datagateway-common/src/api/facilityCycles.tsx
  packages/datagateway-common/src/api/instruments.tsx
  packages/datagateway-dataview/src/page/doiRedirect.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: common

#1198 - add unit tests for DOI redirect component
  packages/datagateway-common/src/api/facilityCycles.test.tsx
  packages/datagateway-common/src/api/instruments.test.tsx
  packages/datagateway-dataview/src/page/doiRedirect.component.test.tsx
Due: common

#1198 - add e2e test for DOI redirect
  packages/datagateway-dataview/cypress/integration/doiRedirect.spec.ts
Due: none

#1198 - fix e2e test for DOI redirect
  packages/datagateway-dataview/cypress/integration/doiRedirect.spec.ts
Due: none

Updating tour step to replace 'studies' with 'experiments' #1194
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
Due: none

Add route for doi redirect
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
Due: none

Updating another studies reference #1194
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Add hideFromMenu option to register route actions
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-search/src/index.tsx
Due: common, search, download

#1198 - DOI redirect to dataset view instead of investigation landing pages - this matches TopCAT behaviour
  packages/datagateway-dataview/cypress/integration/doiRedirect.spec.ts
  packages/datagateway-dataview/src/page/doiRedirect.component.test.tsx
  packages/datagateway-dataview/src/page/doiRedirect.component.tsx
Due: none

Fix download index tests by adding hideFromMenu to register route events
  packages/datagateway-download/src/index.test.tsx
Due: download

#1198 - replace ISIS reference in test with LILS
  packages/datagateway-dataview/src/page/doiRedirect.component.test.tsx
Due: none

Minor improvements to registerRouteAction in index.tsx #1198
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-search/src/index.tsx
Due: search, download

Revert "Updating another studies reference #1194"
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

#1198 - Fix other tests broken by hideFromMenu & finish Sam's refactor
  packages/datagateway-dataview/src/index.test.tsx
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-search/src/index.test.tsx
  packages/datagateway-search/src/index.tsx
Due: search

#1199 - fix Instrument views not remounting when switching between studyHierarchy true & false by adding a key - this forces React to remount and thus applies the initial mount logic
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
Due: none

#1199 - add default sorts to routes as url params
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
Due: none

Selections tab is now loaded first every time #1193
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
Due: download

Set Node version to `16.14`
  Dockerfile
Due: none

Adding e2e test for downloadTab #1193
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/cypress/integration/downloadTab.spec.ts
Due: none

Set Yarn version to `1.22`
  Dockerfile
Due: none

Set httpd version to `2.4`
  Dockerfile
Due: none

Update version numbers
  package.json
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: none

Fix datagateway-common import
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: none

Only copy `build` contents into the apache server
  Dockerfile
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
