Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Allow toggle of download progress ui thru settings
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/testData.ts
Due: download

Update CITATION.cff
  CITATION.cff
Due: none

Update tests for download progress bar
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
Due: download

Fix lint warnings
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

Add loading indicator when submitting cart
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/tsconfig.json
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Forgot to commit some snapshot files
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/dialogTitle.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadRequestResult.component.test.tsx.snap
Due: download

Attempt 0 at fixing flaky test
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Adjust height calculations in various components
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Attempt 1 at fixing flaky test
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Fix slight type
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Possible fix for aggregatedData collation
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Simplify download type option render logic
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Attempting another possible fix to collating aggregatedData
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Fix failing tests
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Ignoring the aggregatedData collation from coverage
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Fix snapshot conflict
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Fix failing e2e tests
  packages/datagateway-download/server/e2e-settings.json
Due: none

Update yarn lock file
  yarn.lock
Due: none

Add tests
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadApiHooks.test.tsx
Due: download

Improving e2e test to get around data appearing in random order
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Fix details panel layout issue across mounts
  packages/datagateway-common/package.json
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/instrumentDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/instrumentDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/instrumentDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-common/src/table/table.component.tsx
  yarn.lock
Due: common

Remove console.log
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Update help text with new features etc. #1363
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
Due: search

Use different settings.json for e2e in CI vs local
  packages/datagateway-dataview/server/e2e-test-server.js
  packages/datagateway-download/server/e2e-test-server.js
  packages/datagateway-search/server/e2e-test-server.js
Due: none

Updating snapshots
  packages/datagateway-common/src/views/__snapshots__/clearFiltersButton.component.test.tsx.snap
  packages/datagateway-common/src/views/__snapshots__/viewButton.component.test.tsx.snap
  packages/datagateway-dataview/src/page/__snapshots__/withIdCheck.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisStudiesTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadRequestResult.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchTabs.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchButton.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
Due: common, search, download

Correct search help section titles #1363
  packages/datagateway-search/public/res/default.json
Due: none

Make cy commands query settings thru test server
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-search/cypress/support/commands.js
Due: none

Fix incorrect e2e settings file used for plugins
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-search/cypress/support/commands.js
Due: none

Basic previewer UI & data wiring
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/settings.ts
  packages/datagateway-dataview/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
  packages/datagateway-dataview/src/views/datafilePreview/datafileExtension.ts
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewerToolbar.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/detailsPane.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/previewComponents.ts
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/txtPreview.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewDatafileButton.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewErrorMessage.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewPane.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewStatusView.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewerStatus.ts
  packages/datagateway-dataview/src/views/datafilePreview/state/actions.ts
  packages/datagateway-dataview/src/views/datafilePreview/state/reducer.ts
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
Due: common

Implement download logic
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewerToolbar.component.tsx
Due: none

Implement copy datafile link logic in previewer
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewerToolbar.component.tsx
Due: none

Implement content zoom logic
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewerContext.ts
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewerToolbar.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/defaults.ts
  packages/datagateway-dataview/src/views/datafilePreview/detailsPane.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/previewComponents.ts
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/txtPreview.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewPane.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/state/actions.ts
  packages/datagateway-dataview/src/views/datafilePreview/state/reducer.ts
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/actionButtons.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/datafilePreviewerToolbar.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/rightAlignedControls.tsx
Due: none

Add line number to txt datafile preview
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/txtPreview.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewPane.component.tsx
Due: none

Clean up datafile previewer code
  packages/datagateway-dataview/src/views/datafilePreview/datafileExtension.ts
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewerContext.ts
  packages/datagateway-dataview/src/views/datafilePreview/previewStatusView.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewerStatus.ts
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/actionButtons.component.tsx
Due: none

Show more fields in previewer details pane
  packages/datagateway-dataview/src/views/datafilePreview/detailsPane.component.tsx
Due: none

Fix datafile previewer zoom level goes below 0
  packages/datagateway-dataview/src/views/datafilePreview/state/reducer.ts
Due: none

Disable preview btn in table when unsupported
  packages/datagateway-dataview/src/views/datafilePreview/datafileExtension.ts
  packages/datagateway-dataview/src/views/datafilePreview/previewDatafileButton.component.tsx
Due: none

Extract scroll to zoom logic into a hook
  packages/datagateway-dataview/src/views/datafilePreview/hooks/useScrollToZoom.ts
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/txtPreview.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/rightAlignedControls.tsx
Due: none

Disable text select for line number in txt preview
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/txtPreview.component.tsx
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
