Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Added the clear filters button and linked the functionality to DG-search #1019
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Updated the useClearFilters function to be more efficient and added its unit test #1019
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Added the clear filter button next to change view button #1019
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Initial upgrade to React 17 and corresponding enzyme adaptor (#830)
  packages/datagateway-common/package.json
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-download/package.json
  packages/datagateway-download/src/setupTests.ts
  packages/datagateway-search/package.json
  packages/datagateway-search/src/setupTests.ts
  yarn.lock
Due: common, search, download

Adding the Cart to search #1092
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: search

adding unit tests #1092
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageTable.component.test.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: search

Add required MUI v5 libraries (#1096)
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Apply variant-prop code mod to common and download (#1096)
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: common, download

Apply variant-prop codemod to dataview and search (#1096)
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
Due: search

adding E2E tests #1092
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageTable.component.test.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: search

Upgraded react-scripts and applied all changes required in SG i.e. other package updates, SVG changes, flushPromises change & tsconfig changes
  packages/datagateway-common/package.json
  packages/datagateway-common/src/images/datagateway-logo.svg
  packages/datagateway-common/src/images/datgateway-white-text-blue-mark-logo.svg
  packages/datagateway-common/src/images/decal1.svg
  packages/datagateway-common/src/images/decal2-dark.svg
  packages/datagateway-common/src/images/decal2-darkhc.svg
  packages/datagateway-common/src/images/decal2.svg
  packages/datagateway-common/tsconfig.json
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-dataview/tsconfig.json
  packages/datagateway-download/package.json
  packages/datagateway-download/src/setupTests.ts
  packages/datagateway-download/tsconfig.json
  packages/datagateway-search/package.json
  packages/datagateway-search/src/setupTests.ts
  packages/datagateway-search/tsconfig.json
  yarn.lock
Due: common, search, download

Refactor dateColumnFilter to use @mui/lab/DatePicker (#1096)
  packages/datagateway-common/package.json
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-common/src/dgThemeProvider.component.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
Due: common

Refactor preloader in common and fix search and its date pickers (#1096)
  packages/datagateway-common/src/preloader/preloader.component.tsx
  packages/datagateway-search/package.json
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  yarn.lock
Due: common, search

Remove setTimeouts from downloadStatusTables
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Use setTimeout instead of process.nextTick in flushPromises
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-download/src/setupTests.ts
  packages/datagateway-search/src/setupTests.ts
Due: search, download

Remove tab indicator fix (#821)
  packages/datagateway-download/src/App.tsx
Due: download

Fix typo
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Adding a clear filters button on data/search #1019
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: common, search

Revert "Remove tab indicator fix (#821)"
  packages/datagateway-download/src/App.tsx
Due: download

Fix errors in dataview so that it runs (#1019)
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
Due: none

clear filters on datafile page #1019
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Fix filters overlapping cards in card views (#1096)
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

fixing the logic for the my data dls #1019
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Refactor /card in common and arrowTooltip (#1096)
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
  packages/datagateway-common/src/arrowtooltip.component.tsx
  packages/datagateway-common/src/card/__snapshots__/cardView.component.test.tsx.snap
  packages/datagateway-common/src/card/__snapshots__/entityCard.component.test.tsx.snap
  packages/datagateway-common/src/card/advancedFilter.component.test.tsx
  packages/datagateway-common/src/card/advancedFilter.component.tsx
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/card/entityCard.component.test.tsx
  packages/datagateway-common/src/card/entityCard.component.tsx
Due: common

adding E2E tests #1019
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

improving code cov dls #1019
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
Due: none

Refactor details panels in common (#1096)
  packages/datagateway-common/src/detailsPanels/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/investigationDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/instrumentDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/instrumentDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
Due: common

Remove deprecated @type packages
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: none

removing console.log #1019
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Fixing failing test clear filter pr #1019
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

Update /table components in common (#1096)
  packages/datagateway-common/src/table/cellRenderers/actionCell.component.tsx
  packages/datagateway-common/src/table/cellRenderers/dataCell.component.tsx
  packages/datagateway-common/src/table/cellRenderers/expandCell.component.tsx
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.tsx
  packages/datagateway-common/src/table/rowRenderers/detailsPanelRow.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  yarn.lock
Due: common

improving E2E test #1019
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

revert E2E , adding wait functionailty #1019
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

Refactor testing for /table and fix date picker tests (#1096)
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/actionCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/cellContentRenderers.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/dataCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/expandCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/selectCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/actionCell.component.test.tsx
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.test.tsx
  packages/datagateway-common/src/table/cellRenderers/dataCell.component.test.tsx
  packages/datagateway-common/src/table/cellRenderers/expandCell.component.test.tsx
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/__snapshots__/textColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.test.tsx
  packages/datagateway-common/src/table/rowRenderers/__snapshots__/detailsPanelRow.component.test.tsx.snap
  packages/datagateway-common/src/table/rowRenderers/detailsPanelRow.component.test.tsx
  packages/datagateway-common/src/table/table.component.test.tsx
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Delete empty files in common folders /dls and /isis (#1096)
  packages/datagateway-common/src/dls/tables/dlsDatafilesSearchTable.component.tsx
  packages/datagateway-common/src/dls/tables/dlsDatasetsSearchTable.component.tsx
  packages/datagateway-common/src/dls/tables/dlsProposalsSearchTable.component.tsx
  packages/datagateway-common/src/isis/tables/isisDatafilesSearchTable.component.tsx
  packages/datagateway-common/src/isis/tables/isisDatasetsSearchTable.component.tsx
  packages/datagateway-common/src/isis/tables/isisInvestigationsSearchTable.component.tsx
Due: common
