Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Add code to open a session DOI, and display specific metadata for session DOIs - plus add 3 view modes to the my dois page
  .github/add_doi_datapublicationtype.py
  .github/workflows/ci-build.yml
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/dois/relatedIdentifiers.component.tsx
  packages/datagateway-common/src/images/ORCID-iD_icon_unauth_vector.svg
  packages/datagateway-common/src/main.tsx
  packages/datagateway-common/src/views/clearFiltersButton.component.tsx
  packages/datagateway-common/src/views/publishButton.component.tsx
  packages/datagateway-common/src/views/viewButton.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/doiTypeSelector.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationRelatedIdentifiersPanel.component.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.tsx
Due: common

Submit subjects to API, display techniques and subjects, make bioportal api url configurable, add help text, improve bioportal queries
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/dois/DOIMetadataConfirmation.component.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/relatedIdentifiers.component.tsx
  packages/datagateway-common/src/dois/techniquesAndSubjects.component.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-dataview/src/main.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/vite.config.ts
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/main.tsx
Due: common, download

Add/update unit tests for session DOI/publish button stuff
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/dois/relatedIdentifiers.component.test.tsx
  packages/datagateway-common/src/views/__snapshots__/clearFiltersButton.component.test.tsx.snap
  packages/datagateway-common/src/views/publishButton.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/views/doiTypeSelector.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.tsx
Due: common

Improve open data button to only show to PIs
  packages/datagateway-common/src/api/dataPublications.test.tsx
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: common

Add links to DP content table via redirect urls - add some special handling to the redirect component to show more specific message when redirecting from DP
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.test.tsx
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
  packages/datagateway-dataview/src/page/redirect.component.test.tsx
  packages/datagateway-dataview/src/page/redirect.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
Due: common

Add e2e tests for session DOIs and publish button
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-dataview/cypress/support/index.d.ts
Due: none

Add in forgotten queries that need to be invalidated after publishing
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/views/publishButton.component.test.tsx
  packages/datagateway-common/src/views/publishButton.component.tsx
Due: common

Fix appendView function appending view=null instead of leaving the link as is
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
Due: common

Add fix to remove funderIdentifier from CI data as it breaks the API
  .github/add_doi_datapublicationtype.py
Due: none

Address PR comments - destructure when iterating over DataCite metadata to reduce confusion - remove outdated todo
  packages/datagateway-common/src/dois/DOIMetadataConfirmation.component.tsx
  packages/datagateway-common/src/dois/relatedIdentifiers.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationRelatedIdentifiersPanel.component.tsx
Due: common

Fix e2e test that accidentally used a fixed "today" date instead of calculating it
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
Due: none

Make techniques and subjects required & standardise display of technique names
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/techniquesAndSubjects.component.tsx
Due: common

Add/fix unit tests for technique & subject selector
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/dois/DOIMetadataConfirmation.component.test.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.test.tsx
  packages/datagateway-common/src/dois/__snapshots__/DOIMetadataConfirmation.component.test.tsx.snap
  packages/datagateway-common/src/dois/relatedIdentifiers.component.test.tsx
  packages/datagateway-common/src/dois/techniquesAndSubjects.component.test.tsx
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/testData.ts
Due: common, download

Add extra timeout for download button test
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
Due: none

Add mock of download status endpoint to dls data publication landing page
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
Due: none

Fix download DP e2e test that failed due to the new configuration of the server side download methods
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
Due: none

Add bioportal proxy to e2e-test-server
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-dataview/server/e2e-test-server.js
  packages/datagateway-dataview/vite.config.ts
  packages/datagateway-download/package.json
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-download/server/e2e-test-server.js
  packages/datagateway-download/vite.config.ts
  yarn.lock
Due: none

Add/fix e2e DOI tests re: techniques & subjects
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
Due: none

Un-only e2e test & fix broken relatedItems e2e test that wasn't accounting for the confirmation page
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
Due: none

Fix a11y contrast issue with doiTypeSelector buttons by going with default grey colour
  packages/datagateway-dataview/src/views/doiTypeSelector.component.tsx
Due: none

Add e2e test for techniques to data publication edit page/landing page
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-dataview/cypress/tsconfig.json
  packages/datagateway-dataview/package.json
  yarn.lock
Due: none

Configure CI to add .env.local files to add bioportal key to
  .github/workflows/ci-build.yml
Due: none

Fix linting error caused by missing subjects from mint metadata payload
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-download/src/downloadApiHooks.test.tsx
Due: common, download

Increase timeout to potentially fix CI error
  packages/datagateway-common/src/dois/techniquesAndSubjects.component.test.tsx
Due: common

Add new line to .env.production to make it easier to edit via CLI
  packages/datagateway-dataview/.env.production
  packages/datagateway-download/.env.production
  packages/datagateway-search/.env.production
Due: none

Switch to using lodash.debouce to debounce technique selector for easier mocking
  packages/datagateway-common/src/dois/techniquesAndSubjects.component.test.tsx
  packages/datagateway-common/src/dois/techniquesAndSubjects.component.tsx
Due: common

Fix typo in github actions config
  .github/workflows/ci-build.yml
Due: none

Increase timeout for complex test
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
Due: download

Increase timeouts on unit tests that are timing out on CI and attempt to make tooltip e2e tests less flaky
  packages/datagateway-dataview/cypress/e2e/card/pageContainer.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/pageContainer.cy.ts
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
Due: download

Fix e2e test that wasn't taking into account scrollbar width when calcing column sizes
  packages/datagateway-dataview/cypress/e2e/table/pageContainer.cy.ts
Due: none

Increase test timeout
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
Due: none

Fix styling of technique selector to improve a11y and consistency
  packages/datagateway-common/src/dois/techniquesAndSubjects.component.tsx
Due: common

Fix doiMinterUrl & dataCiteUrl docker env variable config
  docker/docker-entrypoint.sh
Due: none

Display error messages to the user if the BioPortal API is not working
  packages/datagateway-common/src/dois/techniquesAndSubjects.component.test.tsx
  packages/datagateway-common/src/dois/techniquesAndSubjects.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-download/public/res/default.json
Due: common

Improve docker containers & build workflow
  .dockerignore
  .github/workflows/ci-build.yml
  .github/workflows/docker-release-build.yml
  Dockerfile
  docker/docker-entrypoint.sh
  packages/datagateway-common/package.json
Due: none

Fix CI docker build by updating actions & adding buildx step
  .github/workflows/ci-build.yml
  .github/workflows/docker-release-build.yml
Due: none

Add PR comments (improve readability, fix casing error & remove unnecessary workflow_dispatch variable)
  .github/workflows/docker-release-build.yml
  Dockerfile
  docker/docker-entrypoint.sh
Due: none

Improve handling of no session DOI errors from the ismintable request
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: common, download

Make PI role configurable via settings
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-dataview/src/main.test.tsx
  packages/datagateway-dataview/src/settings.ts
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.test.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
Due: common

Disable investigation checkboxes for DLS content table
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
