Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Refactoring dls and isis datasets tables, fixing bugs, rejigging detailspanels #701
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
Due: common

TODOs to remove use of "vw" (#693)
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
Due: common

Removing horizontal scroll bar issue #693
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Refactor study landing page
  packages/datagateway-common/src/api/studies.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: common

Refactor investigation landing page
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: common

Refactoring generic dataset card view #701
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
Due: none

Fix size and user attributes in investigation landing page
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

Refactor dataset landing page
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
Due: common

Remove extra div (#693)
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Fix cardview size/count query content function for ISIS & DLS investigation views
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
Due: none

add dataset count content function to investigationCardView
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: none

Update SearchPageContainer snapshot (#693)
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
Due: search

fix typo
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: none

Correct e2e tests to match CI test data (#741)
  packages/datagateway-dataview/cypress/integration/table/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
Due: none

Refactoring isis and dls card views, fixing filter bug, editing download button #701
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/downloadButton.component.tsx
Due: common

Bump coverage with additional snapshot test #693
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/searchBoxContainerSide.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
Due: search

Putting tests back to how they were and skipping them #741
  packages/datagateway-dataview/cypress/integration/table/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
Due: none

Fix typo
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
Due: none

Skip e2e tests affected by data mismatch issue (#741)
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
Due: none

Fix includes for ISIS investigation views
  packages/datagateway-common/src/api/investigations.tsx
Due: common

Fix pid field and title icon
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: none

Adding skips to failing tests, fixing stubborn e2e test #718
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datasets.spec.ts
Due: none

Refactor investigation search table - also make it so that the size/count column works
  packages/datagateway-common/src/api/facilityCycles.tsx
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

Updating skipped test to skipped describe #718
  packages/datagateway-dataview/cypress/integration/table/isis/datasets.spec.ts
Due: none

Refactor datasetSearchTable
  packages/datagateway-common/src/api/cart.tsx
  packages/datagateway-search/package.json
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
Due: common, search

Refactor datafileSearchTable
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
Due: search

Update e2e tests for PageContainer (#718)
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
  packages/datagateway-dataview/src/page/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Alter unit test name (#718)
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
Due: none

Refactor pageContainer to just rely on query param for view
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: common

Refactor lucene search to use react-query - also deleted all redux references of lucene
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/actions/lucene.test.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchBoxContainerSide.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.test.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

#783 - fix study title label
  packages/datagateway-dataview/public/res/default.json
Due: none

Update "order" in settings example (#780)
  packages/datagateway-download/public/datagateway-download-settings.example.json
Due: none

Add tests for api/index.tsx
  packages/datagateway-common/package.json
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/setupTests.ts
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/tsconfig.lib.json
  yarn.lock
Due: common

Fix nestedValue import paths
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-common/src/state/actions/investigations.tsx
Due: common

Fix table tests and add sort test
  packages/datagateway-common/src/table/table.component.test.tsx
Due: common

Fix dataHeader tests
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
Due: common

Fix entity card tests
  packages/datagateway-common/src/card/entityCard.component.test.tsx
Due: common

Allow tab access to advanced filters link (#762)
  packages/datagateway-common/src/card/advancedFilter.component.tsx
Due: common

Fix advanced filter tests
  packages/datagateway-common/src/card/advancedFilter.component.test.tsx
  packages/datagateway-common/src/card/advancedFilter.component.tsx
Due: common

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
