Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

#51 - even smaller column resize
  packages/datagateway-table/cypress/integration/dls/proposals.spec.ts
Due: none

Fixed tests and remove unneccessary files (#51)
  cypress.json
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
  packages/datagateway-table/__mocks__/axios.ts
  packages/datagateway-table/src/App.test.tsx
Due: table

Remove old comment (#51)
  packages/datagateway-table/src/App.test.tsx
Due: table

Remove empty dependencies (#51)
  package.json
Due: none

Added fetchInvestigationSize test to investigations tests (#9)
  packages/datagateway-table/src/__snapshots__/pageHead.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-table/src/state/actions/datasets.test.tsx
  packages/datagateway-table/src/state/actions/investigations.test.tsx
Due: table

Add all size tests to investigations and datasets unit tests (#9)
  packages/datagateway-table/src/state/actions/datasets.test.tsx
  packages/datagateway-table/src/state/actions/investigations.test.tsx
Due: table

#87 - downgrade react-is package to fix snapshot errors (see enzyme #2297)
  yarn.lock
Due: none

Added FetchInvestigationSize and FetchDatasetSize DGTable reducer tests (#9)
  packages/datagateway-table/src/state/reducers/dgtable.reducer.test.tsx
Due: table

#87 - fix node binary warnings
  .travis.yml
Due: none

Complete comment (#9)
  packages/datagateway-table/src/state/actions/datasets.test.tsx
Due: table

Only clear cart before add to cart tests
  packages/datagateway-table/cypress/integration/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/datasets.spec.ts
  packages/datagateway-table/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-table/cypress/integration/investigations.spec.ts
  packages/datagateway-table/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-table/cypress/integration/isis/investigations.spec.ts
Due: none

Update pageHead test snapshot (#9)
  packages/datagateway-table/src/__snapshots__/pageHead.component.test.tsx.snap
Due: table

Reload page after clearing download cart
  packages/datagateway-table/cypress/integration/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/datasets.spec.ts
  packages/datagateway-table/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-table/cypress/integration/investigations.spec.ts
  packages/datagateway-table/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-table/cypress/integration/isis/investigations.spec.ts
Due: none

Add cypress retries package to automatically retry tests in CI
  .travis.yml
  packages/datagateway-download/cypress/plugins/index.js
  packages/datagateway-download/cypress/support/index.js
  packages/datagateway-download/package.json
  packages/datagateway-search/cypress/plugins/index.js
  packages/datagateway-search/cypress/support/index.js
  packages/datagateway-search/package.json
  packages/datagateway-table/cypress/plugins/index.js
  packages/datagateway-table/cypress/support/index.js
  packages/datagateway-table/package.json
  yarn.lock
Due: none

Revert "Reload page after clearing download cart"
  .travis.yml
  packages/datagateway-download/cypress/plugins/index.js
  packages/datagateway-download/cypress/support/index.js
  packages/datagateway-download/package.json
  packages/datagateway-search/cypress/plugins/index.js
  packages/datagateway-search/cypress/support/index.js
  packages/datagateway-search/package.json
  packages/datagateway-table/cypress/integration/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/datasets.spec.ts
  packages/datagateway-table/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-table/cypress/integration/investigations.spec.ts
  packages/datagateway-table/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-table/cypress/integration/isis/investigations.spec.ts
  packages/datagateway-table/cypress/plugins/index.js
  packages/datagateway-table/cypress/support/index.js
  packages/datagateway-table/package.json
  yarn.lock
Due: none

Revert "Only clear cart before add to cart tests"
  packages/datagateway-table/cypress/integration/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/datasets.spec.ts
  packages/datagateway-table/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-table/cypress/integration/investigations.spec.ts
  packages/datagateway-table/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-table/cypress/integration/isis/investigations.spec.ts
Due: none

Update e2e tests to wait for getSize for investigations and datasets (#9)
  packages/datagateway-table/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-table/cypress/integration/isis/investigations.spec.ts
Due: none

#87 - update README to link to yarn installation page + fixed workspaces add command
  README.md
Due: none

Create PageContainer component and move routes to PageRoutes component (#83)
  packages/datagateway-table/src/App.tsx
  packages/datagateway-table/src/pageContainer.component.tsx
  packages/datagateway-table/src/pageHead.component.test.tsx
  packages/datagateway-table/src/pageRoutes.component.tsx
Due: table

Move PageRoutes to PageTable component (#83)
  packages/datagateway-table/src/pageContainer.component.tsx
  packages/datagateway-table/src/pageTable.component.tsx
Due: table

Adjust PageTable height to include breadcrumbs (#83)
  packages/datagateway-table/src/dls/tables/dlsDatafilesTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsProposalsTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisDatafilesTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisFacilityCyclesTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisInstrumentsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisInvestigationsTable.component.tsx
  packages/datagateway-table/src/pageContainer.component.test.tsx
  packages/datagateway-table/src/pageContainer.component.tsx
  packages/datagateway-table/src/pageTable.component.tsx
  packages/datagateway-table/src/table/datafileTable.component.tsx
  packages/datagateway-table/src/table/datasetTable.component.tsx
  packages/datagateway-table/src/table/investigationTable.component.tsx
Due: table

Update all Table unit tests (#83)
  packages/datagateway-table/cypress/integration/pageContainer.spec.ts
  packages/datagateway-table/cypress/integration/pageHead.spec.ts
  packages/datagateway-table/src/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-table/src/__snapshots__/pageHead.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/__snapshots__/dlsDatafilesTable.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/dlsDatafilesTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/isisDatafilesTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisInstrumentsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisInvestigationsTable.component.test.tsx
  packages/datagateway-table/src/pageContainer.component.tsx
  packages/datagateway-table/src/pageTable.component.tsx
  packages/datagateway-table/src/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-table/src/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-table/src/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-table/src/table/datafileTable.component.test.tsx
  packages/datagateway-table/src/table/datasetTable.component.test.tsx
  packages/datagateway-table/src/table/investigationTable.component.test.tsx
Due: table

Add PageTable unit tests (#83)
  packages/datagateway-table/src/pageContainer.component.test.tsx
  packages/datagateway-table/src/pageTable.component.test.tsx
Due: table

Update comments on unit tests (#83)
  packages/datagateway-table/src/pageTable.component.test.tsx
Due: table

Update datagateway-table-settings.example.json to include facilityName (#9)
  packages/datagateway-table/public/datagateway-table-settings.example.json
Due: none

Add in Paper to fix merge conflict (#83)
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisInvestigationsTable.component.tsx
Due: table

Resolve type errors and refactor lucene requests
  packages/datagateway-search/package.json
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/search/checkBoxes.tsx
  packages/datagateway-search/src/search/datePicker.tsx
  packages/datagateway-search/src/search/searchButton.tsx
  packages/datagateway-search/src/search/searchTextBox.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/app.reducer.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
Due: search

Adding in eslint-disable to handle any type errors
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/search/searchButton.tsx
Due: search

Resolve merge conflicts in package-lock.json
  packages/datagateway-search/package-lock.json
Due: none

#97 - seperate e2e tests out to their own stage & run each package's e2e tests as a job
  .travis.yml
Due: none

#97 - extract cart functionality to its own spec file + add longer timeouts to large cart interactions
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-table/cypress/integration/cartSelection.spec.ts
  packages/datagateway-table/cypress/integration/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/datasets.spec.ts
  packages/datagateway-table/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-table/cypress/integration/investigations.spec.ts
  packages/datagateway-table/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-table/cypress/integration/isis/investigations.spec.ts
Due: none

#97 - correct URL of generic investigation table cart tests
  packages/datagateway-table/cypress/integration/cartSelection.spec.ts
Due: none

Set up initial DownloadConfirmDialog (#49)
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Created basic UI for DownloadConfirmDialog (#49)
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

#97 - add initial tbale load waits to shift click tests
  packages/datagateway-table/cypress/integration/cartSelection.spec.ts
Due: none

#97 - add cypress-plugin-retries and allow cartSelection tests to retry after failing once
  packages/datagateway-download/cypress/plugins/index.js
  packages/datagateway-download/cypress/support/index.js
  packages/datagateway-search/cypress/plugins/index.js
  packages/datagateway-search/cypress/support/index.js
  packages/datagateway-table/cypress/integration/cartSelection.spec.ts
  packages/datagateway-table/cypress/plugins/index.js
  packages/datagateway-table/cypress/support/index.js
  packages/datagateway-table/package.json
  yarn.lock
Due: none

Estimate download time based on size (#49)
  package.json
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Added preliminary tests
  packages/datagateway-search/src/App.test.tsx
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/search/Header.component.tsx
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/state/actions/actions.test.tsx
Due: search

Added submitCart to downloadCartApi (#49)
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Added basic email validation (#49)
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download
