Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Removing unnecessary comments #1193
  packages/datagateway-download/cypress/integration/downloadTab.spec.ts
Due: none

Refactor downloadTabs test to add QueryClientProvider
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
Due: download

Fix cart e2e tests & add aria-label to loading spinners - also fixed bug in e2e server code serving the wrong settings file
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/server/e2e-test-server.js
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Fixing error bug in datePicker #1096
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: search

Use key correctly in actionCell - also memoise loadMoreRows
  packages/datagateway-common/src/table/cellRenderers/actionCell.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Fixing another error bug in datePicker #1096
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: search

Fix optimisation of sizes and counts - remove batched updates and increase the concurrency
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

Adding optional prop to filter by time in DatePicker #1175
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: common, download

Removing seconds from date parsing, removing index.tsx changes #1175
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: common, download

Removing extra formatting on index.tsx #1175
  packages/datagateway-common/src/api/index.tsx
Due: common

Add tests for DateTimePicker #1175
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
Due: common

Add license badge
  README.md
Due: none

Adding contributing guidelines
  CONTRIBUTING.md
  README.md
Due: none

Remove useDeepCompareEffect library from download
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

Unifying common date picker props #1175
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
Due: common

Adding DateTimePicker to download table, fixing aria hidden prop in date column filter #1175
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: common, download

Fixing e2e test to factor in time #1175
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Fixing unit tests in download #1215
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
Due: download

Removing change to downloadCartTable test #1215
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
Due: download

#1175 - use TypeScript Partial & mui-picker types to type datepicker common props - also extract more common props
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
Due: common

#1215 - Fix cart datafile count tests
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
Due: download

Run CI on commits to develop
  .github/workflows/ci-build.yml
Due: none

Download tables sort by requested time descending by default #1176
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Increasing dragging distance for requested date column #1176
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
Due: none

Adding alert label if file/size limit exceeded #1183
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Moving label display check #1183
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#1210 - use addToCart request with remove param to remove multiple items from the cart - also retry any mutations from TopCAT if we get 431 errors
  packages/datagateway-common/src/api/cart.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
Due: common, download

Moving Alert placement, adding translation strings #1183
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#1210 - Add explicit undefined check for remove param
  packages/datagateway-common/src/api/cart.tsx
Due: common

#1210 - fix cart tests for new http method & add tests for retries
  packages/datagateway-common/src/api/cart.test.tsx
  packages/datagateway-download/src/downloadApiHooks.test.tsx
Due: common, download

Disabling download button and showing tooltip if file size equals zero #1195
  packages/datagateway-common/src/views/downloadButton.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
Due: common, search

Adding unit test for downloadButton #1195
  packages/datagateway-common/src/views/downloadButton.component.test.tsx
  packages/datagateway-common/src/views/downloadButton.component.tsx
Due: common

Adding wait for requests to complete in failing e2e test #1195
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

Removing onClick functionality for disabled button #1195
  packages/datagateway-common/src/views/downloadButton.component.tsx
Due: common

Moving alerts back to appropriate places #1183
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Configure workflow to run only when pushing to `k8s-deployment` branch #1236
  .github/workflows/docker-build.yml
Due: none

#1210 - move removeFromCart to dg-download - also rename addToCart to addOrRemoveFromCart
  packages/datagateway-common/src/api/cart.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
Due: common, download

Update Dockerfile
  Dockerfile
Due: none

Configure Dockerfile to set plugin build paths #1240
  Dockerfile
Due: none

Modify plugin build paths following reverse proxy implementation #1240
  Dockerfile
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
