Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Adding snapshot test for homepage component #431
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/homePage/homePage.component.test.tsx
  packages/datagateway-common/src/homePage/theming.tsx
Due: common

Adding test for homepage displaying in dataview #431
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
Due: common

Removing UKRI theming file, removing unneeded comments #431
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/homePage/theming.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: common

Adding cypress test for checking the homepage loads #431
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
Due: none

Remove linter ignores for history import
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/state/reducers/app.reducer.tsx
Due: none

Refactoring tests and re-rendering snapshot #431
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/homePage/homePage.component.test.tsx
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
Due: common

Moving homepage content from contents.tsx to dataview-settings.json #431
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/homePage/contents.tsx
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
Due: common

Rewriting homepage snapshot, rewriting e2e test #431
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
Due: common

Removing unneeded svg image #431
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/images/datagateway-logo-white.svg
Due: common

Remaking homepage snapshot for new image #431
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
Due: common

Adding localhost fix for ICAT ansible #641
  .github/workflows/ci-build.yml
Due: none

Running API in background #641
  .github/workflows/ci-build.yml
Due: none

Fixing api start command #641
  .github/workflows/ci-build.yml
Due: none

Fixes #670 - use optional chaining to properly check arrays
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Adding API start as separate step alongside tests #641
  .github/workflows/ci-build.yml
Due: none

Adding download tests after API start #641
  .github/workflows/ci-build.yml
Due: none

Adding HTTPS for localhost tests #641
  .github/workflows/ci-build.yml
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-download/src/__mocks__/axios.ts
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-search/cypress/support/commands.js
  packages/datagateway-search/server/e2e-settings.json
  packages/datagateway-search/server/e2e-test-server.js
  packages/datagateway-search/src/search/searchButton.component.test.tsx
Due: search, download

Adding anon, ids and topcat roles in playbook #641
  .github/workflows/ci-build.yml
Due: none

Updating playbook command #641
  .github/workflows/ci-build.yml
Due: none

Removing unneeded roles in icat-test-hosts.yml #641
  .github/workflows/ci-build.yml
Due: none

Adding authn-simple role back in #641
  .github/workflows/ci-build.yml
Due: none

Adding dataview tests #641
  .github/workflows/ci-build.yml
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-download/src/__mocks__/axios.ts
Due: download

Add table #613
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Add column filters #613
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Add column sorting #613
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Fetch admin downloads and display them in the table #613
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Update default.json #613
  packages/datagateway-download/public/res/default.json
Due: none

Creating local playbook, fixing ordering of hosts in hosts YAML #641
  .github/workflows/ci-build.yml
  ci/icat-hosts.yml
Due: none

Fixing yaml syntax error #641
  .github/workflows/ci-build.yml
Due: none

Returning to test yml with re-ordered roles #641
  .github/workflows/ci-build.yml
Due: none

Load more rows when table is scrolled #613
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: common, download

Add action to restore downloads #613
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Add action to delete downloads #613
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Implement logic that allows for table to be refreshed #613
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Add workaround for loading more rows when data count fetch requests take long to respond #613
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Fix availability column filter #613
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Update default.json file #613
  packages/datagateway-download/public/res/default.json
Due: none

Update settings example json file #613
  packages/datagateway-download/public/datagateway-download-settings.example.json
Due: none
