Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

format only dates with time
  packages/datagateway-common/src/table/table.component.tsx
Due: common

use regex instead of checking length
  packages/datagateway-common/src/table/table.component.tsx
Due: common

format timestamps in card view
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

updated yarn lock
  yarn.lock
Due: none

multiple uppy instances + size/type info
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

improved styling
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

Fix performance issue of querying for investigation id in datafile tables Instead check the investigation id in id check functions
  packages/datagateway-dataview/src/page/idCheckFunctions.test.ts
  packages/datagateway-dataview/src/page/idCheckFunctions.ts
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
Due: none

#1532 #1533 - only show concept dois and fix editing form Need to get content from version DOI API is currently broken so need to wait for a fix for further testing
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.tsx
Due: common

disable close on backdrop click + fix max file size
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

Update version numbers & changelog for v1.1.3
  CHANGELOG.md
  lerna.json
  package.json
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: none

Fix broken lockfile Forgot to run yarn install after merging main into develop!
  yarn.lock
Due: none

Fix import broken by merging main to develop
  packages/datagateway-dataview/src/page/idCheckFunctions.ts
Due: none

Add token to codecov action
  .github/workflows/ci-build.yml
Due: none

#1457 - remove calculation of dataset counts at DLS investigation level
  packages/datagateway-common/package.json
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.test.tsx
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
  yarn.lock
Due: common, search

#1457 - add size column to DLS dataset views Also, let users sort by size or count And, remove DLS datafile size filtering
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myData.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/visits.cy.ts
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

files no longer cleared on backdrop click
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

invalidate queries after successful upload
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

#1528 - fix ISIS experiments view Accounts for ISIS 2 types of data pubs - study and investigation
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
  packages/datagateway-dataview/src/page/idCheckFunctions.ts
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
Due: common

#1528 - adjust unit tests for new data publications hierarchy
  packages/datagateway-common/src/api/dataPublications.test.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/breadcrumbs.component.test.tsx
  packages/datagateway-dataview/src/page/idCheckFunctions.test.ts
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisDataPublicationLanding.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
Due: common

#1528 - fix landing page unit tests Also refactor isisInvestigationLanding to reduce code repetition
  packages/datagateway-common/src/api/dataPublications.test.tsx
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisDataPublicationLanding.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: common

#1202 - add direct download button to ISIS data publication landing page Also add it to the ISIS investigation landing page
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

Fix code according to changes made in ral-facilities/icat-doi-minter-api#62
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/relatedDOIs.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/relatedDOIs.component.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

Improve default URLs in Dockerfile
  Dockerfile
Due: none

Set pluginHost in docker-entrypoint.sh
  docker/docker-entrypoint.sh
Due: none

Make facilityName configurable in docker image
  Dockerfile
  docker/docker-entrypoint.sh
Due: none

Fix typescript 5 incompatibility issues
  packages/datagateway-common/tsconfig.lib.json
  yarn.lock
Due: none

#1528 - add e2e tests for new ISIS data publications hierarchy
  packages/datagateway-dataview/cypress/e2e/card/isis/investigationDataPublications.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/studyDataPublications.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/investigation.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/investigationDataPublication.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/studyDataPublication.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/investigationDataPublications.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/studyDataPublications.cy.ts
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

#1528 - fix e2e tests Fix datafilePreview tests by mocking the id check query Fix tests broken by params.delete with value not working on electron, use a workaround instead
  packages/datagateway-dataview/cypress/e2e/card/isis/investigationDataPublications.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/studyDataPublications.cy.ts
  packages/datagateway-dataview/cypress/e2e/datafilePreview.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/studyDataPublication.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/investigationDataPublications.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/myData.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/studyDataPublications.cy.ts
Due: none

#1528 - improve code coverage of pageRouting
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
Due: common

Fix broken e2e test & improve login command by using `cy.session`
  packages/datagateway-dataview/cypress/e2e/homePage.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/investigations.cy.ts
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-download/cypress/e2e/adminDownloadStatus.cy.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-search/cypress/e2e/searchBoxContainer.cy.ts
  packages/datagateway-search/cypress/support/commands.js
Due: none

#1528 - remove obsolete code from ISIS investigation views These now are only used in facility cycle hierarchy, the data pubs views are used instead in the data pubs hierarchy
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
Due: none

remove hardcoded upload url
  docker/docker-entrypoint.sh
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/views/uploadDialog.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/settings.ts
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
Due: common

fix unit tests
  packages/datagateway-common/src/views/uploadDialog.component.test.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
Due: common

#1152 - move @types/lodash.isequal to dependencies to fix docker build
  packages/datagateway-search/package.json
  yarn.lock
Due: none

#1152 - improve search load more rows e2e test
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
Due: none

#1152 - remove unused functionality from count endpoints
  packages/datagateway-common/src/api/datafiles.test.tsx
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.test.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/investigations.tsx
Due: common

#1152 - fix typo in e2e test
  packages/datagateway-search/cypress/e2e/search/datafileSearch.cy.ts
Due: none

#1152 - fix anon search
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-search/src/searchBoxContainer.component.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchBoxContainerSide.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

#1152 - fix search e2e tests broken by restrict change
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
Due: none
