Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Fix merge conflicts
  packages/datagateway-dataview/src/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/detailsPanels/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/src/dls/tables/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/isis/tables/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/isis/tables/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/page/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/pageContainer.component.tsx
  packages/datagateway-dataview/src/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  yarn.lock
Due: none

Fix missing import & fix toggle cards label dark mode colour
  packages/datagateway-dataview/src/page/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
Due: none

Fix tab translation #404
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
Due: download

Add option to place Pagination at top or bottom (#128) (#395)
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  yarn.lock
Due: none

Add 'both' option to Pagination (#128) (#395)
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: none

Adding svg logo
  packages/datagateway-common/src/images/datagateway-logo.svg
Due: common

enable datagateway logos in sidebar #262
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-search/src/index.tsx
Due: search, download

Replacing logo and adding white text blue mark logo
  packages/datagateway-common/src/images/datagateway-logo.svg
  packages/datagateway-common/src/images/datgateway-white-text-blue-mark-logo.svg
Due: common

added download cart button/number to dataview #415
  packages/datagateway-dataview/cypress/integration/pageContainer.spec.ts
  packages/datagateway-dataview/src/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/pageContainer.component.tsx
Due: none

improve e2e test for cart icon #415
  packages/datagateway-dataview/cypress/integration/pageContainer.spec.ts
Due: none

add icon to link to /search/data #418
  packages/datagateway-dataview/cypress/integration/pageContainer.spec.ts
  packages/datagateway-dataview/src/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/pageContainer.component.tsx
Due: none

remove search bar from dataview #418
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

added badges to each search tab #419
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
  packages/datagateway-search/src/searchPageTable.tsx
Due: search

add timeouts for e2e test #415
  packages/datagateway-dataview/cypress/integration/pageContainer.spec.ts
Due: none

enable retries for download confirmation e2e #419
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
Due: none

enable retries for page container e2e #415
  packages/datagateway-dataview/cypress/integration/pageContainer.spec.ts
Due: none

rearrange search layout #416
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
  packages/datagateway-search/cypress/integration/searchBoxContainer.spec.ts
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/checkBoxes.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/datePicker.component.test.tsx.snap
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchBoxContainerSide.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
Due: search

enable retries for download confirmation e2e #416
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
Due: none

justify centre and remove advance search toggle #416
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
  packages/datagateway-search/cypress/integration/searchBoxContainer.spec.ts
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/searchBoxContainer.component.tsx
Due: search

add LinearProgress to plugin tables #426
  packages/datagateway-dataview/src/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/pageContainer.component.tsx
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search, download

updated package.json for search plugin #426
  packages/datagateway-download/package.json
Due: none

ensure consistent paper heights for results and icons #415
  packages/datagateway-dataview/src/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/pageContainer.component.tsx
Due: none

use secondary colour for input borders and default search page #438
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/datePicker.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.test.tsx.snap
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/searchPageTable.tsx
Due: common, search

update DG common snapshots #428
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/__snapshots__/textColumnFilter.component.test.tsx.snap
Due: common

change badge color to primary to pick up theme #419
  packages/datagateway-search/src/searchPageTable.tsx
Due: search

add plugin specific tour steps #430
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/pageContainer.component.tsx
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/searchPageTable.tsx
Due: search, download

add classNames for help tour #430 #415
  packages/datagateway-dataview/src/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/pageContainer.component.tsx
Due: none

enable cypress retries for downloadConfirmation #415
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
Due: none

tests: cast tooltip title, skip downloadConfirmDialog #128
  packages/datagateway-dataview/cypress/integration/dls/proposals.spec.ts
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

update downloadConfirmDialog snapshot #128
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
Due: download

update searchPageTable snapshot #128
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
Due: search

move badges inline and set background to white #419
  packages/datagateway-search/src/searchPageTable.tsx
Due: search

use relative lengths for badge positioning #419
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
  packages/datagateway-search/src/searchPageTable.test.tsx
  packages/datagateway-search/src/searchPageTable.tsx
Due: search

re-use dataloaded state for download loading bar #426
  packages/datagateway-download/package.json
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
Due: download

update searchPageTable snapshot #419
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
Due: search

remove router from searchPageTable snapshot #419
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
  packages/datagateway-search/src/searchPageTable.test.tsx
Due: search

prevent scrollbars in datafile resizing test #128
  packages/datagateway-dataview/cypress/integration/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/datafiles.spec.ts
Due: none

re-enable specialist cardViews #128
  packages/datagateway-dataview/src/page/pageCard.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
Due: none

Add back in loading bar changes to dataview
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Fix loading indicator placement in search so it actually is visible
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search
