Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Refactor /card in dataview (#1096)
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
Due: none

Refactor /table in dataview (#1096)
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisStudiesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
Due: none

moving buttons into common #1126
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/views/__snapshots__/clearFiltersButton.component.test.tsx.snap
  packages/datagateway-common/src/views/__snapshots__/viewButton.component.test.tsx.snap
  packages/datagateway-common/src/views/clearFiltersButton.component.test.tsx
  packages/datagateway-common/src/views/clearFiltersButton.component.tsx
  packages/datagateway-common/src/views/viewButton.component.test.tsx
  packages/datagateway-common/src/views/viewButton.component.tsx
  packages/datagateway-common/src/views/viewCartButton.component.tsx
  packages/datagateway-dataview/cypress/integration/card/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: common, search

Refactor pageContainer/Routing & App in dataview (#1096)
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-dataview/src/App.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
Due: none

fixing failing unit tests #1126
  packages/datagateway-common/src/views/__snapshots__/viewButton.component.test.tsx.snap
  packages/datagateway-common/src/views/__snapshots__/viewCartButton.component.test.tsx.snap
Due: common

Fix failing e2e tests in dataview (#1096)
  packages/datagateway-dataview/cypress/integration/card/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/table/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
Due: none

Remove @material-ui/core, icons & @mui/styles from dataview (#1096)
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/App.tsx
  yarn.lock
Due: none

adding min height #1126
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Fix various small styling issues (#1096)
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/views/__snapshots__/viewCartButton.component.test.tsx.snap
  packages/datagateway-common/src/views/viewCartButton.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: common, search

renaming test clear filters #1126
  packages/datagateway-common/src/views/clearFiltersButton.component.test.tsx
Due: common

fixing failing test #1126
  packages/datagateway-common/src/views/__snapshots__/clearFiltersButton.component.test.tsx.snap
Due: common

Fix download e2e tests (#1096)
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Remove duplicate loading bar in search (#1096)
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: search

Simplify search tab styling and fix padding issue (#1096)
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: search

Add searchTabs component and remove searchPageCard/Table views (#1096)
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchTabs.component.test.tsx.snap
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
  packages/datagateway-search/src/searchTabs.component.test.tsx
  packages/datagateway-search/src/searchTabs.component.tsx
Due: search

Add wait to failed e2e test to improve reliability (#1096)
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
Due: none

Fix padding issue with card view (#1096)
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/card/entityCard.component.tsx
Due: common

Fix failing tests from last commit (#1096)
  packages/datagateway-common/src/card/__snapshots__/cardView.component.test.tsx.snap
  packages/datagateway-common/src/card/__snapshots__/entityCard.component.test.tsx.snap
  packages/datagateway-common/src/card/entityCard.component.tsx
Due: common

aligning the RS and CF on chrome and firefox#1126
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
Due: none

Fix snapshot errors using RTL to avoid giant snapshots(dataview) (#1096)
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisStudiesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: none

Fix snapshot errors using RTL to avoid giant snapshots (common) (#1096)
  packages/datagateway-common/package.json
  packages/datagateway-common/src/views/__snapshots__/selectionAlert.component.test.tsx.snap
  packages/datagateway-common/src/views/selectionAlert.component.test.tsx
Due: common

Fix snapshot errors using RTL to avoid giant snapshots (search) (#1069)
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Fix e2e test in dataview after recent merges (#1096)
  packages/datagateway-dataview/cypress/integration/breadcrumbs.spec.ts
Due: none

Update @mui libraries to the latest and upgrade to yarn 2 (#1096)
  .gitignore
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Attempted github actions fix (#1096)
  .github/workflows/ci-build.yml
Due: none

Attempt to fix release-build workflow, update snapshots &emotion (#1096)
  .github/workflows/release-build.yml
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-search/package.json
  yarn.lock
Due: download

Fix serve happening before build in yarn serve:build (#1096)
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: none

#1004 - add new tour steps and fix wording on old tour steps - also fix the placement of some old tour steps
  packages/datagateway-common/src/card/advancedFilter.component.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-common/src/table/cellRenderers/expandCell.component.tsx
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.tsx
  packages/datagateway-common/src/views/addToCartButton.component.tsx
  packages/datagateway-common/src/views/downloadButton.component.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-search/public/datagateway-search-settings.example.json
Due: common

Fix details panel tab colours and card view spacing (#1096)
  packages/datagateway-common/src/card/__snapshots__/cardView.component.test.tsx.snap
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/instrumentDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
Due: common

Fix alignment of advanced help on search (#1096)
  packages/datagateway-dataview/cypress/integration/table/dls/proposals.spec.ts
  packages/datagateway-search/src/search/__snapshots__/advancedHelpDialogue.component.test.tsx.snap
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
Due: search

adding docker file
  Dockerfile
Due: none

Fix contrast of clear button in date pickers (#1096)
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-dataview/cypress/integration/table/dls/proposals.spec.ts
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: common, search

#1004 - update snapshots
  packages/datagateway-common/src/card/__snapshots__/cardView.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/expandCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/selectCell.component.test.tsx.snap
Due: common

Revert changes to table/dls/proposals e2e test (#1096)
  packages/datagateway-dataview/cypress/integration/table/dls/proposals.spec.ts
Due: none

Update @mui and fix padding issue around advanced filters (#1096)
  packages/datagateway-common/package.json
  packages/datagateway-common/src/card/__snapshots__/cardView.component.test.tsx.snap
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: common

Update peerDependency mui versions in common (#1096)
  packages/datagateway-common/package.json
Due: none

Update yarn lock file with peerDependency changes (#1096)
  yarn.lock
Due: none

Update snapshot (#1096)
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.component.test.tsx.snap
Due: common, search

#1004 - Remove DataGateway reference from download tour step
  packages/datagateway-download/public/datagateway-download-settings.example.json
Due: none

Changing the admin download table pathname #958
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/src/App.tsx
Due: download
