Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Fix searchableEntities issue and some cleanup
  packages/datagateway-common/src/api/lucene.test.tsx
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

(#2013) Add unit tests for funding selector
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.test.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/fundingReferences.component.test.tsx
  packages/datagateway-common/src/dois/fundingReferences.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/testData.ts
Due: common, download

(#2013) add e2e tests for funder selector
  packages/datagateway-common/src/dois/fundingReferences.component.tsx
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
Due: common

(#2013) add rorApiUrl config option to e2e settings files
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-download/server/e2e-settings.json
Due: none

(#2013) increase timeout in DOIMetadataForm test
  packages/datagateway-common/src/dois/DOIMetadataForm.component.test.tsx
Due: common

Fix TS linting errors
  packages/datagateway-dataview/src/page/idCheckFunctions.test.ts
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.test.tsx
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
