Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

dls datasets, datafiles tests - card, table views - set to name
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
Due: none

walk back initial erroneous changes to information.datakey
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
Due: none

Change DLS datafile createTime to datafileCreateTime
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
Due: none

Datafile interface update
  packages/datagateway-common/src/app.types.tsx
Due: common

tests update
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
Due: none

tests update 2
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
Due: none

datafile table component update
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
Due: none

test data update - dataview, download
  packages/datagateway-dataview/src/views/datafilePreview/testData.ts
  packages/datagateway-download/src/testData.ts
Due: download

ISIS datafile table test update
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
Due: none

details pane table component update
  packages/datagateway-dataview/src/views/datafilePreview/detailsPane.component.tsx
Due: none

details pane table test update
  packages/datagateway-dataview/src/views/datafilePreview/detailsPane.component.test.tsx
Due: none

datafile previewer, table test update
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
Due: none

ISIS e2e test updates
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datasets.cy.ts
Due: none

DLS e2e test updates
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
Due: none

Add back in modTime & createTime fields
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/src/views/datafilePreview/detailsPane.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/testData.ts
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-download/src/testData.ts
Due: common, download

Update dgw-api version used in CI - also improve datafilePreview e2e tests
  .github/workflows/ci-build.yml
  packages/datagateway-dataview/cypress/e2e/datafilePreview.cy.ts
  packages/datagateway-dataview/cypress/fixtures/datafile.json
Due: none

Fix formatting of e2e tests
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datasets.cy.ts
Due: none

Fix e2e tests broken by change in default sort
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datasets.cy.ts
Due: none

Fix typescript errors for AxiosProgressEvent mocks
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.test.tsx
Due: none

Add queryRetries setting to all plugins that configures the react-query query retry behaviour
  packages/datagateway-common/src/api/cart.tsx
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/facilityCycles.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/api/instruments.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-common/src/api/retryICATErrors.test.ts
  packages/datagateway-common/src/api/retryICATErrors.ts
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-dataview/src/App.test.tsx
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
  packages/datagateway-dataview/src/settings.ts
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
  packages/datagateway-download/src/App.test.tsx
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-search/src/App.test.tsx
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/settings.ts
  packages/datagateway-search/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/state/actions/index.tsx
Due: common, search, download

Fix tests broken by either renamed varible not being renamed properly or module mock implementation being outdated
  packages/datagateway-common/src/api/retryICATErrors.ts
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/state/actions/actions.test.tsx
Due: common, search

Address PR comments - Remove TODO - Refactor duplicate code into dg-common
  packages/datagateway-common/src/api/retryICATErrors.ts
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/queryClientSettingsUpdater.component.test.tsx
  packages/datagateway-common/src/queryClientSettingsUpdater.component.tsx
  packages/datagateway-dataview/src/App.test.tsx
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-download/src/App.test.tsx
  packages/datagateway-download/src/App.tsx
  packages/datagateway-search/src/App.test.tsx
  packages/datagateway-search/src/App.tsx
Due: common, search, download

Pin doi-mint-api image version & update changed error message
  .github/workflows/ci-build.yml
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
Due: none

Remove libgconf install step on CI jobs
  .github/workflows/ci-build.yml
  .github/workflows/release-build.yml
Due: none

Fix missing investigation parameter labels
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-search/public/res/default.json
Due: none

for the visit restore button in dataview/search
  packages/datagateway-common/src/api/cart.test.tsx
  packages/datagateway-common/src/api/cart.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/downloadConfirmation/DownloadRequestInfo.ts
  packages/datagateway-common/src/downloadConfirmation/__snapshots__/dialogTitle.component.test.tsx.snap
  packages/datagateway-common/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-common/src/downloadConfirmation/__snapshots__/downloadRequestResult.component.test.tsx.snap
  packages/datagateway-common/src/downloadConfirmation/dialogContent.component.ts
  packages/datagateway-common/src/downloadConfirmation/dialogTitle.component.test.tsx
  packages/datagateway-common/src/downloadConfirmation/dialogTitle.component.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadRequestResult.component.test.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadRequestResult.component.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: common, download

Update python version to 3.9 (matches what version we currently run in prod)
  .github/workflows/ci-build.yml
Due: none

Use system python to install & run ansible
  .github/workflows/ci-build.yml
Due: none

Stop using python2 in CI
  .github/workflows/ci-build.yml
Due: none

Add explicit FilePaths section to advnaced help dialogue
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
Due: search

Simplify the explanation of prefix queries for file extension matching
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
Due: search

Run prettier on advanced search help dialogue changes - and make the corresponding index changes in the translation string
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
Due: search

Fix default sort on my data DLS table - remove date filter from settings file - make the default filter get correctly displayed by the date filter by making default filter a column option
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/__snapshots__/textColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.test.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/cypress/e2e/table/dls/myData.cy.ts
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
Due: common

Fix colours in darkmode for datepickers & various search components - Also fix datetime locale to be british not american (means weeks are Mon-Sun not Sun-Sat)
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/newParameterFilterCreator.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterDateTimeSelector.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterFacetList.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterNumericRange.component.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/myDataCheckBox.component.tsx
  packages/datagateway-search/src/search/sortSelect.component.tsx
Due: common, search

Disable refetchOnWindowFocus for search queries - searches can often reliably fail e.g. due to timeouts/bad syntax, and we don't want to retry these for load reasons
  packages/datagateway-common/src/api/lucene.tsx
Due: common

Improve date picker styling & update snapshots
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: common, search, download

Fix default sort & default filter overriding existing sorts/filters in the URL
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.test.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
Due: common

#1445 - fix more runtime errors caused by react 18 update - This is after rebasing previous commits onto current develop branch
  packages/datagateway-common/src/queryClientSettingsUpdater.component.test.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/page/breadcrumbs.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-search/src/facet/useFacetFilters.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchTabs/useSearchResultCounter.test.tsx
  packages/datagateway-search/src/setupTests.ts
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search, download

#1445 - fix dgcommon unit tests
  packages/datagateway-common/src/App.test.tsx
  packages/datagateway-common/src/api/dataPublications.test.tsx
  packages/datagateway-common/src/api/datafiles.test.tsx
  packages/datagateway-common/src/api/datasets.test.tsx
  packages/datagateway-common/src/api/facilityCycles.test.tsx
  packages/datagateway-common/src/api/instruments.test.tsx
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/lucene.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/instrumentDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
Due: common

Add max of 999 to viewCartButton
  packages/datagateway-common/src/views/viewCartButton.component.tsx
Due: common

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
