Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Combine RUN commands
  Dockerfile
Due: none

Run container as non-root user
  Dockerfile
Due: none

Bind to privileged ports as non-root
  Dockerfile
Due: none

Change access rights for Apache logs directory
  Dockerfile
Due: none

Define .dockerignore
  .dockerignore
Due: none

Add initial changelog
  CHANGELOG.md
Due: none

#1289 - add workflow for generating changelog after releases
  .github/workflows/update-changelog.yml
  CHANGELOG-BASE.md
Due: none

#1285 - Switch to different release action
  .github/workflows/release-build.yml
Due: none

#1280 - address PR comments - fixed some things i missed in test files - add tooltip to selectHeader
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search, download

#1280 - add allIds loading state to table probs
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

#1280 - remove log statement & fix test
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.test.tsx
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
  packages/datagateway-search/src/searchPageTable.component.test.tsx
Due: common, search

Update version numbers & changelog for v1.1.0
  CHANGELOG-BASE.md
  CHANGELOG.md
  lerna.json
  package.json
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: none

Create CITATION.cff
  CITATION.cff
Due: none

Update CITATION.cff
  CITATION.cff
Due: none

#1280 - fix alignment error in SelectHeader
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.tsx
Due: common

Move push_to_registry job to ci-build workflow #1299
  .github/workflows/ci-build.yml
  .github/workflows/docker-build.yml
Due: none

Rename push_to_registry job to docker #1299
  .github/workflows/ci-build.yml
Due: none

Configure job to only run after other jobs succeed #1299
  .github/workflows/ci-build.yml
Due: none

Pin Ubuntu version #1299
  .github/workflows/ci-build.yml
Due: none

Rename steps and fix formatting #1299
  .github/workflows/ci-build.yml
Due: none

Configure job to push image to Harbor on pushes to k8s-deployment branch #1299
  .github/workflows/ci-build.yml
Due: none

Add job documentation and TODOs #1299
  .github/workflows/ci-build.yml
Due: none

Fix CI Build workflow #1299
  .github/workflows/ci-build.yml
Due: none

#830 - fix download button misalignment & refactor to reduce repetition
  packages/datagateway-common/src/views/downloadButton.component.tsx
Due: common

#830 - fix loading indicator causing scroll bar to appear - had to take off an extra pixel to give leeway for subpixels
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

#830 - add missing bracket to calc in download cart
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#830 - fix alignments of file count/size display in cart
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#830 - fix loading bar sizing calcs
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search, download

#830 - fix breadcrumb active & hover stylings
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
Due: none

#830 - fix size of admin download able & update snapshots
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Fix security vulnerabilities reverted by MUIv5 branch - plus ran yarn dedupe
  yarn.lock
Due: none

Update renovate.json
  renovate.json
Due: none

Remove dependabot config
  .github/dependabot.yml
Due: none

WIP: migrate to react-query & fix tests
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Fix downloadStatusTable tests
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Update renovate.json with maintainLockFilesWeekly
  renovate.json
Due: none

#1280 - fix tooltip & add loading text & translate strings
  packages/datagateway-common/src/arrowtooltip.component.tsx
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.tsx
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.tsx
  packages/datagateway-common/src/views/addToCartButton.component.tsx
  packages/datagateway-common/src/views/downloadButton.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-search/public/res/default.json
Due: common

Add/fix tests for tooltips stuff
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/selectCell.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-common/src/views/addToCartButton.component.test.tsx
  packages/datagateway-common/src/views/downloadButton.component.test.tsx
Due: common

Remove mount.cleanUp() call
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
