Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Add in date filter for DownloadStatusTable (#48)
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadApi.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab.component.tsx
Due: download

Merged in refactor, began using dg-common functions #33
  packages/datagateway-common/src/dls/tables/dlsDatafilesSearchTable.component.tsx
  packages/datagateway-common/src/dls/tables/dlsDatasetsSearchTable.component.tsx
  packages/datagateway-common/src/dls/tables/dlsProposalsSearchTable.component.tsx
  packages/datagateway-common/src/isis/tables/isisDatafilesSearchTable.component.tsx
  packages/datagateway-common/src/isis/tables/isisDatasetsSearchTable.component.tsx
  packages/datagateway-common/src/isis/tables/isisInvestigationsSearchTable.component.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
Due: common, search

Add initial e2e tests for DownloadStatusTable (#48)
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/cypress/integration/downloadTab.spec.ts
  packages/datagateway-download/cypress/support/index.d.ts
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-download/src/tooltip.component.tsx
  packages/datagateway-table/cypress/support/commands.js
Due: download

Removed comments, other suggested edits #86
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/reducers/app.reducer.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-table/src/App.tsx
  packages/datagateway-table/src/state/actions/actions.test.tsx
  packages/datagateway-table/src/state/actions/actions.types.tsx
  packages/datagateway-table/src/state/middleware/dgtable.middleware.test.tsx
  packages/datagateway-table/src/state/middleware/dgtable.middleware.tsx
  packages/datagateway-table/src/state/reducers/createReducer.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.tsx
Due: common, table, search

Remove console.log comments, further suggested edits #86
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-common/src/state/middleware/dgcommon.middleware.test.tsx
  packages/datagateway-search/src/state/reducers/app.reducer.tsx
  packages/datagateway-table/src/pageHead.component.tsx
  packages/datagateway-table/src/state/app.types.tsx
  packages/datagateway-table/src/state/reducers/app.reducer.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.test.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.tsx
Due: common, table, search

Fixes to packages.json and tsconfig #86
  packages/datagateway-common/package.json
  packages/datagateway-search/package.json
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-table/tsconfig.json
Due: search

Fix linting errors #86
  packages/datagateway-common/package.json
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/state/reducers/app.reducer.tsx
  packages/datagateway-table/src/App.tsx
  packages/datagateway-table/src/state/actions/actions.test.tsx
  packages/datagateway-table/src/state/actions/actions.types.tsx
  packages/datagateway-table/src/state/reducers/app.reducer.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.test.tsx
Due: common, table, search

Add fetchEntity tests for skip and limit #86
  packages/datagateway-common/src/state/actions/datafiles.test.tsx
  packages/datagateway-common/src/state/actions/datasets.test.tsx
  packages/datagateway-common/src/state/actions/facilityCycles.test.tsx
  packages/datagateway-common/src/state/actions/instruments.test.tsx
  packages/datagateway-common/src/state/actions/investigations.test.tsx
Due: common

#86 - add cancel token middleware test
  packages/datagateway-common/src/state/middleware/dgcommon.middleware.test.tsx
Due: common

#86 - rename Daaas reference in middleware test
  packages/datagateway-common/src/state/middleware/dgcommon.middleware.test.tsx
Due: common

Add in test for fetchISISInvestigations #86
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/investigations.test.tsx
Due: common

Removed logging #86
  packages/datagateway-common/src/state/actions/investigations.test.tsx
Due: common

Added main DownloadStatusTable e2e tests (#48)
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/cypress/integration/downloadTab.spec.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/cypress/support/index.d.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
  packages/datagateway-table/cypress/support/commands.js
Due: download

Update DownloadConfirmDialog unit tests (#48)
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
Due: download

Update daaas & daaas-frontend references in datagateway common/table packages (#95)
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/middleware/dgcommon.middleware.tsx
  packages/datagateway-table/src/App.tsx
  packages/datagateway-table/src/index.tsx
  packages/datagateway-table/src/state/actions/actions.types.tsx
Due: common, table

Change daaas event naming in datagateway-download (#95)
  packages/datagateway-download/src/index.tsx
Due: download

Move event message types to datagateway-common (#95)
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/middleware/dgcommon.middleware.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-table/src/App.tsx
  packages/datagateway-table/src/index.tsx
  packages/datagateway-table/src/state/actions/actions.types.tsx
Due: common, table, download

Remove old comments (#95)
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/middleware/dgcommon.middleware.tsx
  packages/datagateway-table/src/state/actions/actions.types.tsx
Due: common, table

#111 - add readSciGatewayToken function and use this to get session ids
  packages/datagateway-common/package.json
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/parseTokens.test.ts
  packages/datagateway-common/src/parseTokens.ts
  packages/datagateway-common/src/state/actions/cart.tsx
  packages/datagateway-common/src/state/actions/datafiles.tsx
  packages/datagateway-common/src/state/actions/datasets.tsx
  packages/datagateway-common/src/state/actions/facilityCycles.tsx
  packages/datagateway-common/src/state/actions/instruments.tsx
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/index.tsx
  packages/datagateway-search/package.json
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-table/cypress/support/commands.js
  packages/datagateway-table/package.json
  packages/datagateway-table/src/breadcrumbs.component.tsx
  packages/datagateway-table/src/state/actions/index.tsx
  yarn.lock
Due: common, table, search, download

Remove WIP file import
  packages/datagateway-common/src/index.tsx
Due: common

#111 - fix e2e tests by copying JWT parsing functions + generating a JWT when logging in
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-table/cypress/support/commands.js
Due: none

Read datagateway-download settings (#88)
  packages/datagateway-download/public/datagateway-download-settings.json
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#111 - centralise error handling and invalidate token on authentication errors
  packages/datagateway-common/src/handleICATError.test.ts
  packages/datagateway-common/src/handleICATError.ts
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/state/actions/cart.test.tsx
  packages/datagateway-common/src/state/actions/cart.tsx
  packages/datagateway-common/src/state/actions/datafiles.test.tsx
  packages/datagateway-common/src/state/actions/datafiles.tsx
  packages/datagateway-common/src/state/actions/datasets.test.tsx
  packages/datagateway-common/src/state/actions/datasets.tsx
  packages/datagateway-common/src/state/actions/facilityCycles.test.tsx
  packages/datagateway-common/src/state/actions/facilityCycles.tsx
  packages/datagateway-common/src/state/actions/instruments.test.tsx
  packages/datagateway-common/src/state/actions/instruments.tsx
  packages/datagateway-common/src/state/actions/investigations.test.tsx
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-download/src/downloadCart/downloadCartApi.test.ts
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
Due: common, download

Remove pre-production URLs (#88)
  packages/datagateway-download/public/datagateway-download-settings.json
  packages/datagateway-table/public/datagateway-table-settings.example.json
Due: none

Add download settings to API parameters (#88)
  packages/datagateway-download/.gitignore
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Fix .gitignore (#88)
  .gitignore
  packages/datagateway-download/.gitignore
Due: none

Add Preloader to ConfigProvider when loading datagateway-download settings (#88)
  packages/datagateway-common/src/index.css
  packages/datagateway-common/src/index.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
Due: common, download

#111 - update e2e login command in search
  packages/datagateway-search/cypress/support/commands.js
Due: none

Add support for access methods in the datagateway-download settings (#88)
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Change formatting of access method in configuration (#88)
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Partially fix datagateway-download unit tests to include settings (#88)
  packages/datagateway-download/__mocks__/axios.ts
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-download/server/e2e-test-server.js
  packages/datagateway-download/src/App.test.tsx
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/downloadCart/downloadCartApi.test.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
Due: download

Added in table and tabs for dg-search feature #33
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/pageSearchTable.component.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/app.reducer.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
Due: search

Add wrapper to ConfigProvider unit test (#88)
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
Due: download

Search table only appears after succesful request #33
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/pageSearchTable.component.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
Due: search

#59 - initial working fix using withIdCheck HOC
  packages/datagateway-table/package.json
  packages/datagateway-table/src/App.tsx
  packages/datagateway-table/src/idCheckFunctions.ts
  packages/datagateway-table/src/pageTable.component.tsx
  packages/datagateway-table/src/withIdCheck.tsx
  yarn.lock
Due: table

#59 - improve styling
  packages/datagateway-table/src/pageContainer.component.tsx
  packages/datagateway-table/src/withIdCheck.tsx
Due: table

#59 - update PageTable unit tests
  packages/datagateway-table/src/breadcrumbs.component.test.tsx
  packages/datagateway-table/src/pageTable.component.test.tsx
  packages/datagateway-table/src/pageTable.component.tsx
  packages/datagateway-table/src/setupTests.ts
  packages/datagateway-table/src/withIdCheck.tsx
Due: table

#59 - update PageContainer snapshot to reflect styling changes
  packages/datagateway-table/src/__snapshots__/pageContainer.component.test.tsx.snap
Due: table
