Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Update dataview translations
  packages/datagateway-dataview/public/res/default.json
Due: none

Set isis datafile table action width
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
Due: none

Remove useScrollToZoom extra code
  packages/datagateway-dataview/src/views/datafilePreview/hooks/useScrollToZoom.ts
Due: none

Moving to @mui/x-date-pickers, adding custom clear button
  packages/datagateway-common/package.json
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  packages/datagateway-search/src/search/datePicker.component.tsx
  yarn.lock
Due: common, search

Updating download status table snapshots
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
Due: download

WIP: impl tests for datafile preview ui
  packages/datagateway-common/src/api/datafiles.test.tsx
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-dataview/src/views/datafilePreview/datafileExtension.ts
  packages/datagateway-dataview/src/views/datafilePreview/datafileExtensions.test.ts
  packages/datagateway-dataview/src/views/datafilePreview/defaults.ts
  packages/datagateway-dataview/src/views/datafilePreview/hooks/useScrollToZoom.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/hooks/useScrollToZoom.ts
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/txtPreview.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/txtPreview.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewErrorMessage.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewPane.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewPane.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/state/reducer.test.ts
  packages/datagateway-dataview/src/views/datafilePreview/state/reducer.ts
  packages/datagateway-dataview/src/views/datafilePreview/testData.ts
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/actionButtons.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/actionButtons.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/rightAlignedControls.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/rightAlignedControls.tsx
  yarn.lock
Due: common

Applying overwritten fix to unit tests
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
Due: search

Adding unit tests for custom clear button
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-search/src/search/__snapshots__/datePicker.component.test.tsx.snap
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: common, search

WIP: continue tests for datafile preview ui
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/detailsPane.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/detailsPane.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewDatafileButton.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewDatafileButton.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewStatusView.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewerStatus.ts
  packages/datagateway-dataview/src/views/datafilePreview/testData.ts
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/actionButtons.component.test.tsx
Due: common

Finish tests for datafile preview UI
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/txtPreview.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewDatafileButton.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/actionButtons.component.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatafilesTable.component.test.tsx.snap
Due: none

Refactor datafile previewer status type shape
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewStatusView.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewStatusView.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewerStatus.ts
Due: none

Add e2e test for datafile preview ui
  packages/datagateway-dataview/cypress/fixtures/datafile.json
  packages/datagateway-dataview/cypress/fixtures/datafile.txt
  packages/datagateway-dataview/cypress/integration/datafilePreview.spec.ts
  packages/datagateway-dataview/cypress/tsconfig.json
Due: none

Add more code comments
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewerContext.ts
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/previewComponents.ts
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/txtPreview.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/state/reducer.ts
Due: none

Make previewer details pane vertically scrollable
  packages/datagateway-dataview/src/views/datafilePreview/detailsPane.component.tsx
Due: none

Make datafile previewer UI more responsive
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/actionButtons.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/toolbarButton.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/toolbarButton.component.tsx
Due: none

Update yarn lockfile
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/__snapshots__/txtPreview.component.test.tsx.snap
  yarn.lock
Due: none

Update txt datafile preview component snapshot
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/__snapshots__/txtPreview.component.test.tsx.snap
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/txtPreview.component.test.tsx
Due: none

Reformat code
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/views/datafilePreview/datafileExtension.ts
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/detailsPane.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewDatafileButton.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewDatafileButton.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewPane.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewPane.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/testData.ts
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/actionButtons.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/actionButtons.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/rightAlignedControls.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/rightAlignedControls.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/toolbarButton.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/toolbarButton.component.tsx
Due: none

Fix tests
  packages/datagateway-common/src/api/datafiles.test.tsx
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
  packages/datagateway-search/.env.production
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchTabs.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search, download

Accidentally changed env value
  packages/datagateway-search/.env.production
Due: none

Reformat datagateway-dataview code
  packages/datagateway-dataview/src/__mocks__/lodash.debounce.ts
  packages/datagateway-dataview/src/page/doiRedirect.component.tsx
  packages/datagateway-dataview/src/page/idCheckFunctions.test.ts
  packages/datagateway-dataview/src/page/idCheckFunctions.ts
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/withIdCheck.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewerContext.ts
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: none

Fix datagateway-dataview e2e test
  packages/datagateway-dataview/cypress/integration/table/isis/datafiles.spec.ts
Due: none

Address PR comments: - add default tab checks to other details panel tests - fix typo - pin testing library versions
  packages/datagateway-common/package.json
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/instrumentDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
Due: common

Make view tabs not selectable in details panels
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
Due: common

Update yarn lock file
  yarn.lock
Due: none

Fix datagateway-dataview e2e test again
  packages/datagateway-dataview/cypress/integration/table/isis/datafiles.spec.ts
Due: none

Reformat code with prettier
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchTabs.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Query dataset counts for visible cells only
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-search/src/searchTabs.component.test.tsx
  packages/datagateway-search/src/searchTabs.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable/investigationDatasetCountCell.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable/investigationSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable/investigationSizeCell.component.tsx
Due: common, search

Fix misaligned papers and tab label in search UI
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchTabs.component.tsx
Due: search

Make "my data" checkbox visible only if logged in
  packages/datagateway-search/src/searchBoxContainer.component.tsx
Due: search

Fix performance issue for dataset search table
  packages/datagateway-search/src/searchTabs.component.test.tsx
  packages/datagateway-search/src/searchTabs.component.tsx
  packages/datagateway-search/src/table/cellRenderers.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable/investigationDatasetCountCell.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable/investigationSizeCell.component.tsx
Due: search

My data checkbox changes in search UI - Add tooltip to checkbox to explain what it does - It will no longer trigger the search whenever it changes
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/search/myDataCheckBox.component.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Minor search UI refactor
  packages/datagateway-search/src/searchTabLabel.component.tsx
  packages/datagateway-search/src/searchTabs.component.tsx
Due: search

Fix refresh btn not refreshing download progress
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Update download settings example json
  packages/datagateway-download/public/datagateway-download-settings.example.json
Due: none

Update version numbers & changelog for v1.1.1
  CHANGELOG.md
  lerna.json
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: none

Migrate investigation search table test to RTL
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/investigationDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-search/package.json
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchTabLabel.component.tsx
  packages/datagateway-search/src/setupTests.ts
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/cellRenderers.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
  packages/datagateway-search/src/testData.ts
  yarn.lock
Due: common, search

Fix type error in investigation search table test
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Fix download progress undefined check to allow 0
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.tsx
Due: download

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
