Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Migrate isisDatasetCardView test to RTL
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
Due: none

Migrate isisDatasetCardView test to RTL
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
Due: common

Migrate isisFacilityCyclesCardView test to RTL
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
Due: none

remove split url, take api url straight from settings
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-search/src/index.tsx
Due: search

Migrate isisInstrumentsCardView test to RTL
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
Due: none

refactor dataGatewayUrl variable to apiUrl
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-search/src/index.tsx
Due: search

Migrate isisInvestigationsCardView test to RTL
  packages/datagateway-common/src/detailsPanels/isis/instrumentDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
Due: common

Migrate dlsDatasetsCardView test to RTL
  packages/datagateway-common/src/detailsPanels/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.tsx
Due: common

Migrate dlsDatasets/ProposalsCardView test to RTL
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
Due: none

migrate lint command
  package.json
Due: none

migrate tsc command
  package.json
Due: none

Migrate dlsVisitsCardView test to RTL
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
Due: none

Migrate isisStudyLanding test to RTL
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
Due: none

Remove traces of enzyme in datasetTable test
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
Due: none

Migrate investigationTable test to RTL
  packages/datagateway-common/src/detailsPanels/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
Due: common

Migrate isisDatafilesTable test to RTL
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
Due: common

Test if issues caused by newer version of api
  .github/workflows/ci-build.yml
Due: none

fix test:unit command, no parallel
  package.json
Due: none

add verbose and interlaced options
  package.json
Due: none

Migrate isisDatasetsTable test to RTL
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
Due: none

Migrate isisFacilityCyclesTable test to RTL
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
Due: none

Migrate isisInstrumentsTable test to RTL
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.test.tsx
Due: none

-yarn remove lerna -fix pre-commit
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

Migrate isisMyDataTable test to RTL
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: none

Refactor isisMyDataTable test
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: none

Migrate isisInvestigationTable test to RTL
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
Due: none

add plugin-workspace-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
Due: none

Migrate dlsDatafilesTable test to RTL
  packages/datagateway-common/src/detailsPanels/dls/datafileDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
Due: common

Migrate dlsDatasetsTable test to RTL
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
Due: none

Migrate dlsMyDataTable test to RTL
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
Due: none

remove lerna.json
  lerna.json
Due: none

Migrate dlsProposalsTable test to RTL
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.test.tsx
Due: none

Migrate dlsVisitsTable test to RTL
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
Due: none

Migrate breadcrumbs test to RTL
  packages/datagateway-dataview/src/page/breadcrumbs.component.test.tsx
Due: none

Migrate doiRedirect test to RTL
  packages/datagateway-dataview/src/page/doiRedirect.component.test.tsx
Due: none

update README, remove reference to lerna
  README.md
Due: none

remove lerna-update-wizard
  package.json
  yarn.lock
Due: none

add --interlaced to build and lint commands
  package.json
Due: none

Migrate pageContainer test to RTL
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
Due: none

No limit on threads
  package.json
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
