Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

All images now load properly #431
  packages/datagateway-common/package.json
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/images/background.jpg
  packages/datagateway-common/src/images/discover.jpg
  packages/datagateway-common/src/images/download.jpg
  packages/datagateway-common/src/images/explore.jpg
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  yarn.lock
Due: common

Adding comments, renaming function #431
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Remaking homepage snapshot #431
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
Due: common

Adding tests to increase coverage #431
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.test.tsx
Due: common

Unit test new downloadApi logic #613
  packages/datagateway-download/src/downloadApi.test.ts
Due: download

Unit test Admin Download table #613
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Fix failing Download e2e tests #613
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Address requested changes #613
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Update Admin Download table unit tests #613
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

e2e test Admin Download table #613
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/cypress/support/index.d.ts
  packages/datagateway-download/server/e2e-settings.json
Due: none

Fix failing unit test #613
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Another attempt to fix failing unit test #613
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Fix dark mode text colour by adding Paper component
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Adding pluginHostUrl to dataview state #431
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.test.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
Due: none

Reformatting state to make pluginHostUrl entirely optional #431
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.test.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
Due: none

Refactoring to move imported homepage into more efficient route system #431
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.test.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
Due: common

#669 - fix cart actions to use facilityName setting
  packages/datagateway-common/src/state/actions/cart.test.tsx
  packages/datagateway-common/src/state/actions/cart.tsx
Due: common

Fix facility name in search e2e test config
  packages/datagateway-search/server/e2e-settings.json
Due: none

#485 - support HTML in access method description
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Reformatting, adding test, fixing UI #431
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
Due: common

Updating homepage snapshot #431
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
Due: common

Adding new test, removing failing test #431
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
Due: none

Fixing test for pageRouting #431
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
Due: none

Refactoring homepage code back to pageContainer, remaking tests and snapshots #431
  packages/datagateway-common/src/homePage/homePage.component.test.tsx
  packages/datagateway-dataview/src/page/__snapshots__/translatedHomePage.component.test.tsx.snap
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/page/translatedHomePage.component.test.tsx
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
Due: common

Fetching facility cycles and storing in local state #658
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Fix route typings and remove extraneous typing info
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
Due: none

Fixing linting problems with useEffect() #658
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Fix casing on ISIS my data logic #94
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: none

#692 - fix spelling mistake
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Fix bulk of casing changes for landing page code #94
  packages/datagateway-dataview/src/views/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisDatasetLanding.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisInvestigationLanding.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisStudyLanding.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: none

Removing conflicts with pluginHostUrl #431
  packages/datagateway-dataview/src/page/translatedHomePage.component.test.tsx
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
  packages/datagateway-dataview/src/state/actions/actions.types.tsx
Due: none

Removing outdated pluginHostUrl reference #431
  packages/datagateway-dataview/src/state/actions/index.tsx
Due: none

Fixing dataview unit test #431
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
Due: none

Remove `INVESTIGATION_ID` in landing page code #94
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisDatasetLanding.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisInvestigationLanding.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisStudyLanding.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Fix e2e tests #94
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/dataset.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/investigation.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
Due: none

Fixes #696 - fix broken visit id translation
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Remove test from landing page work #94
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
Due: none

Fix test snapshots #94
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisInvestigationLanding.component.test.tsx.snap
Due: none

Make studyInvestigation's investigation mandatory #94
  packages/datagateway-common/src/app.types.tsx
Due: common

Apply investigation ID fix to datafile table views #94
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
