Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Amending tooltip message, bumping coverage #1195
  packages/datagateway-common/src/views/downloadButton.component.tsx
  packages/datagateway-dataview/public/res/default.json
Due: common

Fixing downloadCartTable unit test #1210
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
Due: download

Making some small fixes #830
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisStudyLanding.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

More minor fixes #830
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisStudiesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: common

Make snapshots for develop branch
  .github/workflows/release-build.yml
Due: none

Customising notification message if it concerns session expiry #1209
  packages/datagateway-common/src/handleICATError.ts
Due: common

Adding unit test for customised session expiry message #1209
  packages/datagateway-common/src/handleICATError.test.ts
Due: common

Minor fixes to dg-download #830
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
Due: download

Minor fixes to dg-search #830
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.component.test.tsx.snap
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchTextBox.component.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchTabs.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Stop requesting cart on homepage - if viewing homepage when not logged in then the request will throw an error
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Fixing dateColumnFilter #830
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
Due: common

Update gitignore file to ignore a wider range of non-example settings files - this makes it easier to have facility specific config files ignored
  .gitignore
Due: none

Fixing dg-common tests #830
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/actionCell.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-common/src/views/downloadButton.component.test.tsx
  packages/datagateway-download/package.json
  yarn.lock
Due: common

Fixing dg-download unit tests #830
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  yarn.lock
Due: download

Fixing dateColumnFilter logic and datetime picker e2e test #830
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: common

Fixing dateColumnFilter snapshots #830
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
Due: common

Fixing incorrect id in investigationsTable #830
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
Due: none

Customising user advice based on autoLogin factor #1209
  packages/datagateway-common/src/handleICATError.test.ts
  packages/datagateway-common/src/handleICATError.ts
Due: common

#1196 - fix breadcrumbs visual glitch in FF by using even pixel numbers in the :before/:after segments
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
Due: none

Removing material-ui 4 from dependabot.yml
  .github/dependabot.yml
Due: none

Improving datafileSearch e2e test #1196
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
Due: none

#1196 - adjust some breadcrumb padding
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
Due: none

Fix breadcrumb styling
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
Due: none

#1196 - Use MUI theme background colour for breadcrumb gaps
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
Due: none

Final amendment to breadcrumbs #830
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
Due: none

#1257 - send error message with token invalidation event - and don't send a notification event, as SG will do it for us if the refresh fails
  packages/datagateway-common/src/handleICATError.ts
Due: common

#1174 - changed Title icon to Subject icon
  packages/datagateway-common/src/card/advancedFilter.component.test.tsx
  packages/datagateway-common/src/card/advancedFilter.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: common

#1257 - fix handleICATError tests
  packages/datagateway-common/src/handleICATError.test.ts
  packages/datagateway-common/src/handleICATError.ts
Due: common

#1257 - add retry function to not retry queries on ICAT auth error
  packages/datagateway-common/src/api/cart.tsx
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/facilityCycles.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/api/instruments.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-common/src/api/retryICATErrors.test.ts
  packages/datagateway-common/src/api/retryICATErrors.ts
  packages/datagateway-common/src/api/studies.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
Due: common, download

#1257 - mock retryICATErrors in unit tests with react-query failures
  packages/datagateway-common/src/api/retryICATErrors.test.ts
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-download/src/downloadApiHooks.test.tsx
Due: common, download

#1257 - update snapshots
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
Due: search

#1261 - disable HTTPS downloads with non-COMPLETE statuses
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: common, download

#1261 - adjust tests for new download disable behaviour - also tidy up code in the download button
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

#1261 - display more helpful message on network error
  packages/datagateway-common/src/handleICATError.test.ts
  packages/datagateway-common/src/handleICATError.ts
Due: common

#1261 - show checkboxes/add to cart button as disabled w/ tooltip when cart hasn't loaded - also refactor some tooltips to be styled only once
  packages/datagateway-common/src/arrowtooltip.component.tsx
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/selectCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.test.tsx
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.tsx
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-common/src/views/addToCartButton.component.test.tsx
  packages/datagateway-common/src/views/addToCartButton.component.tsx
  packages/datagateway-common/src/views/downloadButton.component.test.tsx
  packages/datagateway-common/src/views/downloadButton.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search, download

#1280 - use forwardRef in StyledTooltip
  packages/datagateway-common/src/arrowtooltip.component.tsx
Due: common

#1280 - define isLoading in useCart mocks when it's used by the component being tested
  packages/datagateway-common/src/views/addToCartButton.component.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search

Remove unnecessary setting of path
  Dockerfile
Due: none
