Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

change :00 to :59 in admin download filtering
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Improve investigationTable tests
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
Due: none

Remove redundant datagateway checkout
  .github/workflows/ci-build.yml
Due: none

Fix/suppress most warnings in tests - also, change the loglevel import to the more standard form as this is now preferred according to their docs
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/handleICATError.test.ts
  packages/datagateway-common/src/handleICATError.ts
  packages/datagateway-dataview/src/App.test.tsx
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/__mocks__/loglevel.ts
  packages/datagateway-dataview/src/index.test.tsx
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-dataview/src/page/doiRedirect.component.test.tsx
  packages/datagateway-dataview/src/page/doiRedirect.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.test.tsx
  packages/datagateway-dataview/src/views/datafilePreview/previewComponents/textPreview.component.test.tsx
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.test.tsx
  packages/datagateway-download/src/index.test.tsx
  packages/datagateway-search/src/App.test.tsx
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/index.test.tsx
  packages/datagateway-search/src/index.tsx
Due: common, search, download

Improve loglevel mock & mock in other plugins
  packages/datagateway-download/src/__mocks__/loglevel.ts
  packages/datagateway-search/src/__mocks__/loglevel.ts
Due: search, download

Fix act warning in useAdminDownloads test - we were wrongly awaiting fetchNextPage, so call it normally and await for it to start fetching & finish fetching
  packages/datagateway-download/src/downloadApiHooks.test.tsx
Due: download

Fix e2e tests and make refresh tests more stable by mocking clock
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Remove TimezoneOffset as redundant
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

modify query syntax, possibly has improved it...
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Fix security alerts bu upgrading vulnerable packages
  yarn.lock
Due: none

WIP: Facet filter panel
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/toggleableFilterItem.component.tsx
  packages/datagateway-search/src/facet/doc.ts
  packages/datagateway-search/src/facet/facet.ts
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

Fix facet panel not reacting to clear filter
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
Due: search

fix wrong screenshot directories
  .github/workflows/ci-build.yml
Due: none

Add filter panel to dataset search table
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Implement filter chips that show selected filters
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/toggleableFilterItem.component.tsx
  packages/datagateway-search/src/facet/components/selectedFilterChips.component.tsx
  packages/datagateway-search/src/facet/useFacetFilters.ts
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Add filter panel to datafile search table
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/useFacetFilters.ts
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Add comments; add test for selectedFilterChips
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/components/selectedFilterChips.component.test.tsx
  packages/datagateway-search/src/facet/components/selectedFilterChips.component.tsx
Due: search

Add tests for facet filter panel
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/toggleableFilterItem.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/toggleableFilterItem.component.tsx
Due: search

Point workflow at dg api version 6
  .github/workflows/ci-build.yml
Due: none

Add test for useFacetFilter hook
  packages/datagateway-search/src/facet/useFacetFilters.test.tsx
  packages/datagateway-search/src/facet/useFacetFilters.ts
Due: search

Refactor search query logic for search tables
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchTabs.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

Port search query changes to card views Port the search query refactor changes to search card views
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/facet/useFacetFilters.ts
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchTabs/searchTabLabel.component.tsx
  packages/datagateway-search/src/searchTabs/searchTabs.component.test.tsx
  packages/datagateway-search/src/searchTabs/searchTabs.component.tsx
  packages/datagateway-search/src/searchTabs/useSearchResultCounts.ts
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Fix search result count not updating in some cases Fix search result count in search tabs not updating correctly when the same search results are returned after re-fetching
  packages/datagateway-search/src/searchTabs/searchTabs.component.tsx
  packages/datagateway-search/src/searchTabs/useSearchResultCounter.ts
Due: search

Update useFacetFilters test
  packages/datagateway-search/src/facet/useFacetFilters.test.tsx
Due: search

Add useSearchResultCounter tests
  packages/datagateway-search/src/searchTabs/useSearchResultCounter.test.tsx
  packages/datagateway-search/src/searchTabs/useSearchResultCounter.ts
Due: search

Update datafile search table tests
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-common/src/detailsPanels/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-search/package.json
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/setupTests.ts
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
  packages/datagateway-search/src/testData.ts
  yarn.lock
Due: common, search

Add test for filter panel in datafile search table
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/components/selectedFilterChips.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
Due: search

Update tests for search tabs and search tables
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/searchTabs/searchTabs.component.test.tsx
  packages/datagateway-search/src/searchTabs/searchTabs.component.tsx
  packages/datagateway-search/src/searchTabs/useSearchResultCounter.ts
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Updating to v11 for download #1427
  packages/datagateway-download/cypress.config.ts
  packages/datagateway-download/cypress.json
  packages/datagateway-download/cypress/e2e/adminDownloadStatus.cy.ts
  packages/datagateway-download/cypress/e2e/app.cy.ts
  packages/datagateway-download/cypress/e2e/downloadCart.cy.ts
  packages/datagateway-download/cypress/e2e/downloadConfirmation.cy.ts
  packages/datagateway-download/cypress/e2e/downloadStatus.cy.ts
  packages/datagateway-download/cypress/e2e/downloadTab.cy.ts
  packages/datagateway-download/cypress/plugins/index.js
  packages/datagateway-download/cypress/support/e2e.js
  packages/datagateway-download/package.json
  yarn.lock
Due: none

Updating to v11 for search #1427
  packages/datagateway-search/cypress.config.ts
  packages/datagateway-search/cypress.json
  packages/datagateway-search/cypress/e2e/app.cy.ts
  packages/datagateway-search/cypress/e2e/search/datafileSearch.cy.ts
  packages/datagateway-search/cypress/e2e/search/datasetSearch.cy.ts
  packages/datagateway-search/cypress/e2e/search/investigationSearch.cy.ts
  packages/datagateway-search/cypress/e2e/searchBoxContainer.cy.ts
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
  packages/datagateway-search/cypress/plugins/index.js
  packages/datagateway-search/cypress/support/e2e.js
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Bumping @mui/x-date-pickers to 5.0.9
  packages/datagateway-common/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Fixing type checking
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Update e2e tests for the facet filter UI
  packages/datagateway-search/cypress/fixtures/datafileSearchResults.json
  packages/datagateway-search/cypress/fixtures/datasetSearchResults.json
  packages/datagateway-search/cypress/fixtures/downloadCartItems.json
  packages/datagateway-search/cypress/fixtures/filteredDatafileSearchResults.json
  packages/datagateway-search/cypress/fixtures/filteredDatasetSearchResults.json
  packages/datagateway-search/cypress/fixtures/filteredInvestigationSearchResults.json
  packages/datagateway-search/cypress/fixtures/investigationSearchResults.json
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
  packages/datagateway-search/cypress/support/commands.js
  packages/datagateway-search/cypress/tsconfig.json
  packages/datagateway-search/src/searchTabs/searchTabs.component.tsx
Due: search

Use yarn resolution to pin @types/react version
  package.json
  yarn.lock
Due: none

Updating @typescript-eslint packages
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Adding error handling in external domain
  packages/datagateway-dataview/cypress/e2e/homePage.cy.ts
Due: none

Update tests for search card views
  packages/datagateway-search/package.json
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/tsconfig.json
  yarn.lock
Due: search

Update tests for search card views
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

test icat-generator
  .github/workflows/ci-build.yml
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
