Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Fix default entry #712
  packages/datagateway-dataview/public/res/default.json
Due: none

Revert "Removing date-fns library as date-fns-tz has function already #717"
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  yarn.lock
Due: download

Fix rest of DataView e2e tests #712
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/cartSelection.spec.ts
  packages/datagateway-dataview/cypress/integration/table/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
Due: none

Remove hardcoded facility name in other Cypress commands #712
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-search/cypress/support/commands.js
Due: none

Use alternative credentials format for `cy.login()` on download #712
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
  packages/datagateway-download/cypress/support/index.d.ts
Due: none

Make download cypress commands generic #712
  packages/datagateway-download/cypress/support/commands.js
Due: none

Fix 400 for API count datafiles #712
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadApi.ts
Due: download

Fix majority of download e2e tests #712
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Fix admin download table e2e tests #712
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
Due: none

Add additional columns to admin download table #708
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: download

Fix admin download unit tests #708
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

Fix admin download e2e tests #708
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
Due: none

Fix search e2e tests for new data #712
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
Due: none

Remove remaining preprod URL references #712
  packages/datagateway-search/server/e2e-test-server.js
Due: none

Using color scheme from passed-in theme, resolving conflicts #723
  packages/datagateway-dataview/src/views/landing/isis/isisBranding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

Remove remaining references to preprod URLs #712
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-download/src/__mocks__/axios.ts
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/index.tsx
Due: download

Fixing unit tests #723
  packages/datagateway-dataview/src/views/landing/isis/isisBranding.component.tsx
Due: none

Removing unnecessary export #723
  packages/datagateway-dataview/src/views/landing/isis/isisBranding.component.tsx
Due: none

Fix DLS proposals e2e test originally missed #712
  packages/datagateway-dataview/cypress/integration/table/dls/proposals.spec.ts
Due: none

Show 'Description not provided' for unavailable summaries and descriptions #715
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/datafileDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/instrumentDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
Due: none

Adding snapshot tests to bump coverage #715
  packages/datagateway-dataview/src/views/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/dls/datasetDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/datafileDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/datasetDetailsPanel.component.test.tsx
Due: none

Adding additional type checking #715
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/datafileDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/instrumentDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: common

Adding fix for more fields, updating snapshots #715
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/datafileDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/instrumentDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
Due: none

Updating snapshot tests to bump coverage #715
  packages/datagateway-dataview/src/views/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/dls/datasetDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/datafileDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/datasetDetailsPanel.component.test.tsx
Due: none

Updating unit test description #715
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/datasetDetailsPanel.component.test.tsx
Due: none

Casting theme to any to allow for optional chaining #723
  packages/datagateway-dataview/src/views/landing/isis/isisBranding.component.tsx
Due: none

Updating snapshots again to bump coverage to 100% #715
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/datafileDetailsPanel.component.test.tsx
Due: none

Import settings file in a different way #712
  packages/datagateway-download/src/index.tsx
Due: download

Dynamically adjust shadow width (#691)
  packages/datagateway-common/src/card/entityCard.component.tsx
Due: common

Update EntityCard snapshot (#691)
  packages/datagateway-common/src/card/__snapshots__/entityCard.component.test.tsx.snap
Due: common

Add getCititation method (#719)
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Move getCitation to citation.ts (#719)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/src/views/landing/isis/citation.ts
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: common

Skipping failing e2e test #691
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
Due: none

Add copy citation button (#719)
  packages/datagateway-dataview/src/views/landing/isis/citation.ts
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Add Mark component to ISIS landing pages (#719)
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/mark.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: common, download

Add tests to copy citation button (#719)
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Revert method of generating citation (#719)
  packages/datagateway-dataview/src/views/landing/isis/citation.ts
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Add links to DOIs (#737) (#719)
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Change clipboard value to use textContent (#719)
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Add prototype for react-query table
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTableQuery.component.tsx
Due: common

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
