Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Slightly modify sizes so everything lines up at 1080p (#1066)
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Optimizing clearing the query params #1008
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: common, search

Updated the useClearFilters function to be more efficient and added its unit test #1019
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

Change search text box placeholder (#1066)
  packages/datagateway-search/public/res/default.json
Due: none

Use 'and' instead of 'or' (#1066)
  packages/datagateway-search/public/res/default.json
Due: none

unit tests index #1008
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: common, search

adding more unit tests to index #1008
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

refactoring the updatequeryparam #1008
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.test.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: common, search

reverting functionailty #1008
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

simplifying the handle change logic #1008
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
Due: common, search

Change 'study/studies' to 'experiment/experiments' (#1074)
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/public/res/default.json
Due: none

unit testing #1008
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: common, search

e2e tests #1008
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

simplifying clearfilters and clearSorts #1008
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: search

fixing failing e2e test #1008
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

fix failing e2e test #1008
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

unecessary deletion #1008
  packages/datagateway-search/src/searchPageCardView.component.tsx
Due: search

arrowtooltip on landing pages #1008
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

card e2e failing #1008
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

removing e2e for cardview #1008
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

#1056 - simplify currentPathnames code
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
Due: none

Use ResizeObserver to calculate whether a tooltip is visible (#1077)
  packages/datagateway-common/package.json
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
  packages/datagateway-common/src/arrowtooltip.component.tsx
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/setupTests.tsx
Due: common

search tabs numbers fix #1008
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: common, search

changing filter to storedFilters #1008
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/investigations.tsx
Due: common

unit test for the tab numbers #1008
  packages/datagateway-common/src/api/datafiles.test.tsx
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.test.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/investigations.tsx
Due: common

removing .only from unit test #1008
  packages/datagateway-common/src/api/datafiles.test.tsx
Due: common

Add e2e tests and remove 'maxEnabledHeight' for tooltips (#1077)
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
  packages/datagateway-common/src/arrowtooltip.component.tsx
  packages/datagateway-common/src/card/__snapshots__/entityCard.component.test.tsx.snap
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-dataview/cypress/integration/breadcrumbs.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
Due: common

improving codecov #1008
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
Due: search

Send text filters in upper case and modify invalid date message (#1075)
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
Due: common, download

improving code cov for page and results
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
Due: search

reverting changes for improving codecov #1008
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
Due: search

Add no parameters message and unify look of details panels (#1081)
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/instrumentDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/instrumentDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-search/public/res/default.json
Due: common

Added the clear filter button next to change view button #1019
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Remove 'columnResize' event (#1077)
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
Due: common

Modify threshold cards on homepage go on separate lines (#1077)
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/src/page/__snapshots__/translatedHomePage.component.test.tsx.snap
Due: common

Add boolean to disable sorting by ID and use in DLS proposals (#1084)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
Due: common

#1056 - add link to landing page when looking at view directly after it
  packages/datagateway-dataview/src/page/breadcrumbs.component.test.tsx
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Add unit tests for disableIDSort (#1084)
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/investigations.test.tsx
Due: common

Add unit and update e2e tests for DLS proposal views (#1084)
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/proposals.spec.ts
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsProposalsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.test.tsx
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
