Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Fix tests
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/setupTests.ts
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
Due: search

Add CssBaseline to theme provider
  packages/datagateway-common/src/dgThemeProvider.component.tsx
Due: common

Update investigation suggestion UI
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/isis/suggestedInvestigationsSection.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/suggestedInvestigationsSection.component.tsx
Due: common

please work
  packages/datagateway-search/cypress/e2e/search/investigationSearch.cy.ts
Due: none

Show loading when submitting download cart
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Update e2e tests for dataview & fix ISIS my data view links
  packages/datagateway-dataview/cypress/e2e/card/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myData.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/myData.cy.ts
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-dataview/cypress/support/index.d.ts
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: none

Fix dataview e2e test failures
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
  packages/datagateway-dataview/cypress/e2e/doiRedirect.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/myData.cy.ts
Due: none

Fix remaining broken e2e tests
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/cartSelection.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/facilityCycles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/investigations.cy.ts
Due: none

#1457 - Finish refactoring download cart sizes & counts
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#1457 - update unit tests for refactored cart sizes & counts
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
Due: download

#1457 - remove wrong datafile fileCount property
  packages/datagateway-dataview/src/views/datafilePreview/testData.ts
Due: none

#1457 - fix size & count mocking in downloadTab
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
Due: download

Add semantic search toggle in search box
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-search/src/search/semanticSearchToggle.component.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
Due: common, search

Add semantic search result table
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/table/semanticSearchTable.component.tsx
Due: common, search

Add tests for new components
  packages/datagateway-common/src/api/lucene.test.tsx
  packages/datagateway-search/src/search/semanticSearchToggle.component.test.tsx
Due: common, search

#1464 - fix publication dates, breadcrumbs and unit tests Also added some TODOs we need to decide on later
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
Due: none

Remove unneeded ISIS specific data hook
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
Due: common

Fix test
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/semanticSearchTable.component.test.tsx
Due: search

Revert default investigation name translation
  packages/datagateway-dataview/public/res/default.json
Due: none

#1464 - fix existing e2e tests & fix DOI filtering and add datapublication DOI to ISIS details panel
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/proposals.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/myData.cy.ts
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: common

#1464 - fix datapublications e2e tests
  packages/datagateway-dataview/cypress/e2e/card/isis/dataPublications.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/dataPublication.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/dataPublications.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/investigations.cy.ts
  packages/datagateway-search/public/res/default.json
Due: none

#1464 - fix facility cycle id check and fix investigation landing page e2e test
  packages/datagateway-dataview/cypress/e2e/landing/isis/investigation.cy.ts
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/idCheckFunctions.test.ts
  packages/datagateway-dataview/src/page/idCheckFunctions.ts
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

#1464 - fix ISIS datafiles table e2e tests needed different route intercepts for new id check function
  packages/datagateway-dataview/cypress/e2e/table/isis/datafiles.cy.ts
Due: none

#1529 - add generate DOI button that checks ismintable
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#1529 #1531 add basic DOI form and link it from the cart
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/acceptDataPolicy.component.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#1531 - fetch list of users for every item in the cart
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

#1531 - add selected user table & allow for deletion of users other than the current user
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
Due: common, download

#1531 - improve acceptDataPolicy look
  packages/datagateway-download/src/DOIGenerationForm/acceptDataPolicy.component.tsx
Due: download

Use date-fns util to do date comparison
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Fix tests
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
Due: none

#1531 - implement add users ability I've mocked the backend for now - might need to adjust the querying code when it gets implemented
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

Address TODOs
  .dockerignore
  .github/workflows/ci-build.yml
Due: none

Push image to Harbor on merges to main
  .github/workflows/ci-build.yml
Due: none

Upgrade and pin actions to commit SHAs
  .github/workflows/ci-build.yml
Due: none

Fix dg-common tests
  packages/datagateway-common/src/api/index.test.tsx
Due: common

#1531 - connect check user functionality to backend properly also do some prep for generate DOI functionality
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

#1531 - add simple summary table also add loading spinner to user table and disable generate DOI button when requirements aren't met
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
Due: download

#1529 - Fix typo that prevented single item carts from being minted
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

#1531 - hide cart tabs that are empty and select a non-empty one by default
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
Due: download
