Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

#975 - update snapshot
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInvestigationsCardView.component.test.tsx.snap
Due: none

improving code coverage #1008
  packages/datagateway-common/src/api/index.test.tsx
Due: common

Remove padding in front of display names (#1048)
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-search/src/state/actions/index.tsx
Due: search, download

improving code covreage (pushfilters) #1008
  packages/datagateway-common/src/api/index.test.tsx
Due: common

removing ".only" in test push filters #1008
  packages/datagateway-common/src/api/index.test.tsx
Due: common

Modify padding on homepage and update footer size (#1048)
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: common, download

Change margin on browse button to match the others (#1048)
  packages/datagateway-common/src/homePage/homePage.component.tsx
Due: common

#975 - update snapshot (again)
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
Due: none

Update unit tests (#1048)
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-dataview/src/page/__snapshots__/translatedHomePage.component.test.tsx.snap
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-search/src/state/actions/actions.test.tsx
Due: common, search, download

#975 - update snapshots (again again) Forgot to recompile common in the last commit...
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
Due: none

improve code coverage and simplifying code #1008
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/app.types.tsx
Due: common

adding more unit and e2e testing #1008
  packages/datagateway-common/src/api/datafiles.test.tsx
  packages/datagateway-common/src/api/datasets.test.tsx
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
Due: common

fixing failing unit test (common) #1008
  packages/datagateway-common/src/api/index.test.tsx
Due: common

Prevent loading in search from adding a scrollbar (#1048)
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

added Arrowtooltip to study page #1008
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

Add loading indicator to citation formatter (#1054)
  packages/datagateway-dataview/src/views/__snapshots__/citationFormatter.component.test.tsx.snap
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
Due: none

minor tweaks to some unit tests names #1008
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/investigations.test.tsx
Due: common

Add unit test for loading (#1054)
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
Due: none

Mock failure of DataCite in e2e tests (#1054)
  packages/datagateway-dataview/cypress/integration/landing/isis/investigation.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
Due: none

Change DataCite API URL (#1054)
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
Due: none

Use react query (#1054)
  packages/datagateway-dataview/cypress/integration/landing/isis/investigation.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
  packages/datagateway-dataview/src/views/__snapshots__/citationFormatter.component.test.tsx.snap
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
Due: none

Disable sorting on DLS proposal views (#1049)
  packages/datagateway-common/src/card/__snapshots__/cardView.component.test.tsx.snap
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
Due: common

Update testing (#1049)
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/proposals.spec.ts
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsProposalsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
Due: none

warning message for expiring session #825
  packages/datagateway-common/src/views/selectionAlert.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

adding unit testing #825
  packages/datagateway-common/src/views/__snapshots__/selectionAlert.component.test.tsx.snap
  packages/datagateway-common/src/views/selectionAlert.component.test.tsx
Due: common

removing snapshot test #825
  packages/datagateway-common/src/views/__snapshots__/selectionAlert.component.test.tsx.snap
  packages/datagateway-common/src/views/selectionAlert.component.test.tsx
Due: common

Implemented the configurable facilities image for the homepage #1027
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
  packages/datagateway-dataview/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
Due: none

corrected grammer mistakes on default #825
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-search/public/res/default.json
Due: none

Move detailsPanels to common and use in investigation card view (#1057)
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/instrumentDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/instrumentDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/instrumentDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
Due: common, search

Update default.json in search (#1057)
  packages/datagateway-search/public/res/default.json
Due: none

Fix invalid CSS in search
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

warning message #825
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-search/public/res/default.json
Due: none

arrowtooltip on study landing page #1008
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Use detailsPanels in dataset card view (#1057)
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
Due: search

Added and modified unit tests to pass with the changes made #1027
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.test.tsx
Due: none

Update dataview and unit testing (#1057)
  packages/datagateway-common/src/detailsPanels/dls/datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/instrumentDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: common

Use detailsPanels in table views (#1057)
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Add generic details panel to investigation card view (#1057)
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
Due: search
