Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Provide optional fetching via pagination (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInvestigationCardView.component.tsx
Due: table

Uncomment test #125
  packages/datagateway-search/src/state/actions/actions.test.tsx
Due: search

Remove proxy #125
  packages/datagateway-search/package.json
Due: none

Fix totalDataCount update fetching data twice (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInvestigationCardView.component.tsx
Due: table

Add instrument name filter for ISISInvestigations (#128)
  packages/datagateway-common/src/state/actions/cart.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInvestigationCardView.component.tsx
Due: common, table

Fix pagination loading data again and upgrade material-ui packages (#128)
  packages/datagateway-table/package.json
  packages/datagateway-table/src/card/cardView.component.tsx
  yarn.lock
Due: table

Fix dataset table searchData location #33
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
Due: search

Add DLSProposalsCardView (#128)
  packages/datagateway-table/src/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-table/src/page/pageCard.component.tsx
Due: table

Fix dataset text search test #33
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
Due: none

Add e2e dataset date search test #122
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
Due: none

Update material-ui to latest versions for all datagateway packages (#128)
  packages/datagateway-common/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Add e2e checkbox tests #122
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
Due: none

Add DLSVisitsCardView (#128)
  packages/datagateway-table/src/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-table/src/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-table/src/page/pageCard.component.tsx
Due: table

Add support for displaying nested object values (#128)
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInvestigationCardView.component.tsx
Due: table

Fix reloading of data when fetch by pagination is disabled (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
Due: table

Add DLSDatasetsCardView (#128)
  packages/datagateway-table/src/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInvestigationCardView.component.tsx
  packages/datagateway-table/src/page/pageCard.component.tsx
Due: table

Add e2e datafile date test #122
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
Due: none

Display tags on EntityCard (#128)
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInvestigationCardView.component.tsx
Due: table

Add first and last buttons for pagination (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
Due: table

Adding issue template
  .github/ISSUE_TEMPLATE.md
Due: none

Adding logos
  packages/datagateway-common/src/images/DataGateway-dark-blue-695x108.png
  packages/datagateway-common/src/images/DataGateway-white-695x108.png.png
Due: common

Add fetchFilter action to datagateway-common (#128)
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/cart.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
Due: common, table

Integrate settingsLoaded state into search #125
  packages/datagateway-search/cypress/support/commands.js
  packages/datagateway-search/server/e2e-settings.json
  packages/datagateway-search/server/e2e-test-server.js
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.test.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
Due: search

Fetch filter data for 'TYPE_ID' in ISISInvestigationCardView (#128)
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
Due: common, table

Display filter data within filtering box (#128)
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
Due: common, table

Remove count from filtering options (#128)
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
Due: common, table

Rotate loading icon #125
  packages/datagateway-search/src/index.css
Due: search

Push filters as a URL query parameter (#128)
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInvestigationCardView.component.tsx
Due: common, table

Correctly display filter options and query parameters (#128)
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
Due: common, table

Correct pushing and loading of filters query parameter (#128)
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
Due: common, table

Add multiple selected filtering options (#128)
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
Due: common, table

Add selected filters chip array to CardView (#128)
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
Due: common, table

Ensure incorrect filter queries are handled (#128)
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
Due: common, table

Correct filtering method and update of filters (#128)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInvestigationCardView.component.tsx
Due: common, table

Fetch count after a filter update (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
Due: table

Switch and save between table and card view (#128)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: common, table

Add hook to detect dataview element #129
  packages/datagateway-dataview/src/pageContainer.component.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/utils.ts
Due: none

Remove paginatedFetch option (#128)
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-table/src/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-table/src/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-table/src/card/isis/isisInvestigationCardView.component.tsx
  packages/datagateway-table/src/page/breadcrumbs.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: common, table

Fix dataview tests #129
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
Due: none
