Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Exclude the Minter ContributorType from being selected via the contributor dropdown
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.tsx
Due: common

Don't prepend ORCiDs with the url prefix if they're already URLs
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: none

Fix e2e test broken by missing checkboxes column
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
Due: none

Fix lint errors & fix broken dependency arrays
  packages/datagateway-dataview/src/views/datafilePreview/state/reducer.test.ts
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

Handle affiliations correctly - need to ensure they're returned via include - fixed name and type of datacite affiliation - ensure affiliations display properly
  packages/datagateway-common/src/api/dataPublications.test.tsx
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/dois/DOIMetadataConfirmation.component.test.tsx
  packages/datagateway-common/src/dois/DOIMetadataConfirmation.component.tsx
  packages/datagateway-common/src/dois/__snapshots__/DOIMetadataConfirmation.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: common

Disable queue DP button when DP is closed & better indications of whether DP is open/closed - also provide DP size to queue button
  packages/datagateway-common/src/views/queueButtons.component.test.tsx
  packages/datagateway-common/src/views/queueButtons.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.tsx
Due: common

Fix handling of datapublication filesize
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-common/src/views/queueButtons.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: common

Add e2e test assertions for open/close indicator, closed DP download button disabled & DP size display in download popup
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
Due: none

Fix CI by adding new required config for doi minting api
  .github/config.env
Due: none

Fix e2e tests by updating any outdated ISIS homepage links - also adjust open data warning URL to be configurable and not hardcoded to ISIS
  packages/datagateway-dataview/cypress/e2e/homePage.cy.ts
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

Fix docker release build job by ensuring it tags branches correctly
  .github/workflows/docker-release-build.yml
Due: none

Update docker base images
  Dockerfile
Due: none

Increase test timeout of DOI minting test that's failing on CI
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
Due: download

Add longer timeouts for interactions relying on boiportal API
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
Due: none

Add "all dois" view for DLS
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/views/doiTypeSelector.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.tsx
Due: common

Add tests for all dois table
  packages/datagateway-dataview/cypress/e2e/table/dls/allDois.cy.ts
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
  packages/datagateway-dataview/src/views/doiTypeSelector.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.test.tsx
Due: none

Delete lingering settings defined accessMethods
  packages/datagateway-download/__mocks__/axios.ts
  packages/datagateway-download/public/datagateway-download-settings.example.json
Due: none

Add @testing-library/dom
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Improve stability of pageContainer e2e tests
  packages/datagateway-dataview/cypress/e2e/card/pageContainer.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/pageContainer.cy.ts
Due: none

Increase timeout of flaky unit test
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
Due: download

Add satisfies type hint to allow t function to be used as value for dangerouslySetInnerHTML
  packages/datagateway-dataview/src/views/landing/dls/dlsBranding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisBranding.component.tsx
Due: none

Update snapshots
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
Due: common, download

Update version numbers & changelog for v3.0.0
  CHANGELOG.md
  package.json
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Fix config for doi minting api
  .github/config.env
Due: none

Fix details panel row width not being set correctly
  packages/datagateway-common/src/table/rowRenderers/__snapshots__/detailsPanelRow.component.test.tsx.snap
  packages/datagateway-common/src/table/rowRenderers/detailsPanelRow.component.tsx
Due: common

Refactor infinite query params to use skip/limit directly & improve useMutations to align more with current docs
  packages/datagateway-common/src/api/cart.ts
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/api/facilityCycles.tsx
  packages/datagateway-common/src/api/instruments.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/src/views/datafilePreview/datafilePreviewer.component.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
Due: common, download

Fix unit tests to account for react query v5 upgrade changes
  packages/datagateway-common/src/api/dataPublications.test.tsx
  packages/datagateway-common/src/api/datafiles.test.tsx
  packages/datagateway-common/src/api/datasets.test.tsx
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-common/src/api/facilityCycles.test.tsx
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/instruments.test.tsx
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/lucene.test.tsx
  packages/datagateway-common/src/dois/DOIConfirmDialog.component.test.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-common/src/handleICATError.test.ts
  packages/datagateway-common/src/views/addToCartButton.component.test.tsx
  packages/datagateway-common/src/views/queueButtons.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.test.tsx
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search, download

Tidy up any TODOs
  packages/datagateway-common/src/api/cart.ts
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-common/src/queryClientSettingsUpdater.component.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
Due: common

Pin version of icat-doi-minter-api in CI to v0.4.0
  .github/workflows/ci-build.yml
Due: none

Update data publication size in e2e test - this changed due to a bugfix on the doi minting api
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
Due: none

Test react-router upgrade e2e
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.test.tsx
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
  packages/datagateway-dataview/cypress/e2e/datafilePreview.cy.ts
  packages/datagateway-dataview/cypress/e2e/homePage.cy.ts
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/isisDatafilePreviewer.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/newFile.tsx
Due: common

Refactor datagateway-download to support react router 6
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
Due: download

Port dg-common & dg-dataview to react router 6 - still a WIP, just got dataview to run properly
  packages/datagateway-common/package.json
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/main.tsx
  packages/datagateway-common/src/utils.ts
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/page/redirect.component.tsx
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/isisDatafilePreviewer.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/toolbar/actionButtons.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: common

Migrate to react router v6 in datagateway-search
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/facet/useFacetFilters.test.tsx
  packages/datagateway-search/src/facet/useFacetFilters.ts
  packages/datagateway-search/src/search/advancedHelpDialog.component.test.tsx
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/searchTextBox.component.test.tsx
  packages/datagateway-search/src/search/sortSelect.component.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchTabs/searchTabs.component.test.tsx
  packages/datagateway-search/src/searchTabs/searchTabs.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Increase ISIS datafile table findBy* timeouts - these tests fail when run with other test suites
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
Due: none
