Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Apply default sort fix to dlsDOITables, test fix in dlsMyDataTable & fix some e2e tests
  packages/datagateway-dataview/cypress/e2e/table/dls/datafiles.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datafiles.cy.ts
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
Due: none

Fix e2e tests by accounting for default sort
  packages/datagateway-dataview/cypress/e2e/table/dls/allDois.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/instruments.cy.ts
Due: none

Update dg-api from 9.0.3 to 10.0.0
  .github/workflows/ci-build.yml
Due: none

update ci to use python 3.10
  .github/workflows/ci-build.yml
Due: none

Update dg-api from 9.0.3 to fastapi branch
  .github/workflows/ci-build.yml
Due: none

Modify apiUrl
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-search/server/e2e-settings.json
Due: none

Update node and httpd base images
  Dockerfile
Due: none

Attempt to re-enable patch updates for vulnerabilities
  renovate.json
Due: none

Use new isnull operator to enable open/closed filtering & use new User-defined-concept type for filtering
  packages/datagateway-dataview/src/views/doiTypeSelector.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.tsx
Due: none

Add doiHandleUrl option to settings to allow non-doi.org urls (for testing)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-common/src/dois/DOIMetadataConfirmation.component.test.tsx
  packages/datagateway-common/src/dois/DOIMetadataConfirmation.component.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/relatedIdentifiers.component.test.tsx
  packages/datagateway-common/src/dois/relatedIdentifiers.component.tsx
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDataPublicationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationRelatedIdentifiersPanel.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationVersionPanel.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/main.test.tsx
  packages/datagateway-download/src/main.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/settings.ts
  packages/datagateway-search/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/state/actions/index.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search, download

Fix open/closed doi type selector tests
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/views/doiTypeSelector.component.test.tsx
  packages/datagateway-dataview/src/views/doiTypeSelector.component.tsx
Due: common

Add e2e tests for open/closed DOI filtering
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/allDois.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-dataview/cypress/support/index.d.ts
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/cypress/support/index.d.ts
Due: none

Remove Minter role and instead use orderKey to identify PI and order users
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.test.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.tsx
Due: common

Account for variable doiHandleUrl in config in e2e tests
  packages/datagateway-dataview/cypress.config.ts
  packages/datagateway-dataview/cypress/e2e/card/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigationDataPublications.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/studyDataPublications.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/dataset.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/investigation.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/investigationDataPublication.cy.ts
  packages/datagateway-dataview/cypress/e2e/landing/isis/studyDataPublication.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/investigationDataPublications.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/investigations.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/myData.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/isis/studyDataPublications.cy.ts
  packages/datagateway-search/cypress.config.ts
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
Due: none

Update doi-mint-api tag to test against new changes
  .github/workflows/ci-build.yml
Due: none

Add missing doiHandleUrl to download mocked settings
  packages/datagateway-download/src/testData.ts
Due: download

Add required missing config variable for icat-doi-minter-api
  .github/config.env
Due: none

Update add_doi_datapublicationtype.py to use new separated concept/version types
  .github/add_doi_datapublicationtype.py
Due: none

Comment out HasPart check, add TODO to check if that is acceptable and replace check with a different one
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
Due: none

Add localContactRole config, interpret that and PIRole as regex, and use to fulfil local contact/PI requirements
  packages/datagateway-common/src/dois/DOIMetadataForm.component.test.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.test.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-dataview/src/main.test.tsx
  packages/datagateway-dataview/src/settings.ts
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.test.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/datafilePreview/state/reducer.test.ts
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/main.tsx
  packages/datagateway-download/src/testData.ts
Due: common, download

Better handle users with multiple roles on an investigation in details panels
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-common/src/main.tsx
  packages/datagateway-common/src/utils.ts
Due: common

Add all doi view option to both tables and make it the default
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/cypress/e2e/table/dls/allDois.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/doiTypeSelector.component.test.tsx
  packages/datagateway-dataview/src/views/doiTypeSelector.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.tsx
Due: common

Fix ismintable error handling to account for API changes
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: common, download

Fix yarn v4 lockfile, fix foreach commands, use 4.16.0
  .husky/pre-commit
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-4.15.0.cjs
  .yarn/releases/yarn-4.16.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Whitelist building of cypress and esbuild
  package.json
  yarn.lock
Due: none

Add npmMinimalAgeGate setting
  .yarnrc.yml
Due: none

Add instrument landing pages #1779 - make branding component generic via a config option to specify the logo
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/settings.ts
  packages/datagateway-dataview/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
  packages/datagateway-dataview/src/views/landing/StyledDOILink.component.tsx
  packages/datagateway-dataview/src/views/landing/branding.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsBranding.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationRelatedIdentifiersPanel.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationVersionPanel.component.tsx
  packages/datagateway-dataview/src/views/landing/instrumentLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisBranding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: common

#1779 add unit tests for instrument landing page and adjust other landing page tests to account for branding changes
  packages/datagateway-dataview/src/main.test.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/instrumentLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
Due: none

#1779 - add e2e test for instrument landing page
  packages/datagateway-dataview/cypress/e2e/landing/instrument.cy.ts
Due: none

Clear ID check query caches when the user logs out - also clear the dg-download react query cache
  packages/datagateway-dataview/src/page/idCheckFunctions.test.ts
  packages/datagateway-dataview/src/page/idCheckFunctions.ts
  packages/datagateway-download/src/App.tsx
Due: download

Add "not authorised" explanation to ID check "404" error - also refactor Trans component
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/withIdCheck.tsx
Due: none

Update withIdCheck snapshots to account for Trans component refactoring
  packages/datagateway-dataview/src/page/__snapshots__/withIdCheck.test.tsx.snap
Due: none

update datagateway-api to v11.1.0
  .github/workflows/ci-build.yml
Due: none

Pass the full JWT to the search endpoint for datagateway-search
  packages/datagateway-common/src/api/lucene.test.tsx
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-common/src/parseTokens.test.ts
  packages/datagateway-common/src/parseTokens.ts
Due: common

Fixed Lint test it was falling due to new token variable
  packages/datagateway-dataview/src/views/datafilePreview/previewDatafileButton.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
Due: search

Ensure it is instrument.fullName not instrument.name for ISIS
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

updated the function generateURLSearchParams with the token JWT
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
Due: search

Add Is PI button switch for My DOIs table
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/doiTypeSelector.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.tsx
Due: common

Changed the instrument name on breadcrumb to instrument full name
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
Due: none

fixed tests due to removing minter failed
  packages/datagateway-dataview/src/views/doiTypeSelector.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDOITables.component.test.tsx
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
