Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Update dataHeader snapshot (#341)
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
Due: common

Update dispatch props on DLS/ISIS CardViews (#128)
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
Due: none

Hide AdvancedFilters if there are no filter components (#128)
  packages/datagateway-dataview/src/views/card/advancedFilter.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/entityCard.component.tsx
Due: none

Wrap containers within Grid container (#128)
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: none

Add support for custom filters and nested objects (#128)
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: common

Show/hide sort depending on data passed (#128)
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: none

Update snapshots (#128)
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/actionCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/dataCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/expandCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/selectCell.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/__snapshots__/entityCard.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/entityCard.component.test.tsx
  packages/datagateway-dataview/src/views/card/entityCard.component.tsx
Due: common

Add lucene actions file (#121)
  packages/datagateway-common/src/state/actions/lucene.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

Update dataview styling for darkmode #354
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/breadcrumbs.component.tsx
Due: common

Fix dataview background colours #354
  packages/datagateway-dataview/src/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/breadcrumbs.component.tsx
  packages/datagateway-dataview/src/pageContainer.component.tsx
Due: none

Check results query in result options (#128)
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: none

Update search styling for darkmode #354
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.tsx
Due: search

Update download styling for darkmode #354
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
Due: download

Add unit tests for EntityCard (#128)
  packages/datagateway-dataview/src/views/card/entityCard.component.test.tsx
  packages/datagateway-dataview/src/views/card/entityCard.component.tsx
Due: none

Update DLSProposalsCardView props (#128)
  packages/datagateway-dataview/src/page/pageCard.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/entityCard.component.tsx
Due: none

Fix page query being set back to 1 on page load (#128)
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: none

Add preloader styles for darkmode #354
  packages/datagateway-common/src/preloader/__snapshots__/preloader.component.test.tsx.snap
  packages/datagateway-common/src/preloader/preloader.component.tsx
Due: common

Fix providing invalid page query (#128)
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-dataview/src/page/pageCard.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
Due: common

Update preloader tests to mount #354
  packages/datagateway-common/src/preloader/__snapshots__/preloader.component.test.tsx.snap
  packages/datagateway-common/src/preloader/preloader.component.test.tsx
Due: common

Update investigation details panel styling #351
  packages/datagateway-dataview/src/table/investigationTable.component.tsx
Due: none

Update remaining details panels #351
  packages/datagateway-dataview/src/dls/detailsPanels/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/detailsPanels/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/detailsPanels/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/dls/detailsPanels/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/detailsPanels/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/detailsPanels/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/detailsPanels/__snapshots__/instrumentDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/detailsPanels/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/detailsPanels/datafileDetailsPanel.component.tsx
  packages/datagateway-dataview/src/isis/detailsPanels/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/isis/detailsPanels/instrumentDetailsPanel.component.tsx
  packages/datagateway-dataview/src/isis/detailsPanels/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/table/investigationTable.component.tsx
Due: none

Add dispatch actions for Lucene (#121)
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/actions/lucene.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
Due: common, search

Edit e2e tests #351
  packages/datagateway-dataview/cypress/integration/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/myData.spec.ts
  packages/datagateway-dataview/src/dls/detailsPanels/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/dls/detailsPanels/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/src/dls/tables/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/isis/detailsPanels/datafileDetailsPanel.component.tsx
  packages/datagateway-dataview/src/isis/detailsPanels/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/isis/detailsPanels/instrumentDetailsPanel.component.tsx
  packages/datagateway-dataview/src/isis/detailsPanels/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/table/investigationTable.component.tsx
Due: none

Add fetchLuceneIds (#121)
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/cart.tsx
  packages/datagateway-common/src/state/actions/lucene.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
Due: common

Add test todos (#121)
  packages/datagateway-common/src/state/actions/lucene.test.tsx
  packages/datagateway-common/src/state/actions/lucene.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
Due: common

Update all snapshots (#341)
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/actionCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/dataCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/expandCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/selectCell.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-dataview/src/__snapshots__/breadcrumbs.component.test.tsx.snap
Due: common

Remove comments (#121)
  packages/datagateway-common/src/state/actions/lucene.tsx
Due: common

Remove download settings (#121)
  packages/datagateway-download/public/datagateway-download-settings.json
Due: none

Update snapshots #351
  packages/datagateway-dataview/src/dls/detailsPanels/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/detailsPanels/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/detailsPanels/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/detailsPanels/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/detailsPanels/__snapshots__/instrumentDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/detailsPanels/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/__snapshots__/investigationTable.component.test.tsx.snap
Due: none

Fix datafile e2e test unable to find parameter text #351
  packages/datagateway-dataview/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-dataview/src/isis/detailsPanels/datafileDetailsPanel.component.tsx
Due: none

Update snapshot #351
  packages/datagateway-dataview/src/isis/detailsPanels/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
Due: none

Fix contrast issue on download tabs #354
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
Due: download

Update snapshot #354
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
Due: download

Fix InvestigationTable tests (#128)
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/entityCard.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
Due: common

Fix DatasetTable tests (#128)
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
Due: none

Fix DatafileTable tests (#128)
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
Due: none

Pass DLS tests (#128)
  packages/datagateway-dataview/src/views/card/entityCard.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
Due: none

Fix icon alignment #341
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
Due: common

Update snapshots #341
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisMyDataTable.component.test.tsx.snap
Due: none

Add test cases (#121)
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-download/src/downloadApi.test.ts
Due: common, download
