Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Fix failing e2e tests related to getSize (#127)
  packages/datagateway-dataview/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/myData.spec.ts
  packages/datagateway-dataview/server/e2e-settings.json
Due: none

Force .click() calculate file size button in e2e tests (#127)
  packages/datagateway-dataview/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/visits.spec.ts
Due: none

Replace micro-frontend notification string with NotificationType (#127)
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Add "Add to cart"/"Remove from cart" buttons (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
Due: table

Add e2e tests for containers #122
  packages/datagateway-search/cypress/integration/searchBoxContainer.spec.ts
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
  packages/datagateway-search/cypress/support/commands.js
Due: none

Add WIP e2e tests for search functionality #122
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
Due: none

Add collapsible description (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: table

Add card title tooltip logic and 'view' query parameter (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/page/arrowtooltip.component.tsx
  packages/datagateway-table/src/page/breadcrumbs.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: table

Add in 'page' query parameter (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/page/arrowtooltip.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: table

Add ArrowTooltip component to dg-common (#67)
  packages/datagateway-common/src/arrowtooltip.component.tsx
Due: common

Use ArrowTooltip on table cells #67
  packages/datagateway-common/src/table/cellRenderers/dataCell.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Move the ArrowTooltip component to wrap the content #67
  packages/datagateway-common/src/table/cellRenderers/dataCell.component.tsx
Due: common

Update snapshots #67
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/dataCell.component.test.tsx.snap
Due: common

Remove comments #67
  packages/datagateway-common/src/arrowtooltip.component.tsx
Due: common

Remove redundant styling #67
  packages/datagateway-common/src/table/cellRenderers/dataCell.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Split cardView to separate components (#128)
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
Due: table

Fix tooltip appearing on non-overflowed text #67
  packages/datagateway-common/src/arrowtooltip.component.tsx
Due: common

Move ArrowTooltip code to dg-common #67
  packages/datagateway-common/src/index.tsx
  packages/datagateway-dataview/src/__snapshots__/breadcrumbs.component.test.tsx.snap
  packages/datagateway-dataview/src/arrowtooltip.component.tsx
  packages/datagateway-dataview/src/breadcrumbs.component.tsx
Due: common

Add InvestigationCardView route (#128)
  packages/datagateway-table/src/card/investigationCardView.component.tsx
  packages/datagateway-table/src/page/arrowtooltip.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: table

Add checkbox tab filtering #175
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/searchPageTable.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
Due: search

Add new tabs states to tests #175
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchTextBox.test.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.test.tsx
Due: search

Address feedback #67
  packages/datagateway-common/src/arrowtooltip.component.tsx
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/dataCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/dataCell.component.tsx
Due: common

Remove unecessary prop definitions #67
  packages/datagateway-common/src/arrowtooltip.component.tsx
Due: common

Add in save query to state between views (#128)
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: common, table

Add string indexing to Entity to access Investigation/Dataset attributes (#128)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: common, table

Add procedure for selecting tab #175
  packages/datagateway-search/src/searchPageTable.tsx
Due: search

Pass further information as CardViewDetails array (#128)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: common, table

Display further information within Card (#128)
  packages/datagateway-table/src/card/card.component.tsx
Due: table

Show further information in DatasetCardView (#128)
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
Due: table

Support Link for investigation and dataset CardViews (#128)
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/datasetCardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
  packages/datagateway-table/src/page/arrowtooltip.component.tsx
Due: table

Add test of tab update actions #175
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/setupTests.ts
Due: search

Fix e2e tests after reordering tabs #175
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
Due: none

Improve ICAT Error messages #126
  packages/datagateway-common/src/handleICATError.test.ts
  packages/datagateway-common/src/handleICATError.ts
Due: common

Fix e2e tests by moving tab click #175
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
Due: none

Remove warnings by adding missing axios mock method
  packages/datagateway-search/__mocks__/axios.ts
Due: none

#33 - fix skipped searchTextBox test
  packages/datagateway-search/src/search/searchTextBox.test.tsx
Due: search

Add getURLQuery and pushPageView in datagateway-common (#128)
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/card/investigationCardView.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: common, table

Add searchPageTable unit tests #184
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
  packages/datagateway-search/src/searchPageTable.test.tsx
Due: search

Add pushing page number and save/restore/reset queries (#128)
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: common, table

Add push 'card' view on load without query (#128)
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: common, table

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
