Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

add horizontal scrollbar to tables #463
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/cypress/integration/isis/instruments.spec.ts
  packages/datagateway-dataview/src/page/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
  packages/datagateway-search/src/searchPageTable.tsx
Due: common, search, download

allow selectAll by default in search, download #483
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: common

add padding to search/cart icons #507
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

include lucene data in investigation requests #508
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

disable DF count and RB sorting #460
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
Due: none

fix study table link and field naming #480
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/studies.spec.ts
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisStudiesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: none

remove duplicate tests and add cartSelection waits #459
  packages/datagateway-dataview/cypress/integration/cartSelection.spec.ts
  packages/datagateway-dataview/src/views/card/advancedFilter.component.test.tsx
Due: none

CV: alignment, no result display, expansion panel #461
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/card/__snapshots__/entityCard.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/entityCard.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/datafileDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/instrumentDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/datafileDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/instrumentDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
Due: none

#476 - fix duplication bug by extracting out "Safe" table components + memoizing them Additionally, added memoization to id check functions And added id checking to card views that require it
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/page/idCheckFunctions.test.ts
  packages/datagateway-dataview/src/page/idCheckFunctions.ts
  packages/datagateway-dataview/src/page/pageCard.component.tsx
  packages/datagateway-dataview/src/page/pageTable.component.tsx
  yarn.lock
Due: none

map currentTab to state #479
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/searchPageTable.test.tsx
  packages/datagateway-search/src/searchPageTable.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.test.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
Due: search

remove waits from datafile e2e tests #476
  packages/datagateway-dataview/cypress/integration/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/datafiles.spec.ts
Due: none

fix isisStudiesTable navigation and revert isis.name change #480
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: none

update e2e tests for Cypress 6.1.0
  packages/datagateway-dataview/cypress.json
  packages/datagateway-dataview/cypress/integration/breadcrumbs.spec.ts
  packages/datagateway-dataview/cypress/integration/cartSelection.spec.ts
  packages/datagateway-dataview/cypress/integration/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/plugins/index.js
  packages/datagateway-dataview/cypress/support/index.js
  packages/datagateway-dataview/package.json
  packages/datagateway-download/cypress.json
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/cypress/plugins/index.js
  packages/datagateway-download/cypress/support/index.js
  packages/datagateway-download/package.json
  packages/datagateway-search/cypress.json
  yarn.lock
Due: none

add a wait to beforeEach in breadcrumbs.spec
  packages/datagateway-dataview/cypress/integration/breadcrumbs.spec.ts
Due: none

update studyHierarchy with new ID checks #480
  packages/datagateway-dataview/src/page/idCheckFunctions.ts
  packages/datagateway-dataview/src/page/pageCard.component.tsx
  packages/datagateway-dataview/src/page/pageTable.component.tsx
Due: none

disable datafile count sorting in datasetTable #460
  packages/datagateway-dataview/src/views/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
Due: none

update CV tests to use translated strings #480
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInvestigationsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
Due: none

Delete Travis yml file #524
  .travis.yml
Due: none

Setup GitHub Actions to run linting #524
  .github/workflows/ci-build.yml
Due: none

Setup GitHub Actions to run unit tests #524
  .github/workflows/ci-build.yml
Due: none

Configure GitHub Actions to upload unit test code coverage #524
  .github/workflows/ci-build.yml
Due: none

Configure GitHub Actions to cache yarn dependencies #524
  .github/workflows/ci-build.yml
Due: none

Setup GitHub Actions to run end to end tests #524
  .github/workflows/ci-build.yml
Due: none

Split CI build into multiple jobs
  .github/workflows/ci-build.yml
Due: none

Extract duplicate environment setup steps into composite action #524
  .github/actions/setup-environment/action.yml
  .github/workflows/ci-build.yml
Due: none

Delete composite action as uses step not yet supported #524
  .github/actions/setup-environment/action.yml
  .github/workflows/ci-build.yml
Due: none

Configure GitHub Actions to only trigger builds for pull requests #524
  .github/workflows/ci-build.yml
Due: none

Update README workflow status badge URL #524
  README.md
Due: none

Update pull request template #524
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Purposely break unit test #524
  packages/datagateway-common/src/parseTokens.test.ts
Due: common

Fix failing unit test #524
  packages/datagateway-common/src/parseTokens.test.ts
Due: common

Fix typo in card/datasets.spec.ts #480
  packages/datagateway-dataview/cypress/integration/card/datasets.spec.ts
Due: none

Add e2e test for search row selection #508
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
Due: none

Update CV e2e tests for Cypress 6.1.0
  packages/datagateway-dataview/cypress/integration/card/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/cartSelection.spec.ts
Due: none

Add cart clears for select all e2e test #508
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
  packages/datagateway-search/cypress/support/commands.js
  packages/datagateway-search/cypress/support/index.d.ts
Due: none

Address npm mismatched binaries warning #524
  .github/workflows/ci-build.yml
Due: none

Text wrapping for detailsPanelRow and display filter message on reload #461
  packages/datagateway-common/src/table/rowRenderers/__snapshots__/detailsPanelRow.component.test.tsx.snap
  packages/datagateway-common/src/table/rowRenderers/detailsPanelRow.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: common

Add waits for search select all tests #508
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
Due: none

Adjust height of download tables to prevent scrolling #523
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download
