Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Remove 'N/A' from breadcrumbs (#51)
  packages/datagateway-table/src/breadcrumbs.component.tsx
Due: table

Clean-up code and fix naming (#51)
  packages/datagateway-table/src/breadcrumbs.component.test.tsx
  packages/datagateway-table/src/breadcrumbs.component.tsx
Due: table

Clean-up code (#51)
  packages/datagateway-table/src/breadcrumbs.component.test.tsx
  packages/datagateway-table/src/breadcrumbs.component.tsx
Due: table

Move ArrowTooltip to separate file (#51)
  packages/datagateway-table/src/arrowtooltip.component.tsx
  packages/datagateway-table/src/breadcrumbs.component.tsx
Due: table

#47 - extract urls to variables for easier modification
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
Due: download

#47 - add e2e tests
  packages/datagateway-download/cypress/integration/app.spec.ts
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/cypress/support/index.d.ts
  packages/datagateway-download/server/e2e-test-server.js
  packages/datagateway-download/src/index.tsx
Due: download

#47 - improve the alignment of buttons & totals
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Revert accidental changes caused by merge conflict
  packages/datagateway-table/src/state/actions/datasets.test.tsx
  packages/datagateway-table/src/state/actions/investigations.tsx
Due: table

#25 - sort via attributes rather than TableSortLbael
  packages/datagateway-table/src/isis/tables/isisDatafilesTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisInstrumentsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisInvestigationsTable.component.test.tsx
Due: table

#25 - fix lint warnings with unused wrapper vars
  package.json
  packages/datagateway-table/src/isis/detailsPanels/datasetDetailsPanel.component.test.tsx
  packages/datagateway-table/src/isis/detailsPanels/instrumentDetailsPanel.component.test.tsx
  packages/datagateway-table/src/isis/detailsPanels/investigationDetailsPanel.component.test.tsx
Due: table

#25 - don't click on initial button on details panels e2e tests
  packages/datagateway-table/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-table/cypress/integration/isis/instruments.spec.ts
  packages/datagateway-table/cypress/integration/isis/investigations.spec.ts
Due: none

#87 - switch to yarn workspaces setup
  .travis.yml
  lerna.json
  package-lock.json
  package.json
  packages/datagateway-common/package-lock.json
  packages/datagateway-common/package.json
  packages/datagateway-download/package-lock.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package-lock.json
  packages/datagateway-search/package.json
  packages/datagateway-table/package-lock.json
  packages/datagateway-table/package.json
  yarn.lock
Due: none

#47 - explicitly declare entity type for dataset download button
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.tsx
Due: table

fix mangling due to github merge conflict resolver being bad
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Fix npm test by separating from lerna (#82)
  package-lock.json
  package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  packages/datagateway-table/package.json
Due: none

Add cypress npm test bugfix (#82)
  package-lock.json
  package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  packages/datagateway-table/package.json
Due: none

Fix history dependency warning when linting (#51)
  packages/datagateway-table/src/breadcrumbs.component.test.tsx
Due: table

Adding breadcrumbs module.exports configuration file (#51)
  packages/datagateway-table/src/breadcrumbs.component.tsx
  packages/datagateway-table/src/breadcrumbsConfig.js
  packages/datagateway-table/src/config.tsx
Due: table

#50 - fix number of actions expected by configureApp()
  packages/datagateway-table/src/state/actions/actions.test.tsx
Due: table

Move breadcrumb settings into redux state (#51)
  package-lock.json
  packages/datagateway-table/src/breadcrumbs.component.tsx
  packages/datagateway-table/src/breadcrumbsConfig.js
  packages/datagateway-table/src/config.tsx
  packages/datagateway-table/src/state/actions/actions.types.tsx
  packages/datagateway-table/src/state/actions/index.tsx
  packages/datagateway-table/src/state/app.types.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.tsx
Due: table

Resolve merge conflict (#51)
  packages/datagateway-table/src/state/reducers/dgtable.reducer.tsx
Due: table

#50 - add add to cart functionality to DLS & ISIS tables
  packages/datagateway-table/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-table/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-table/cypress/integration/isis/investigations.spec.ts
  packages/datagateway-table/src/dls/tables/__snapshots__/dlsDatafilesTable.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/dlsDatafilesTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsDatafilesTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsProposalsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsProposalsTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.tsx
  packages/datagateway-table/src/isis/tables/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/isisDatafilesTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisDatafilesTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisFacilityCyclesTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisInstrumentsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisInstrumentsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisInvestigationsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisInvestigationsTable.component.tsx
  packages/datagateway-table/src/state/actions/cart.test.tsx
  packages/datagateway-table/src/state/actions/cart.tsx
Due: table

Clear last breadcrumb state object at start and add initial breadcrumb configuration (#51)
  packages/datagateway-table/src/breadcrumbs.component.tsx
  packages/datagateway-table/src/state/actions/actions.types.tsx
Due: table

#50 - add better waits for row selection
  packages/datagateway-table/cypress/integration/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/investigations.spec.ts
  packages/datagateway-table/cypress/integration/isis/datafiles.spec.ts
Due: none

Fix not loading proposals by adding overridingPathEntity class variable (#51)
  packages/datagateway-table/src/breadcrumbs.component.tsx
Due: table

Pass breadcrumb tests by adding breadcrumbSettings (#51)
  packages/datagateway-table/src/__snapshots__/breadcrumbs.component.test.tsx.snap
  packages/datagateway-table/src/breadcrumbs.component.test.tsx
Due: table

Add in breadcrumbSettings to actions' tests (#51)
  packages/datagateway-table/src/state/actions/actions.test.tsx
Due: table

#47 - remove todo
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
Due: download

#47 - allow sorting by size in download cart
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#47 - fix ICAT session id query for dev testing
  packages/datagateway-download/src/index.tsx
Due: download

#47 - add longer timeout to load e2e test
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
Due: none

Add FacilityName to datagateway-table settings and correct actions.tests (#51)
  packages/datagateway-table/src/state/actions/actions.test.tsx
  packages/datagateway-table/src/state/actions/actions.types.tsx
  packages/datagateway-table/src/state/actions/index.tsx
  packages/datagateway-table/src/state/app.types.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.tsx
Due: table

Simplify reading breadcrumb settings and add parentEntity (#51)
  packages/datagateway-table/src/breadcrumbs.component.test.tsx
  packages/datagateway-table/src/breadcrumbs.component.tsx
  packages/datagateway-table/src/state/actions/actions.types.tsx
Due: table

Update breadcrumb test and snapshots (#51)
  packages/datagateway-table/src/__snapshots__/breadcrumbs.component.test.tsx.snap
  packages/datagateway-table/src/breadcrumbs.component.test.tsx
Due: table

#47 - add a delay where we change the colour of the delete button when removing an item from the cart
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Add EntityTypes to app.types (datagateway-common) (#51)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-table/src/breadcrumbs.component.tsx
Due: common, table

Fix facilityCycles in breadcrumb unit tests (#51)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-table/src/breadcrumbs.component.tsx
Due: common, table

Throw errors correctly in configureApp (#51)
  cypress/fixtures/example.json
  cypress/integration/examples/actions.spec.js
  cypress/integration/examples/aliasing.spec.js
  cypress/integration/examples/assertions.spec.js
  cypress/integration/examples/connectors.spec.js
  cypress/integration/examples/cookies.spec.js
  cypress/integration/examples/cypress_api.spec.js
  cypress/integration/examples/files.spec.js
  cypress/integration/examples/local_storage.spec.js
  cypress/integration/examples/location.spec.js
  cypress/integration/examples/misc.spec.js
  cypress/integration/examples/navigation.spec.js
  cypress/integration/examples/network_requests.spec.js
  cypress/integration/examples/querying.spec.js
  cypress/integration/examples/spies_stubs_clocks.spec.js
  cypress/integration/examples/traversal.spec.js
  cypress/integration/examples/utilities.spec.js
  cypress/integration/examples/viewport.spec.js
  cypress/integration/examples/waiting.spec.js
  cypress/integration/examples/window.spec.js
  packages/datagateway-table/src/state/actions/actions.test.tsx
  packages/datagateway-table/src/state/actions/index.tsx
Due: table
