Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

disable upload button
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

single failed upload bux fix
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

disallow multiple upload batches
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

use datasetId from response instead of parsing
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

beforeFileAdded tests
  packages/datagateway-common/src/views/uploadDialog.component.test.tsx
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

postProcessor unit tests
  packages/datagateway-common/src/views/uploadDialog.component.test.tsx
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

disable the upload button if there are no files in the queue
  packages/datagateway-common/src/views/uploadDialog.component.test.tsx
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

#1532 - allow users to edit data when generating a new version
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationDataEditor.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: common, download

fix most of the upload button bugs
  packages/datagateway-common/src/views/uploadDialog.component.test.tsx
  packages/datagateway-common/src/views/uploadDialog.component.tsx
  packages/datagateway-dataview/src/index.css
Due: common

#1532 - add unit tests for data publication content editing
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationDataEditor.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationDataEditor.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#1532 - fix tests broken by useIsCartMintable moving to dg-common
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
Due: common, download

#1532 - Fix broken ids in citation formatter
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
Due: none

#1532 - fix more tests broken by useIsCartMintable moving to dg-common
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
Due: download

#1532 - add e2e tests for DOI versioning
  .github/workflows/ci-build.yml
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-dataview/cypress/support/index.d.ts
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: none

#1532 - fix test broken by edit button label key change
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
Due: none

change the way we fail test files
  packages/datagateway-common/src/views/uploadDialog.component.tsx
Due: common

#1152 - fix colour of facet accordian headers in dark mode
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
Due: search

#1152 - fix overflow issues when filter chips were present also some other minor styling stuff
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/facet/components/facetPanel/facetPanel.component.tsx
  packages/datagateway-search/src/facet/components/selectedFilterChips.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchTabs/searchTabs.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Upgrade datagateway-api CI version
  .github/workflows/ci-build.yml
Due: none

#1532 #1533 - invalidate queries after updating data pubs
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/setupTests.tsx
Due: common

e2e upload tests
  packages/datagateway-dataview/cypress/e2e/dlsUpload.cy.ts
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-dataview/cypress/support/index.d.ts
Due: none

change misleading function name
  packages/datagateway-dataview/cypress/e2e/dlsUpload.cy.ts
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-dataview/cypress/support/index.d.ts
Due: none

Added a mock instrument landing page - This was primarily to create a screenshot to share with the FAIR-IMPACT team Kept the code in case changes need to be made to the mock
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/17-11-049 GEM detectors (1).jpg
  packages/datagateway-dataview/src/views/landing/isis/isisInstrumentLandingMock.component.tsx
Due: none

Use more maintained release action Plus auto-generate release notes
  .github/release.yml
  .github/workflows/release-build.yml
Due: none

Fix results amount assertion in datafileSearch tests - don't know what changed to cause this, likely backend changes
  packages/datagateway-search/cypress/e2e/search/datafileSearch.cy.ts
Due: none

Update version number & changelog for v2.0.0
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarnrc.yml
  CHANGELOG.md
  package.json
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

increase TextFilter debounce timer to 500ms
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
Due: common

dls table files - set to name
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
Due: none

isis table files - set to name
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
Due: none

dls card files - set to name
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
Due: none

isis card files - set to name
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
Due: none

Change DLS datafile createTime to datafileCreateTime
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
Due: none

Change ISIS datafile createTime to datafileCreateTime
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
Due: none

license display
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: none

update tests, comment
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
Due: common

update COMPONENT, test to select debounce value from component 1/2
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
Due: common

update component, TEST to select debounce value from component 2/2
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.test.tsx
Due: common

isis datasets, datafiles tests - card, table comps - set to name
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
Due: none

dls datasets, datafiles files - card, table views - set to name
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
Due: none

isis datasets, datafiles files - card, table comps - set to name
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
