Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Increase timeouts in flaky CI tests
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
Due: none

#1665 - display licence on DOI landing pages & ensure it's correctly set in the structured data
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.tsx
Due: none

Use python 3 in CI and add some types which were breaking linting
  .github/workflows/ci-build.yml
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
Due: download

Remove remnants of initial WIP DOI editing form
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
Due: download

Fix TODOs re: file sizes & counts in dataPublicationContentTable & fix test id name
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
Due: none

Update cra to vite in index file
  packages/datagateway-common/index.html
Due: none

Downgrade vite to v5 (needed as react-router only supports vite 6 at v7.1.0) and dedupe lockfile
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Address gitignore/dockerignore comments
  .dockerignore
  packages/datagateway-download/.gitignore
Due: none

Remove obselete commands from package.jsons
  packages/datagateway-common/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: none

Remove unneeded structuredClone polyfill
  packages/datagateway-common/src/setupTests.tsx
Due: common

Make browserslist config consistent across plugins
  packages/datagateway-common/vite.config.ts
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: none

Update version numbers & changelog for v2.2.0
  CHANGELOG.md
  package.json
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Run VSCode organise imports in files with import * as React to remove any unecessary imports
  packages/datagateway-common/src/card/advancedFilter.component.test.tsx
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-common/src/card/entityCard.component.test.tsx
  packages/datagateway-common/src/detailsPanels/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/datasetDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/instrumentDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/preloader/preloader.component.test.tsx
  packages/datagateway-common/src/table/cellRenderers/actionCell.component.test.tsx
  packages/datagateway-common/src/table/cellRenderers/dataCell.component.test.tsx
  packages/datagateway-common/src/table/cellRenderers/expandCell.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.test.tsx
  packages/datagateway-common/src/table/table.component.test.tsx
  packages/datagateway-common/src/views/addToCartButton.component.test.tsx
  packages/datagateway-common/src/views/clearFiltersButton.component.test.tsx
  packages/datagateway-common/src/views/downloadButton.component.test.tsx
  packages/datagateway-common/src/views/selectionAlert.component.test.tsx
  packages/datagateway-common/src/views/viewButton.component.test.tsx
  packages/datagateway-common/src/views/viewCartButton.component.test.tsx
  packages/datagateway-dataview/src/App.test.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-download/src/App.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/creatorsAndContributors.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/relatedDOIs.component.test.tsx
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/newParameterFilterCreator.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/parameterFilters.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterDateTimeSelector.component.test.tsx
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterFacetList.component.test.tsx
  packages/datagateway-search/src/facet/useFacetFilters.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.test.tsx
  packages/datagateway-search/src/searchTabs/searchTabs.component.test.tsx
  packages/datagateway-search/src/searchTabs/useSearchResultCounter.test.tsx
Due: common, search, download

Fix image import to account for forced inlining in Vite 5 - I made sure to add TODOs to every image to ensure we double check whether we want to inline or use ?no-inline when we can upgrade to Vite 6
  packages/datagateway-dataview/src/main.tsx
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisBranding.component.tsx
  packages/datagateway-download/src/main.tsx
  packages/datagateway-search/src/main.tsx
Due: search, download

Fix unit tests broken by inlining images changes
  packages/datagateway-dataview/src/main.test.tsx
  packages/datagateway-dataview/src/page/translatedHomePage.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-download/src/main.test.tsx
  packages/datagateway-search/src/main.test.tsx
Due: search, download

Make downloadStatus test more consistent by removing ripples from snapshot - Also refactor to use `wrapper` so we don't have to re-define HOCs
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
Due: download

Fix release workflow to package up `dist` folder instead of `build`
  .github/workflows/release-build.yml
Due: none

Fix unit tests broken by visit restore merge
  packages/datagateway-common/src/api/cart.test.ts
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadProgressIndicator.component.tsx
Due: common, download

Improve flakiness of downloadConfirmDialog test
  packages/datagateway-common/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-common/src/setupTests.tsx
Due: common

Remove obsolete snapshot
  packages/datagateway-common/src/downloadConfirmation/__snapshots__/downloadRequestResult.component.test.tsx.snap
Due: common

Fix sizing of grids on home page
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/homePage/homePage.component.tsx
Due: common

Fix useSticky test - actually mock lodash.debounce - fix missing await/async - move shared setup to beforeEach
  packages/datagateway-common/src/hooks/useSticky.test.ts
Due: common

Increase timeout for datafile tables findAllRows function - this is causing flakiness in CI for some reason so just bump the timeout from 1s to 5s
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
Due: none

Extract out useEntity into api folder & use useEntity instead of dedicated fetch endpoints for each entity - the latter just reduces some repeated code
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/generic.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-common/src/detailsPanels/isis/datafileDetailsPanel.component.tsx
  packages/datagateway-common/src/urlBuilders.ts
  packages/datagateway-dataview/src/page/doiRedirect.component.test.tsx
  packages/datagateway-dataview/src/page/doiRedirect.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/redirect.component.test.tsx
  packages/datagateway-dataview/src/page/redirect.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: common

Add/update unit tests for generic redirect & api hook changes
  packages/datagateway-common/__mocks__/axios.ts
  packages/datagateway-common/src/api/datafiles.test.tsx
  packages/datagateway-common/src/api/datasets.test.tsx
  packages/datagateway-common/src/api/generic.test.tsx
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-dataview/src/page/redirect.component.test.tsx
Due: common

Fix isisInvestigationLanding page issues cause by refactoring it to not have investigations return as an array
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

Fix broken useDatasetDetails unit test - accidentally copied over the correct code after I finished testing it
  packages/datagateway-common/src/api/datasets.test.tsx
Due: common

Improve visitDetailsPanel test flakiness by removing ripple effects
  packages/datagateway-common/src/api/cart.test.ts
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.test.tsx
Due: common

Fix isis dataset landing page e2e test intercept url
  packages/datagateway-dataview/cypress/e2e/landing/isis/dataset.cy.ts
Due: none

Remove ts-expect-error lines on lines that no longer error due to react-query upgrade
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
Due: none

Make husky v9 changes & remove husky workaround - I tested on windows 11 git bash and it's no longer an issue
  .husky/common.sh
  .husky/pre-commit
  package.json
Due: none

Fix linting issue caused by testing library upgrade
  packages/datagateway-download/src/downloadApiHooks.test.tsx
Due: download

Actually handle unauthorised route config
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/main.test.tsx
  packages/datagateway-dataview/src/main.tsx
  packages/datagateway-download/src/main.test.tsx
  packages/datagateway-download/src/main.tsx
  packages/datagateway-search/src/main.test.tsx
  packages/datagateway-search/src/main.tsx
Due: common, search, download

Fix unit tests & linting errors
  packages/datagateway-common/__mocks__/axios.ts
  packages/datagateway-common/src/api/dataPublications.test.tsx
  packages/datagateway-common/src/api/dois.test.tsx
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.test.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.test.tsx
  packages/datagateway-common/src/dois/relatedDOIs.component.test.tsx
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationDataEditor.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationDataEditor.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
Due: common, download

Fix some styling on the landing page & suppress error in unit test
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: none

Increase findBy timeout for doi edit form test to fix CI (passes fine locally...)
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
Due: none

Fix queue visit button e2e tests by ensuring root user has access to the button
  .github/workflows/ci-build.yml
Due: none

Add datapublication landing page route to default config
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
Due: none

Allow DOI URLs for be configurable via Docker
  Dockerfile
  docker/docker-entrypoint.sh
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
