Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Fix failed unit test (#932)
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
Due: search

removed redundant line #857
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: none

#927 - Fix count/sizes not updating correctly upon sort & filtering
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/investigations.tsx
Due: common

added e2e in search #857
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

Add lines between columns in table (#929)
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/dataCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/dataCell.component.tsx
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Fixed test labels #857
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/investigation.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
  packages/datagateway-dataview/cypress/integration/table/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/studies.spec.ts
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

#927- switch investigation table to have count column so an e2e test can be written for checking size after filtering
  packages/datagateway-dataview/cypress/integration/table/investigations.spec.ts
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
Due: none

#927 - fix error in unit test
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
Due: none

updated the snapshots #857
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
Due: search

minor fixes #857
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: none

updated snapshots #857
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
Due: none

Add defaultSort in table columns and use in ISIS instruments (#931)
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
Due: common

#927 - revert change of passing aggregatedData instead of data to size hook This was a leftover from debugging and is not necessary
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
Due: none

#927 - update snapshot
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
Due: none

Rename 'usePushSort' to 'useSort' and use replace on default sort (#931)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: common

Add default sorting to ISIS/DLS tables (#931)
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: common

Add default sorting to cards (#931)
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
Due: common

Add default sorting to ISIS/DLS card views (#931)
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
Due: none

Update and add unit tests in common (#931)
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
  packages/datagateway-common/src/table/table.component.test.tsx
Due: common

Switch erroneous use of id to data-testid
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-dataview/cypress/integration/card/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: common

Use industry standard data-testid instead of data-test-id
  packages/datagateway-common/src/table/cellRenderers/cellContentRenderers.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search

Update ISIS table unit tests (#931)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisStudiesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
Due: common

#927 - add more tests for size&count filtering fix
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
Due: none

Update DLS table unit tests (#931)
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
Due: none

Update ISIS card unit tests (#931)
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisDatasetsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisFacilityCyclesCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInstrumentsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInvestigationsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisStudiesCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
Due: none

Update DLS card unit tests (#931)
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsDatasetsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsProposalsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsVisitsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
Due: none

Update search to use 'useSort' (#931)
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Add first() to card e2e tests to ensure we're testing the first card
  packages/datagateway-dataview/cypress/integration/card/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

#927 - fix dls datasets & mydata e2e tests
  packages/datagateway-dataview/cypress/integration/table/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
Due: none

Update entityCard snapshot due to id change
  packages/datagateway-common/src/card/__snapshots__/entityCard.component.test.tsx.snap
Due: common

Update search snapshots
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/__snapshots__/investigationSearchCardView.component.test.tsx.snap
Due: search

Update ISIS table e2e tests (#931)
  packages/datagateway-dataview/cypress/integration/table/isis/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/studies.spec.ts
Due: none

Update DLS table e2e tests (#931)
  packages/datagateway-dataview/cypress/integration/table/dls/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/visits.spec.ts
Due: none

Update search snapshots again - forgot to rebuild common
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
Due: search

Update ISIS and DLS card view e2e tests (#931)
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
Due: none

Fix failing cartSelection e2e test (#931)
  packages/datagateway-dataview/cypress/integration/cartSelection.spec.ts
Due: none

Change colour of number of results in search (#905)
  packages/datagateway-search/src/searchPageCardView.tsx
  packages/datagateway-search/src/searchPageTable.tsx
Due: search

Use specific DataGateway API version for CI
  .github/workflows/ci-build.yml
Due: none

Fix e2e test (#931)
  packages/datagateway-dataview/cypress/integration/cartSelection.spec.ts
Due: none

Add event listener to clear query cache when scigateway signs out
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-search/src/App.tsx
Due: common, search

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
