Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Fix ISIS table unit tests (#772)
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
Due: none

Fix datagateway-download filter unit tests (#772)
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Fix datagateway-search filter unit tests (#772)
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Update test snapshots (#772)
  packages/datagateway-common/src/card/__snapshots__/cardView.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/__snapshots__/textColumnFilter.component.test.tsx.snap
Due: common

Modified the dropdown to use Select with a native prop #772
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Added a better description to the 'display as table/cards' button #772
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Correct PageContainer view button unit test (#772)
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
Due: none

Unskipping my data tests using Thomas409 user #659
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/support/commands.js
Due: none

Remove finding "input" from e2e tests (#772)
  packages/datagateway-dataview/cypress/integration/card/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/cartSelection.spec.ts
  packages/datagateway-dataview/cypress/integration/table/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/table/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/studies.spec.ts
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Correct date filters in e2e tests (#772)
  packages/datagateway-dataview/cypress/integration/card/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/studies.spec.ts
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
Due: none

Remove "button" from submit search button in e2e tests (#772)
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
  packages/datagateway-search/cypress/integration/searchBoxContainer.spec.ts
Due: none

Added the placeholder text back to the datefilters #772
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
Due: common

Fix selection on access method selection in e2e tests (#772)
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Dataset count column is now tabbable #772
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
Due: common

Revert "Dataset count column is now tabbable #772"
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
Due: common

Add "from" and "to" to date filters (#772)
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
Due: common, download

Added IDs to accomodate for the removal of from and to on datepickers #772
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
Due: common

Fixing unit tests to account for id added to date filters #772
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search, download

Fix max results dropdown selection in e2e tests (#772)
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: common, download

Correct page view button in e2e tests (#772)
  packages/datagateway-dataview/cypress/integration/card/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
Due: none

Fixing dataview e2e tests #772
  packages/datagateway-dataview/cypress/integration/card/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/table/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/studies.spec.ts
  packages/datagateway-dataview/server/e2e-settings.json
Due: none

Fixing download e2e tests #772
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-search/server/e2e-settings.json
Due: none

Removing changes accidentally made to e2e settings files #772
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-search/server/e2e-settings.json
Due: none

Removing accidental remaining it.only #772
  packages/datagateway-dataview/cypress/integration/table/datasets.spec.ts
Due: none

Fixing myData e2e tests #772
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
Due: none

Update DownloadConfirmDialog unit test snapshots (#772)
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
Due: download

Fixing e2e pageContainer and myData tests #772
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
Due: none

Correct ID for select in e2e test (#772)
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
Due: none

Remove background paper in CardView (#815)
  packages/datagateway-common/src/card/__snapshots__/cardView.component.test.tsx.snap
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Fix passing empty information/buttons array (#815)
  packages/datagateway-common/src/card/entityCard.component.tsx
Due: common

Keep CardView options visible when loading data (#815)
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Upgrade @material-ui/core patch version (#815)
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Remove old TODOs (#815)
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/cartSelection.spec.ts
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
Due: common

Adding investigation and dataset card views #420
  packages/datagateway-search/src/card/datasetCardView.component.tsx
  packages/datagateway-search/src/card/investigationCardView.component.tsx
  packages/datagateway-search/src/searchPageTable.tsx
Due: search

Added alt text to the datagateway homepage from the default.json #826
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
Due: common

Downgrade material-ui patch version (#815)
  packages/datagateway-common/package.json
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: common

Modified the unit tests to check the updated homepage files #826
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-dataview/src/page/__snapshots__/translatedHomePage.component.test.tsx.snap
Due: common

Revert icat-ansible to master #752
  .github/workflows/ci-build.yml
Due: none
