Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Query the IDS server for the download file (#49)
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

#97 - add in missing extended timeout to download cart test
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
Due: none

#97 - add retries to download cart spec
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/plugins/index.js
  packages/datagateway-download/cypress/support/index.js
  packages/datagateway-download/package.json
Due: none

Updates to tests and snapshots for dgsearch
  packages/datagateway-search/src/search/Header.component.tsx
  packages/datagateway-search/src/search/__snapshots__/checkBoxes.component.test.tsx.snap
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/datePicker.test.tsx
  packages/datagateway-search/src/search/searchTextBox.test.tsx
Due: search

Ensure dialog field states are reset upon close (#49)
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Add Checkmark component (#49)
  packages/datagateway-download/src/downloadConfirmation/checkmark.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Tests for search components
  packages/datagateway-search/src/search/__snapshots__/datePicker.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchButton.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.test.tsx.snap
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/search/searchTextBox.test.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
Due: search

Removed WIP searchButton test due to linting error
  packages/datagateway-search/src/App.test.tsx
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/search/searchTextBox.test.tsx
  packages/datagateway-search/src/state/app.types.tsx
Due: search

Added cross to Mark component (#49)
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadConfirmation/checkmark.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadConfirmation/mark.component.tsx
Due: download

Added cross symbol to confirmation dialog (#49)
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadConfirmation/mark.component.tsx
Due: download

Finalise confirmation dialog submit view (#49)
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Update dlsProposalsTable and isisFacilityCyclesTable unit test shallow selectors (#83)
  packages/datagateway-table/src/dls/tables/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/dlsProposalsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-table/src/pageContainer.component.tsx
  packages/datagateway-table/src/pageTable.component.test.tsx
Due: table

Initial unit tests for DownloadConfirmDialog (#49)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/__mocks__/axios.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartApi.test.ts
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadConfirmation/mark.component.tsx
Due: common, download

Created initial DownloadStatusTable (#48)
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Created basic DownloadStatusTable (#48)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/downloadStatus/downloadApi.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab.component.tsx
Due: common, download

Add in availability status message to DownloadStatusTable (#48)
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  yarn.lock
Due: download

Added basic DownloadTab (#48)
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/downloadTab.component.tsx
Due: download

Integrate in DownloadCartTable and DownloadStatusTable to DownloadTabs (#48)
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab.component.tsx
Due: download

Complete/removed partial tests, edited req
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/state/actions/actions.test.tsx
Due: search

Provide correct preparedId to start immediate download (#49)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: common, download

Added addCartItem Cypress command to add invidual cart items (#49)
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/cypress/support/index.d.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Add initial e2e tests for DownloadConfirmDialog (#49)
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Added access method, connection speed and email address e2e tests for DownloadConfirmDialog (#49)
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Completed e2e tests for DownloadConfirmDialog (#49)
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/cypress/support/index.d.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Allow for test download file to be deleted after running test (#49)
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/support/commands.js
Due: none

Add in isTwoLevel IDS check (#49)
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Fix whole number/float issue on estimated download times and represent as table (#49)
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Update DownloadConfirmDialog e2e tests to match UI changes (#49)
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/cypress/support/index.d.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Check status of file before starting immediate download (#49)
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Updated DownloadCartTable snapshots (#49)
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Initial redux extraction
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/datafiles.test.tsx
  packages/datagateway-common/src/state/actions/datafiles.tsx
  packages/datagateway-common/src/state/actions/datasets.test.tsx
  packages/datagateway-common/src/state/actions/datasets.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/actions/investigations.test.tsx
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/middleware/dgtable.middleware.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/state/reducers/app.reducer.tsx
  packages/datagateway-table/src/state/reducers/app.reducer.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.test.tsx
  packages/datagateway-table/src/state/reducers/dgtable.reducer.tsx
  packages/datagateway-table/src/table/datafileTable.component.tsx
Due: common, table, search

Added further downloadCartApi unit tests (#49)
  package.json
  packages/datagateway-download/src/downloadCart/downloadCartApi.test.ts
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-table/public/datagateway-table-settings.example copy.json
Due: download

Added tests for getDownload and downloadPreparedCart in downloadCartApi unit tests (#49)
  packages/datagateway-download/src/downloadCart/downloadCartApi.test.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
Due: download

Add email address validation unit test for DownloadConfirmationDialog (#49)
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Correct access method selection and add getDownload request for unit tests (#49)
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Remove old code (#49)
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Remove old code/comments (#49)
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-table/src/arrowtooltip.component.tsx
  packages/datagateway-table/src/breadcrumbs.component.tsx
  packages/datagateway-table/src/state/actions/investigations.test.tsx
Due: table, download

Fix breadcrumbs unit tests (#49)
  packages/datagateway-table/src/arrowtooltip.component.tsx
  packages/datagateway-table/src/breadcrumbs.component.tsx
Due: table

Move download time/table inline styles to createStyles function (#49)
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Complete code coverage omitting some branches (#49)
  README.md
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
Due: download
