Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Add some help text on the Edit DOI page
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
Due: none

Only display PI DOI type button on myDOIs table
  packages/datagateway-dataview/src/views/doiTypeSelector.component.tsx
Due: none

new unit tests for datagateway download
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/testData.ts
Due: download

new unit tests for datagateway dataview
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
Due: none

unit test for datagateway common
  packages/datagateway-common/src/dois/creatorsAndContributors.component.test.tsx
Due: common

changing uiFeatures to features
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
Due: none

changed the default text explaining contributor
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-download/public/res/default.json
Due: none

change disableContributor to disableContributors
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.test.tsx
  packages/datagateway-common/src/dois/creatorsAndContributors.component.tsx
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/testData.ts
Due: common, download

added disableContributor to dataview settings to be false
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
Due: none

disabling the caching on the server side rather than mocking it in the tests
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
  packages/datagateway-download/server/e2e-test-server.js
Due: none

removed tabs from DOI landing page
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: none

fixed files so it doesn't effect the test
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: none

changed the way tabs are removed
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: none

removed the check for investigation tab
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
Due: none

fixed default translation strings to include contributors
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-download/public/res/default.json
Due: none

modified the reducer
  packages/datagateway-dataview/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
Due: none

undo changes made to reducer and fixed functionality of disable contributor button
  packages/datagateway-dataview/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
Due: none

fixed lint test
  packages/datagateway-common/src/state/actions/actions.types.tsx
Due: common

fix unit test
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.test.tsx
Due: none

display funder's name on landing page
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: none

Update dg-api from 11.1.1 to 12.0.0
  .github/workflows/ci-build.yml
Due: none

added coverage tests for funders
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
Due: none

initial search and faceting
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

Fix filter names, multiple filters, dates
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

Add my data filtering
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/testData.ts
Due: common, search

reviewed changes
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: none

reviewed changes (should disable button in both download and dataview when undefined)
  packages/datagateway-common/src/dois/creatorsAndContributors.component.tsx
Due: common

reviewed changes
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: none

fixed linting issue
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: none

fixed unit test
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
Due: none

changed e2e test to check for fullName instead of name
  packages/datagateway-dataview/cypress/e2e/landing/isis/investigationDataPublication.cy.ts
Due: none

Almost all other tests
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
Due: search

Fix lucene tests and build correct parameters tests
  packages/datagateway-common/src/api/lucene.test.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchTabs/searchTabs.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search

reviewed changes (fixed unit test)
  packages/datagateway-common/src/api/retryICATErrors.ts
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
Due: common

fixed unit tests console.error()
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
Due: none

Revert "Enhancement/remove tab from doi landing page #1996"
  packages/datagateway-common/src/api/retryICATErrors.ts
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: common

(#2013) add ability to add funders to user-defined DOIs via selecting from a pre-defined list or via ROR
  packages/datagateway-common/src/api/dois.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/dois/DOIMetadataForm.component.tsx
  packages/datagateway-common/src/dois/fundingReferences.component.tsx
  packages/datagateway-common/src/main.tsx
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/public/funders.json
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationEditForm.component.tsx
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/public/funders.json
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
Due: common, download

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
