Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

#1531 - add mint DOI functionality also rejig the form to overflow better
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

#1531 - add DOI confirmation dialogue also rejig the overflow UI of the DOI generation form
  packages/datagateway-download/src/DOIGenerationForm/DOIConfirmDialog.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadConfirmation/dialogTitle.component.tsx
Due: download

#1531 - change email to username in DOI creators stuff
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

#1531 - prevent mint DOI page from being accessed directly also, turn accept data policy form back on and add a TODO and better placeholder text
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/acceptDataPolicy.component.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#1532 - add basic DLS landing page
  packages/datagateway-common/src/images/DLS-logo-blue-text.png
  packages/datagateway-common/src/images/DLS-logo-white-text.png
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsBranding.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: common

Remove commented-out code
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
Due: download

#1532 - add content table to DLS DOI landing page
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: common

#1533 - Add My DOIs view
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.tsx
Due: none

#1531 - improve layout on larger screens
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
Due: download

Update isis data publication tests
  packages/datagateway-dataview/src/views/table/isis/isisDataPublicationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
Due: none

Update dg-dataview e2e tests
  packages/datagateway-dataview/cypress/e2e/table/pageContainer.cy.ts
Due: none

Update e2e tests
  packages/datagateway-dataview/cypress/e2e/table/pageContainer.cy.ts
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
Due: none

Update e2e tests
  packages/datagateway-search/cypress/e2e/searchPageContainer.cy.ts
Due: none

#1471 Implement recent searches using browser `autocomplete`
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
Due: search

#1532 - fix issues with content table and fix routing issues
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
Due: none

#1471 Fix snapshots
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchButton.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.component.test.tsx.snap
Due: search

#1532 - improve DLS landing page UI
  packages/datagateway-common/src/api/dataPublications.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: common

Fix dark mode issues with buttons & tabs
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/acceptDataPolicy.component.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#1531 - fix a few more dark mode things
  packages/datagateway-download/src/DOIGenerationForm/DOIConfirmDialog.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
Due: download

#1529 #1531 - don't pass empty arrays to minting API an update to the API meant empty arrays error
  packages/datagateway-download/src/downloadApi.ts
Due: download

#1529 - highlight which rows a user doesn't have permission to mint also fix some errors in testing error codes
  packages/datagateway-common/src/api/cart.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadApiHooks.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: common, download

Fix table row hover
  packages/datagateway-common/src/table/table.component.tsx
Due: common

#1529 - improve hover detection for row highlighting
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#1152 - fix search unit tests & fix bug in how search tabs were synced
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchTabs.component.test.tsx.snap
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/search/sortSelect.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
Due: search

Remove logging statements & fix warnings generating log output
  packages/datagateway-search/src/facet/components/facetPanel/parameterFilters/valueSelectors/parameterFacetList.component.tsx
  packages/datagateway-search/src/facet/useFacetFilters.test.tsx
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
  packages/datagateway-search/src/search/myDataCheckbox.component.test.tsx
  packages/datagateway-search/src/setupTests.ts
  packages/datagateway-search/src/table/cellRenderers.test.tsx
Due: search

#1152 - fix tests failing on CI because of timezone issues
  packages/datagateway-common/src/detailsPanels/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/investigationDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/investigationDetailsPanel.component.tsx
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/setupTests.ts
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search

#1152 - improve test coverage
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/api/lucene.test.tsx
  packages/datagateway-common/src/api/lucene.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
Due: common, search

Fix broken checksum in lockfile
  yarn.lock
Due: none

#1529 #1531 - extract strings to translation file
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/DOIGenerationForm/DOIConfirmDialog.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/DOIGenerationForm/acceptDataPolicy.component.tsx
Due: download

#1529 #1531 - fix broken unit tests
  packages/datagateway-common/src/api/cart.test.tsx
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
Due: common, download

Added tabs and etherpad functionality
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
Due: none

Compress all files except images
  Dockerfile
Due: none

Disable caching for .js, .json, and .html files
  Dockerfile
Due: none

#1529 #1531 - add unit tests for minting api hooks
  packages/datagateway-download/src/downloadApiHooks.test.tsx
  packages/datagateway-download/src/testData.ts
Due: download

Fix dg-search e2e test attempt 1
  packages/datagateway-search/cypress/e2e/search/investigationSearch.cy.ts
Due: none

#1291 - add tests for mint cart button also improve downloadTab tests
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
Due: download

#1531 - add tests for DOIGenerationForm
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
Due: download

Added the E2E test and unit test
  packages/datagateway-dataview/cypress/e2e/landing/isis/investigation.cy.ts
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

#1531 - add DOIConfirmDialog tests
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/DOIGenerationForm/DOIConfirmDialog.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIConfirmDialog.component.tsx
Due: download

#1531 - fix names of tests & decrease characters typed
  packages/datagateway-download/src/DOIGenerationForm/DOIConfirmDialog.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
Due: download

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
