Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

update searchPageTable snapshot and isis/myData retries #462
  packages/datagateway-dataview/cypress/integration/isis/myData.spec.ts
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
Due: search

Update failing search snapshot
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
Due: search

Update search/cart icons and tests with CV changes #415
  packages/datagateway-dataview/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-dataview/src/page/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

minor changes from CV work #458
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-common/src/state/app.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/card/__snapshots__/entityCard.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/advancedFilter.component.test.tsx
  packages/datagateway-dataview/src/views/card/advancedFilter.component.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/entityCard.component.test.tsx
  packages/datagateway-dataview/src/views/card/entityCard.component.tsx
Due: common

tests from cv work #459
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-common/src/state/actions/investigations.test.tsx
  packages/datagateway-common/src/sticky.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageSearch.component.tsx
  packages/datagateway-dataview/src/views/card/__snapshots__/datasetCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/datasetDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/datasetDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/instrumentDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: common

reverting change to fetchDownloadCart timing #458
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

force update for fetchCart test and minor fixes to tests #459
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-common/src/state/actions/index.tsx
  packages/datagateway-dataview/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
Due: common

add timeouts and retries to isis datasets.spec #459
  packages/datagateway-dataview/cypress/integration/isis/datasets.spec.ts
Due: none

use secondary color for Max Results select #458
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: none

translate Max Results string #458
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
Due: none

add tour classNames to new pageContainer #430
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

update searchPageTable snapshot #430
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
Due: search

add icons to advanced filters in card view #467
  packages/datagateway-dataview/src/views/card/advancedFilter.component.tsx
Due: none

Remove git add in datagateway-common package.json
  packages/datagateway-common/package.json
Due: none

Remove git add in datagateway-dataview package.json
  packages/datagateway-dataview/package.json
Due: none

Remove git add in datagateway-download package.json
  packages/datagateway-download/package.json
Due: none

Remove git add in datagateway-search package.json
  packages/datagateway-search/package.json
Due: none

unit tests for card view, limit logging #459
  packages/datagateway-dataview/src/views/card/__snapshots__/investigationCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/advancedFilter.component.test.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsDatasetsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsProposalsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsVisitsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/entityCard.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisDatasetsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisFacilityCyclesCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInstrumentsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInvestigationsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.test.tsx
  packages/datagateway-search/src/__mocks__/react-i18next.jsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/searchPageTable.test.tsx
Due: search

host DG logo from the plugins themselves #262
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/react-app-env.d.ts
Due: search, download

add waits and retries to isis/datasets #262
  packages/datagateway-dataview/cypress/integration/isis/datasets.spec.ts
Due: none

e2e testing for card view changes #459
  packages/datagateway-dataview/cypress/integration/card/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/table/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
Due: none

add classname for toggle card element #430
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

increase retries for new e2e tests #459
  packages/datagateway-dataview/cypress/integration/card/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
Due: none

increase retries to 3 for new e2e tests #459
  packages/datagateway-dataview/cypress/integration/card/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
Due: none

move clear cart to beforeEach for card container test #459
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
Due: none

skip card/investigations e2e tests #459
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
Due: none

Set date limit for the date that is not provided #464
  packages/datagateway-search/src/search/searchButton.component.tsx
Due: search

Write unit tests for newly added logic #464
  packages/datagateway-search/src/search/searchButton.component.test.tsx
Due: search

Change limits to extreme dates #464
  packages/datagateway-search/src/search/searchButton.component.tsx
Due: search

Fix unit tests #464
  packages/datagateway-search/src/search/searchButton.component.test.tsx
Due: search

Datagateway logo
  packages/datagateway-common/src/images/DataGateway-dark-blue-695x108.png
  packages/datagateway-common/src/images/DataGateway-white-695x108.png.png
  packages/datagateway-common/src/images/datagateway-logo.svg
  packages/datagateway-common/src/images/datgateway-white-text-blue-mark-logo.svg
Due: common

more retries for downloadCart.spec.ts #262
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
Due: none

use secondary colour for calculate button #492
  packages/datagateway-dataview/src/views/detailsPanels/dls/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.tsx
Due: none

add basic isisInvestigationLanding page #473
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/state/actions/investigations.test.tsx
  packages/datagateway-common/src/state/actions/investigations.tsx
  packages/datagateway-dataview/cypress/integration/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/investigation.spec.ts
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageLanding.component.test.tsx
  packages/datagateway-dataview/src/page/pageLanding.component.tsx
  packages/datagateway-dataview/src/page/pageTable.component.tsx
  packages/datagateway-dataview/src/views/__snapshots__/addToCartButton.component.test.tsx.snap
  packages/datagateway-dataview/src/views/addToCartButton.component.test.tsx
  packages/datagateway-dataview/src/views/addToCartButton.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/__snapshots__/investigationDetailsPanel.component.test.tsx.snap
  packages/datagateway-dataview/src/views/detailsPanels/isis/instrumentDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/instrumentDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisInvestigationsLanding.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationsLanding.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: common

make unit tests work with useEffect dependencies #473
  packages/datagateway-dataview/src/page/pageLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationsLanding.component.test.tsx
Due: none

add isisDatasetLanding page #473
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/dataset.spec.ts
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageLanding.component.test.tsx
  packages/datagateway-dataview/src/page/pageLanding.component.tsx
  packages/datagateway-dataview/src/views/__snapshots__/downloadButton.component.test.tsx.snap
  packages/datagateway-dataview/src/views/addToCartButton.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/datasetDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/downloadButton.component.test.tsx
  packages/datagateway-dataview/src/views/downloadButton.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisDatasetsLanding.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetsLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
Due: common

manual setting for selectAll #483
  packages/datagateway-common/src/table/table.component.test.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.test.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: common

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
