Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Added download and addToCart buttons (#420)
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
Due: search

Fix some unit tests and add e2e to investigationSearchCardView (#420)
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
  packages/datagateway-search/src/card/__snapshots__/datasetSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/__snapshots__/investigationSearchCardView.component.test.tsx.snap
Due: search

Fix unit test and add e2e test (#420)
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
Due: search

Adding to e2e tests (#420)
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

testing the redirect for isis and dls #833
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
Due: none

Adding e2e test for changing page in card view
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

Attempt to fix failed test (#420)
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

Add unit test to searchPageContainer (#420)
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
Due: search

testing the redirect for isis
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
Due: none

Attempt to add failed test back in
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

Remove broken test
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

testing the redirect for my data view #833
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
Due: none

Adding tooltip to info icon (#834)
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Add unit tests for label (#834)
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Add link in tooltip (#834)
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

used create memhist for testing redirect #833
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
Due: none

Add slight translucency to tooltip and make it green (#834)
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Bug - useCustomFilterCount only works independently in unit tests (#815)
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: common

Add e2e test (#834)
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
Due: none

Change colours to improve visibility in dark mode (#834)
  packages/datagateway-common/src/arrowtooltip.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: common

Forgot to remove change in previous commit (#834)
  packages/datagateway-common/src/arrowtooltip.component.tsx
Due: common

Add more unit tests to ArrowTooltip (#834)
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
Due: common

Some cleanup (#834)
  packages/datagateway-common/src/arrowtooltip.component.tsx
Due: common

Add test banner to dataview (#840)
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  yarn.lock
Due: none

Add SelectionAlert component and refactor (#840)
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Make banner respond to adding/removing items (#840)
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Add animation to banner (#840)
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

fixed-manual-entry-issue-results(#831)
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Use language file for banner (#840)
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Implement go to selections link and move to common (#840)
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/views/selectionAlert.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: common

Add SelectionAlert to datagateway-search (#840)
  packages/datagateway-common/src/views/selectionAlert.component.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/searchPageTable.tsx
  yarn.lock
Due: common, search

Change if else logic to or logical #831
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Changed SelectionAlert to use Paper instead of Alert (#840)
  packages/datagateway-common/src/views/selectionAlert.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.tsx
Due: common, search

#797 - add role selector to my data views
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
Due: none

Fix bug with select all box not working right on isisMyData
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: none

Add some unit tests to SelectionAlert (#840)
  packages/datagateway-common/src/views/__snapshots__/selectionAlert.component.test.tsx.snap
  packages/datagateway-common/src/views/selectionAlert.component.test.tsx
  packages/datagateway-common/src/views/selectionAlert.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.tsx
Due: common, search

Improve consistency of test and disable info button. (#834)
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Skip failed test, fix mistake, change button text (#420)
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
Due: search

Replace incorrect investigation.name with .title (#420)
  packages/datagateway-search/server/e2e-settings.json
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
Due: search

Revert accidental modification (#420)
  packages/datagateway-search/server/e2e-settings.json
Due: none
