Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Remove unused SearchTableProps interface
  packages/datagateway-search/src/searchTabs.component.tsx
Due: search

Remove unneeded cy intercepts
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
Due: none

Migrate entityCard test to RTL
  packages/datagateway-common/src/card/entityCard.component.test.tsx
Due: common

Migrate useAfterMountEffect test to RTL
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/utils.test.tsx
Due: none

Migrate pageContainer test to RTL
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Improve isisInvestigationLanding tests
  packages/datagateway-dataview/src/views/landing/isis/isisBranding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

Add search mapping creation
  .github/workflows/ci-build.yml
Due: none

github action Pull from yaml branch. Use yq to update yaml
  .github/workflows/ci-build.yml
Due: none

fix yq and use flask run
  .github/workflows/ci-build.yml
Due: none

Add headers to login command
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-search/cypress/support/commands.js
Due: none

requests needs to be told what options are being passed
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-search/cypress/support/commands.js
Due: none

Update apiUrl
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-search/server/e2e-settings.json
Due: none

change to ip rather than localhost
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-search/server/e2e-settings.json
Due: none

Use / as api url
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-search/server/e2e-settings.json
Due: none

add tmate
  .github/workflows/ci-build.yml
Due: none

use localhost instead of ip and revert login changes
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-search/cypress/support/commands.js
  packages/datagateway-search/server/e2e-settings.json
Due: none

revert to python -m
  .github/workflows/ci-build.yml
Due: none

Fix log location
  .github/workflows/ci-build.yml
Due: none

Mock axios in isis investigations card test
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
Due: none

Fix merge issues
  .github/workflows/ci-build.yml
Due: none

Move tmate session
  .github/workflows/ci-build.yml
Due: none

Enforce datagateway-api location
  .github/workflows/ci-build.yml
Due: none

Improve datafileTable tests
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
Due: none

Move dg api to an allowed folder
  .github/workflows/ci-build.yml
Due: none

Fix file paths
  .github/workflows/ci-build.yml
Due: none

Remove unecessary changes to config file
  .github/workflows/ci-build.yml
Due: none

Force a directory for datagateway
  .github/workflows/ci-build.yml
Due: none

Improve toplevel package run commands using yarn workspace
  package.json
Due: none

Fix dev login to use correct sessionId casing
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-search/src/index.tsx
Due: search

Remove validateDOMNesting errors - progress bar was a descendant of the dataCell typography which was a <p> - so we just change it to be a <span>
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/dataCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/dataCell.component.tsx
Due: common

Apply ci changes to other runners
  .github/workflows/ci-build.yml
Due: none

Fix too many indents
  .github/workflows/ci-build.yml
Due: none

Update caniuse-light
  yarn.lock
Due: none

Add regex [UTC] removal regex to tableValue
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Fix unit tests broken by p to span change
  packages/datagateway-common/src/table/table.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
Due: common

Further fix p -> span test failures
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search, download

Fix warnings in tests caused by visitDetailsPanel not setting a default tab value
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
Due: common

Fix screenshots
  .github/workflows/ci-build.yml
Due: none

Fix snapshots
  packages/datagateway-common/src/detailsPanels/dls/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
Due: common, download

Improve datasetTable tests
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
