Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

#1532 - add tests for data publication api endpoints
  packages/datagateway-common/src/api/dataPublications.test.tsx
  packages/datagateway-common/src/api/dataPublications.tsx
Due: common

#1532 - Fix circular dependency
  packages/datagateway-common/src/api/dataPublications.tsx
Due: common

#1532 - add translations + unit tests for DLS DOI landing page
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationContentTable.component.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/dls/dlsDataPublicationLanding.component.tsx
Due: none

#1533 - add unit tests for my DOIs view
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.test.tsx
Due: none

#1532 #1533 add e2e tests
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDOIsTable.component.tsx
Due: none

#1532 #1533 - fix e2e tests broken by different timezones
  packages/datagateway-dataview/cypress/e2e/landing/dls/dataPublication.cy.ts
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
Due: none

#1533 - fix e2e date
  packages/datagateway-dataview/cypress/e2e/table/dls/myDois.cy.ts
Due: none

#1529 #1531 add e2e tests for doi minting stuff - requires some icat config changes & setting up icat-doi-minter-api on CI
  .github/add_doi_datapublicationtype.py
  .github/config.env
  .github/workflows/ci-build.yml
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
  packages/datagateway-download/cypress/e2e/downloadCart.cy.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/cypress/support/index.d.ts
  packages/datagateway-download/server/e2e-settings.json
Due: none

Fix yaml syntax error
  .github/workflows/ci-build.yml
Due: none

Fix path
  .github/workflows/ci-build.yml
Due: none

Fix python-icat code
  .github/add_doi_datapublicationtype.py
Due: none

Fix python syntax
  .github/add_doi_datapublicationtype.py
Due: none

Remove unnecessary command
  .github/workflows/ci-build.yml
Due: none

Remove quotes from config.env file
  .github/config.env
Due: none

Debug docker command
  .github/workflows/ci-build.yml
Due: none

Fix docker env file flag
  .github/workflows/ci-build.yml
Due: none

Fix docker localhost
  .github/config.env
  .github/workflows/ci-build.yml
Due: none

Add detached flag back in - I only removed it for debugging, as if the API is working then without -d it hangs the workflow!
  .github/workflows/ci-build.yml
Due: none

Debug icat config changes
  .github/workflows/ci-build.yml
Due: none

More debugging
  .github/workflows/ci-build.yml
Due: none

Remove debugging messages & restart glassfish
  .github/workflows/ci-build.yml
Due: none

Restart payara in different way - taken from how icat-ansible restarts payara
  .github/workflows/ci-build.yml
Due: none

Add sudo to restart payara command
  .github/workflows/ci-build.yml
Due: none

Fix adminUserNames in TopCAT
  .github/workflows/ci-build.yml
Due: none

Use python2 for Topcat reinstall
  .github/workflows/ci-build.yml
Due: none

Fix dataset card view e2e tests that failed on the 1st of the month
  packages/datagateway-dataview/cypress/e2e/card/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/dls/datasets.cy.ts
  packages/datagateway-dataview/cypress/e2e/card/isis/datasets.cy.ts
Due: none

Changed urls
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-dataview/src/settings.ts
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: common

Remove obsolete test snapshot
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
Due: search

Added the 'exact' filter to textColumnFilter
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
Due: common

Added tests to test the Exact filter #1540
  packages/datagateway-common/src/table/columnFilters/__snapshots__/textColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
Due: common

added e2e tests for text filters #1540
  packages/datagateway-dataview/cypress/e2e/table/investigations.cy.ts
Due: none

changed aria-label of filter button #1540
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
Due: download

more unit tests for exact filter #1540
  packages/datagateway-common/src/api/index.test.tsx
Due: common

changed cacheTime for status type requests #1519
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

Moved tests to 'should be able to filter by' #1540
  packages/datagateway-dataview/cypress/e2e/table/investigations.cy.ts
Due: none

#1531 add ability to add contributors
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/downloadApi.ts
Due: download

#1531 add unit tests for contributors feature
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.test.tsx
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
  packages/datagateway-download/src/downloadApiHooks.test.tsx
Due: download

set staleTime to 0 #1519
  packages/datagateway-download/src/downloadApiHooks.ts
Due: download

#1531 - add e2e test for add contributors feature
  packages/datagateway-download/cypress/e2e/DOIGenerationForm.cy.ts
  packages/datagateway-download/src/DOIGenerationForm/DOIGenerationForm.component.tsx
Due: download
