Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Refactor homePage, preloader and /views in common (+tests) (#1096)
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/homePage/homePage.component.test.tsx
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/preloader/__snapshots__/preloader.component.test.tsx.snap
  packages/datagateway-common/src/preloader/preloader.component.test.tsx
  packages/datagateway-common/src/views/__snapshots__/selectionAlert.component.test.tsx.snap
  packages/datagateway-common/src/views/addToCartButton.component.test.tsx
  packages/datagateway-common/src/views/downloadButton.component.test.tsx
  packages/datagateway-common/src/views/selectionAlert.component.test.tsx
  packages/datagateway-common/src/views/selectionAlert.component.tsx
Due: common

Remove code that closes tooltips after pressing escape (#1096)
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
  packages/datagateway-common/src/arrowtooltip.component.tsx
Due: common

resolving comments #1092
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/views/__snapshots__/viewCartButton.component.test.tsx.snap
  packages/datagateway-common/src/views/viewCartButton.component.test.tsx
  packages/datagateway-common/src/views/viewCartButton.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.test.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: common, search

simplifying aria label #1092
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

fix the assertion E2E #1019
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
Due: none

fixing failing E2E tests #1092
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
Due: none

removing unnecesarry mocks #1092
  packages/datagateway-common/src/views/viewCartButton.component.test.tsx
Due: common

Refactor dgThemeProvider, mark, sticky in common (#1096)
  packages/datagateway-common/src/dgThemeProvider.component.test.tsx
  packages/datagateway-common/src/mark.component.tsx
  packages/datagateway-common/src/sticky.component.test.tsx
  packages/datagateway-common/src/sticky.component.tsx
  packages/datagateway-dataview/cypress/integration/breadcrumbs.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/dataset.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/investigation.spec.ts
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/table/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-dataview/server/e2e-settings.json
Due: common

Remove @mui/styles from common (#1096)
  packages/datagateway-common/package.json
  yarn.lock
Due: none

Refactor /downloadCart and /downloadConfirmation (#1096)
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  yarn.lock
Due: download

Refactor /downloadStatus (#1096)
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/tooltip.component.tsx
Due: common, download

Fix invalid css in downloadCartTable (#1096)
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Replace styles= with sx= when using MUI & refactor downloadTab(#1096)
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/dataCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/dataCell.component.tsx
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/headerRenderers/selectHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
Due: common, download

Fix remaining unit tests in download (#1096)
  packages/datagateway-download/src/App.test.tsx
  packages/datagateway-download/src/ConfigProvider.test.tsx
Due: download

Remove @material-ui/core, icons and @mui/styles from download (#1096)
  packages/datagateway-download/package.json
  packages/datagateway-download/src/App.test.tsx
  packages/datagateway-download/src/App.tsx
Due: download

Refactor advancedHelpDialogue and checkBoxes in search (#1096)
  packages/datagateway-search/src/search/__snapshots__/advancedHelpDialogue.component.test.tsx.snap
  packages/datagateway-search/src/search/advancedHelpDialogue.component.test.tsx
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
Due: search

Remove @material-ui/core, lab & icons from common dependencies (#1096)
  packages/datagateway-common/package.json
  yarn.lock
Due: none

Refactor datePicker, searchButton/TextBox in search (#1096)
  packages/datagateway-search/package.json
  packages/datagateway-search/src/search/__snapshots__/searchButton.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.component.test.tsx.snap
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchTextBox.component.test.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
Due: search

Refactor /card and /table in search (#1096)
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/table/__snapshots__/datafileSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Fix invalid DOM nesting warning for advancedHelpDialogue (#1096)
  packages/datagateway-search/src/search/__snapshots__/advancedHelpDialogue.component.test.tsx.snap
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
Due: search

Refactor searchBoxContainer and fix App.tsx tests (#1096)
  packages/datagateway-search/src/App.test.tsx
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/searchBoxContainer.component.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
Due: search

#927 - clear size/count arrays when data changes - also add unit tests for batching & this behaviour
  packages/datagateway-common/src/api/datasets.test.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/investigations.tsx
Due: common

Refactor searchPageCardView/Table and searchPageContainer (#1096)
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageTable.component.test.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Due: search

Refactor searchPageContainer (#1096)
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Fix search e2e tests (#1096)
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

Remove generateClassNames and @mui/styles from search (#1096)
  packages/datagateway-search/package.json
  packages/datagateway-search/src/App.tsx
Due: search

#927 - pass in undefined instead of [] in search views when configuring size vs count requests - this stops the tests from hanging due to infinite renders as [] !== []
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

#927 - pass undefined instead of [] to size query
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
Due: none

Fix detail panel styles and improve table padding (#1096)
  packages/datagateway-common/src/table/rowRenderers/__snapshots__/detailsPanelRow.component.test.tsx.snap
  packages/datagateway-common/src/table/rowRenderers/detailsPanelRow.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Remove @material-ui/core and icons from search (#1096)
  packages/datagateway-search/package.json
Due: none

#927 - let size/count hooks accept single entity - this fixes issue in isisDatasetLanding
  packages/datagateway-common/src/api/datasets.test.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
Due: common

Remove clsx from common (#1096)
  packages/datagateway-common/package.json
  packages/datagateway-common/src/table/table.component.tsx
Due: common

fixing the calculate button when value is 0 #1122
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/cypress/integration/table/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/visits.spec.ts
Due: common

Stabilise e2e tests when running locally
  packages/datagateway-dataview/cypress/integration/table/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
Due: none

Refactor breadcrumbs, pageContainer & landing pages in dataview (#1096)
  packages/datagateway-dataview/src/page/breadcrumbs.component.test.tsx
  packages/datagateway-dataview/src/page/breadcrumbs.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisBranding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Refactor citationFormatter, roleSelector & translatedHomePage (#1096)
  packages/datagateway-dataview/src/page/__snapshots__/translatedHomePage.component.test.tsx.snap
  packages/datagateway-dataview/src/page/translatedHomePage.component.test.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.test.tsx
  packages/datagateway-dataview/src/views/citationFormatter.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisStudyLanding.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.test.tsx
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
Due: none

Refactor withIdCheck and remove pageSearch.tsx in dataview
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/page/__snapshots__/withIdCheck.test.tsx.snap
  packages/datagateway-dataview/src/page/pageSearch.component.tsx
  packages/datagateway-dataview/src/page/withIdCheck.test.tsx
  packages/datagateway-dataview/src/page/withIdCheck.tsx
  yarn.lock
Due: none

Align Clear filter and role selector buttons #1126
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Add applyDatePickerWorkaround function in setupTests.ts and use (#1096)
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/setupTests.ts
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/setupTests.ts
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
Due: search, download

addressing comments #1122
  packages/datagateway-dataview/cypress/integration/table/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/visits.spec.ts
Due: none
