Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Add conditional to ensure undefined errors don't occur #94
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Change some API calls to not use foreign keys #94
  packages/datagateway-common/src/state/actions/datafiles.tsx
  packages/datagateway-common/src/state/actions/datasets.tsx
Due: common

Make Search tests pass #94
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Replace foreign key references with references to related entities #94
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/instrumentDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
  packages/datagateway-download/src/downloadApi.ts
Due: download

Use env.production to provide prefix for settings files #569
  packages/datagateway-dataview/.env.production
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-download/.env.production
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-search/.env.production
  packages/datagateway-search/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/state/actions/index.tsx
Due: search, download

Change env.production as it's used for E2E tests #569
  packages/datagateway-dataview/.env.production
  packages/datagateway-download/.env.production
  packages/datagateway-search/.env.production
Due: none

Allow custom directory for res/default.json #569
  packages/datagateway-dataview/.env.production
  packages/datagateway-dataview/src/i18n.ts
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-download/.env.production
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/i18n.ts
  packages/datagateway-search/.env.production
  packages/datagateway-search/src/i18n.ts
  packages/datagateway-search/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/state/actions/index.tsx
Due: search, download

Don't include routing when datagateway-dataview element missing #574
  packages/datagateway-dataview/src/page/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Fix failing download e2e test #534
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
Due: none

Remove remaining foreign key usage #94
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: common

Specify tslib version to get __spreadArray helper rather than deprecated __spreadArrays
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Fix prettier issues, babel/runtime version, husky pre-commit
  .husky/.gitignore
  .husky/pre-commit
  package.json
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  yarn.lock
Due: search, download

Update downloadConfirmDialog for new MUI version
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
Due: download

Type errors in datagateway-dataview/src/index.tsx
  packages/datagateway-dataview/src/index.tsx
Due: none

Change API login credentials for e2e tests #94
  packages/datagateway-dataview/cypress/integration/breadcrumbs.spec.ts
  packages/datagateway-dataview/cypress/integration/card/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/cartSelection.spec.ts
  packages/datagateway-dataview/cypress/integration/table/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/proposals.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/table/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datafiles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
  packages/datagateway-search/cypress/integration/searchBoxContainer.spec.ts
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

Update name of MUI ExpansionPanel to Accordion
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
Due: common

Change params to URLSearchParams to fix 400s #94
  packages/datagateway-common/src/state/actions/datafiles.test.tsx
  packages/datagateway-common/src/state/actions/datafiles.tsx
  packages/datagateway-common/src/state/actions/datasets.test.tsx
  packages/datagateway-common/src/state/actions/datasets.tsx
Due: common

Update .eslintrc.js with new configuration format
  .eslintrc.js
Due: none

Fix git bash issues with husky5 pre-commit #594
  .husky/common.sh
  .husky/pre-commit
Due: none

Prevent logging in successful unit tests #601
  packages/datagateway-common/src/__mocks__/react-i18next.jsx
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
  packages/datagateway-search/src/searchPageTable.test.tsx
  packages/datagateway-search/src/searchPageTable.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.test.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
  packages/datagateway-search/src/table/__snapshots__/datafileSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: common, search

Update snapshots containing icons
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/expandCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/selectCell.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/__snapshots__/textColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/selectHeader.component.test.tsx.snap
  packages/datagateway-dataview/src/page/__snapshots__/withIdCheck.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisStudiesTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.test.tsx.snap
Due: common, search, download

Update types for match in routing
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
Due: none

Change RB_NUMBER to camelCase #94
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/state/actions/investigations.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

Add actions workflow for creating releases
  .github/workflows/release-build.yml
Due: none

Update caniuse-light dependency
  package.json
  yarn.lock
Due: none

add missing peer dependencies
  packages/datagateway-common/package.json
Due: none

Fix no quotes on include value #94
  packages/datagateway-dataview/src/page/idCheckFunctions.test.ts
  packages/datagateway-dataview/src/page/idCheckFunctions.ts
Due: none

Remove dataset foreign key references
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/state/actions/actions.test.tsx
  packages/datagateway-common/src/state/actions/cart.test.tsx
  packages/datagateway-common/src/state/actions/datafiles.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/datafileDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadApi.ts
Due: common, download

Change test data to full name #94
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/instruments.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
Due: none

Make card view e2e tests pass #94
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
Due: none

Make table view e2e tests pass #94
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/studies.spec.ts
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: none

Edit default.json for card view e2e tests #94
  packages/datagateway-dataview/public/res/default.json
Due: none

Add timeouts to make search e2e tests pass #94
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
Due: none

Change datakey to match the attribute actually shown #94
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
Due: none

Make tickboxes show ticked when clicked #94
  packages/datagateway-common/src/state/actions/cart.test.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: common

Remove Subject which was causing a pre-commit issue #94
  packages/datagateway-dataview/cypress/support/index.d.ts
  packages/datagateway-download/cypress/support/index.d.ts
  packages/datagateway-search/cypress/support/index.d.ts
Due: none

Further camelCase changes brought on by merge #94
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-dataview/src/page/breadcrumbs.component.test.tsx
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: common, search

More e2e fun #94
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search, download
