Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

#850 - fix dataset landing pages - they were using investigation id and not dataset id - also fixed e2e test to actually check the data loads
  packages/datagateway-dataview/cypress/integration/landing/isis/dataset.spec.ts
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.tsx
Due: none

Improve investigation landing page e2e test by actually checking data loads
  packages/datagateway-dataview/cypress/integration/landing/isis/investigation.spec.ts
Due: none

reverting to old e2e test #833
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
Due: none

Fix bug where certain routes could be incorrect and weren't being checked right
  packages/datagateway-dataview/src/page/idCheckFunctions.test.ts
  packages/datagateway-dataview/src/page/idCheckFunctions.ts
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
Due: none

Fix study landing page e2e tests
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
Due: none

Add e2e test (#834)
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
Due: none

Fixed E2E test #833
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
Due: none

Initial upgrade to React 17 for dataview (#830)
  packages/datagateway-common/package.json
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-common/tsconfig.json
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-dataview/tsconfig.json
  yarn.lock
Due: common

Downgrade react-router-dom to solve some issues (#830)
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  yarn.lock
Due: none

Initial upgrade to React 17 for search (#830)
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-search/package.json
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/searchTextBox.component.test.tsx
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.test.tsx
  packages/datagateway-search/src/setupTests.ts
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
  packages/datagateway-search/tsconfig.json
  yarn.lock
Due: search

Initial upgrade to React 17 for download (#830)
  packages/datagateway-download/package.json
  packages/datagateway-download/tsconfig.json
  yarn.lock
Due: none

Downgrade to supported TypeScript version (#830)
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Card pagination fix and unit testing #831
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Fix unit tests in dataview (#830)
  packages/datagateway-common/package.json
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/cellContentRenderers.test.tsx.snap
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/page/__snapshots__/breadcrumbs.component.test.tsx.snap
  packages/datagateway-dataview/src/page/__snapshots__/withIdCheck.test.tsx.snap
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/dls/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisStudiesTable.component.test.tsx.snap
  packages/datagateway-download/package.json
  packages/datagateway-download/src/setupTests.ts
  yarn.lock
Due: common, download

Fix unit tests in download (#830)
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-search/package.json
  yarn.lock
Due: download

Fix unit tests in search (#830)
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/table/__snapshots__/datafileSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
Due: search

removed length checks and fixes snapshots #831
  packages/datagateway-dataview/src/views/card/__snapshots__/datasetCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/__snapshots__/investigationCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsDatasetsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsProposalsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsVisitsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisDatasetsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisFacilityCyclesCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInstrumentsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInvestigationsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisStudiesCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
Due: search

Added E2E test #831
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
Due: none

Fix E2E test for anon login #833
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/support/commands.js
Due: none

Fixed more unit testing #831
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/__snapshots__/datasetSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/__snapshots__/investigationSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
Due: search

Update e2e test to match PR #839 (#834)
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/support/commands.js
Due: none

Fixed infinte loop error #831
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/src/views/card/__snapshots__/datasetCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/__snapshots__/investigationCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsDatasetsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsProposalsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/dls/__snapshots__/dlsVisitsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisDatasetsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisFacilityCyclesCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInstrumentsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisInvestigationsCardView.component.test.tsx.snap
  packages/datagateway-dataview/src/views/card/isis/__snapshots__/isisStudiesCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/__snapshots__/datasetSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/__snapshots__/investigationSearchCardView.component.test.tsx.snap
Due: common, search

Replace 'investigation' with 'instrument' (#859)
  packages/datagateway-common/src/api/instruments.tsx
Due: common

Change 'cart' to 'selections' in example language files (#858)
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-download/public/datagateway-download-settings.example.json
Due: none

Change 'cart' to 'selections' in default language files (#858)
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-download/public/res/default.json
  packages/datagateway-search/public/res/default.json
Due: none

Fix e2e tests in download (#858)
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
Due: none

Added E2E test for datagateway search #831
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

removed unnecessary intercepts #831
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

Remove logging statement
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
Due: none

#850 - fix pageContainer test
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
Due: none

Fix issue (#862)
  packages/datagateway-search/src/App.tsx
Due: search

Fix failed test (#840)
  packages/datagateway-common/src/views/selectionAlert.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: common

Fix failed unit test
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Added help steps to download and search plugins #690
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
Due: common, search, download

Modified the results highlight for the help step in dataview #690
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Added the help steps to the settings.example files for later access #690
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-search/public/datagateway-search-settings.example.json
Due: none

Added the help steps to the respective plugins' end to end tests
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-search/server/e2e-settings.json
Due: none

Updated snapshots of modified files #690
  packages/datagateway-search/src/search/__snapshots__/checkBoxes.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/datePicker.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.component.test.tsx.snap
Due: search

#797 - make text configurable and fix warning by setting value to "" when no roles loaded
  packages/datagateway-dataview/src/views/roleSelector.component.tsx
Due: none
