Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Fix unit tests to work with changes made to status requests (#120)
  packages/datagateway-download/__mocks__/axios.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
Due: download

Add in undefined access method test case (#120)
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
Due: download

Fix handleICATError undefined error (#120)
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
Due: download

Fix DownloadConfirmDialog e2e tests for disabled globus access method (#120)
  packages/datagateway-download/cypress/fixtures/example.json
  packages/datagateway-download/cypress/fixtures/profile.json
  packages/datagateway-download/cypress/fixtures/users.json
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Add "cypress/fixtures/example.json" to .gitignore (#120)
  .gitignore
Due: none

Update DownloadConfirmDialog unit test snapshots (#120)
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
Due: download

Reverse order in which downloads are shown (#120)
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Update unit and e2e tests for DownloadStatusTable (#120)
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
Due: download

Remove downloadCartApi.tsx (#120)
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
Due: download

Remove TODOs and comments (#120)
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Rename 'datagateway-table' to 'dataview' (#127)
  .gitignore
  .travis.yml
  README.md
  codecov.yml
  package.json
  packages/datagateway-table/README.md
  packages/datagateway-table/__mocks__/axios.ts
  packages/datagateway-table/cypress/integration/app.spec.ts
  packages/datagateway-table/cypress/integration/breadcrumbs.spec.ts
  packages/datagateway-table/cypress/integration/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/datasets.spec.ts
  packages/datagateway-table/cypress/integration/dls/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-table/cypress/integration/dls/myData.spec.ts
  packages/datagateway-table/cypress/integration/dls/proposals.spec.ts
  packages/datagateway-table/cypress/integration/dls/visits.spec.ts
  packages/datagateway-table/cypress/integration/investigations.spec.ts
  packages/datagateway-table/cypress/integration/isis/datafiles.spec.ts
  packages/datagateway-table/cypress/integration/isis/datasets.spec.ts
  packages/datagateway-table/cypress/integration/isis/facilityCycles.spec.ts
  packages/datagateway-table/cypress/integration/isis/instruments.spec.ts
  packages/datagateway-table/cypress/integration/isis/investigations.spec.ts
  packages/datagateway-table/cypress/integration/isis/myData.spec.ts
  packages/datagateway-table/cypress/integration/pageContainer.spec.ts
  packages/datagateway-table/package.json
  packages/datagateway-table/public/datagateway-table-settings.json
  packages/datagateway-table/public/index.html
  packages/datagateway-table/server/e2e-test-server.js
  packages/datagateway-table/src/App.test.tsx
  packages/datagateway-table/src/App.tsx
  packages/datagateway-table/src/index.tsx
  packages/datagateway-table/src/state/actions/actions.test.tsx
  packages/datagateway-table/src/state/actions/actions.types.tsx
  packages/datagateway-table/src/state/actions/index.tsx
  packages/datagateway-table/webpack.config.extend.js
Due: table

Remove broken code (#120)
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Add MicroFrontToken, NotificationType, InvalidateTokenType to app/action types (#127)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/handleICATError.test.ts
  packages/datagateway-common/src/handleICATError.ts
  packages/datagateway-common/src/parseTokens.ts
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/middleware/dgcommon.middleware.tsx
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-search/src/index.tsx
Due: common, search, download

Add functionality to "Calculate file size" button in DLS detail panels #118
  packages/datagateway-table/src/dls/detailsPanels/datasetDetailsPanel.component.tsx
  packages/datagateway-table/src/dls/detailsPanels/visitDetailsPanel.component.tsx
Due: table

Remove unnecessary mapStateToProps #118
  packages/datagateway-table/src/dls/detailsPanels/datasetDetailsPanel.component.tsx
  packages/datagateway-table/src/dls/detailsPanels/visitDetailsPanel.component.tsx
Due: table

Create initial CardView component (#128)
  packages/datagateway-table/src/card/cardview.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: table

Move fetchSize dispatch into table components #118
  packages/datagateway-table/src/dls/detailsPanels/datasetDetailsPanel.component.test.tsx
  packages/datagateway-table/src/dls/detailsPanels/datasetDetailsPanel.component.tsx
  packages/datagateway-table/src/dls/detailsPanels/visitDetailsPanel.component.test.tsx
  packages/datagateway-table/src/dls/detailsPanels/visitDetailsPanel.component.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsMyDataTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.tsx
Due: table

Create EntityCard component (#128)
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardview.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
  packages/datagateway-table/src/page/pageTable.component.test.tsx
  packages/datagateway-table/src/page/pageTable.component.tsx
  packages/datagateway-table/src/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-table/src/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-table/src/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-table/src/table/datafileTable.component.test.tsx
  packages/datagateway-table/src/table/datafileTable.component.tsx
  packages/datagateway-table/src/table/datasetTable.component.test.tsx
  packages/datagateway-table/src/table/datasetTable.component.tsx
  packages/datagateway-table/src/table/investigationTable.component.test.tsx
  packages/datagateway-table/src/table/investigationTable.component.tsx
Due: table

Add tests that fetchSize is called #118
  packages/datagateway-table/src/dls/detailsPanels/datasetDetailsPanel.component.test.tsx
  packages/datagateway-table/src/dls/detailsPanels/visitDetailsPanel.component.test.tsx
Due: table

Display Investigation data as card (#128)
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-table/src/card/card.component.tsx
  packages/datagateway-table/src/card/cardview.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: common, table

Add e2e tests of Calculate button #118
  packages/datagateway-table/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-table/cypress/integration/dls/visits.spec.ts
Due: none

Change DGTable to DGDataView (#128)
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/breadcrumbs.component.test.tsx
  packages/datagateway-dataview/src/breadcrumbs.component.tsx
  packages/datagateway-dataview/src/dls/tables/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/dls/tables/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/dls/tables/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/dls/tables/dlsProposalsTable.component.test.tsx
  packages/datagateway-dataview/src/dls/tables/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/isis/tables/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/isis/tables/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/isis/tables/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-dataview/src/isis/tables/isisInstrumentsTable.component.test.tsx
  packages/datagateway-dataview/src/isis/tables/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/isis/tables/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/pageTable.component.test.tsx
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/app.reducer.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.test.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
  packages/datagateway-dataview/src/state/strings.test.tsx
  packages/datagateway-dataview/src/state/strings.tsx
  packages/datagateway-dataview/src/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/table/investigationTable.component.test.tsx
  packages/datagateway-table/public/datagateway-table-settings.json
Due: none

Change DGTable to DGDataView (#127)
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/breadcrumbs.component.test.tsx
  packages/datagateway-dataview/src/breadcrumbs.component.tsx
  packages/datagateway-dataview/src/dls/tables/dlsDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/dls/tables/dlsDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/dls/tables/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/dls/tables/dlsProposalsTable.component.test.tsx
  packages/datagateway-dataview/src/dls/tables/dlsVisitsTable.component.test.tsx
  packages/datagateway-dataview/src/isis/tables/isisDatafilesTable.component.test.tsx
  packages/datagateway-dataview/src/isis/tables/isisDatasetsTable.component.test.tsx
  packages/datagateway-dataview/src/isis/tables/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-dataview/src/isis/tables/isisInstrumentsTable.component.test.tsx
  packages/datagateway-dataview/src/isis/tables/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/isis/tables/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/pageTable.component.test.tsx
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/app.reducer.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.test.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
  packages/datagateway-dataview/src/state/strings.test.tsx
  packages/datagateway-dataview/src/state/strings.tsx
  packages/datagateway-dataview/src/table/datafileTable.component.test.tsx
  packages/datagateway-dataview/src/table/datasetTable.component.test.tsx
  packages/datagateway-dataview/src/table/investigationTable.component.test.tsx
  packages/datagateway-table/public/datagateway-table-settings.json
Due: none

Remove datagateway-table-settings.json (#127)
  packages/datagateway-table/public/datagateway-table-settings.json
Due: none

Simplify code (#120)
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Using GridList for CardView (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: table

Fix snapshot error caused be broken merge
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
Due: download

Update @material-ui/core to v4.9.7 (#128)
  packages/datagateway-common/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  packages/datagateway-table/package.json
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
  packages/datagateway-table/src/table/dls/tables/dlsVisitsTable.component.test.tsx
  yarn.lock
Due: table

Fix DatasetsTable to fetch dataset rather than investigation size #118
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.tsx
Due: table

Implement pagination component (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
Due: table

Add fetchInvestigationSize tests to table tests #118
  packages/datagateway-table/src/dls/detailsPanels/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-table/src/dls/detailsPanels/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-table/src/dls/detailsPanels/datasetDetailsPanel.component.tsx
  packages/datagateway-table/src/dls/detailsPanels/visitDetailsPanel.component.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsMyDataTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.test.tsx
Due: table

Correct the dataset size in e2e tests #118
  packages/datagateway-table/cypress/integration/dls/datasets.spec.ts
Due: none

Address feedback #118
  packages/datagateway-table/src/dls/detailsPanels/datasetDetailsPanel.component.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsMyDataTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.test.tsx
Due: table

Add tooltip for long entity titles (#128)
  packages/datagateway-table/src/card/cardView.component.tsx
  packages/datagateway-table/src/page/arrowtooltip.component.tsx
  packages/datagateway-table/src/page/breadcrumbs.component.tsx
  packages/datagateway-table/src/page/pageContainer.component.tsx
Due: table

Use DGCommon facilityName in getSize requests (#127)
  packages/datagateway-common/src/state/actions/datasets.tsx
  packages/datagateway-common/src/state/actions/investigations.tsx
  yarn.lock
Due: common

Fix incorrect MicrofrontId import (#127)
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Due: download

Fix datagateway-common investigations and datasets tests (#127)
  packages/datagateway-common/src/state/actions/datasets.test.tsx
  packages/datagateway-common/src/state/actions/investigations.test.tsx
Due: common

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
