Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

.codecov.yml:

flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

codecov.yml:

coverage:
  status:
    project: 
      default: off
      common:
        flags: common
        target: auto
        threshold: 5
      table:
        flags: table
        target: auto
        threshold: 5
      search:
        flags: search
        target: auto
        threshold: 5
      download:
        flags: download
        target: auto
        threshold: 5 
    patch:
      default:
        target: 75
flags:
  common:
    paths:
      - packages/datagateway-common/src
  table:
    paths:
      - packages/datagateway-table/src
  search:
    paths:
      - packages/datagateway-search/src
  download:
    paths:
      - packages/datagateway-download/src

Update unit tests with new behaviour (#869)
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
Due: download

changed the URL colour on landing pages #867
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Fix escape character not rendering for incorrect url (#858)
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/withIdCheck.tsx
Due: none

Add e2e test for new behaviour (#869)
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
Due: none

changed incorrect value of color #867
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Modified the query parameters of dataview and search plugins to refetch selection #864
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-search/src/App.tsx
Due: search

Add timeout to failing e2e test (#869)
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
Due: none

Modified the staleTime to 5000 as its measured in milliseconds #864
  packages/datagateway-dataview/src/App.tsx
Due: none

Test - increase timeout (#869)
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
Due: none

Test - increase cart items (#869)
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
Due: none

Remove failing test (#869)
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
Due: none

removed redundant login warning #885
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: none

Force file count to update when data is modified (#875)
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Use date library to format and rename usePushStart/EndDate (#871)
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

Fix failed test and improve behaviour (#875)
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

#835 - add investigation endDate filter to study views
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: none

Combined usePush/ReplaceView into useUpdateView (#871)
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

Modified the search plugin's staleTime to 5000 as its measured in milliseconds #864
  packages/datagateway-search/src/App.tsx
Due: search

#835 - fix study table & card e2e tests
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/studies.spec.ts
Due: none

Initial refactor for #871
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchBoxContainerSide.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Cleanup - removing unnecessary React states
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchBoxContainerSide.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: common, search

Fix api/index unit tests
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
Due: common

Fix searchPageContainer unit tests
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Fixing tests and continuing refactor
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageCardView.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.test.tsx
  packages/datagateway-search/src/searchPageTable.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.test.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Improve tooltips by - recalculating tooltips when table columns resize - ensure they display the text corresponding to what's in the cell - use arrow prop to simplify arrowtooltip component
  packages/datagateway-common/src/arrowtooltip.component.tsx
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-common/src/table/cellRenderers/dataCell.component.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
Due: common

Update unit tests related to tooltip changes
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
  packages/datagateway-common/src/card/entityCard.component.test.tsx
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/dataCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/dataCell.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
Due: common

Update checkBox unit tests
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
  packages/datagateway-search/src/search/__snapshots__/checkBoxes.component.test.tsx.snap
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Fixed bug - calculating did not show for large file counts (#875)
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Fixed the Remove All button not showing up till calculating the total size and total fileCount #881
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Fix remaining unit tests
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
  packages/datagateway-search/src/card/datasetSearchCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
  packages/datagateway-search/src/search/__snapshots__/datePicker.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.component.test.tsx.snap
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/searchTextBox.component.test.tsx
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageCardView.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.test.tsx
  packages/datagateway-search/src/searchPageTable.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
Due: search

Fix error typing date and update e2e test
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
  packages/datagateway-search/src/search/datePicker.component.tsx
Due: search

Switch to use `ilike` operator for WHERE filters #731
  packages/datagateway-common/src/api/datafiles.test.tsx
  packages/datagateway-common/src/api/datasets.test.tsx
  packages/datagateway-common/src/api/facilityCycles.test.tsx
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/api/instruments.test.tsx
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/studies.test.tsx
Due: common

Improve behaviour
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: download

Testing potential fix
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
Due: download

details panel #857
  packages/datagateway-dataview/cypress/integration/card/isis/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
Due: none

Added spaces between tests #857
  packages/datagateway-dataview/cypress/integration/card/investigations.spec.ts
  packages/datagateway-dataview/cypress/integration/table/investigations.spec.ts
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-search/src/card/investigationSearchCardView.component.test.tsx
Due: search

Better method of updating (#875)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Due: common, download

updated snapshots #857
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisMyDataTable.component.test.tsx.snap
Due: none

Fix failed unit test (#875)
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
Due: download
