Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Give routing dummy URL while navigating #537
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: common

Update ViewRouting in pageContainer snapshot with location #537
  packages/datagateway-dataview/src/page/__snapshots__/pageContainer.component.test.tsx.snap
Due: none

Increase code coverage in pageContainer #537
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
Due: none

Fix unit test by accounting for zero width space
  packages/datagateway-common/src/table/table.component.test.tsx
Due: common

Refactor cardView and fitler warning on tables #461
  packages/datagateway-common/package.json
  packages/datagateway-common/src/card/__snapshots__/cardView.component.test.tsx.snap
  packages/datagateway-common/src/card/__snapshots__/entityCard.component.test.tsx.snap
  packages/datagateway-common/src/card/advancedFilter.component.test.tsx
  packages/datagateway-common/src/card/advancedFilter.component.tsx
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/card/entityCard.component.test.tsx
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/page/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
Due: common

Increase test coverage for pageContainer and cardView #461
  packages/datagateway-common/src/card/__snapshots__/cardView.component.test.tsx.snap
  packages/datagateway-common/src/card/cardView.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: common

Fix failing tests #484
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsProposalsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
Due: none

Increase line coverage in cardView.component.test #461
  packages/datagateway-common/src/card/cardView.component.test.tsx
Due: common

Fix datagateway-common compiling issue #484
  packages/datagateway-common/src/state/actions/index.tsx
Due: common

Fix TextFilter type value check in objectChanged #484
  packages/datagateway-common/src/state/actions/index.tsx
Due: common

Fix broken imports and failing unit tests #121
  packages/datagateway-common/src/state/actions/lucene.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-search/src/search/searchButton.component.test.tsx
Due: common, search

Write lucene unit tests and fix failing E2E tests #121
  packages/datagateway-common/src/state/actions/lucene.test.tsx
  packages/datagateway-common/src/state/actions/lucene.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
Due: common

Move clearDownloadCart to beforeEach in pageContainer.spec.ts #121
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
Due: none

Translate download status strings, update filters and tests #486
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: common, download

Remove commented out code #486
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Due: download

Update pageContainer.component snapshot after merge #461
  packages/datagateway-dataview/src/page/__snapshots__/pageContainer.component.test.tsx.snap
Due: none

Change mocked date to account for 1968-71 BST experiment #553
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
Due: download

Use a port accessible outside of the RAL network #554
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-search/cypress/support/commands.js
Due: none

Move registerRoute to settings, dispatch on settings load #560
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-dataview/src/App.test.tsx
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-download/src/App.test.tsx
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-search/public/datagateway-search-settings.example.json
  packages/datagateway-search/server/e2e-settings.json
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/state/actions/index.tsx
Due: common, search, download

Remove download settings and add route to the axios mock #560
  packages/datagateway-download/public/datagateway-download-settings.json
  packages/datagateway-download/src/__mocks__/axios.ts
Due: download

Update lucene.test for react-scripts 4 / jest 26 #121
  packages/datagateway-common/src/state/actions/lucene.test.tsx
Due: common

Expect correct errors in download App.test #560
  packages/datagateway-download/src/App.test.tsx
Due: download

Expect correct errors in dataview App.test #560
  packages/datagateway-dataview/src/App.test.tsx
Due: none

Mock ID check for pageContainer test #564
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
Due: none

Update landingPage tests for react-scripts 4 / jest 26 #473
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/downloadButton.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisDatasetLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
Due: none

Add TODOs and remove commented out code #554
  packages/datagateway-dataview/cypress/integration/cartSelection.spec.ts
  packages/datagateway-dataview/cypress/support/commands.js
  packages/datagateway-search/cypress/support/commands.js
Due: none

investigationSearchTable links take facility into account #566
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.tsx
  packages/datagateway-search/src/setupTests.ts
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Due: search

Add more validation for plugin route settings #560
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-search/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/state/actions/index.tsx
Due: search, download

Add pluginHost to settings and logo strings in plugin registration #560
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-search/public/datagateway-search-settings.example.json
  packages/datagateway-search/src/state/actions/actions.test.tsx
  packages/datagateway-search/src/state/actions/index.tsx
Due: search, download

Re-add eslint as dev dependency and update eslint-config-react-app #568
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Fix linting in common #568
  packages/datagateway-common/src/__mocks__/axios.ts
Due: common

update eslint-plugin-react and eslint-plugin-flowtype #568
  packages/datagateway-common/package.json
  packages/datagateway-dataview/package.json
  packages/datagateway-download/package.json
  packages/datagateway-search/package.json
  yarn.lock
Due: none

Fix download linting issues #568
  packages/datagateway-download/src/__mocks__/axios.ts
  packages/datagateway-download/src/__mocks__/lodash.debounce.ts
  packages/datagateway-download/src/__mocks__/react-i18next.jsx
Due: download

Fix linting in dataview and search #568
  packages/datagateway-dataview/src/__mocks__/axios.ts
  packages/datagateway-dataview/src/__mocks__/lodash.debounce.ts
  packages/datagateway-dataview/src/__mocks__/react-i18next.jsx
  packages/datagateway-search/src/__mocks__/axios.ts
  packages/datagateway-search/src/__mocks__/react-i18next.jsx
Due: search

Update breadcrumb snapshots with mocked displayName #568
  packages/datagateway-dataview/src/page/__snapshots__/breadcrumbs.component.test.tsx.snap
Due: none

E2E: assert column width without waiting for requests #568
  packages/datagateway-dataview/cypress/integration/table/isis/datafiles.spec.ts
Due: none

Further variable name camelCase changes #94
  packages/datagateway-common/src/state/actions/datasets.tsx
  packages/datagateway-common/src/state/actions/instruments.test.tsx
  packages/datagateway-common/src/state/reducers/dgcommon.reducer.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/instrumentDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/instrumentDetailsPanel.component.tsx
Due: common

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
