Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Make label smaller (#834)
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Change ICAT Ansible back to master #843
  .github/workflows/ci-build.yml
Due: none

card-pagination-fix#831
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Add unit tests for SelectionAlert (#840)
  packages/datagateway-common/src/views/__snapshots__/selectionAlert.component.test.tsx.snap
  packages/datagateway-common/src/views/selectionAlert.component.test.tsx
  packages/datagateway-common/src/views/selectionAlert.component.tsx
Due: common

Update searchPageTable test snapshot (#840)
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
Due: search

Add unit tests to dataview and search (#840)
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-search/package.json
  packages/datagateway-search/src/searchPageTable.test.tsx
  yarn.lock
Due: search

Only display banner in table view and add e2e tests (#840)
  packages/datagateway-common/src/views/selectionAlert.component.tsx
  packages/datagateway-dataview/cypress/integration/cartSelection.spec.ts
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/package.json
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/searchPageTable.test.tsx
  yarn.lock
Due: common, search

More sensible values in unit test (#840)
  packages/datagateway-common/src/views/__snapshots__/selectionAlert.component.test.tsx.snap
  packages/datagateway-common/src/views/selectionAlert.component.test.tsx
Due: common

Added-anonymous-login-#833
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
  packages/datagateway-dataview/src/page/pageRouting.component.tsx
Due: none

FIx 'useCustomFilterCount' and 'useCustomFilter' tests (#815)
  packages/datagateway-common/src/api/index.test.tsx
Due: common

Remove needless snapshot test (#840)
  packages/datagateway-common/src/views/__snapshots__/selectionAlert.component.test.tsx.snap
  packages/datagateway-common/src/views/selectionAlert.component.test.tsx
Due: common

Use Typography to display text in banner and add e2e tests (#840)
  packages/datagateway-common/src/views/__snapshots__/selectionAlert.component.test.tsx.snap
  packages/datagateway-common/src/views/selectionAlert.component.test.tsx
  packages/datagateway-common/src/views/selectionAlert.component.tsx
  packages/datagateway-dataview/cypress/integration/cartSelection.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
Due: common

Add unit and e2e tests to datagateway-search (#840)
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/src/searchPageTable.test.tsx
Due: search

Change datagateway-view to show banner in table and card views (#840)
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Move banner in search to fit better with future card view (#840)
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.test.tsx
  packages/datagateway-search/src/searchPageTable.tsx
Due: search

Cleanup (#840)
  packages/datagateway-search/package.json
  packages/datagateway-search/src/searchPageTable.test.tsx
Due: search

fix-small-value-error-final-fix#831
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Slightly improve behaviour (#834)
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Added the relevant class names for filters and sort to be recognised for the help-steps for the tour #690
  packages/datagateway-common/src/table/table.component.tsx
Due: common

Add given/family names to User and use in ISIS landing pages (#817)
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: common

Modify unit tests to check given/family names are used (#817)
  packages/datagateway-dataview/src/views/landing/isis/__snapshots__/isisStudyLanding.component.test.tsx.snap
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
Due: none

Made changes to the files to better suit the help steps
  packages/datagateway-common/src/table/cellRenderers/expandCell.component.tsx
  packages/datagateway-common/src/table/cellRenderers/selectCell.component.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/server/e2e-settings.json
Due: common

Updated the snapshots to fix the tests #690
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/expandCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/selectCell.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
Due: common

Revert name to title in datasetSearchCardView (#420)
  packages/datagateway-search/src/card/__snapshots__/datasetSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Replace missed name with title (#420)
  packages/datagateway-search/src/card/datasetSearchCardView.component.tsx
Due: search

Fix failed unit test (#420)
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
Due: search

Removed empty comment, simplified plural in banner (#840)
  packages/datagateway-common/src/views/selectionAlert.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/public/res/default.json
Due: common

Update investigationSearchCardView to use useCustomFilter (#840)
  packages/datagateway-search/src/card/__snapshots__/investigationSearchCardView.component.test.tsx.snap
  packages/datagateway-search/src/card/investigationSearchCardView.component.tsx
Due: search

Update unit test after plural change (#840)
  packages/datagateway-common/src/views/__snapshots__/selectionAlert.component.test.tsx.snap
  packages/datagateway-common/src/views/selectionAlert.component.test.tsx
Due: common

Update snapshot test (#420)
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
Due: search

Remove unnecessary React.Fragment (#840)
  packages/datagateway-common/src/views/selectionAlert.component.tsx
Due: common

Fix-refreshing-error#831
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Enabled button so it is keyboard navigable (#834)
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Change position of banner in search to match dataview (#840)
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Cleanup (#840)
  packages/datagateway-common/src/index.tsx
Due: common

Fix failed e2e test (#840)
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
Due: none

#831 - Remove placeholderData option on count requests - this was messing up the logic for isLoading
  packages/datagateway-common/src/api/datafiles.test.tsx
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/datasets.test.tsx
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/facilityCycles.test.tsx
  packages/datagateway-common/src/api/facilityCycles.tsx
  packages/datagateway-common/src/api/instruments.test.tsx
  packages/datagateway-common/src/api/instruments.tsx
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-common/src/api/studies.test.tsx
  packages/datagateway-common/src/api/studies.tsx
Due: common

Added the new settings to the example.settings file
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
Due: none

Display names as 'familyName, givenName' (#817)
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisInvestigationLanding.component.tsx
Due: none

End to end testing for the redirect #833
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/src/page/pageRouting.component.test.tsx
Due: none

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
