Repository ral-facilities/datagateway: changes, and which Codecov flags are due for each by the changed paths.
All: common, table, search, download

Removing 'Missing investigation' message #711
  packages/datagateway-dataview/cypress/integration/landing/isis/study.spec.ts
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.test.tsx
  packages/datagateway-dataview/src/views/landing/isis/isisStudyLanding.component.tsx
Due: none

Fix column resize test #751
  packages/datagateway-dataview/cypress/integration/table/dls/datafiles.spec.ts
Due: none

Fix sorting on instrument column #767
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
Due: none

Ensure instruments are displayed in the column #767
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
Due: none

Fix test snapshot #767
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
Due: none

Fix ISIS study e2e tests due to recent master changes #712
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/studies.spec.ts
Due: none

Edit tests for coverage #767
  packages/datagateway-dataview/src/views/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/investigationTable.component.test.tsx
Due: none

Update ISISInvestigationsTable snapshot (#741)
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
Due: none

Optimise icons and loading bar to improve count/size query performance
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/card/cardViewQuery.component.tsx
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/views/card/datasetCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/investigationCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisDatasetsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: common

Removing more LILS references, reducing reliance on e2e-settings file in unit tests #712
  packages/datagateway-download/src/__mocks__/axios.ts
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
Due: download

Fixing bug in request to topcat in search e2e tests #712
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
Due: none

Correct ISIS e2e tests (#741)
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/facilityCycles.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/studies.spec.ts
Due: none

Refactor visits view also refactor how size/count queries work
  packages/datagateway-common/package.json
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/investigationTable.component.tsx
  yarn.lock
Due: common

Update view button layout (#718)
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Update e2e tests (#741)
  packages/datagateway-dataview/cypress/integration/card/isis/studies.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/server/e2e-settings.json
Due: none

Center and maximise width of search table (#693)
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Remove preprod URLs (#741)
  packages/datagateway-dataview/server/e2e-settings.json
Due: none

Remove uneccesary table props related to checkboxes in non-checkbox tables
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInstrumentsTable.component.tsx
Due: common

Remove uneccesary linting rule
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
Due: none

Adding homepage back in #775
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/homePage/homePage.component.test.tsx
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/images/background.jpg
  packages/datagateway-common/src/images/discover.jpg
  packages/datagateway-common/src/images/download.jpg
  packages/datagateway-common/src/images/explore.jpg
  packages/datagateway-common/src/index.tsx
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/__snapshots__/translatedHomePage.component.test.tsx.snap
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-dataview/src/page/translatedHomePage.component.test.tsx
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
Due: common

Making use of template literals #775
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
Due: none

Refactor facility cycles views
  packages/datagateway-common/src/api/facilityCycles.tsx
  packages/datagateway-dataview/src/views/card/isis/isisFacilityCyclesCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisFacilityCyclesTable.component.tsx
Due: common

Fix query keys in facility cycle react-query hooks
  packages/datagateway-common/src/api/facilityCycles.tsx
Due: common

Refactor ISIS investigation views
  packages/datagateway-common/src/api/facilityCycles.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/investigationDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: common

Creating new datafiles.tsx, refactoring most of datafileTable #701
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
Due: common

Correct viewport width for search filters/table (#693)
  packages/datagateway-search/src/searchPageContainer.component.tsx
Due: search

Fix investigation search tab e2e tests (#693)
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
Due: search

Add padding to the ViewButton component (#718)
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Due: none

Fix failing e2e tests (#718)
  packages/datagateway-dataview/cypress/integration/card/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/card/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/visits.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/server/e2e-settings.json
Due: none

Refactoring isis and dls datafiles tables #701
  packages/datagateway-common/package.json
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/datafileDetailsPanel.component.test.tsx
  packages/datagateway-dataview/src/views/detailsPanels/dls/datafileDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/detailsPanels/isis/datafileDetailsPanel.component.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
Due: common

Fix React displayName errors (#731)
  packages/datagateway-dataview/src/views/card/dls/dlsVisitsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInstrumentsCardView.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
Due: none

Remove ternary operator (#731)
  packages/datagateway-common/src/card/cardView.component.tsx
Due: common

Remove preprod URLs from e2e-settings.json (#718)
  packages/datagateway-dataview/server/e2e-settings.json
Due: none

Refactor DLS my data table
  packages/datagateway-dataview/src/views/table/dls/dlsMyDataTable.component.tsx
Due: none

Fix issue where filters wouldn't be visually updated if their filter value props changed
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/textColumnFilter.component.tsx
Due: common

Only apply default sort if there is no sort otherwise specified
  packages/datagateway-dataview/src/views/table/isis/isisMyDataTable.component.tsx
Due: none

Collapse redex-logger messages by default - results in less clutter in the console
  packages/datagateway-dataview/src/App.tsx
Due: none

Refactor studies views - also fixes #728 - also had to refactor entityCard to make content function work for description fields
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/api/studies.tsx
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/card/cardView.component.tsx
  packages/datagateway-common/src/card/cardViewQuery.component.tsx
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-dataview/src/views/card/isis/isisStudiesCardView.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisStudiesTable.component.tsx
Due: common

Adding download action to datafile tables #701
  packages/datagateway-common/src/api/datafiles.tsx
  packages/datagateway-dataview/src/views/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/views/table/dls/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/views/table/isis/isisDatafilesTable.component.tsx
Due: common

Constructing new datasets.tsx, refactoring generic datasetsTable #701
  packages/datagateway-common/src/api/datasets.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-dataview/src/views/table/datasetTable.component.tsx
Due: common

Path conditions:
  common: any of: packages/datagateway-common/src
  table: any of: packages/datagateway-table/src
  search: any of: packages/datagateway-search/src
  download: any of: packages/datagateway-download/src
